div.loading-mask {
	z-index: 10000; background: rgba(255,255,255,0.75); 
	position: absolute; 
	left: 0px; 
	right: 0px; 
	top: 0px; 
	bottom: 0px; 
	padding: 15%; 
	margin: 0px; 
	display: none; 
	text-align: center;
	border-radius: 5px;
}

div.loading-mask.visible {
	display: block;
}

div.loading-mask h1 {
	text-align: center; 
	font-size: 1.5em; 
	color: #666; 
	margin-bottom: 15px; 
	top: 40%; 
	position: relative;
}

div.loading-mask .progress-bar {
	width: 100%;
}
