* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing: 			  border-box;

}
html {
	background:url(../images/backgrounds/login_bg.jpg)no-repeat center center fixed;
	background-size: cover;
	width: 100vw;
	height: 100vh;

}

html, body, div, input, h1, h2, h3, h4, h5, h6, p, span, form, textarea {
	font-family: 'Roboto', sans-serif;
	text-rendering: optimizeLegibility;
	font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
}

#chrome_message {
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-top: 3px solid rgba(0,0,0,0.20);
	background: #f2b635;
	padding: 20px;
	text-align: center;
	box-shadow: 0 3px 5px rgba(0,0,0,.25);
}

#chrome_message img {
	margin-top:-13px;
	filter: drop-shadow(0px 0px 15px #ffffff);
}

#chrome_message a {
	color:#FFFFFF;
	text-decoration:underline;
	text-transform: uppercase;
	font-weight: bold;
}

#container {
		display: block;
    margin: 250px auto 0;
    position: relative;
    width: 100%;
		max-width: 690px;
		height: 340px;
		background: #ffffff;
		border: 1px solid #cccccc;
		border-radius:2px;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#container .logo {
	width: 200px;
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
}

#container .right {
	width: 400px;
	float: right;
	padding: 10px 15px;
	position: relative;
	z-index: 10;
}

#form_field_username, #form_field_password, #form_field_password_confirm, #form_field_first_name, #form_field_last_name,
#form_field_email, #form_field_phone_number{
    height: 36px;
    background:white;
		margin-bottom: 10px;
		border: 1px solid #cccccc;
		border-radius:3px;
}

#form_field_password {
}
#form_field_username {
}

#login_form {
}
.message_error {
	display: block;
	background: rgba(197,32,56,.10);
	padding: 10px 10px;
	text-align: center;
	color: #C52038;
	border: 1px solid #C52038;
	border-radius: 3px;
	margin-bottom: 10px;
	box-shadow: 0 0 3px;
	text-transform: capitalize;
	letter-spacing: 1px;
	font-weight: 600 !important;
}



.form_field_label {
  color: #555555;
  padding-left: 20px;
  width: 90px;
}

.login_header {
	font-size: 14px;
}

.form_field {
    width: 100%;
		max-width: 280px;
}
#reset_button a{
	font-size: 12px;
	color: #3A69AE;
	font-weight: 400;
	font-style: italic;
	cursor: pointer;
}
#submit_button {
	margin-top:16px;
}
#submit_button input {
	background: #4885B1;
	color: white;
	height: 45px;
	text-align: center;
	border-radius: 5px;
	cursor:pointer;
	border: none;
}

input {
  padding-left: 10px;
	width: 100%;
	height: 100%;
	background: transparent;
	box-shadow: none;
	outline: 0;
	border-width: 0;
	border-style: none;
	font-size: 14px;
	color: #292929;
}
input:-webkit-autofill {
	background-color: rgba(73,133,177,.20);
}
.top_message {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    color: #999999;
    margin: auto;
    padding: 20px 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.top_message_error {
    background: none repeat scroll 0 0 #FFCCCC;
    border-bottom: 1px solid #CC4444;
    border-top: 1px solid #CC4444;
    color: #880000;
    margin: auto;
    padding: 20px 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.golfer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 415px;
	z-index: 1;
}
.logo img,
.golfer img {
	max-width: 100%;
}

@media only screen and (max-width: 700px) {
	#container {
		margin: 50px auto;
	}
	#container .right{
		width: 100%;
		display: block;
	}
	.golfer {
		display: none;
	}
}
