.modal-body.close-register-log input {
    min-width: 115px;
}

.modal-body.close-register-log .form-horizontal .form-group {
    margin-right: 5px;
}

.modal-content.payments-window #payment-types button {
    height: 65px;
    margin-bottom: 15px;
    margin-left: 10px;
    max-width: 40%;
}