.modal-load {
    height: 200px;
    background: url("/images/footer/global-modal-loader.gif") center no-repeat;
}







#commands a, #commands #items_filter_form div {
    background: inherit;
}

#item_table {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#table_top {
    background: #286090;
    height: 50px;
}

#table_top input {
    background: #fff;
    margin-top: 7px;
    padding-right: 56px;
}

#search_form {
    background: none;
    height: inherit;
    width: auto;
    position: relative;
}

#search_form #spinner {
    position: absolute;
    top: 8px;
    right: 33px;
}

#search_form:after {
    content: '\f002';
    font-family: 'FontAwesome';
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 16px;
    color: #d3d3d3;
}

#item_table th {
    background-image: none;
}

.header_cell {
    background-image: none;
}

#item_table .headerSortDown .header_cell, #item_table .headerSortUp .header_cell {
    background-image: none;
}

#pagination {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    background-color: #e3e3e3;
    height: 30px;
}

#customers .dd {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 8px 0 0 8px;
    border: solid 1px #1d496f;
    height: 32px;
    background-color: #337ab7;
    cursor: pointer;
    font-size: 14px;
    padding-left: 4px;
}

#customers .dd:hover {
    background-color: #3067a1;
}

#customers .dd.borderRadius {
    border-radius: 5px;
}

#customers .dd.borderRadiusTp {
    border-radius: 5px 5px 0 0;
}

#customers .dd .ddTitle {
    border: none;
    border-radius: 0;
}

#customers .dd .ddTitle .ddTitleText {
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#colorbox, #cboxOverlay, #cboxWrapper {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

ul.nav {
    min-width: 0;
    float: none;
    margin-top: 0;
    margin-bottom: 10px;
}

























