/* Overall styles */
html {
	background:#181818;
}
body {
	background:url(../images/backgrounds/bg2.png) repeat;
}
#body {
	background:url(../images/backgrounds/bg.png) repeat;
	min-width:1240px;
	max-width:1600px;
	margin:auto;
	padding-bottom:30px;
	box-shadow:1px 20px 40px -20px #000;
}
#colorbox input, #config input, #colorbox #back, input.text  {
	box-shadow: inset 0px 6px 24px -12px black;
	border-radius: 5px;
	border: 1px solid #B1B1B1;
	padding: 4px;
	line-height: 20px;
	color: #666464;
	font-size:14px;
	font-weight:lighter;
	font-family:"Quicksand", Helvetica, sans-serif;
}
#colorbox button#back {
	margin-right:10px;
}
#colorbox select {
	font-size:14px;
	font-weight:lighter;
	font-family:"Quicksand", Helvetica, sans-serif;
	height:32px;
}
div#footer {
	min-width:1240px;
	max-width:1600px;
}
#footer_cred {
	color:#999;
	padding-top:20px;
	text-align:center;
}
.red_star, .red a span {
	color:red;
}
.left_side, .right_side {
	float:left;
	width:47%;
}
.bar_stat {
	float: left;
	color: #D8D8D8;
	text-shadow: 4px 4px 6px black;
	margin-right: 25px;
	padding-left: 25px;
	text-align: center;
}
span.required {
	height: 12px;
	background: url(../images/icons/asterisk2.png) no-repeat 0px 2px;
	width: 10px;
	display: inline-block;
	text-indent: -999999px;
}
#menubar_stats .left_border {
	box-shadow: -4px 0px -3px 0px #686868, -5px 0px 2px -3px black;
}
.stat_value {
	font-size:30px;
}
.stat_label {
	font-size: 12px;
	font-weight: lighter;
	color: #B1B1B1;
}
.right_side {
}
.fixed_top_table {
	position:relative;
	overflow:hidden;
	padding-top:30px;
}
#sortable_table {
	margin-top:-30px;
}
#reports #sortable_table, #cboxContent #sortable_table {
	margin-top:0px;
}
ul.ui-autocomplete {
	background:rgba(0,0,0,.8);
	z-index:9999999999;
}
ul.ui-autocomplete li a {
	color:#cccccc;
}
.header_cell {
	position:absolute;
	background: #CCC url(../images/backgrounds/paper_edge_gray.png) 0px -2px repeat-x;
	border-left: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	color: #333;
	font-size: 0.7em;
	height: 30px;
	padding: 0 6px;
	text-align: left;
	/*font-size: 11px;*/
	font-size:15px;
	line-height: 30px;
	margin-left: -7px;
	top: 0;
	width:100%;

}
#reports .header_cell, #cboxContent .header_cell {
	position:relative;

}
/* Header styles */
#menubar_row {
	height:68px;
}
#menubar_container {
	width:100%;
}
#menu_button, #user_button {
	background:#f0f0f0;
	float:left;
	padding-right:40px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 7px 5px -2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 7px 5px -2px rgba(0,0,0,0.5);
	box-shadow: 0px 7px 5px -2px rgba(0,0,0,0.5);
	cursor:pointer;
}
#user_button {
	float:right;
}
#menu_button_holder, #user_button_holder {
	padding:10px;
	/*width:300px;*/
}
#menubar_stats {
	min-width:500px;
}
.foreup_icon {
	width:47px;
	height:44px;
	display:block;
	background:url(../images/buttons/menu_icon.png) no-repeat;
	float:left;
}
.menu_icon {
	width:24px;
	height:24px;
	display:block;
	background:url(../images/icons/icons_small.png) no-repeat 0px 2px;
	float:left;
	margin:8px 10px 6px;
}
.module_icon {
	width:27px;
	height:26px;
	display:block;
	background:url(../images/icons/icons.png) no-repeat -7px -7px;
	float:left;
	margin:-3px 17px 6px 0px;
}
.teesheets_icon, .reservations_icon, .schedules_icon {
	background-position:-7px -47px;
}
.items_icon {
	background-position:-46px -47px;
}
.item_kits_icon {
	background-position:-46px -87px;
}
.employees_icon {
	background-position:-7px -87px;
}
.sales_icon {
	background-position:-46px -7px;
}
.food_and_beverage_icon {
	background-position:-48px -366px;
}
.invoices_icon {
	background-position:-166px -368px;
}
.customers_icon {
	background-position:-7px -127px;
}
.tournaments_icon {
	background-position:-87px -367px;
}
.suppliers_icon {
	background-position:-46px -127px;
}
.reports_icon {
	background-position:-7px -167px;
}
.receivings_icon {
	background-position:-46px -167px;
}
.marketing_campaigns_icon {
	background-position:-7px -207px;
}
.giftcards_icon {
	background-position:-46px -207px;
}
.config_icon {
	background-position:-5px -367px;
}
.timeclock_icon {
	background-position:-47px -288px;
}
.support_icon {
	background-position:-6px -285px;
}
.logout_icon {
	background-position:-6px -327px;
}
.switch_user_icon {
	background-position:-126px -367px;
}
.teesheets_icon_sm {
	background-position:4px -22px;
}
.items_icon_sm {
	background-position:-22px -24px;
}
.item_kits_icon_sm {
	background-position:-23px -48px;
}
.employees_icon_sm {
	background-position:4px -47px;
}
.sales_icon_sm {
	background-position:-21px 1px;
}
.invoices_icon_sm {
	background-position:2px -145px;
}
.customers_icon_sm {
	background-position:4px -72px;
}
.suppliers_icon_sm {
	background-position:-23px -72px;
}
.reports_icon_sm {
	background-position:4px -95px;
}
.receivings_icon_sm {
	background-position:-23px -95px;
}
.marketing_campaigns_icon_sm {
	background-position:4px -119px;
}
.giftcards_icon_sm {
	background-position:-23px -119px;
}
.course_icon {
	width:33px;
	height:30px;
	display:block;
	/*background:url(../images/icons/course_icon.png) no-repeat 0px 0px;*/
	line-height:33px;
	float:left;
	margin:11px 10px 6px;
}
.module_desc {
	font-size:14px;
}
.menu_title {
	color:#4d4d4d;
	font-size:20px;
	float:left;
	margin-top:12px;
}
#user_button .menu_title {
	font-size:16px;
	line-height:24px;
}
#user_button .course_icon {
	margin:8px 10px 8px;
}
#software_menu, #user_menu {
	position:absolute;
	top:55px;
	z-index:999999;
	box-shadow:0px 0px 0px 1800px rgba(0, 0, 0, 0.6);
	/*border:13px solid #1c1c1c;*/
	background: rgba(0, 0, 0, 0.8);
	border-radius:12px;
	padding:10px;
}
#user_menu {
	margin-left:-114px;
	overflow:hidden;
}
#allowed_modules, #user_actions {
		background: #fcfcfc; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e5e5e5'); /* for IE */
	background: -webkit-linear-gradient(top, #fcfcfc, #e5e5e5);
	background: -moz-linear-gradient(top,  #fcfcfc,  #e5e5e5); /* for firefox 3.6+ */
	width:590px;
	padding:20px 30px;
}
#user_actions {
	padding:10px 30px 0px 10px;
	width:200px;
}
#allowed_modules #home_module_list, #user_actions #home_module_list {
	margin-top:0px;
	width:100%;
	min-height:0;
}
/* Stats section */
#stats_section {
	background:url(../images/backgrounds/bg2.png) repeat;
	height:150px;
	-moz-box-shadow: inset 0px -8px 10px -5px black;
	-webkit-box-shadow: inset 0px -8px 10px -5px black;
	box-shadow: inset 0px -8px 10px -5px black;
}
#stats_button_holder {
	width:110px;
}
#stats_button {
	float:right;
	width:110px;
	height:58px;
	margin-top:10px;
	cursor:pointer;
}
#stats_button.selected {
	background:url(../images/backgrounds/bg2.png) repeat;
	-moz-box-shadow: inset 8px 10px 10px -6px black, inset -8px 0px 10px -6px black;
	-webkit-box-shadow: inset 8px 10px 10px -6px black, inset -8px 0px 10px -6px black;
	box-shadow: inset 8px 10px 10px -6px black, inset -8px 0px 10px -6px black;
}
.stats_icon {
	width:24px;
	height:24px;
	display:block;
	background:url(../images/icons/icons_small.png) no-repeat -48px 0px;
	margin:8px 42px 0px;
	font-weight:normal;
	text-shadow:2px 2px 5px #000;
}
.shadow_top_border {
	border-top: 1px solid  #191819;
	box-shadow: inset 0 1px 0 #5a5b5b, 0 1px 0 #5a5b5b;
}
.shadow_top {
	background:url(../images/backgrounds/bg2.png) repeat;
	-moz-box-shadow: inset 0px 8px 10px -5px black;
	-webkit-box-shadow: inset 0px 8px 10px -5px black;
	box-shadow: inset 0px 8px 10px -5px black;
	height:10px;
}
.non_shadow_top {
	background:url(../images/backgrounds/corner_shadow.png) no-repeat, url(../images/backgrounds/bg2.png) repeat;

}
.stats_text {
	text-align:center;
	color:#dedede;
	font-size:12px;
	text-shadow:2px 4px 4px black;
}

/* Teesheet */
#teesheets #content_area_wrapper, #teesheets #content_area, #teesheets #content_area .wrapper, #reservations #content_area_wrapper, #reservations #content_area, #reservations #content_area .wrapper {
	width:100%;
}
#teesheet_controls, #table_top, div#reg_item_search {
	background:url(../images/backgrounds/top_bar_bg.png) repeat-x;
	height:37px;
}
.return #table_top {
	background:url(../images/backgrounds/top_bar_bg_red.png) repeat-x;
}
#teesheet_info {
	background:url(../images/backgrounds/paper_edge.png) repeat-x, url(../images/backgrounds/texture.png) repeat;
	height:48px;
	line-height:1;
}
#teesheet_labels {
	height:15px;
	background-color:#525252;
}
#teesheets #main, #reservations #main {
	border:0px none;
	box-shadow:0px 3px 12px 3px #000;
	width:80%;
}
#teesheets #main .inner, #reservations #main .inner {
	background:none white;
	margin:0px;
	padding:0px;
}

#teesheets .calendar, #teesheets .calendarback, #reservations .calendar, #reservations .calendarback {
	width:100%;
}
.calendar table.fc-header, .calendarback table.fc-header, .schedule_track table.fc-header {
	display:none;
}
#track_calendar_holder {
	overflow-x:auto;
	overflow-y:hidden;
}
#teesheets .fc-content, #reservations .fc-content {
	margin:0px;
}
#teesheets table thead, #reservations table thead {
}
#teesheets .frontnine, #reservations .frontnine {
	margin:0px;
}
#teesheets #main .ui-widget-header, #teesheets #main .ui-widget-content, #reservations #main .ui-widget-header, #reservations #main .ui-widget-content{
	color:#1c1c1c;
	border-color:#e4e4e4;
	border-right-color:transparent;
	border-style:solid;
	font-size:10px;
	box-shadow:none;
	background:none;
}
#teesheets div#main .ui-state-highlight, #reservations div#main .ui-state-highlight {
	background:#F2FCFF;
	background: -webkit-linear-gradient(left, #ffffff, #F2FCFF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2fcff'); /* for IE */
	background: -moz-linear-gradient(top,  #ffffff,  #f2fcff); /* for firefox 3.6+ */
}
#teesheets .week_label, #reservations .week_label {
	color:white;
	font-weight:bold;
	background:#525252;
}
#teesheets #main tbody tr:hover .ui-widget-header, #reservations #main tbody tr:hover .ui-widget-header {
	font-weight:bold;
	z-index: 99;
	position:absolute;
	border-color:transparent;
	color:#349AC5;
}
#teesheets .clear_data, #reservations .clear_data, .delete_terminal, .delete_loyalty,.delete_specials {
	background: transparent url("../images/pieces/x_red2.png") no-repeat scroll 0px center;
	text-indent: 2000px;
	width: 10px;
	height: 10px;
	display: block;
	margin-right: 5px;
}
#teesheets #main .ui-widget-header, #reservations #main .ui-widget-header {
	padding:10px 2px 0px;
	color:#818181;
	font-weight:bold;
}
#teesheets #main thead .ui-widget-headerm, #reservations #main thead .ui-widget-header {
	padding:1px 2px 0px;
}
#teetime_table {
	overflow:hidden;
}
#teesheets .fc-agenda-slots th, #reservations .fc-agenda-slots th {
	border-width: 1px 0px 0;
	overflow:hidden;
}
.ui-datepicker-year {
	font-weight:lighter;
}
.ui-datepicker-month {
	font-size:16px;
	font-weight:lighter;
}
.teetime_result {
	background:white;
	margin:5px 5px 0px 5px;
	text-align: left;
	padding: 5px 10px;
}
#teesheets #cboxContent fieldset div.field_row label, #reservations #cboxContent fieldset div.field_row label {
	width:305px;
	font-weight:normal;
}
#teesheets #cboxContent fieldset div.field_row label {
	width:50px;
}
#teesheets #cboxContent fieldset div.field_row label.dropdown {
	width: 175px;
}
#teesheets #cboxContent #repeat_form div.field_row label, #reservations #cboxContent #repeat_form div.field_row label {
	width:200px;
}
#teesheets #cboxContent fieldset div.field_row #repeats_buttons label, #reservations #cboxContent fieldset div.field_row #repeats_buttons label {
	width:60px;
}
#teesheets #cboxContent fieldset div.field_row #day_buttons label, #reservations #cboxContent fieldset div.field_row #day_buttons label {
	width:32px;
}
#sales_settings_info div.field_row label {
	width:250px;
}
#sales_settings_info .radio_button_holder {
	padding-top:5px;
}
#sales #cboxContent fieldset div.field_row label {
	/*width:250px;*/
}
#quickbutton_basic_info {
	padding:10px;
}
#sales #colorbox #quickbutton_basic_info input#submit{
	float:right;
	margin:0px 0px 0px 0px;
}
#sales #colorbox #quickbutton_basic_info input#delete{
	float:left;
	margin:0px 0px 0px 0px;
}
#sales #colorbox #sales_edit_form input#submit {
	margin:10px 0px 0px 0px;
	float:right;
}
#sales #colorbox #sales_delete_form input#submit {
	margin:0px 0px 0px 10px;
	float:left;
}
#sales #colorbox #edit_sale_wrapper {
	padding-bottom:10px;
}
.time-holder {
	vertical-align: bottom;
	margin-bottom: -24px;
	font-size: 10px;
	margin-top: 3px;
	font-weight: bold;
	color: #8D8D8D;
}
#teesheets .fc-event-skin, #teesheets .fc-event-head, #reservations .fc-event-skin, #reservations .fc-event-head {
	border-color:transparent;
}
#teesheets .teetime div.fc-event-inner, #teesheets .tournament div.fc-event-inner, #teesheets .shotgun div.fc-event-inner, #teesheets .closed div.fc-event-inner, #teesheets .event div.fc-event-inner, #teesheets .league div.fc-event-inner,
#reservations .teetime div.fc-event-inner, #reservations .reservation div.fc-event-inner, #reservations .tournament div.fc-event-inner,#reservations .shotgun div.fc-event-inner, #reservations .closed div.fc-event-inner, #reservations .event div.fc-event-inner, #reservations .league div.fc-event-inner {
	background:transparent;
	border: 1px solid purple;
	border:none;
	border-radius:5px;
}
#teesheets .teetime .fc-event-bg, #teesheets .tournament .fc-event-bg, #teesheets .shotgun .fc-event-bg, #teesheets .closed .fc-event-bg, #teesheets .event .fc-event-bg, #teesheets .league .fc-event-bg,
#reservations .teetime .fc-event-bg, #reservations .reservation .fc-event-bg, #reservations .tournament .fc-event-bg, #reservations .shotgun .fc-event-bg, #reservations .closed .fc-event-bg, #reservations .event .fc-event-bg, #reservations .league .fc-event-bg {
	background:transparent;
	opacity: 1;
	border-radius:3px;
}
#teesheets .players_1 .fc-event-inner .fc-event-title,
#teesheets .players_2 .fc-event-inner .fc-event-title,
#teesheets .players_3 .fc-event-inner .fc-event-title,
#teesheets .players_4 .fc-event-inner .fc-event-title,
#teesheets .players_5 .fc-event-inner .fc-event-title,
#reservations .players_1 .fc-event-inner .fc-event-title,
#reservations .players_2 .fc-event-inner .fc-event-title,
#reservations .players_3 .fc-event-inner .fc-event-title,
#reservations .players_4 .fc-event-inner .fc-event-title,
#reservations .players_5 .fc-event-inner .fc-event-title {
	background-image:none;
	background-position: -56px 0px;
	background-repeat: no-repeat;
}
#teesheets .fc-event-skin, #reservations .fc-event-skin {
	color:#1c1c1c;
}
.cart_icon, .teed_off_icon, .reround_icon, .holes_icon, .details_icon, .raincheck_icon, .online_icon {
	height:11px;
	margin-right:4px;
	float:right;
	display:block;
}
.carts .cart_icon {
	background:url(../images/icons/teesheet_icons.png) -13px 0px no-repeat;
	width:15px;
}
.holes_18.first_nine .holes_icon {
	background:url(../images/icons/teesheet_icons.png) -80px 0px no-repeat;
	width:15px;
}
.holes_9.first_nine .holes_icon {
	background:url(../images/icons/teesheet_icons.png) -68px 0px no-repeat;
	width:8px;
}
.details .details_icon {
	background:url(../images/icons/teesheet_icons.png) -129px 0px no-repeat;
	width:10px;
}
.teed_off .teed_off_icon {
	background:url(../images/icons/teesheet_icons.png) -2px 0px no-repeat;
	width:10px;
}
.mark_turn .teed_off_icon {
	background:url(../images/icons/teesheet_icons.png) -29px 0px no-repeat;
	width:16px;
}
.reround .reround_icon {
	background:url(../images/icons/teesheet_icons.png) -45px 1px no-repeat;
	width:20px;
}
.rainchecks_issued .raincheck_icon {
	background:url(../images/icons/teesheet_icons.png) -99px 1px no-repeat;
	width:11px;
}
.online_booking .online_icon {
	background:url(../images/icons/teesheet_icons.png) -114px 1px no-repeat;
	margin-right:0px;
	width:12px;
}
.teed_off_icon {
}
.time_stamp, .dash {
	padding:0px 3px;
	text-align:right;
	display:block;
	font-weight:bold;
	font-size:10px;
	float:left;
}
.start_time {
	margin-left:10px;
}
.more_holder {
	text-align: center;
	background: url(../images/backgrounds/receipt.png) left -74px;
	height: 30px;
	padding-top: 5px;
}
.more_holder #more_recent_transactions {
	margin:auto;
	color:#242424;


}
#teesheets .teed_off .ui-resizable-handle, #reservations .teed_off .ui-resizable-handle {
	background: none;
}
#teesheets .carts .fc-event-content, #reservations .carts .fc-event-content {
	background:none;
}
#teesheets .fc-event-time, #teesheets .fc-event-title, #teesheets .fc-event,
#reservations .fc-event-time, #reservations .fc-event-title, #reservations .fc-event {
	font-size:12px;
	font-weight:bold;
}
#teesheets div.fc-event-title, #reservations div.fc-event-title {
	line-height:10px;
	padding:4px 0px 1px 8px;
}
#teesheets #course_selector, #reservations #course_selector {
	float:left;
	margin-bottom:0px;
}
#teesheets #teesheet_view_buttons, #teesheets #teesheet_download_button, #item_view_buttons, #card_view_buttons, #reports #teesheet_download_button, #mode_button,
#reservations #teesheet_view_buttons, #reservations #teesheet_download_button, #reservations #teesheet_download_button, #invoices #billing_view_buttons {
	float:right;
	margin:3px 6px 0px 0px;
	border:1px solid #135482;
	border-radius:4px;
	color:#c4c4c4;
	box-shadow: inset 0px 1px 1px #71bbd7;
}
#item_view_buttons, #card_view_buttons {
	float: left;
	margin-top: 6px;
	margin-left: 6px;
}
#invoices #billing_view_buttons {
	float:left;
	margin:4px 0px 0px 6px;
}
.return #mode_button {
	border-color:#5C0000;
	box-shadow:inset 0px 1px 1px #D77171;
}
#teesheet_download_button {
	width: 32px;
	height: 26px;
	background:url(../images/icons/icons.png) no-repeat -79px -48px;
	box-shadow: inset 0px 5px 25px -14px white;
}
#reports #teesheet_download_button {
		background: #349ac5 url(../images/icons/icons.png) no-repeat -79px -48px; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#349ac5', endColorstr='#4173b3'); /* for IE */
	background:url(../images/icons/icons.png) no-repeat -79px -48px, -webkit-linear-gradient(top, #349ac5, #4173b3);
	background:url(../images/icons/icons.png) no-repeat -79px -48px, -moz-linear-gradient(top,  #349ac5,  #4173b3); /* for firefox 3.6+ */
	height:28px;
	margin-top:0px;
	cursor:pointer;
}
#teesheets #teesheet_view_buttons ul li, #item_view_buttons ul li, #card_view_buttons ul li, #mode_button ul li, #reservations #teesheet_view_buttons ul li, #mode_button ul li , #invoices #billing_view_buttons ul li {
	float:left;
	padding: 4px 17px;
	border-right: 1px solid #135482;
	box-shadow: inset 0px 5px 25px -14px white;
	cursor:pointer;
	text-shadow:-1px -1px 0px black;
	color:rgba(178,229,255,.8);
}
#invoices #billing_view_buttons ul li {
	padding: 6px 17px;
}
.return #mode_button ul li {
	color:rgba(235, 193, 193, .8);
	border-color:#5c0000;
}
#teesheets #teesheet_view_buttons ul li.selected, #item_view_buttons ul li.selected, #card_view_buttons ul li.selected, #reservations #teesheet_view_buttons ul li.selected, #invoices #billing_view_buttons ul li.selected, #mode_button.mode_return #return_button, #mode_button.mode_sale #sales_button {
	border-right: none;
	box-shadow: inset 0px 5px 20px -5px black;
	color:white;
	font-weight: lighter;
}
#mode_button.mode_return #return_button, .return #return_button {
	color:#C9B3B3;
}

#teesheets .dd, #customers .dd, #reservations .dd, #customers .dd, #invoices .dd {
	text-align:left;
	font-size:16px;
	border:1px solid #135482;
	border-radius:4px;
	box-shadow: inset 0px 1px 1px #71bbd7;
	margin:4px 0px 0px 5px;
}
#invoices .dd {
	float:right;
	margin-right:10px;
	width:75px;
}
#teesheets .dd .ddTitle, #customers .dd .ddTitle, #reservations .dd .ddTitle, #invoices .dd .ddTitle {
	background:transparent;
}
#teesheets .dd .ddTitle .ddTitleText, #reservations .dd .ddTitle .ddTitleText, #customers .dd .ddTitle .ddTitleText, #invoices .dd .ddTitle .ddTitleText{
	padding:2px 20px 2px 5px;
	color:white;
	text-shadow:0px -1px 0px #000;
	box-shadow: inset 0px 5px 25px -14px white;
}
#customers .dd .ddTitle .ddTitleText, #invoices .dd .ddTitle .ddTitleText{
	padding:5px 20px 5px 5px;
}
#teesheets .dd  .divider, #reservations .dd  .divider, #customers .dd  .divider, #invoices .dd  .divider {
	border:none;
}
#teesheet_date_box {
	float:left;
	height:48px;
	width:200px;
	margin-left:5px;
}
#teesheet_day {
	float:left;
	font-size:40px;
	font-weight: bold;
	line-height:40px;
	padding-top:6px;
}
.date_info {
	float:left;
}
#teesheet_dow {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	text-align: left;
	padding-top: 11px;
	padding-left: 10px;
	height:20px;
}
#teesheet_month {
	font-size:14px;
	padding-left:10px;
}
.line_spacer {
	float: left;
	border-left: 1px solid #BABABA;
	height: 31px;
	margin: 11px 0px 6px;
}
#teesheet_weather_box {
	float:left;
}
#weather_icon {
	float:left;
	width:37px;
	height:37px;
	margin-left:25px;
	margin-top:8px;
}
#teesheets .ui-tabs .ui-tabs-nav li, #reservations .ui-tabs .ui-tabs-nav li {
	width:100%;
}
#teesheets .ui-tabs .ui-tabs-nav li a, #reservations .ui-tabs .ui-tabs-nav li a {
	font-size:16px;
	padding:4px 12px 8px;
	font-weight:lighter;
}
#jqContextMenu {
	box-shadow: 3px 15px 23px -8px black;
	background:url(../images/icons/point.png) no-repeat -1px 0px;
	padding-top:20px;
	border-top-left-radius:0px;
	border-left:1px solid #999;
}
#jqContextMenu ul {
}
#jqContextMenu ul li {
	border-radius:6px;
}
.minimize_icon {
	background:url(../images/icons/icons.png) -92px -248px;
	width:20px;
	height:20px;
	display:block;
	float:right;
	opacity:.8;
	margin-top:2px;
	margin-right:5px;
}
.expanded .minimize_icon {
	background-position:-92px -208px;
}
#column_transactions .minimize_icon, #suspended_sales_header .minimize_icon {
	margin-top:6px;
}
#current_temp {
	font-size: 35px;
	font-weight: bold;
	float: left;
	line-height: 35px;
	padding-top: 10px;
	margin-left:15px;
}
#low_high {
	float:left;
	margin-left:13px;
	padding:8px 0px 0px;
	font-weight: bold;
	font-size:14px;
}
#high {
	color:#e87b11;
	border-bottom:1px solid #cdcdcd;
	padding:2px;
}
#low {
	color:#26749d;
	padding:3px 2px;
}
#teesheet_day_navigator {
	float:right;
	margin: 12px 8px 0px 0px;
	border: 1px solid #b9b9b9;
	border-radius: 4px;
	color: #000;
	box-shadow: inset 0px 1px 52px -21px #000;
}
#teesheet_day_navigator ul {

}
#teesheet_day_navigator ul li {
	float:left;
	padding: 4px 17px;
	box-shadow: inset 0px 5px 25px -14px white;
	line-height:1.5;
	cursor:pointer;
}
#previous_day, #next_day {
	text-indent:-999999px;
	background:url(../images/icons/icons.png) no-repeat;
	margin:4px 0px;
	height:10px;
}
#previous_day {
	background-position:-83px -171px;
	border-right:1px solid #a4a4a4;
}
#next_day {
	background-position:-83px -131px;
	border-left:1px solid #a4a4a4;
}
#teesheets #settings_button, #reservations #settings_button {
	width: 184px;
	margin-top: 10px;
	color:#5d5d5d;
	text-transform:uppercase;
	font-weight:bold;
	text-shadow:1px 1px 0px #000;
	padding: 10px 3px;
	line-height:1;
	text-align:left;
	cursor:pointer;
}
#weatherBox ul, #weatherBox ul li a, #facebook_logout {
	cursor:pointer;
}
.facebook_pages li {
	background: #349ac5 !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#349ac5', endColorstr='#4173b3');
	background: -webkit-linear-gradient(top, #349ac5, #4173b3) !important;
	background: -moz-linear-gradient(top, #349ac5, #4173b3) !important;
}
#teesheets #settings_icon, #reservations #settings_icon, #sales .settings_icon, #sales .edit_icon, #sales .add_icon, #sales .save_icon, #sales .add_icon_blue, #receivings .add_icon_blue {
	background:url(../images/icons/icons.png) no-repeat -94px -94px;
	display:block;
	height:14px;
	width:14px;
	float:left;
	margin:-1px 8px 0px 5px;
}
#sales .edit_icon {
	background-position:-173px -173px;
}
#sales_edit_form {
	padding:10px;
}
#sales .add_icon {
	background-position:-172px -252px;
	height:16px;
	width:16px;
	margin-top:-2px;
}
#sales .add_icon_blue, #receivings .add_icon_blue {
	background-position:-172px -286px;
	height:16px;
	width:16px;
	margin-top:-2px;
}
#sales .no_suspended_sales {
	background: white;
	padding: 15px 0px;
	text-align: center;
	font-size: 14px;
}
#sales #new_customer_button {
	display:inline;
	float:none;
	background-position:-172px -286px;
	margin-left:1px;
}
#sales .save_icon {
	background-position:-173px -214px;
}
/* Teesheet popup styles */
.background {
	background:#848484;
	margin-top:-6px;
}
#cboxContent .background .teebuttons .ui-button {
	font-size: 18px;
	margin: 5px 5px 0px;
	color: #555555;
	text-shadow:none;
	background: #dbdbdb;
	line-height: 1px;
	padding: 0px 5px 0px;
	height: 32px;
	border-radius:3px 3px 0px 0px;
	border:none;
	width:134px;
	box-shadow:inset 0px -5px 8px -8px #000000;
}
#expand_players_text, #split_teetime_text {
	color:#555555;
}
#cboxContent .background .teebuttons label.ui-state-active {
	box-shadow:none;
	background:#efefef;
}
.holes_buttonset .ui-button, .tip_type_buttonset .ui-button, .carts_buttonset .ui-button .item_buttonset, .carts_buttonset .ui-button .amount_type{
	padding:0px 5px 2px;
}
.tip_type_buttonset .ui-button {
	height:28px;
}
.holes_buttonset .ui-button-text, .carts_buttonset .ui-button-text .item_buttonset, .carts_buttonset .ui-button-text .amount_type {
}
.players_buttonset .ui-button {
	padding:0px 5px 2px;
}
#teetime_form button.purchase_button {
	height: 30px;
}
#teetime_form button.ui-corner-left {
	border-radius:4px 0px 0px 4px;
}
#teetime_form button.ui-corner-right {
	border-radius:0px 4px 4px 0px;
}
.player_info {
	float:left;
	margin-left:15px;
}
#closed_table, #event_table, #teetime_table, #shotgun_table {
	background:#efefef;
}
#teetime_people_row_1 {
	padding-top:15px;
}
.popup_divider {
	box-shadow: 0px 1px 0px 0px #C1C1C1, 0px 2px 0px 0px white;
	margin: 0px auto 20px;
	width: 97%;
	height: 20px;
}
.saveButtons .purchase_button {
	line-height:1;
	padding: 0px 1em;
}
#details, #closed_details, #event_details, #shotgun_details {
	margin-left:15px;
	width:94%;
}
.event_buttons_holder, .event_controls_holder {
	padding:0px 15px;
}
.event_controls_holder {
	padding:0px 0px 0px 85px;
}
#split_teetimes {
	margin-left:15px;
}
.buttons {
	float: left;
	padding: 4px 17px;
	border-right: 1px solid #135482;
	box-shadow: inset 0px 5px 25px -14px white;
	cursor: pointer;
}
button#teetime_save {
	margin-left:17px;
	background: #a5a5a5; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5a5a5', endColorstr='#868686'); /* for IE */
	background: -webkit-linear-gradient(top, #a5a5a5, #868686);
	background: -moz-linear-gradient(top,  #a5a5a5,  #868686); /* for firefox 3.6+ */
}
#teetime_people_table {
	margin-top:20px;
}
#teetime_people_table_holder {
	width:73%;
	margin:0px 0px 0px 15px;
}
.event_info {
	margin:0px 0px 0px 15px;
	padding:20px 0px 0px 0px;
}
#closed_table .saveButtons, #event_table .saveButtons, #shotgun_table .saveButtons {
	margin-left:20px;
}
#closed_delete, #event_delete, #shotgun_delete {
	float:right;
}
#event_table .carts .carts_buttonset, #shotgun_table .carts .carts_buttonset {
	width:auto;
}
#shotgun_title, #event_title, .player_buttons, .players, .carts{
	float:left;
}
#closed_title {
	margin:20px 0px 0px 15px;
}
.background #closed_table .ui-state-active,
.background #event_table .ui-state-active,
.background #teetime_table .ui-state-active,
.background #shotgun_table .ui-state-active,
#item_form .quantity_controls .ui-state-active,
#account_transaction_form .quantity_controls .ui-state-active,
#loyalty_transaction_form .quantity_controls .ui-state-active,
#cboxContent .players_buttonset label.ui-state-active,
#cboxContent #day_buttons label.ui-state-active,
#cboxContent #repeats_buttons label.ui-state-active,
#cboxContent .holes_buttonset label.ui-state-active,
#cbox2Content .tip_type_buttonset label.ui-state-active .item_buttonset {
	border-right: none;
	box-shadow: inset -2px 2px 30px 3px black;
}
#cboxContent .players_buttonset label.ui-button, #cboxContent .holes_buttonset label.ui-button .item_buttonset{
	border-radius:0px;
}
#cboxContent div.background label.ui-corner-left, #cboxContent .players_buttonset label.ui-corner-left, #cboxContent .holes_buttonset label.ui-corner-left, #cbox2Content .tip_type_buttonset .item_buttonset label.ui-corner-left, #repeats_buttons label.ui-corner-left, #day_buttons label.ui-corner-left {
#cbox2Content .tip_type_buttonset label.ui-state-active .amount_type {
	border-right: none;
	box-shadow: inset -2px 2px 30px 3px black;
}
#cboxContent .players_buttonset label.ui-button, #cboxContent .holes_buttonset label.ui-button .amount_type{
	border-radius:0px;
}
#cboxContent div.background label.ui-corner-left, #cboxContent .players_buttonset label.ui-corner-left, #cboxContent .holes_buttonset .amount_type label.ui-corner-left, #cbox2Content .tip_type_buttonset label.ui-corner-left, #repeats_buttons label.ui-corner-left, #day_buttons label.ui-corner-left {
	border-radius:4px 0px 0px 4px;
}
#cboxContent div.background label.ui-corner-right, #cboxContent .players_buttonset label.ui-corner-right, #cboxContent .holes_buttonset .amount_type label.ui-corner-right, #cbox2Content .tip_type_buttonset label.ui-corner-right, #repeats_buttons label.ui-corner-right, #day_buttons label.ui-corner-right {
	border-radius:0px 4px 4px 0px;
}
.tip_type_buttonset label.ui-button {
	width:70px;
	height:24px;
}
.tip_type_buttonset .ui-button-text-only .ui-button-text {
	padding:0.3em 1em;
}
fieldset div.field_row .tip_type_label label {
	text-indent: 20px;
	font-size:80%;
}
.buttons_group {
	float: right;
	margin: 3px 6px 0px 0px;
	border: 1px solid #135482;
	border-radius: 4px;
	color: #C4C4C4;
	box-shadow: inset 0px 1px 1px #71BBD7;
}
.flag_icon, .players_icon, .carts_icon, .pay_icon, .clock_icon {
	display:block;
	height:32px;
	width:50px;
	background:url(../images/icons/shadow_icons.png) no-repeat 0px -10px;
	float:left;
	margin:0px 10px 0px 20px;
}
.flag_icon {
	background-position:10px -162px;
}
.players_icon {

}
.carts_icon {
	background-position:0px -58px;
}
.pay_icon {
	background-position:0px -108px;
	margin-top:-1px;
}
.clock_icon {
	background-position:0px -208px;
}

/* Sales page new styles */
.left_column, .main_column, .right_column {
	float:left;
	width:15%;
	margin-right:10px;
}
.right_column {
	width:210px;
}
.main_column {
	width:64%;
}
.right_column {

}
#register {
	margin-top:-37px;
}
#overall_sale {
	border:1px solid #333;
	border-top:none;
	background:white;
	width:97%;
	margin:auto;
}
.main_column #register_container, #receivings #register_holder {
	width:97%;
	box-shadow: 0 1px 0 0 #CDCDCD, 0 3px 0 -1px white, 0 4px 0 -1px #CDCDCD, 0 7px 0 -3px white, 0 8px 0 -3px #CDCDCD, 0 12px 0 -5px white, 0 3px 14px 4px black, 0 14px 14px 0px black;
	margin-bottom:25px;
}
.subtotal_box {
	font-size:16px;
	color:#333;
}
#search_form, #add_item_form, #add_item_form2 {
	width: 241px;
	background: url("../images/pieces/search2.png") no-repeat scroll right center transparent;
	height:37px;
	float:right;
	margin-right:5px;
}
#sale_details table td {
	vertical-align: top;
}
#table_top input {
	width:220px;
	font-size:14px;
	color:#666464;
	margin-top:5px;
}
#add_item_form, #add_item_form2 {
	float:left;
	background: url("../images/pieces/search3.png") no-repeat scroll 4px center transparent;
	width:100%;
}
#table_top #add_item_form input {
	width:435px;
}
#customer_info_empty {
	background:url(../images/backgrounds/top_bar_bg_black.png) repeat-x;
}
#register_holder {
	width:100%;
	background:white;
	border:none;
}
#register th {
	background: #CCC url(../images/backgrounds/paper_edge_gray.png) 0px -2px repeat-x;
	border-right: 1px solid #BBB;
	color: #333;
	font-size: 0.7em;
	height: 36px;
	padding: 2px 6px 0px;
	text-align: left;
	font-size: 12px;
	line-height: 36px;
}
#register th .delete_item {
	margin-top:10px;
}
#register .header_cell {
	padding:0px 3px;
}
#register_box {
	max-height:250px;
	border-bottom:4px solid #b2b2b2;
	overflow:auto;
}
#new_quickbuttons {
	background:#e7e7e7;
}
#new_quickbuttons a.new_quickbutton, #demo_button, #demo_menu a, #teetime_save, #teetime_checkin, #create_new_recurring_billing, #create_new_invoice, #create_multiple_invoices, #receivings #cancel, #receivings #add_supplier_info {
	background: #349ac5; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#349ac5', endColorstr='#4173b3'); /* for IE */
	background: -webkit-linear-gradient(top, #349ac5, #4173b3);
	background: -moz-linear-gradient(top,  #349ac5,  #4173b3); /* for firefox 3.6+ */
	color: white;
	display: block;
	font-size: 14px;
	font-weight: normal;
	min-height: 22px;
	padding: 5px 0 0 10px;
	text-align: center;
	text-shadow: 0px -1px 0px black;
	border-radius: 4px;
	margin-bottom: 8px;
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.5), 0px 3px 1px -2px rgba(255, 255, 255, .2);
	border: 1px solid #232323;
}
#receipt_wrapper .hidden {
	display: none;
}
#receipt_wrapper .price {
	width: 80px;
}
#receipt_wrapper .price_column {
	width: 100px;
}
#receipt_wrapper .tax {
	width: 42px;
}
#receipt_wrapper .tax_column {
	width: 65px;
}
#receipt_wrapper .delete_row {
	font-size: 15px;
	color: red;
}
#receipt_wrapper .delete_row:hover, #receipt_wrapper #add_item{
	cursor: pointer;
}
#receipt_wrapper #add_customer_email {
	background: -webkit-linear-gradient(top, #349AC5, #4173B3);
	color: white;
	font-size: 11px;
	font-weight: normal;
	height: 18px;
	padding: 7px 0 0 10px;
	width: 56px;
	text-shadow: 0px -1px 0px black;
	border-radius: 4px;
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.5), 0px 3px 1px -2px rgba(255, 255, 255, .2);
	border: 1px solid #232323;
	cursor: pointer;
}
#receipt_wrapper #add_item {
	position: relative;
	bottom: 20px;
	background: -webkit-linear-gradient(top, #349AC5, #4173B3);
	color: white;
	display: block;
	font-size: 11px;
	font-weight: normal;
	height: 18px;
	padding: 7px 0 0 10px;
	width: 53px;
	text-shadow: 0px -1px 0px black;
	border-radius: 4px;
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.5), 0px 3px 1px -2px rgba(255, 255, 255, .2);
	border: 1px solid #232323;
}
#receipt_wrapper #add_card {
	float: left;
	background: -webkit-linear-gradient(top, #349AC5, #4173B3);
	color: white;
	display: block;
	font-size: 11px;
	font-weight: normal;
	height: 18px;
	padding: 7px 0 0 10px;
	width: 53px;
	text-shadow: 0px -1px 0px black;
	border-radius: 4px;
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.5), 0px 3px 1px -2px rgba(255, 255, 255, .2);
	border: 1px solid #232323;
	position: relative;
	margin-left: 4px;
	bottom: 2px;
	cursor: pointer;
}
#receipt_wrapper #company_phone {
	margin-bottom: 0;
}
#receipt_wrapper .next_invoice_line {
	opacity: .5;
}
.invoice_box.no_results, .recurring_billing_box.no_results{
	cursor: default;
}
#invoice_payment_info #invoice_details_table {
	margin-left: 22px;
}
#invoice_creation_options .disabled{
	opacity: .5;
	cursor: default;
}
#multiple_invoice_options {
	width: 100%;
	background: url(../images/backgrounds/bg2.png) repeat;
	margin: auto;
	color: white;
	position: relative;
	bottom: 20px;
	padding-top: 1px;
	min-height: 92px;
}
#multiple_invoice_options #billing_types .form_field {
	float: left;
	background: #CBDCE8;
	height: 26px;
	line-height: 26px;
	padding: 0px 10px;
	border: 1px solid #2577B6;
	margin-right: 5px;
	border-radius: 5px;
	color: #2577B6;
	font-size: 16px;
	display: inline-block;
	min-width: 210px;
}

#multiple_invoice_options #billing_types > div {
	float: left;
}
#multiple_invoice_options #options_wrapper {
	width: 540px;
	margin: auto;
}
#multiple_invoice_options.hidden, #invoice_creation_options .hidden {
	display: none;
}
#multiple_invoice_options li, #multiple_invoice_options #generate_billings {
	background: -webkit-linear-gradient(top, #349ac5, #4173b3);
	color: white;
	display: block;
	font-size: 14px;
	font-weight: normal;
	height: 17px;
	padding: 5px 0 0 10px;
	text-align: left;
	text-shadow: 0px -1px 0px black;
	border-radius: 4px;
	margin-bottom: 8px;
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.5), 0px 3px 1px -2px rgba(255, 255, 255, .2);
	border: 1px solid #232323;
	width: 161px;
	font-size: 12px;
	cursor: pointer;
	position: absolute;
	top: 61px;
}
#multiple_invoice_options ul {
	width: 174px;
	margin: auto;
}
#multiple_invoice_options .invoice_type, #multiple_invoice_options .invoice_type input, #multiple_invoice_options .invoice_type label{
	cursor: pointer;
}
.right_ninety_degrees {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
}
#expand_indicator {
	position: relative;
	float: right;
	right: 8px;
}
#invoice_box_holder .delete_billing, #invoice_box_holder .delete_invoice {
	display: none;
}
#invoice_box_holder .recurring_billing_box:hover .delete_billing {
	float: right;
	height: 27px;
	width: 41px;
	background: -webkit-linear-gradient(top, #d14d4d, #c03939);
	background: -moz-linear-gradient(top, #d14d4d, #c03939);
	margin-top: 7px;
	border-radius: 7px;
	margin-right: 5px;
	display: block;
}
#invoice_box_holder .recurring_billing_box:hover .delete_billing span {
	position: relative;
	bottom: 6px;
	left: 2px;
	font-size: 13px;
	color: white;
}
#invoice_box_holder .invoice_box:hover .delete_invoice {
	float: right;
	height: 19px;
	width: 41px;
	background: -webkit-linear-gradient(top, #d14d4d, #c03939);
	background: -moz-linear-gradient(top, #d14d4d, #c03939);
	margin-top: 7px;
	border-radius: 7px;
	margin-right: 5px;
	display: block;
	position: relative;
	bottom: 10px;
}
#invoice_box_holder .invoice_box:hover .delete_invoice span {
	position: relative;
	bottom: 3px;
	left: 0px;
	font-size: 13px;
	color: white;
}
#invoice_box_holder .recurring_billing_box_holder, #invoice_box_holder .invoice_box_holder{
	max-height: 300px;
	overflow: auto;
}
#create_new_recurring_billing, #create_new_invoice, #create_multiple_invoices	 {
	width:200px;
	margin:0px auto 20px;
	cursor: pointer;
}
#invoice_creation_options {
	padding-top:150px;
	height:250px;
}
#cboxTitle #customer_name {
	background:none;
	color:white;
	margin-left:14px;
	padding:1px 3px;
	font-size:16px;
}
#cboxTitle #customer_name::-webkit-input-placeholder {
	color:white;
}
#new_quickbuttons a.quickbutton_menu {
	background: url(../images/icons/arrow_right.png) no-repeat 155px center, #349ac5; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#349ac5', endColorstr='#4173b3'); /* for IE */
	background: url(../images/icons/arrow_right.png) no-repeat 155px center,  -webkit-linear-gradient(top, #349ac5, #4173b3);
	background: url(../images/icons/arrow_right.png) no-repeat 155px center,  -moz-linear-gradient(top,  #349ac5,  #4173b3); /* for firefox 3.6+ */
}
#demo_button {
	width:160px;
}
#customer_info_filled, #amount_due, #make_payment {
	width:100%;
	background:white;
}
#pagination {
	background:#fff;
	border-top:#b2b2b2 solid 4px;
	height:20px;
	box-shadow:0px 1px 0px 0px #cdcdcd, 0px 4px 0px -1px white, 0px 5px 0px -1px #cdcdcd, 0px 9px 0px -3px white, 0px 10px 12px 0px black;
	text-align:left;
	padding:7px 0px 0px 8px;
}
#pagination a {
	color:#333333;
}
#pagination strong {
	background:none;
	color:#2d88ba;
}
.transaction_info {
	box-shadow:0px 12px 0px -10px #ccc;
}
.register_taxes, #register_total div, #taxable_box div {
	float:right;
}
#taxable_box .left {
}
#taxable_box .right {
	width:50px;
}
.payment_column_1 {
	float:left;
	width:160px;
}
.payment_column_2 {
	float:left;
	width:250px;
}
.payment_column_2 span.disabled {
	opacity:.3;
}
.due_amount, .due_amount_label {
	float:right;
	font-size:18px;
	font-weight: bold;
	padding:0px;
	margin-top:8px;
	color:#333;
}
.due_amount {
	padding:0px 10px 0px 0px;
	width:100px;
	text-align:right;
}
.due_amount_label {
}
#payment_html_contents #member_account_info,#payment_html_contents #member_account_info_3{
	width: 247px;
	float: right;
}
#payment_html_contents #member_account_info label{
	width: auto;
}
#payment_html_contents #member_account_info #amount_tendered{
	width: 89px;
}
#payment_html_contents .delete_item{
	float: right;
	padding: 0;
	margin: 3px 7px 0 0;
}
.payments_and_tender {
	float:right;
	width:370px;
}
.subtotal_box div.float{
	float:left;
}
.search_for_customer_message {
	background:url(../images/sales/customer_search_default.png) no-repeat 120px 0px;
	height:40px;
}
.table_number_label {
	float: left;
	background: #DF5A5A;
	color: white;
	width: 65px;
	margin: 5px 0px 0px 5px;
	height: 39px;
}
.price_box {
	height: 39px;
	border: 1px solid #E7E7E7;
	float: left;
	margin: 4px 0px 0px 0px;
	border-left: none;
	width: 99px;
	text-align: right;
	padding-right: 5px;
	font-size: 16px;
	line-height: 39px;
}
#payments_button, #finish_sale_button span, #finish_sale_button_2 span, #finish_sale_no_receipt_button span, #finish_sale_no_receipt_button_2 span, #do_not_finish_sale_button span,
#teetime_delete, #closed_delete, #event_delete, #shotgun_delete, #teetime_save, #facebook_content input, #return_to_sales, #return_to_tee_sheet, #teetime_purchase {
	background: #349ac5; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#349ac5', endColorstr='#4173b3'); /* for IE */
	background: -webkit-linear-gradient(top, #349ac5, #4173b3);
	background: -moz-linear-gradient(top,  #349ac5,  #4173b3); /* for firefox 3.6+ */
	color: white;
	display: block;
	font-size: 14px;
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	padding: 0px 20px 0 20px;
	text-align: center;
	text-shadow: 0px -1px 0px black;
	border-radius: 4px;
	margin-bottom: 10px;
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.5), 0px 3px 1px -2px rgba(255, 255, 255, .2);
	border: 1px solid #232323;
	margin: 0px auto 10px;
	width:150px;
	cursor:pointer;
}
#sales #nav_buttons {
	width:410px;
	margin:auto;
}
#return_to_sales, #return_to_tee_sheet {
	float:left;
	margin-right:5px;
}
#do_not_finish_sale_button span {
	background: #d14d4d; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d14d4d', endColorstr='#c03939'); /* for IE */
	background: -webkit-linear-gradient(top, #d14d4d, #c03939);
	background: -moz-linear-gradient(top,  #d14d4d,  #c03939); /* for firefox 3.6+ */
}
#profile_picture {
	height:100px;
	width:100px;
	display:block;
	background:url(../images/profiles/profile_picture.png) no-repeat;
	float:left;
}
.pay_box {
	float:left;
	width:400px;
}
#open_cash_drawer {
	width:125px;
}
#loaded_customer_name {
	color:#333;
}
.profile_info {
	width:100%;
	padding-top:5px;
}
.profile_info .payment_info {
	float:right;
	color:#4f8fc3;
}
.profile_info .contact_info {
	float:left;
	padding-left:10px;
	font-size:15px;
	color:#333;
}
#add_email_form .submit_button {
	margin-bottom: 13px;
}
#customer_email, #customer_phone {
	font-size:16px;
	padding-left:25px;
	margin-bottom: 5px;
}
#customer_email a, #customer_phone a {
	color:#4F8FC3;
}
#customer_account_balance, #customer_member_balance, #customer_giftcard, #loyalty_balance, #invoice_balance, #loyalty_off {
	font-size:16px;
	padding-right:10px;
	margin-bottom:6px;
	width:325px;
	text-align:right;
}
#customer_account_balance, #customer_member_balance, #invoice_balance {
	cursor:pointer;
}
#customer_account_balance {
	padding-top:15px;
}
#profile_account_number {
	bottom:0;
	padding:2px;
	margin-left:25px;
	font-size:15px;
	color:#333;
	margin-bottom: 3px;
}
/* Reports section */
ul#report_list {
	margin:auto;
}
/* Home section */
#content_area #home_module_list {
	background:white;
	margin:auto;
	width:1160px;
	padding:0px 30px 100px;
	box-shadow:0px 5px 25px 6px #000000;
}
#top_logo {
	height: 200px;
	background: url(../images/home/logo_big.png) no-repeat center 50px;
	margin-bottom: 10px;
}
.one_third {
	width:33%;
	float:right;
}
#software_img {
	background: url(../images/home/software.png) no-repeat center 0px;
	height: 280px;
}
#websites_img {
	background: url(../images/home/websites.png) no-repeat center 0px;
	height: 280px;
}
#apps_img {
	background: url(../images/home/apps.png) no-repeat center 0px;
	height: 280px;
}
.home_title {
	text-align: center;
	font-size: 30px;
	margin: 10px 0px;
	color: #333;
	font-weight: bold;
}
.home_text_box {
	background: #E1E1E1;
	padding: 15px 10px;
	width: 300px;
	height: 100px;
	border-radius: 5px;
	vertical-align: middle;
	margin: auto;
	font-size: 14px;
	color: #333;
	font-weight: lighter;
}

/* Settings page */
#settings_box {
	width:1200px;
	margin:auto;
}
#config ul.tabs {
	background:url(../images/backgrounds/top_bar_bg_black.png) repeat-x;
	border-right: 1px solid black;
	border-left: 1px solid black;
	height:37px;
	width:100%;
	margin:0px;
}
#config_info {
	width:100%;
}
#config .tab_container {
	width:100%;
	margin:0px;
}
#config ul.tabs li {
	height:33px;
	line-height:33px;
	margin:3px 2px 0px 0px;
	border-radius:5px 5px 0px 0px;
}
#config ul.tabs li a {
	font-size:16px;
	border-radius:5px 5px 0px 0px;
	width:auto;
	padding:0px 20px;
}
#config .settings_title {
	background: none;
	color: white;
	border: none;
	width: 200px;
	font-size: 18px;
	padding-left: 20px;
}
#config #name, #config #address, #config #email, #config #website {
	width:280px;
}
#config #new_button {
	margin-right:15px;
}
#config input[type=submit], #add_terminal, #add_loyalty_rate, .terminal_button, .loyalty_button,#add_daily_specials {
	background: #349AC5;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#349ac5', endColorstr='#4173b3');
	background: -webkit-linear-gradient(top, #349AC5, #4173B3);
	background: -moz-linear-gradient(top, #349AC5, #4173B3);
	color: white;
	display: block;
	font-size: 14px;
	font-weight: normal;
	height: 32px;
	padding: 0px;
	width: 140px;
	text-align: center;
	text-shadow: 0px -1px 0px black;
	border-radius: 4px;
	margin-bottom: 10px;
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.5), 0px 3px 1px -2px rgba(255, 255, 255, .2);
	border: 1px solid #232323;
	margin-top:15px;
}
#use_terminals, #use_loyalty {
	float:left;
}
#loyalty_notes {
	font-size:12px;
}
#add_terminal, #add_loyalty_rate,#add_daily_specials {
	display: inline-block;
    line-height: 36px;
    margin-left: 10px;
    cursor:pointer;
    margin-top:0px;
}
.terminal_button, .loyalty_button {
	margin:auto;
	line-height:36px;
	cursor:pointer;
	margin-top:5px;
	margin-bottom:5px;
}
#terminal_selector {
	padding:15px 10px;
}
#terminal_selector h2 {
	margin:auto auto 15px;
	text-align:center;
}
#config #default_tax_1_name, #config #default_tax_2_name {
	width:100px;
}
/* Inventory Styles */
#item_basic_info #item_number, #item_basic_info #name, #item_basic_info #department, #item_basic_info #category, #item_basic_info #subcategory {
	width:200px;
}
#tax_name_1, #tax_name_2 {
	width:120px;
}
#item_basic_info #description, #item_kit_info #description {
	width:700px;
}
#cboxContent {
	background:#efefef;
}
#item_basic_info #file_path, #giftcard_basic_info #file_path {
	width:98%;
	padding:0px;
	border:none;
	box-shadow:none;
	font-size:12px;
}
#template_link {
	margin-left:10px;
}
#item_kit_items_list {
	padding:0px 15px;
}
#item_form, #giftcard_form, #account_transaction_form, #loyalty_transaction_form, #teesheet_settings_form, #sales_settings_form {
	padding:20px 15px 15px;
}
#item_form .item_name, #giftcard_form .item_name, #account_transaction_form .item_name, #loyalty_transaction_form .item_name {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}
#item_form .item_number, #item_form .current_quantity, #item_form .item_category, #account_transaction_form .item_number, #account_transaction_form .current_quantity, #loyalty_transaction_form .item_number, #loyalty_transaction_form .current_quantity {
	font-size:16px;
}
#item_form #trans_comment, #account_transaction_form #trans_comment, #loyalty_transaction_form #trans_comment {
	width:500px;
	float:left;
}
#item_form #submit, #account_transaction_form #submit, #loyalty_transaction_form #submit {
	float: left;
	padding: 0px 35px;
	height: 32px;
	margin-top:10px;
}
#item_form .popup_divider, #account_transaction_form .popup_divider, #loyalty_transaction_form .popup_divider {
	height:25px;
}
#item_form .quantity_controls, #account_transaction_form .quantity_controls, #loyalty_transaction_form .quantity_controls {
	height: 30px;
	background: #CCC;
	border-radius: 4px;
	width: 150px;
	padding:8px;
	box-shadow:0px 1px 2px 0px white;
}
#account_transaction_form .quantity_controls, #loyalty_transaction_form .quantity_controls {
	width:190px;
}
#item_form #newquantity, #account_transaction_form #add_subtract, #loyalty_transaction_form #add_subtract {
	width:85px;
	margin-left:4px;
	text-align:center;
}
#item_form #newquantity.negative_balance, #account_transaction_form #add_subtract.negative_balance, #loyalty_transaction_form #add_subtract.negative_balance {
	color: red;
}
#item_form #newquantity {
	width:45px;
}
.pos_neg_buttonset .ui-button-text {
	padding:2px 12px;
}
.pos_neg_buttonset .ui-button {
	padding:2px 5px 2px;
}
.item_kit_item_box {
	float: left;
	margin-right: 10px;
	background: #DDD;
	border-radius:5px;
	margin-bottom:8px;
}
#item_kit_form {
	padding:10px;
}
.item_kit_item_box .item_delete {
	float:left;
	height: 30px;
	line-height: 30px;
	padding: 0px 10px;
}
.item_kit_item_box .item_name {
	float:left;
	height:30px;
	line-height:30px;
	padding-right:10px;
}
.item_kit_item_box .quantity {
	float:right;
}

/* Customers Styls */
#groups_container, #passes_container, #holidays_container {
	background:#dddddd;
	margin:0px 15px 15px;
	padding:15px;
}
.group_label, .items_label, .pass_label, .holiday_label, .holiday_date {
	font-size:14px;
	color:#666464;
	font-weight: lighter;
	padding:4px;
}
#customers .account_history a {
	font-size: 16px;
	color: black;
	cursor: pointer;
	margin-top: 5px;
}
#config .holiday_date_input, #config #holiday_date {
	width:80px;
	margin-left:4px;
}
#customers .delete_item, #customers .save_item, #config .delete_item, #config .save_item{
	background: #d14d4d; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d14d4d', endColorstr='#c03939'); /* for IE */
	background:url("../images/icons/icons.png") no-repeat -86px -325px, -webkit-linear-gradient(top, #d14d4d, #c03939);
	background:url("../images/icons/icons.png") no-repeat -86px -325px, -moz-linear-gradient(top,  #d14d4d,  #c03939); /* for firefox 3.6+ */
	height: 28px;
	width: 26px;
	display: block;
	overflow: hidden;
	text-indent: -10000px;
	float: right;
	padding:0px;
	margin:0px 3px 0px 0px;
	border-radius: 4px;
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.5), 0px 3px 1px -2px rgba(255, 255, 255, .2);
	border: 1px solid #232323;
}
#customers .save_item, #config .save_item {
	background: #349ac5; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#349ac5', endColorstr='#4173b3'); /* for IE */
	background:url("../images/icons/icons.png") no-repeat -86px -285px, -webkit-linear-gradient(top, #349ac5, #4173b3);
	background:url("../images/icons/icons.png") no-repeat -86px -285px, -moz-linear-gradient(top,  #349ac5,  #4173b3); /* for firefox 3.6+ */
}
#customers span.delete_item {
	margin-right:30px;
}
#customer_groups div.form_field, #customer_passes div.form_field, #holidays_fs div.form_field {
	line-height:30px;
	margin-bottom:5px;
}
#customer_groups #groups_container div.form_field, #customer_passes #passes_container div.form_field, #holidays_fs #holidays_container div.form_field{
	width:210px;
	float:left;
}
#holidays_fs #holidays_container div.form_field{
	width:300px;
}
#customer_groups #groups_container input, #customer_passes #passes_container input {
	width:110px;
}
#new_group, #new_pass, #new_holiday, #holiday_date {
	width:225px;
	margin:10px 5px 0px;
	padding:4px 4px 4px 14px;
}
#add_group_button, #add_items_button, #add_pass_button, #add_holiday_button {
	background: #349ac5; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#349ac5', endColorstr='#4173b3'); /* for IE */
	background: -webkit-linear-gradient(top, #349ac5, #4173b3);
	background: -moz-linear-gradient(top,  #349ac5,  #4173b3); /* for firefox 3.6+ */
	color: white;
	font-size: 14px;
	font-weight: normal;
	height: 22px;
	padding: 6px 40px;
	width: 180px;
	text-align: center;
	text-shadow: 0px -1px 0px black;
	border-radius: 4px;
	margin-bottom: 10px;
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.5), 0px 3px 1px -2px rgba(255, 255, 255, .2);
	border: 1px solid #232323;
}
.groups_title, .groups_subtitle, .passes_title, .passes_subtitle, .holidays_title, .holidays_substitle {
	font-size:14px;
	font-weight:bold;
	padding-left:4px;
}
.groups_subtitle, .passes_subtitle {
	font-weight: normal;
	margin-bottom:15px;
}
/* Marketing Section */
#marketing_campaign_contents {
	color:#333;
}
#marketing_campaign_types {
	background:#848484;
}
#marketing_campaign_types div.selected {
	background:#efefef;
	box-shadow:none;
}
.marketing_campaign_type {
	width: 120px;
	height: 30px;
	border-radius: 4px 4px 0px 0px;
	background: #DBDBDB;
	margin: 6px 6px 0px;
	float: left;
	text-align: center;
	line-height: 35px;
	font-size: 18px;
	color:#333333;
	box-shadow:inset 0px -2px 8px -6px black;
	cursor:pointer;
}
#marketing_campaign_options, #recipient_count_holder {
	padding:20px 0px 0px 10px;
}
#recipient_count_holder {
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 5px;
}
#recipient_list {
	border-top: 1px solid #b1b1b1;
	border-bottom: 1px solid #b1b1b1;
	padding: 5px 0px 5px 10px;
}
#for-edit-holder {
	/*width: 600px;*/
	margin: 10px 10px 0px 10px;
	padding: 0px 4px 4px;
	background: white;
	box-shadow: 0px 20px 72px -20px black;
}
#template_placeholder {
	text-align: center;
	padding: 160px 20px;
	color: #CCC;
	background:url(../images/marketing/default.png) no-repeat;
}
#subject_holder {
	border-bottom:1px solid #d4d4d4;
}
input#campaign_subject, input#campaign_send_date {
	box-shadow: none;
	background:transparent;
	margin: 10px 0px 5px 5px;
	font-size: 18px;
}
input#campaign_subject {
	width:98%;
	border: none;
}
#marketing_campaign_send_date {
	margin: 40px 10px 0px;
	border-top: 1px solid #CCC;
	padding: 10px 5px;
	border-bottom: 1px solid #CCC;
}
#marketing_campaign_send_date label {
	font-size: 18px;
	margin-right: 20px;
	font-weight: bold;
}
#marketing_campaign_buttons input#submitButton {
	float: right;
	margin-right: 10px;
	margin-left:0px;
}
#marketing_campaign_buttons input#saveButton {
	background: #a5a5a5; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5a5a5', endColorstr='#858585'); /* for IE */
	background: -webkit-linear-gradient(top, #a5a5a5, #858585);
	background: -moz-linear-gradient(top,  #a5a5a5,  #858585); /* for firefox 3.6+ */
	float: left;
	margin-left: 10px;
}
#marketing_campaign_buttons {
	margin:15px 0px 5px;
}
#marketing_campaigns .ui-datepicker, #config .ui-datepicker {
	background:rgba(0, 0, 0, 0.8);
}
#recipient_count {
	font-weight:normal;
}
#send_later {
	margin-left:40px;
}
#campaign_send_hour {
	margin:0px 5px;
}
#individual-list li {
	float: left;
	background: #CBDCE8;
	height: 26px;
	line-height: 26px;
	padding: 0px 10px;
	border: 1px solid #2577B6;
	margin-right: 5px;
	border-radius: 5px;
	color: #2577B6;
	font-size: 16px;
	margin-bottom:5px;
}
/* Reports styles */
#filters_holder {
	background:white url(../images/backgrounds/top_bar_bg.png) repeat-x;
	margin-left:10px;
	min-width:1040px;
}
div#report_date_range_simple {
	float:left;
}
div#report_date_range_complex {
	float:left;
	margin-left:20px;
}
#reports_generating_table th {
	height:37px;
	text-indent:10px;
	text-align: left;
	font-size: 16px;
	font-weight: lighter;
	color: white;
}
#reports_generating_table td {
	padding:15px 0px 0px 10px;
}
#reports_generating_table td.buttons_col {
	padding:5px 0px 0px 5px;
}
#reports .ui-datepicker {
	background:rgba(0, 0, 0, 0.8);
}
.sale_id_col {
}
.date_range_col {

}
.date_col {
	display:none;
}
.teesheet_col {
	display:none;
}
.day_split_col {
	display:none;
}
.customer_col {
	display:none;
}
.account_type_col {
	display:none;
}
.invoice_col {
	display:none;
}
.cash_log_col {
	display:none;
}
.giftcard_col {
	display:none;
}
.employee_col {
	display:none;
}
.supplier_col {
	display:none;
}
.deparment_col {

}
.category_col {
	display:none;
}
.subcategory_col {
	display:none;
}
.sale_type_col {

}
.buttons_col {
	width:160px;
}
.download_col {
	width:46px;
}
.no_calendar .ui-datepicker-calendar {
    display: none;
}
#report_contents .invoice_report
{
	cursor: pointer;
}

#generate_report {
	height:30px;
	margin:0px 10px 5px 0px;
	cursor:pointer;
	width:160px;
	float:right;
}
#generate_report.disabled {
	opacity:.3;
	cursor:default;
}
#commands a.selected_report_type {
	box-shadow:inset -2px 2px 30px 3px black;
}
#report_holder #report_contents {
	background:white;
}
#report_holder {
	margin-left:10px;
}
#teesheet_download_button:hover #download_options {
	display:block;
}
#teesheet_download_button #download_options {
	background: #349ac5; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#349ac5', endColorstr='#4173b3'); /* for IE */
	background: -webkit-linear-gradient(top, #349ac5, #4173b3);
	background: -moz-linear-gradient(top,  #349ac5,  #4173b3); /* for firefox 3.6+ */
	color:white;
	display:none;
	margin: 28px 6px 0px 0px;
	border: 1px solid #135482;
	border-radius: 4px;
	width:28px;
	padding:2px;
	z-index:9;
	position:absolute;
}
#download_options ul li {
	width:30px;
	text-align:center;
	border-radius:3px;
	font-size:12px;
	text-indent:0px;
}
#download_options ul li:hover {
	background:rgba(255,255,255,.4);
}
#download_options a, #download_options a:visited {
	color:white;
}
#download_options a.disabled {
	opacity:.3;
	cursor:default;
}
#default1 {
	background:white url(../images/reports/default.png) no-repeat center 20px;
	width:100%;
	height:500px;
}
#default2 {
	background:url(../images/reports/default2.png) no-repeat;
	width:1040px;
	height:500px;
}
#default3 {
	background:url(../images/reports/default3.png) no-repeat;
	width:1040px;
	height:500px;
}
#reports #table_holder {
	height:auto;
}
#reports #supplier {
	border:2px inset;
}
#reports #start_date, #reports #end_date, #reports #report_date {
	width:75px;
}
#campaign-form-text {
	display:none;
}
.sale_id_col {
	width:165px;
}
.date_range_col {
	width:330px;
}
.date_col, .customer_col, .giftcard_col, .employee_col, .supplier_col, .teesheet_col, .department_col, .category_col, .subcategory_col, .sale_type_col, .cash_log_col {
	width:110px;
}

/* Employees section */
#address_info_box .ui-widget-content {
	padding:5px 5px 0px 5px;
}
fieldset #address_info_box div.field_row, fieldset #marketing_info_box div.field_row {
	font-size:14px;
}

/* Timeclock entry */
#timeclock_entry_form {
	padding:5px;
}
#timeclock_entry_form #submit {
	float:right;
	margin:0px 4px 0px 0px;
}
#timeclock_entry_form #delete {
	float:left;
	margin:0px 0px 0px 4px;
}
#invoice_box_holder{
	background: white;
	box-shadow:1px 1px 33px -5px black;
	vertical-align:top;
}
.invoice_box_holder {
	max-height:450px;
	overflow:auto;
}
.recurring_billing_box, .invoice_box {
	/*height: 37px;*/
	font-size: 16px;
	line-height: 37px;
	text-indent: 15px;
	border-bottom:1px solid #ddd;
	cursor:pointer;
}
.invoice_box:not(.no_results) {
	line-height:25px;
	font-size:14px;
}
.loaded_invoice {
	background:rgb(255, 255, 142);
}
.invoice_box .total_label{
	display: inli/*ne-block;
	width: 118px;*/
}
.invoice_date {
	float: right;
	padding-right: 15px;
}
.invoice_box_title {
	background: url(../images/backgrounds/top_bar_bg.png) no-repeat;
	height: 37px;
	color: white;
	font-size: 16px;
	text-shadow: 0px -1px 1px black;
	line-height: 37px;
	text-indent: 15px;
}
#new_recurring, #new_invoice, #save_invoice {
	float: right;
	padding: 0px;
	border: 1px solid #369;
	width: 39px;
	margin-right: 5px;
	height: 28px;
	margin-top: 4px;
	border-radius: 7px;
	line-height: 28px;
	cursor: pointer;
	background: rgba(255,255,255,0.2);
}
#invoice_time_options #save_invoice {
	width:70px;
	text-align:center;
	float:right !important;
	margin-right: 10px;
}
.time_options_row {
	width: 100%;
}
#time_options_box #advanced_options {
	/*float:right;*/
	margin-left: 25px;
}
#time_options_box #advanced_options:hover {
	cursor: pointer;
}
.editable_area {
	background: rgb(237, 255, 145);
	box-shadow: 1px 1px 1px 1px #666;
	margin: 0px 0px;
	float: left;
	padding: 2px 5px;
}
#invoice_time_options {
	background: url(../images/backgrounds/top_bar_bg.png) no-repeat;
	height: 37px;
	line-height: 37px;
	width: 88%;
	margin: auto;
	overflow: hidden;
}
#billing_info .advanced{
	background: url(../images/backgrounds/top_bar_bg.png) repeat-y;
	height: 74px;
	overflow: default;
}
#billing_info #invoice_time_options input[type="text"] {
	height:12px;
}
#invoice_time_options div div, #invoice_time_options #save_invoice {
	float:left;
	margin-left:5px;
	color:white;
	text-shadow:1px -1px 1px black;
}
#company_address .editable_area {
	float:right;
}
#invoice_time_options #start_date {
	font-size: 14px;
	line-height: 16px;
	padding: 4px;
	margin-left: 5px;
	width:90px;
}

/* Customers bulk edit form */
#customer_form .group_add .form_field {
	float: left;
	background: #CBDCE8;
	height: 26px;
	line-height: 26px;
	padding: 0px 10px;
	border: 1px solid #2577B6;
	margin-right: 5px;
	border-radius: 5px;
	color: #2577B6;
	font-size: 16px;
	display: inline-block;
}

#customer_form .group_remove .form_field {
	float: left;
	background: #CBDCE8;
	height: 26px;
	line-height: 26px;
	padding: 0px 10px;
	border: 1px solid red;
	margin-right: 5px;
	border-radius: 5px;
	color: red;
	font-size: 16px;
	display: inline-block;
}

#customer_form .group_add.group_checkboxes, #customer_form .group_remove.group_checkboxes {
	background: #DDDDDD;
	width: 98%;
}

#customer_form .group_add.group_checkboxes .float_left, #customer_form .group_remove .field_row.float_left {
	float: left;
	margin: 5px 0px;
}

#customer_form .group_checkboxes .hidden {
	display: none;
}

#customer_form .group_add .field_row.float_left, #customer_form .group_remove .field_row.float_left {
	padding-bottom: 0px;
}

#schedules #track_rows .form_field .hidden {
	display:none;
}
#opening_amount_form, #closing_amount_form {
	background:white;
	width:700px;
	margin:10px auto 0px;
	box-shadow:0 1px 0 0 #CDCDCD, 0 3px 0 -1px white, 0 4px 0 -1px #CDCDCD, 0 7px 0 -3px white, 0 8px 0 -3px #CDCDCD, 0 12px 0 -5px white, 0 3px 14px 4px black, 0 14px 14px 0px black;
	padding:20px;
	text-align:center;
}
#opening_amount, #closing_amount {
	margin-top:20px;
}
#delete_items_basic_info .field_row input, #delete_customers_basic_info .field_row input {
	float:left;
	margin:10px;
}
fieldset#delete_items_basic_info div.field_row label, fieldset#delete_customers_basic_info div.field_row label {
	width:400px;
}
#colorbox fieldset#delete_items_basic_info input#submit, #colorbox fieldset#delete_customers_basic_info input#submit {
	margin::20px 42% 5px;
}
.marker_box {
	padding:10px 0px 0px 80px;
}
#teed_off_time, #turn_time {
	width:80px;
	float:left;
}
#teed_off_time {
	margin-right:10px;
}
#teed_off_label, #turn_label {
	float:left;
	line-height: 32px;
	padding: 0px 5px 0px 0px;
}
#remove_teed_off_time, #remove_turn_time {
	margin:10px 0px 0px 0px;
	cursor:pointer;
}
#terminal_list, #loyalty_rate_list {
	float:left;
}
#terminal_list input, #loyalty_rate_list input {
	margin-bottom:4px;
	margin-right:8px;
}
.delete_terminal, .delete_loyalty,.delete_specials {
	margin-top:6px;
	float:left;
	cursor:pointer;
}
.delete_loyalty {
	margin-top:0px;
}
#loyalty_rate_list table {
	text-align:left;
}
.quickbutton_tab {
	padding: 2px 23px 2px;
	border: 1px solid #232323;
	color:white;
	cursor:pointer;
	display:block;
	font-size:14px;
	font-weight:normal;
	background:-webkit-linear-gradient(top, #9C9C9C, #797979);
	line-height:22px;
	text-align:center;
	text-shadow:0 -1px 0 black;
	position:relative;
	float:left;
	height:22px;
	margin-bottom:8px;
}
.quickbutton_tab.selected {
	box-shadow: -2px 2px 30px 3px black inset;
}
#qb_tab_1 {
	border-radius: 4px 0 0 4px;
	border-right:none;
}
#qb_tab_3 {
	border-radius: 0 4px 4px 0;
	border-left:none;
}
.groups_list div {
	text-indent:24px;
	font-size:12px;
}
.course_message {
	padding: 12px;
	background: rgba(30,50,90,0.7);
	color: white;
	font-size:14px;
	margin: 0px 5px 5px;
	border: rgba(30,50,90,0.9);
}
.course_message .date_posted {
	color: rgba(255, 255, 255, 0.4);
	font-size: 10px;
	margin-right: 10px;
}
.course_message .mark_as_read {
	float: right;
	border: 1px solid rgba(255, 255, 255, 0.4);
	padding: 1px 5px;
	color: rgba(255, 255, 255, 0.4);
	cursor:pointer;
	margin-top:-2px;
}
#message_box {
	background: white;
	margin-bottom: 10px;
	max-height:200px;
	padding-bottom:2px;
	overflow:auto;
}
#message_box .date_posted {
	box-shadow: 0px 4px 0px -3px #dedede;
	font-size: 9px;
	color: #dedede;
	text-align: right;
	padding-right: 5px;
}
#message_box .message {
	padding:5px;
}
#tee_time_credit_card_row {
	padding-left:15px;
}
#add_teetime_credit_card {
	border-radius:4px;
	padding:2px 5px;
	cursor:pointer;
	background: -webkit-linear-gradient(top, #9c9c9c, #797979);
	color:white;
	display:block;
	text-align: center;
	text-shadow: 0px -1px 0px black;
	line-height: 20px;
	border: 1px solid #232323;
	width: 50px;
	font-size: 10px;
	float:left;
	margin-right:5px;
}
#food_and_beverage .receipt .title-header {
	border-bottom:1px solid #ccc;
	font-weight:bold;
}
#food_and_beverage .receipt .title span {
	font-size:12px;
	padding:9px 0px 0px 0px;
}
#food_and_beverage .receipt .fnb_gratuity {
	height:14px;
	margin:4px 0px 0px 6px;
	font-size:18px;
}
.sidebar{
    width:1300px;
}
.pricing_buttons{
    text-align:center;
}
.pricing_buttons div{
    display:inline-block;
}
.teetime_price_classes{
    font-size: 18px;
    width: 194px;
}
.pricing_teetimes{
    width: 80px;
}
.pricing_teesheet{
    margin-left: 35px;
    margin-top: 20px;
}
.pricing_holes{
    display: none;
}
tr.noBorder td {
    border: 0;
    height: 40px; 
}
.hole_prices{
    font-size: 14px;
}
.cell_border{
    border: 1px solid;
}
#popupDatepicker{
    margin-left: 10px;
}
.edit_specials {
	margin-top: 6px;
	float: left;
	cursor: pointer;
	background: transparent url("../images/pieces/edit.png") no-repeat scroll 0px -1px;
	text-indent: 2000px;
	width: 14px;
	height: 14px;
	display: block;
	margin-right: 5px;
}
.special_am{
width: 760px !important;
}
.button_submit{
margin-left: 325px !important;
}
.dailyspecials{
margin-top:20px;
}
.special_labels{
	width: 164px !important;
}
#special_name{
	width: 320px !important;
}
.special_prices{
	margin-left: 30px;
}
.special_teetimes{
	float:left;
	min-width: 110px;
}	
.specials_enabled{
	font-weight:bold; 
	font-size: 13px;
}
#specials_enabled{
	margin-left: 20px;
}
.enabled_specials{
	margin-left:20px;
	float:left;
}
.add_specials{
	float:right;
	margin-right:10px;
	height: 24px !important;
	padding: 2px !important;
}

.special_table th {
	overflow: hidden;
}

.special_time{
	width: 360px;
}

.special_table td {
	background-color: #FFFFFF;
	border-bottom: 1px solid #B2B2B2;
    border-right: 1px solid #B2B2B2;
    color: #555555;
    font-size: 18px;
    height: 30px;
    padding: 0 6px;
    vertical-align: top;
}

.special_table th {
	padding: 0px;
}

.special_table .header_cell {
	margin-left: 0px !important;
}

.special_table {
	margin: 15px;
	width: auto;
}

.special_table .price {
	width: 70px;
}

.special_table .date {
	width: 120px;
}

.specials_top {
	overflow: hidden;
	height: 30px;
	padding: 10px;
	line-height: 30px;
}

#daily_specials {
	margin: 0px 0px 5px 0px;
}

#add_daily_specials {
	float: right;
}
