 .inline_button{
	display:inline-block;
	line-height:24px;
	height:24px;
	width:120px;
}
.column_left{
	display:block;
	float:left;
	width:18%;
	clear:both;
	margin-top:0;
}
.column_main{
	display:block;
	float:right;
	border-left:1px solid #eee;
	padding-left:2%;
	width:75%;
}
.season,
.pricing,
.teesheet{
	display:inline-block;
	border:1px solid #eee;
	padding:10px;
	margin:10px;
	cursor:pointer;
	height:120px;
	width:120px;
	vertical-align:top;
	word-wrap:break-word;
}
.season:hover,
.pricing:hover,
.teesheet:hover{
	background-color:#eee;
	cursor:pointer;
}
.breadcrumbs{
	display:inline-block;
	margin-left:2%;
}
.columns_container{
	margin-top:20px;
}
.crumb_link{
	cursor:pointer;
	color:blue;
}
.crumb_link:hover{
	color:#0099FF;
}
#config_green_fees_form .centered_submit{
	display:none;
}
.holiday{
	background-color:#F2FFFF;
}
input[type="text"]:disabled
{
background:#dddddd;
}