<div class="modal-content bootstrap-fu">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <i class="fa fa-question-o pull-right header-icon"></i>
        <h4 class="modal-title">
            Online Reservation Group
        </h4>
    </div>
    <div class="modal-body container-fluid">
        <div class="modal-content">
            <div class="special-settings">
                <div class="special-settings-header col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="businessName" class="col-md-12 control-label">Timeframe Name</label>
                            <div class="col-md-12">
                                <input class="form-control" type="text" value="" name="businessName" id="businessName" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="businessName" class="col-md-12 control-label">Date</label>
                            <div class="col-md-12">
                                <input class="form-control" type="text" value="" name="businessName" id="businessName" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="special-settings-body col-md-12">
                    <table>
                        <thead>
                            <tr>
                                <th>PRODUCT</th>
                                <th>GREEN</th>
                                <th>CARTS</th>
                                <th>TIME RESTRICTIONS</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="special-settings-footer col-md-12">
                    <button class="btn btn-muted pull-left" data-dismiss="modal">+</button>
                </div>
            </div>
        </div>
    </div>
    <div class="customer-info clearfix"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-muted pull-left" data-dismiss="modal">Close</button>
    <button class="btn btn-primary pull-right" id="save-changes">Save Changes</button>
</div>
</div>
