<div class="modal-content bootstrap-fu">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <i class="fa fa-question-o pull-right header-icon"></i>
        <h4 class="modal-title">
            Online Reservation Group
        </h4>
    </div>
    <div class="modal-body container-fluid">
        <div class="modal-content">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="businessName" class="col-md-12 control-label">Online Booking Group Name</label>
                    <div class="col-md-12">
                        <input class="form-control" type="text" value="" name="businessName" id="businessName" />
                    </div>
                </div>
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="invoiceEmailSame" name="invoiceEmailSame" />
                    <label for="invoiceEmailSame" class="control-label">Password Protect Group</label>
                </div>
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="invoiceEmailSame" name="invoiceEmailSame" />
                    <label for="invoiceEmailSame" class="control-label">Display Booked Times and Names</label>
                </div>
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="invoiceEmailSame" name="invoiceEmailSame" />
                    <label for="invoiceEmailSame" class="control-label">Allow Player Name Entry</label>
                </div>
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="invoiceEmailSame" name="invoiceEmailSame" />
                    <label for="invoiceEmailSame" class="control-label">Use Customer Pricing</label>
                </div>
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="invoiceEmailSame" name="invoiceEmailSame" />
                    <label for="invoiceEmailSame" class="control-label">Hide Prices Online</label>
                </div>
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="invoiceEmailSame" name="invoiceEmailSame" />
                    <label for="invoiceEmailSame" class="control-label">Require Credit Card Online</label>
                </div>
                <div class="form-group">
                    <label for="dateFormat" class="col-md-12 control-label">Online Open Time</label>
                    <div class="col-md-12">
                        <%=_.dropdown(SettingsRestModelDropdownOptions.halfHours, {"name":"date_format", "id":"date-format", "class":"form-control"}, 1)%>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dateFormat" class="col-md-12 control-label">Online Closing Time</label>
                    <div class="col-md-12">
                        <%=_.dropdown(SettingsRestModelDropdownOptions.halfHours, {"name":"date_format", "id":"date-format", "class":"form-control"}, 1)%>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dateFormat" class="col-md-12 control-label">Days In Booking Window</label>
                    <div class="col-md-12">
                        <%=_.dropdown(SettingsRestModelDropdownOptions.daysInBookingWindow(), {"name":"date_format", "id":"date-format", "class":"form-control"}, 1)%>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dateFormat" class="col-md-12 control-label">Minimum Players</label>
                    <div class="col-md-12">
                        <%=_.dropdown({"4":"4","3":"3","2":"2","1":"1"}, {"name":"date_format", "id":"date-format", "class":"form-control"}, 1)%>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dateFormat" class="col-md-12 control-label">Online Rates Allowed</label>
                    <div class="col-md-12">
                        <%=_.dropdown({"0":"Walking","2":"Riding","1":"Both"}, {"name":"date_format", "id":"date-format", "class":"form-control"}, 1)%>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dateFormat" class="col-md-12 control-label">Minimum Holes</label>
                    <div class="col-md-12">
                        <%=_.dropdown({"0":"No Limit","9":"9 Only","18":"18 Only"}, {"name":"date_format", "id":"date-format", "class":"form-control"}, 1)%>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dateFormat" class="col-md-12 control-label">Allow Online Payment</label>
                    <div class="col-md-12">
                        <%=_.dropdown({"0":"Not Allowed","1":"Optional","2":"Required"}, {"name":"date_format", "id":"date-format", "class":"form-control"}, 1)%>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="to-date" class="col-md-12 control-label">Available Customer Groups</label>
                    <div class="col-md-12">
                        <textarea class="form-control" type="text" value="" name="to_date" id="to-date"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="to-date" class="col-md-12 control-label">Available Applicable Passes</label>
                    <div class="col-md-12">
                        <textarea class="form-control" type="text" value="" name="to_date" id="to-date"></textarea>
                    </div>
                </div>
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="invoiceEmailSame" name="invoiceEmailSame" />
                    <label for="invoiceEmailSame" class="control-label">Require Booking Fee</label>
                </div>
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="invoiceEmailSame" name="invoiceEmailSame" />
                    <label for="invoiceEmailSame" class="control-label">Require Booking Fee Per Person</label>
                </div>
                <div class="form-group">
                    <label for="businessName" class="col-md-12 control-label">Booking Fee Item</label>
                    <div class="col-md-12">
                        <input class="form-control" type="text" value="" name="businessName" id="businessName" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="to-date" class="col-md-12 control-label">Booking Fee Terms</label>
                    <div class="col-md-12">
                        <textarea class="form-control" type="text" value="" name="to_date" id="to-date"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="customer-info clearfix"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-muted pull-left" data-dismiss="modal">Close</button>
    <button class="btn btn-primary pull-right" id="save-changes">Save Changes</button>
</div>
</div>
