<form>
    <div class="clearfix">
        <div class="settings-header row">
            <div class="col-md-6 settings-title">General Online Reservations Settings</div>
            <div class="col-md-6">
              <div class="form-group marg-top-10">
                  <label for="tee_sheet_id" class="col-md-12 control-label">Choose Tee Sheet</label>
                  <div class="col-md-12">
                    <%=_.dropdown({}, {"name":"tee_sheet_id", "id":"tee_sheet_id", "class":"form-control"}, 1)%>
                  </div>
              </div>
            </div>
            <div class="settings-subtitle">These settings are used in the Online Booking application.</div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4 tee-sheet-online-general-settings"></div>
        <div class="col-md-8">
          <div class="panel-group settings-panel online-reservation-groups-panel-group">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="panel-title pull-left">
                        Online Reservations Groups
                      </h4>
                      <div class="pull-right form-inline marg-top-3">
                        <div class="btn-group form-group">
                            <button type="button" class="btn add_online_reservation_group btn-primary btn-sm panel-button">Add</button>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="panel-body">
                    <table class="online-reservation-group-table">
                        <thead>
                        <tr>
                            <th>NAME</th>
                            <th>ACTIVE</th>
                            <th>REQUIRE LOGIN</th>
                            <th>PLAYER TYPE</th>
                            <th class="text-center">ACTIONS</th>
                        </tr>
                        </thead>
                        <tbody class="online-reservation-group-list">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-group settings-panel online-specials-panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title pull-left">
                        Online Specials
                    </h4>
                    <div class="pull-right form-inline marg-top-3">
                      <div class="btn-group form-group">
                            <button type="button" class="btn add_online_special btn-primary btn-sm panel-button">Add</button>
                        </div>
                      </div>
                      <div class="clear"></div>
                    </div>
                <div class="panel-body">
                    <table class="online-specials-table">
                        <thead>
                        <tr>
                            <th>NAME</th>
                            <th>DAYS</th>
                            <th>TIMES</th>
                            <th class="text-center">ACTIONS</th>
                        </tr>
                        </thead>
                        <tbody class="online-specials-list">

                        </tbody>
                    </table>
                </div>
              </div>
            </div>
        </div>
    </div>
</form>
