.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

.box-sizing-content {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important; }

.mr-small {
  margin-right: 5px !important; }

.mr-medium {
  margin-right: 10px !important; }

.mr-large {
  margin-right: 20px !important; }

.ml-small {
  margin-left: 5px !important; }

.ml-medium {
  margin-left: 10px !important; }

.ml-large {
  margin-left: 20px !important; }

.mt-small {
  margin-top: 5px !important; }

.mt-medium {
  margin-top: 10px !important; }

.mt-large {
  margin-top: 20px !important; }

.mb-small {
  margin-bottom: 5px !important; }

.mb-medium {
  margin-bottom: 10px !important; }

.mb-large {
  margin-bottom: 20px !important; }

.pr-small {
  padding-right: 5px !important; }

.pr-medium {
  padding-right: 10px !important; }

.pr-large {
  padding-right: 20px !important; }

.pl-small {
  padding-left: 5px !important; }

.pl-medium {
  padding-left: 10px !important; }

.pl-large {
  padding-left: 20px !important; }

.pt-small {
  padding-top: 5px !important; }

.pt-medium {
  padding-top: 10px !important; }

.pt-large {
  padding-top: 20px !important; }

.pb-small {
  padding-bottom: 5px !important; }

.pb-medium {
  padding-bottom: 10px !important; }

.pb-large {
  padding-bottom: 20px !important; }

body {
  font-family: "Roboto", sans-serif;
}

.nav-tabs {
  border-bottom: none; }

.container-fluid {
  padding: 0 18px; }

nav.navbar {
  height: 49px;
  background-color: #4885B1;
  position: relative;
  font-family: 'Roboto', Arial, sans-serif; }
  nav.navbar .navbar-brand {
    padding: 7px 18px 0 0;
    display: inline-block;
    float: left; }
    nav.navbar .navbar-brand img {
      height: 32px; }
  nav.navbar .navbar-toggle {
    display: none; }
  nav.navbar ul.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    min-width: 0; }
    nav.navbar ul.navbar-nav .dropdown {
      position: relative; }
      nav.navbar ul.navbar-nav .dropdown a.dropdown-toggle {
        height: 48px;
        line-height: 44px;
        padding: 0 16px;
        float: none;
        display: inline-block;
        text-align: center;
        font-size: 18px; }
        nav.navbar ul.navbar-nav .dropdown a.dropdown-toggle img {
          max-height: 32px;
          max-width: 32px;
          vertical-align: middle;
          border-radius: 4px;
          margin-right: 8px; }
        nav.navbar ul.navbar-nav .dropdown a.dropdown-toggle .caret {
          display: inline-block;
          width: 0;
          height: 0;
          margin-left: 2px;
          vertical-align: middle;
          border-top: 4px dashed;
          border-right: 4px solid transparent;
          border-left: 4px solid transparent; }
        nav.navbar ul.navbar-nav .dropdown a.dropdown-toggle:hover {
          background: #396a8d;
          color: #fff; }
          nav.navbar ul.navbar-nav .dropdown a.dropdown-toggle:hover span {
            background: none; }
          nav.navbar ul.navbar-nav .dropdown a.dropdown-toggle:hover .caret {
            float: none;
            color: #fff;
            padding: 0; }
      nav.navbar ul.navbar-nav .dropdown ul.dropdown-menu {
        list-style: none;
        padding: 6px 0;
        margin: 0;
        display: none;
        position: absolute;
        left: 0;
        background-color: #fff;
        width: 200px;
        z-index: 999;
        border-radius: 0 0 4px 4px;
        -webkit-box-shadow: 0 1px 18px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 1px 18px rgba(0, 0, 0, 0.4);
        box-shadow: 0 1px 18px rgba(0, 0, 0, 0.4); }
        nav.navbar ul.navbar-nav .dropdown ul.dropdown-menu li a {
          color: #404040; }
          nav.navbar ul.navbar-nav .dropdown ul.dropdown-menu li a:hover {
            color: #404040; }
      nav.navbar ul.navbar-nav .dropdown.isActive a.dropdown-toggle {
        background: #396a8d; }
      nav.navbar ul.navbar-nav .dropdown.isActive ul.dropdown-menu {
        display: block; }
    nav.navbar ul.navbar-nav.navbar-right {
      float: right; }
      nav.navbar ul.navbar-nav.navbar-right ul.dropdown-menu {
        right: 0;
        left: auto; }
      nav.navbar ul.navbar-nav.navbar-right a.dropdown-toggle {
        font-size: 14px; }
  nav.navbar .app-header-apps, nav.navbar .app-header-list {
    width: 470px !important;
    list-style: none;
    margin: 0; }
    nav.navbar .app-header-apps li, nav.navbar .app-header-list li {
      width: 50%;
      float: left;
      line-height: 1.4em;
      display: block; }
      nav.navbar .app-header-apps li:hover, nav.navbar .app-header-list li:hover {
        padding: 0; }
      nav.navbar .app-header-apps li a, nav.navbar .app-header-list li a {
        color: #404040;
        text-align: left;
        padding: 14px;
        line-height: 1.4em;
        display: block;
        float: none;
        cursor: pointer; }
        nav.navbar .app-header-apps li a .app-content, nav.navbar .app-header-list li a .app-content {
          margin-left: 40px; }
        nav.navbar .app-header-apps li a .app-name, nav.navbar .app-header-list li a .app-name {
          font-size: 18px;
          font-weight: 400;
          margin-bottom: 4px;
          color: #404040; }
        nav.navbar .app-header-apps li a .app-description, nav.navbar .app-header-list li a .app-description {
          font-size: 12px;
          color: #a3a3a3;
          font-weight: 300; }
        nav.navbar .app-header-apps li a:hover, nav.navbar .app-header-list li a:hover {
          background: #f3f3f3; }
  nav.navbar .app-icon {
    width: 30px;
    height: 30px;
    float: left;
    background-image: url("/images/icon-sprites-blue.png?v=1.0");
    background-repeat: no-repeat; }
    nav.navbar .app-icon.app-icon-header {
      margin: 7px 10px 0 0; }
    nav.navbar .app-icon.app-icon-white {
      background-image: url("/images/icon-sprites-white.png?v=1.0"); }
    nav.navbar .app-icon.app-icon-teesheets {
      background-position: 0 0; }
    nav.navbar .app-icon.app-icon-sales {
      background-position: 0 -30px; }
    nav.navbar .app-icon.app-icon-food_and_beverage {
      background-position: 0 -60px; }
    nav.navbar .app-icon.app-icon-items {
      background-position: 0 -90px; }
    nav.navbar .app-icon.app-icon-item_kits {
      background-position: 0 -120px; }
    nav.navbar .app-icon.app-icon-employees {
      background-position: 0 -150px; }
    nav.navbar .app-icon.app-icon-customers {
      background-position: 0 -180px; }
    nav.navbar .app-icon.app-icon-reports {
      background-position: 0 -210px; }
    nav.navbar .app-icon.app-icon-suppliers {
      background-position: 0 -240px; }
    nav.navbar .app-icon.app-icon-receivings {
      background-position: 0 -270px; }
    nav.navbar .app-icon.app-icon-giftcards {
      background-position: 0 -300px; }
    nav.navbar .app-icon.app-icon-promotions {
      background-position: 0 -330px; }
    nav.navbar .app-icon.app-icon-config {
      background-position: 0 -360px; }
    nav.navbar .app-icon.app-icon-invoices {
      background-position: 0 -390px; }
    nav.navbar .app-icon.app-icon-marketing_campaigns {
      background-position: 0 -420px; }
    nav.navbar .app-icon.app-icon-tournaments {
      background-position: 0 -450px; }
    nav.navbar .app-icon.app-icon-dashboards {
      background-position: 0 -480px; }
    nav.navbar .app-icon.app-icon-support {
      background-position: 0 -510px; }
    nav.navbar .app-icon.app-icon-time-clock {
      background-position: 0 -540px; }
    nav.navbar .app-icon.app-icon-logout {
      background-position: 0 -570px; }
    nav.navbar .app-icon.app-icon-Auto {
      background-position: 0 -600px; }
    nav.navbar .app-icon.app-icon-Events {
      background-position: 0 -630px; }
  nav.navbar .app-header-list {
    width: 200px !important; }
    nav.navbar .app-header-list li {
      width: auto;
      float: none; }

.stats-button {
  width: auto !important;
  height: 48px !important;
  margin: 0 !important;
  padding: 10px 14px !important;
  color: #fff;
  font-weight: 700;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .stats-button i {
    font-size: 16px;
    margin-bottom: 2px; }
  .stats-button:hover {
    background-color: #396a8d; }

.bar_stat {
  text-shadow: none;
  color: rgba(17, 62, 105, 0.7);
  padding-top: 5px;
  cursor: default;
  font-weight: 700;
  margin-right: 16px; }
  .bar_stat .stat_value {
    font-size: 18px; }
  .bar_stat .stat_label {
    color: rgba(17, 62, 105, 0.7); }

/*# sourceMappingURL=header-bootstrapless.css.map */
