.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

.box-sizing-content {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important; }

.mr-small {
  margin-right: 5px !important; }

.mr-medium {
  margin-right: 10px !important; }

.mr-large {
  margin-right: 20px !important; }

.ml-small {
  margin-left: 5px !important; }

.ml-medium {
  margin-left: 10px !important; }

.ml-large {
  margin-left: 20px !important; }

.mt-small {
  margin-top: 5px !important; }

.mt-medium {
  margin-top: 10px !important; }

.mt-large {
  margin-top: 20px !important; }

.mb-small {
  margin-bottom: 5px !important; }

.mb-medium {
  margin-bottom: 10px !important; }

.mb-large {
  margin-bottom: 20px !important; }

.pr-small {
  padding-right: 5px !important; }

.pr-medium {
  padding-right: 10px !important; }

.pr-large {
  padding-right: 20px !important; }

.pl-small {
  padding-left: 5px !important; }

.pl-medium {
  padding-left: 10px !important; }

.pl-large {
  padding-left: 20px !important; }

.pt-small {
  padding-top: 5px !important; }

.pt-medium {
  padding-top: 10px !important; }

.pt-large {
  padding-top: 20px !important; }

.pb-small {
  padding-bottom: 5px !important; }

.pb-medium {
  padding-bottom: 10px !important; }

.pb-large {
  padding-bottom: 20px !important; }

body {
  font-family: "Roboto", sans-serif;
}

.nav-tabs {
  border-bottom: none; }

.navbar {
  border: none;
  background-color: #4885B1 !important;
  background-image: none;
  border-radius: 0;
  z-index: 50;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }
  .navbar .navbar-brand {
    padding-top: 7px; }
    .navbar .navbar-brand img {
      height: 32px; }
  .navbar .navbar-collapse {
    background-color: #fff; }
  .navbar .navbar-nav > li > a {
    color: #404040; }
    .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
      color: #404040;
      background-color: #f3f3f3; }
  .navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
    color: #404040;
    background-color: #f3f3f3; }
  .navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:focus {
    color: #404040;
    background-color: #f3f3f3; }
  .navbar .navbar-toggle {
    background-color: transparent;
    border-color: transparent;
    padding: 7px;
    margin-top: 10px; }
    .navbar .navbar-toggle .icon-bar {
      background-color: #fff;
      width: 17px; }
    .navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
      background-color: #fff; }
      .navbar .navbar-toggle:hover .icon-bar, .navbar .navbar-toggle:focus .icon-bar {
        background-color: #4885B1; }
  .navbar .app-header-current {
    font-size: 1.3em; }
  .navbar .app-header-apps, .navbar .app-header-list {
    width: 470px; }
    .navbar .app-header-apps li, .navbar .app-header-list li {
      width: 50%;
      float: left;
      overflow: hidden;
      display: block; }
      .navbar .app-header-apps li a, .navbar .app-header-list li a {
        text-align: left;
        padding: 14px;
        line-height: 1.4em;
        display: block;
        float: none;
        cursor: pointer; }
  .navbar .app-header-btn {
    padding: 0 15px;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle; }
    .navbar .app-header-btn img {
      border-radius: 3px;
      margin-right: 10px;
      height: 30px; }
  .navbar .app-header-apps a, .navbar .app-header-list a, .navbar .app-header-list a {
    cursor: pointer; }
  .navbar .app-header-apps .app-content, .navbar .app-header-list .app-content, .navbar .app-header-list .app-content {
    margin-left: 40px; }
    .navbar .app-header-apps .app-content .app-name, .navbar .app-header-list .app-content .app-name, .navbar .app-header-list .app-content .app-name {
      font-size: 18px;
      font-weight: 400;
      color: #404040; }
    .navbar .app-header-apps .app-content .app-description, .navbar .app-header-list .app-content .app-description, .navbar .app-header-list .app-content .app-description {
      font-size: 12px;
      color: #a3a3a3;
      font-weight: 300; }
  .navbar .app-header-list {
    width: 200px !important; }
    .navbar .app-header-list li {
      width: auto;
      float: none; }
  .navbar .app-icon {
    width: 30px;
    height: 30px;
    float: left;
    background-image: url("/images/icon-sprites-blue.png?v=1.0");
    background-repeat: no-repeat;
    margin-top: 1px; }
    .navbar .app-icon.app-icon-header {
      margin: 8px 12px 0 0; }
    .navbar .app-icon.app-icon-white {
      background-image: url("/images/icon-sprites-white.png?v=1.0"); }
    .navbar .app-icon.app-icon-teesheets, .navbar .app-icon.app-icon-Tee {
      background-position: 0 0; }
    .navbar .app-icon.app-icon-sales, .navbar .app-icon.app-icon-Sales {
      background-position: 0 -30px; }
    .navbar .app-icon.app-icon-food_and_beverage, .navbar .app-icon.app-icon-Food {
      background-position: 0 -60px; }
    .navbar .app-icon.app-icon-items, .navbar .app-icon.app-icon-Inventory {
      background-position: 0 -90px; }
    .navbar .app-icon.app-icon-item_kits, .navbar .app-icon.app-icon-Item {
      background-position: 0 -120px; }
    .navbar .app-icon.app-icon-employees, .navbar .app-icon.app-icon-Employees {
      background-position: 0 -150px; }
    .navbar .app-icon.app-icon-customers, .navbar .app-icon.app-icon-Customers {
      background-position: 0 -180px; }
    .navbar .app-icon.app-icon-reports, .navbar .app-icon.app-icon-Reports {
      background-position: 0 -210px; }
    .navbar .app-icon.app-icon-suppliers, .navbar .app-icon.app-icon-Suppliers {
      background-position: 0 -240px; }
    .navbar .app-icon.app-icon-receivings, .navbar .app-icon.app-icon-Receivings {
      background-position: 0 -270px; }
    .navbar .app-icon.app-icon-giftcards, .navbar .app-icon.app-icon-Gift {
      background-position: 0 -300px; }
    .navbar .app-icon.app-icon-promotions, .navbar .app-icon.app-icon-Promotions {
      background-position: 0 -330px; }
    .navbar .app-icon.app-icon-config, .navbar .app-icon.app-icon-Settings {
      background-position: 0 -360px; }
    .navbar .app-icon.app-icon-invoices, .navbar .app-icon.app-icon-Invoices {
      background-position: 0 -390px; }
    .navbar .app-icon.app-icon-marketing_campaigns, .navbar .app-icon.app-icon-Marketing {
      background-position: 0 -420px; }
    .navbar .app-icon.app-icon-tournaments, .navbar .app-icon.app-icon-Tournaments {
      background-position: 0 -450px; }
    .navbar .app-icon.app-icon-dashboards, .navbar .app-icon.app-icon-Dashboards {
      background-position: 0 -480px; }
    .navbar .app-icon.app-icon-support {
      background-position: 0 -510px; }
    .navbar .app-icon.app-icon-time-clock {
      background-position: 0 -540px; }
    .navbar .app-icon.app-icon-logout {
      background-position: 0 -570px; }
    .navbar .app-icon.app-icon-Auto {
      background-position: 0 -600px; }
    .navbar .app-icon.app-icon-Events {
      background-position: 0 -630px; }
  @media (min-width: 768px) {
    .navbar {
      height: 48px !important; }
      .navbar .navbar-collapse {
        background-color: transparent; }
      .navbar .navbar-nav > li > a {
        color: #fff; }
        .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
          color: #fff;
          background-color: #41779f; }
      .navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
        color: #fff;
        background-color: #41779f; }
      .navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:focus {
        color: #fff;
        background-color: #41779f; } }

/*# sourceMappingURL=header-bootstrap.css.map */
