
<div class="cb-edit-panel" ng-if="activeSection.type == 'image'">
    <div class="tab-set-top text-center">
        Edit Image
    </div>
    <tabset>
        <tab heading="Current">
            <div ng-show="activeSection.type == 'image'">
                <div ng-show="activeSection.url != undefined">
                    <div class="image-thumbnail">
                        <div style="text-align: center;">
                            <img ng-src="{{activeSection.url}}" style="max-width: 100%; margin: 0 auto;" />
                            <button ng-click="activeSection.url = undefined;" style="border: none; height: 30px; width: 100%; background-color: #5089c0; color: #fff; text-align: center;">Reset</button>
                        </div>

                        <div class="form-group" style="margin-top: 10px;">
                            <label>
                                Alt Text
                            </label>
                            <input class="form-control" ng-model="activeSection.alt" />
                        </div>
                        <div class="form-group">
                            <label>
                                Link
                            </label>
                            <input class="form-control"
                                   placeholder="http://example.com"
                                   ng-model="activeSection.link" />
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" ng-model="activeSection.padding">
                                Image Padding
                            </label>
                        </div>
                        <div class="form-group">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default"
                                        ng-click="activeSection.align='left'"
                                        ng-class="{'btn-primary': activeSection.align=='left'}"
                                        aria-label="Left Align" tooltip title="Left Align">
                                    <strong>Left</strong>
                                </button>
                                <button type="button" class="btn btn-default"
                                        ng-click="activeSection.align='center'"
                                        ng-class="{'btn-primary': activeSection.align=='center'}"
                                        aria-label="Center Align" tooltip title="Center Align">
                                    <strong>Center</strong>
                                </button>
                                <button type="button" class="btn btn-default"
                                        ng-click="activeSection.align='right'"
                                        ng-class="{'btn-primary': activeSection.align=='right'}"
                                        aria-label="Right Align" tooltip title="Right Align">
                                    <strong>Right</strong>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="activeSection.url == undefined" style="font-weight: 300; padding-left: 10px;">
                    No File Uploaded
                </div>



            </div>
        </tab>
        <tab heading="Past">
            <div style="padding: 10px;">
                <img class="img-gallery" ng-src="{{image.url}}" alt="{{image.alt}}" ng-repeat="image in pastImages" ng-click="selectImage(image)"/>
            </div>
        </tab>
        <tab heading="Gallery">
            <div style="padding: 10px;">
                <img class="img-gallery" ng-src="{{image.url}}" alt="{{image.alt}}" ng-repeat="image in foreupImages" ng-click="selectImage(image)"/>
            </div>
        </tab>
    </tabset>

</div>