    <div class="cb-edit-panel" ng-if="activeSection.type == 'button'">
        <div class="tab-set-top text-center" style="border-bottom: solid 1px #e3e3e3;">
            Edit Button
        </div>
        <div style="margin: 20px 10px;">
            <div class="form-group">
                <label>
                    Button Text
                </label>
                <input class="form-control" type="text"
                       ng-model="activeSection.data" />
            </div>
            <div class="form-group">
                <label>
                    Button Url
                </label>
                <input class="form-control" type="text"
                       placeholder="http://yourlink.com"
                       ng-model="activeSection.url" />
            </div>
            <div class="form-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-default"
                            ng-click="activeSection.align='left'"
                            ng-class="{'btn-primary': activeSection.align=='left'}"
                            aria-label="Left Align" tooltip title="Left Align">
                        <strong>Left</strong>
                    </button>
                    <button type="button" class="btn btn-default"
                            ng-click="activeSection.align='center'"
                            ng-class="{'btn-primary': activeSection.align=='center'}"
                            aria-label="Center Align" tooltip title="Center Align">
                        <strong>Center</strong>
                    </button>
                    <button type="button" class="btn btn-default"
                            ng-click="activeSection.align='right'"
                            ng-class="{'btn-primary': activeSection.align=='right'}"
                            aria-label="Right Align" tooltip title="Right Align">
                        <strong>Right</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>