<table class="contents">
    <tbody>
    <tr>
        <td class="padded" align="{{componentModel.align}}">
            <div class="button">
                <a ng-href="{{componentModel.url}}" target="_blank">
                    <span ng-if="componentModel.data">{{componentModel.data}}</span>
                    <span ng-if="!componentModel.data">Button</span>
                </a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
