
<table class="contents">
    <tbody>
    <tr>
        <td class="padded">
            <div resizer starting-height="{{componentModel.height}}" height="componentModel.height">
                <div class="cb-spacer-handle" resizer-handle >
                    {{componentModel.height | number : 0}} Pixels&nbsp;
                    <i class="fa fa-sort" ></i>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
