<table class="contents">
    <tbody>
    <tr>
        <td class="padded">
            <div class="divider">
                <div class="border">&nbsp;</div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
