<table class="contents">
    <tbody>
    <tr>
        <td class="padded">
            <p ng-if="!isPhantomJS"
               class="cb-medium-placeholder"
               ng-model="componentModel.data"
               medium-editor
               bind-options="mediumBindOptions">
            </p>
            <p      ng-if="isPhantomJS"
                    class="cb-medium-placeholder"
                    ng-bind-html = "trustedHtml"
                    >

            </p>
        </td>
    </tr>
    </tbody>
</table>
