
<div class="row">
    <div class="col-sm-2">
        <div class="cb-stats btn btn-default" ng-click="getAnalytics('processed')">
            <div class="cb-stats-number">{{campaign.stats.processed || 0}}</div>
            <div class="cb-stats-title">Processed</div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="cb-stats btn btn-default" ng-click="getAnalytics('delivered')">
            <div class="cb-stats-number">{{campaign.stats.delivered || 0}}</div>
            <div class="cb-stats-title">Delivered</div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="cb-stats btn btn-default" ng-click="getAnalytics('open')">
            <div class="cb-stats-number">{{campaign.stats.opened || 0}}</div>
            <div class="cb-stats-title">Opened</div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="cb-stats btn btn-default" ng-click="getAnalytics('click')">
            <div class="cb-stats-number">{{campaign.stats.clicked || 0}}</div>
            <div class="cb-stats-title">Clicked</div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="cb-stats btn btn-default" ng-click="getAnalytics('bounce')">
            <div class="cb-stats-number">{{campaign.stats.bounced || 0}}</div>
            <div class="cb-stats-title">Bounced</div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="cb-stats btn btn-default" ng-click="getAnalytics('unsubscribe')">
            <div class="cb-stats-number">{{campaign.stats.unsubscribed || 0}}</div>
            <div class="cb-stats-title">Unsubscribed</div>
        </div>
    </div>
</div>
