
<div class="modal-header">
    <h3 class="modal-title">Email list</h3>
</div>
<div class="modal-body">
    <div class="row text-center cb-listofemails" >
        <div ladda="loadingAnalytics" data-spinner-color="#337ab7">
            <table class="table table-bordered ">
                <thead>
                <tr>
                    <td>Email</td>
                    <td>Timestamp</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="contact in ::contacts">
                    <td>{{::contact.email}}</td>
                    <td>{{::contact.timestamp}}</td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="cancel()">OK</button>
</div>