<form>
    <div class="clearfix">
        <div class="col-md-12 settings-header">
            <div class="settings-title">Accounting Settings</div>
            <div class="settings-subtitle">Here you can export your sales data and import the data into your quickbooks accounting software.</div>
        </div>
        <div class="col-md-12">
            <div class="settings-section-header">
                <div class="settings-section-title">
                    QuickBooks Export
                </div>
            </div>
            <div class="form-group left-column">
                <label for="from-date" class="col-md-12 control-label">From Date</label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="" name="from_date" id="from-date" />
                </div>
            </div>
            <div class="form-group">
                <label for="to-date" class="col-md-12 control-label">To Date</label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="" name="to_date" id="to-date" />
                </div>
            </div>
            <div class="form-group">
                <label for="quickbooks-terminal" class="col-md-12 control-label">Country</label>
                <div class="col-md-12">
                    <%=_.dropdown({"0":"N/A","1":"Red","2":"Yellow","3":"Green"}, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, 1)%>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="sales_revenue_payments" name="sales_revenue_payments" style="margin-top: 5px;" />
                    <label for="sales_revenue_payments" class="control-label">Sales - Revenue / Payments</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="sales_cogs_inventory" name="sales_cogs_inventory" style="margin-top: 5px;" />
                    <label for="sales_cogs_inventory" class="control-label">Sales - COGS / Inventory</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="manual_ar_adjustments" name="manual_ar_adjustments" style="margin-top: 5px;" />
                    <label for="manual_ar_adjustments" class="control-label">Manual A/R Adjustments</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="receivings" name="receivings" style="margin-top: 5px;" />
                    <label for="receivings" class="control-label">Receivings</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="include_cash_logs" name="include_cash_logs" style="margin-top: 5px;" />
                    <label for="include_cash_logs" class="control-label">Include Cash Logs</label>
                </div>
            </div>
            <div class="form-group">
                <button>Export Data</button>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Quickbooks Account Settings
                        </h4>
                    </div>
                    <div class="panel-body">
                        <table id="minimum-charges-table">
                            <thead>
                                <tr>
                                    <th class="label">Misc</th>
                                    <th>Account <span class="req">*</span></th>
                                    <th>Class</th>
                                    <th colspan="5"></th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Cash Drawer Variance</td>
                                <td><input class="account" name="cash_variance[account]" value="" /></td>
                                <td><input class="class" name="cash_variance[class]" value="" /></td>
                                <td colspan="5">
                                    If the cash drawer is off, the difference will be applied to this account (Usually a Quickbooks 'Expense' account).
                                </td>
                            </tr>
                            <tr>
                                <td>Accounts Receivable Payments </td>
                                <td><input class="account" name="categories[<%-md5('Account Payments')%>][income]" value="" /></td>
                                <td><input class="class" name="categories[<%-md5('Account Payments')%>][income_class]" value="" /></td>
                                <td colspan="5">
                                    Payments by members to pay off their accounts (Quickbooks 'Other Current Asset' account).
                                    Should be the same account as 'Member Account','Customer Credit' and 'Invoice Charge' payments below.
                                </td>
                            </tr>
                            <tr>
                                <td>Accounts Receivable Adjustments</td>
                                <td><input class="account" name="receivable_adjustments[account]" value="" /></td>
                                <td><input class="class" name="receivable_adjustments[class]" value="" /></td>
                                <td colspan="5">
                                    Manual adjustments made to member accounts.
                                    Funds will move from this account into 'Accounts Receivable Payments' (above).
                                </td>
                            </tr>
                            <tr>
                                <td>Accounts Payable (Suppliers)</td>
                                <td><input class="account" name="accounts_payable[account]" value="" /></td>
                                <td><input class="class" name="accounts_payable[class]" value="" /></td>
                                <td colspan="5">
                                    Handles payments made to suppliers when receiving inventory (Quickbooks 'Accounts Payable' account).
                                </td>
                            </tr>
                            <tr>
                                <td>Rain Checks Issued (Debit)</td>
                                <td><input class="account" name="rain_checks_issued_debit[account]" value="" /></td>
                                <td><input class="class" name="rain_checks_issued_debit[class]" value="" /></td>
                                <td colspan="5">
                                    Account to debit when a rain check is issued
                                </td>
                            </tr>
                            <tr>
                                <td>Rain Checks Issued (Credit)</td>
                                <td><input class="account" name="rain_checks_issued_credit[account]" value="" /></td>
                                <td><input class="class" name="rain_checks_issued_credit[class]" value="" /></td>
                                <td colspan="5">
                                    Account to credit when a rain check is issued
                                </td>
                            </tr>
                            <tr>
                                <td>Gift Card Adjustments (Debit)</td>
                                <td><input class="account" name="gift_card_adjustments_debit[account]" value="" /></td>
                                <td><input class="class" name="gift_card_adjustments_debit[class]" value="" /></td>
                                <td colspan="5">
                                    Account to debit when the value of a gift card is edited manually
                                </td>
                            </tr>
                            <tr>
                                <td>Gift Card Adjustments (Credit)</td>
                                <td><input class="account" name="gift_card_adjustments_credit[account]" value="" /></td>
                                <td><input class="class" name="gift_card_adjustments_credit[class]" value="" /></td>
                                <td colspan="5">
                                    Account to credit when the value of a gift card is edited manually, usually the same as the Gift Card payment account (Liability/Payable)
                                </td>
                            </tr>
                            <tr>
                                <td>Partial Refunds</td>
                                <td><input class="account" name="refunds[account]" value="" /></td>
                                <td><input class="class" name="refunds[class]" value="" /></td>
                                <td colspan="5">
                                    Usually an 'Expense' account to offset sales income
                                </td>
                            </tr>
                            </tbody>
                            <thead>
                            <tr>
                                <th>Payments</th>
                                <th>Account <span class="req">*</span></th>
                                <th>Class</th>
                                <th colspan="5"></th>
                            </tr>
                            </thead>
                            <tbody>
                                <% var payment_types = [];
                                payment_types.push({'name' : 'Cash', 'key' : 'cash'});
                                payment_types.push({'name' : 'Check', 'key' : 'check'});
                                payment_types.push({'name' : 'Credit Card', 'key' : 'credit_card'});
                                payment_types.push({'name' : 'Credit Card - VISA', 'key' : 'credit_card_visa'});
                                payment_types.push({'name' : 'Credit Card - Discover', 'key' : 'credit_card_discover'});
                                payment_types.push({'name' : 'Credit Card - MasterCard', 'key' : 'credit_card_mastercard'});
                                payment_types.push({'name' : 'Credit Card - Amex', 'key' : 'credit_card_amex'});
                                payment_types.push({'name' : 'Credit Card - Diners', 'key' : 'credit_card_diners'});
                                payment_types.push({'name' : 'Credit Card - JCB', 'key' : 'credit_card_jcb'});
                                payment_types.push({'name' : 'Member Account (A/R)', 'key' : 'member_account'});
                                payment_types.push({'name' : 'Customer Credit (A/R)', 'key' : 'customer_credit'});
                                payment_types.push({'name' : 'Invoice Charge (A/R)', 'key' : 'invoice_charge'});
                                payment_types.push({'name' : 'Tournament Winnings (A/R)', 'key' : 'tournament_winnings'});
                                payment_types.push({'name' : 'Gift Cards', 'key' : 'gift_card'});
                                payment_types.push({'name' : 'Gift Card Discounts', 'key' : 'gift_card_discount'});
                                payment_types.push({'name' : 'Punch Cards', 'key' : 'punch_card'});
                                payment_types.push({'name' : 'Rain Checks', 'key' : 'rain_check'});
                                payment_types.push({'name' : 'Coupons', 'key' : 'coupons'});
                                payment_types.push({'name' : 'Loyalty Points', 'key' : 'loyalty_points'});
                                payment_types.push({'name' : 'Tips', 'key' : 'tips'});

                                for(var i in payment_types)
                                { %>
                                    <tr>
                                        <td>
                                            <%-payment_types[i].name%>
                                        </td>
                                        <td><input class="account" name="payments[<%-payment_types[i].key%>][account]" value="" /></td>
                                        <td><input class="class" name="payments[<%-payment_types[i].key%>][class]" value="" /></td>
                                        <td colspan="5">

                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                            <thead>
                            <tr>
                                <th>Custom Payments</th>
                                <th>Account <span class="req">*</span></th>
                                <th>Class</th>
                                <th colspan="5">&nbsp;</th>
                            </tr>
                            </thead>

                            <thead>
                            <tr>
                                <th>Taxes</th>
                                <th>Account <span class="req">*</span></th>
                                <th>Class</th>
                                <th>Vendor</th>
                                <th colspan="4"></th>
                            </tr>
                            </thead>
                        </table>
                        <div class="form-group">
                            <button>Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
