.ng-toaster-container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  color: #404040;

  .toaster {
    width: 300px;
    padding: 10px;
    background-color: #5089c0;
    margin: 0 0 10px 10px;
    color: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    
    .toaster-title {
      font-weight: 700;
      font-size: 16px;
      opacity: .8;
      margin-right: 20px;
    }
    
    .toaster-content {
      
    }
  }
  
}