<div class="preview-template-container velocity-opposites-transition-slideUpBigIn"
     data-velocity-opts="{ duration: 400 }"
     ng-show="pt.container"
     ng-click="closeContainer()"
     ng-cloak>
    
    <!-- navigation
    <div class="pt-navigate pt-navigate-back">
        <i class="gi gi-chevron-left"></i>
    </div>
    <div class="pt-navigate pt-navigate-next">
        <i class="gi gi-chevron-right"></i>
    </div>
    -->
    
    <div class="pt-close" ng-click="closeContainer()">
        <i class="gi gi-times"></i>
    </div>
    
    <div class="row" ng-click="$event.stopPropagation();">
        <div class="col-lg-12">
            <div class="ct-tabs">
                <div class="ct-tab"
                     ng-class="{'isActive': pt.web}"
                     ng-click="switchWeb()">
                    <div class="img">
                        <img src="/frontend/campaign-builder/resources/img/template-computer.png" alt="">
                    </div>
                    Web
                </div>
                <div class="ct-tab"
                     ng-class="{'isActive': pt.mobile}"
                     ng-click="switchMobile()">
                    <div class="img">
                        <img src="/frontend/campaign-builder/resources/img/template-mobile.png" alt="">
                    </div>
                    Mobile
                </div>
            </div>
        </div>
    </div>
    
    <div class="pt-loader velocity-opposites-transition-slideUpBigIn"
         data-velocity-opts="{ duration: 400 }"
         ng-show="pt.loading">
        <img src="/frontend/campaign-builder/resources/img/loader.gif" alt="Loading">
    </div>

    <div class="pt-name" ng-click="$event.stopPropagation();">
        {{campaign.name}}
    </div>

    <div class="pt-web velocity-opposites-transition-slideUpBigIn"
         data-velocity-opts="{ duration: 400 }"
         ng-show="pt.web">
        <div class="pt-web-header">
            <div class="pt-web-circle"></div>
            <div class="pt-web-circle"></div>
            <div class="pt-web-circle"></div>
        </div>
        <div class="pt-web-content">
            <iframe
                auto-frame
                style="width:100%;
                height: 100%;
                min-height: 500px;
                border: none;"
                ng-src="{{previewUrl}}"
                iframe-onload="alert"
                ng-hide="pt.loading"
                ></iframe>
        </div>
    </div>
    
    <div class="pt-mobile velocity-opposites-transition-slideUpBigIn"
         data-velocity-opts="{ duration: 400 }"
         ng-show="pt.mobile">
        <div class="pt-mobile-screen">
            <iframe
                auto-frame
                style="width:100%;
                height: 100%;
                border: none;"
                ng-src="{{previewUrl}}"
                iframe-onload="alert"
                ng-hide="pt.loading"
                ></iframe>
        </div>
    </div>


</div>