<%
var labelMap = {};

labelMap.customers = {
   first_name: 'First Name',
   last_name: 'Last Name',
   email: 'Email',
   phone_number: 'Phone Number',
   cell_phone_number: 'Cell Phone Number',
   non_taxable: 'Non-taxable',
   address_1: 'Address Line 1',
   address_2: 'Address Line 2',
   city: 'City',
   state: 'State',
   zip: 'Zipcode',
   country: 'Country',
   date_created: 'Date Joined',
   birthday: 'Birthday',
   notes: 'Notes',
   status_flag: 'Customer Status',
   username: 'Username',
   password: 'Password',
   groups: 'Groups',
   require_food_minimum: 'Require F&B minimum',
   minimum_charges: 'Minimum Charges',
   recurring_charges: 'Billing Profiles',
   account_number: 'Account Number',
   price_class: 'Price Class',
   discount: 'Discount',
   invoice_email: 'Invoice Email',
   passes: 'Passes',
   household_members: 'Household Members',
   member: 'Is Member',
   member_account_balance_allow_negative: App.data.course.get('member_balance_nickname')+' Allow Negative',
   member_account_balance: App.data.course.get('member_balance_nickname')+' Balance',
   member_account_limit: App.data.course.get('member_balance_nickname')+' Limit',
   account_balance_allow_negative: App.data.course.get('customer_credit_nickname')+' Balance Allow Negative',
   account_balance: App.data.course.get('customer_credit_nickname')+' Balance',
   account_limit: App.data.course.get('customer_credit_nickname')+' Limit',
   use_loyalty: 'Allow Loyalty',
   loyalty_points: 'Loyalty Points'
};

var actions = {
   set: 'Set to',
   add: 'Add to existing',
   remove: 'Remove from existing',
   subtract: 'Remove from existing',
   increase: 'Add to existing amount',
   decrease: 'Subtract from existing amount',
   clear: 'Clear'
};

function getRecordName(type, field, record){

   if(type == 'customers'){
      if(field == 'recurring_charges' || field == 'minimum_charges' || field == 'passes'){
         return record.name;
      }else if(field == 'household_members'){
         return record.first_name +' '+ record.last_name;
      }else if(field == 'groups'){
         return record.label;
      }
   }
}

function getValue(field, value){
   switch(field){
      case 'state':
         return US_STATES[value];
      break;
      case 'status_flag':
         var values = {0: 'N/A', 1: 'Red', 2: 'Yellow', 3: 'Green'};
         return values[value];
      break;
      case 'price_class':
         return App.data.course.get('price_classes')[value];
      break;
      case 'non_taxable':
      case 'member':
      case 'member_account_balance_allow_negative':
      case 'account_balance_allow_negative':
      case 'require_food_minimum':
      case 'use_loyalty':
         if(value == 1){
            return 'Yes';
         }else{
            return 'No';
         }
      break;
   }
   return value;
}

var labels = labelMap[type];
%>
<div class="row">
   <div class="col-md-12">
      <p class="alert alert-info" style="font-weight: normal">You have selected <strong><%-totalRecords%> <%-type%></strong> to be edited</p>
   </div>
</div>

<div class="row">
   <div class="col-md-12">
      <h3>Changes</h3>
      <table class="table table-light change-summary">
         <thead>
            <tr>
               <th style="width: 250px">Field</th>
               <th style="width: 150px">Action</th>
               <th>Value</th>
            </tr>
         </thead>
         <tbody>
            <% _.each(settings, function(change, fieldKey){
            if(fieldKey == 'member_balance_change_reason' || fieldKey == 'account_balance_change_reason' || fieldKey == 'loyalty_points_change_reason'){
               return true;
            }
            %>
            <tr>
               <td><strong><%-labels[fieldKey]%></strong></td>
               <td>
                  <%
                  var labelClass = 'label-primary';
                  if(change.action == 'remove' || change.action == 'decrease'){
                     labelClass = 'label-danger';
                  }else if(change.action == 'add' || change.action == 'increase'){
                     labelClass = 'label-success';
                  }else if(change.action == 'clear'){
                     labelClass = 'label-default';
                  } %>
                  <span class="label <%-labelClass%>"><%-actions[change.action]%></span>
               </td>
               <td>
                  <% if(typeof(change.value) == 'object' && change.value !== null && change.value.length && change.value.length > 0){ %>
                  <ul>
                     <% _.each(change.value, function(record){ %>
                     <li><%-getRecordName(type, fieldKey, record)%></li>
                     <% }) %>
                  </ul>
                  <% }else{ %>
                     <% if(change.value == ''){ %>
                     <em class="text-muted">(Blank)</em>
                     <% }else{ %>
                     <%-getValue(fieldKey, change.value)%>
                     <% } %>
                  <% } %>
               </td>
            </tr>
            <% }) %>
         </tbody>
      </table>
   </div>
</div>