<div class="row">
   <div class="col-md-offset-4 col-md-4">
      <h1 style="text-align: center">
         <% if(status == 'ready' || status == 'in-progress'){ %>
         Editing <strong><%-accounting.formatNumber(totalRecords)%></strong> <%-type%>
         <% }else if(status == 'cancelled'){ %>
         Bulk Edit Cancelled
         <% }else{ %>
         Bulk Edit Complete!
         <% } %>
      </h1>
   </div>
</div>
<div class="row">
   <div class="col-md-offset-4 col-md-4">
      <div class="progress" style="margin-top: 20px; margin-bottom: 10px;">
         <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="<%-percentComplete%>" aria-valuemin="0" aria-valuemax="100" style="width: <%-percentComplete%>%"></div>
      </div>
      <% if(status != 'cancelled'){ %>
      <p style="display: block; text-align: center">Editing... <%-percentComplete%>% complete</p>
      <% }else{ %>
      <p style="display: block; text-align: center">Cancelled... <%-percentComplete%>% complete</p>
      <% } %>
   </div>
</div>

<% if(status != 'cancelled' && status != 'completed'){ %>
<div class="row" style="margin-top: 30px;">
   <div class="col-md-offset-4 col-md-4">
      <button class="btn btn-lg btn-danger cancel" style="display: block; width: 150px; margin: 0 auto;">Cancel Bulk Edit</button>
   </div>
</div>
<div class="row" style="margin-top: 50px;">
   <div class="col-md-offset-4 col-md-4" style="text-align: center;">
      You may now close this window.<br />
      Re-open this window to check on progress.
   </div>
</div>
<% } %>

<% if(status == 'completed' || status == 'cancelled'){ %>
<div class="row" style="margin-top: 30px;">
   <div class="col-xs-6 col-md-offset-3 col-md-3">
      <div class="import-metric bg-primary">
         <h1><%-accounting.formatNumber(recordsCompleted)%></h1>
         <h5>Records Edited</h5>
      </div>
   </div>
   <div class="col-xs-6 col-md-3">
      <div class="import-metric bg-primary" <% if(recordsFailed > 0){ %>style="background-color: #CE6161"<% } %>>
         <h1><%-accounting.formatNumber(recordsFailed)%></h1>
         <h5>Records Failed</h5>
      </div>
   </div>
</div>

<% if(response && response.errors && _.toArray(response.errors).length > 0){ %>
<div class="row" style="margin-top: 20px">
   <div class="col-sm-12 col-md-offset-3 col-md-6">
      <h2 class="text-danger">Errors</h2>
      <table class="table table-light" style="width: 100%">
         <thead>
         <tr>
            <th>Record #</th>
            <th>Error</th>
         </tr>
         </thead>
         <tbody>
         <% $.each(response.errors, function(x, message){ %>
         <tr>
            <td><%-x%></td>
            <td><%-message%></td>
         </tr>
         <% }) %>
         </tbody>
      </table>
   </div>
</div>
<% } %>
<% } %>