@import 'variables';


.modal-dialog.modal-full.right .bootstrap-fu .btn,
.modal-dialog.modal-full.right .bootstrap-fu a.btn,
.modal-dialog.modal-full.right .bootstrap-fu button.btn,
.modal-dialog.modal-full.right button.btn,
.new-page .bootstrap-fu .btn,
.new-page .bootstrap-fu a.btn,
.new-page .bootstrap-fu button.btn,
.new-page button.btn {
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 13px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  transition: $hover;

  &.btn-primary {
    color: $white;
    background-color: $blue;
    &.active {
      background-color: $dark-blue;
      border-color: $dark-blue;
    }
    &.hover {
      background-color: $dark-blue;
      border-color: $dark-blue;
    }
  }
  &.btn-secondary,
  &.btn-muted {
    background-color: $off-white;
    color: $blue;
    border: 1px solid $gray;
    &.active {
      color: $white;
      background: $blue;
    }
  }
  &.btn-tertiary {
    background-color: $white;
    color: $blue;
    border: 1px solid;
    &.active {
      background:$blue;
      color:$white;
      border: 1px solid $blue;
    }
  }
  &.btn-destroy {
    background: $red;
    color: $white;
  }

  &.btn-sm {
    padding: 3px 8px;
    line-height: 17px;
    font-weight: 200;
  }
}
.btn-group > .btn {
  border: 1px solid !important;
}

.btn-group.three_btn {
  width: 100%;
  .btn {
    min-width: 15%;
    width: auto;
  }
  .btn:nth-of-type(1) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  .btn:nth-of-type(2){
    border-radius: 0 !important;
  }
  .btn:nth-of-type(3) {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}
