@import 'variables';
.unread_msgs {
  position: relative;
  float: right;
    #message_dropdown.btn {
      color: $white;
      margin-top: 8px;
      i {
       font-size: 20px
     }
     span {
       margin-left: 5px;
       padding: 3px 6px 2px;
       background: $green;
       border-radius: 3px;
       font-size: 12px;
       position: relative;
       top: -2px;
       left: 2px;
     }
   }
  .message-options {
    font-size: 26px;
    width: 100%;
    text-align: right;
    margin-top: -10px;
    border-bottom: $gray solid 1px;
  }
  .unread_msgs_thread-cont {
    width: 315px;
    background: $off-white;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 1px solid $gray;
    margin-top: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: absolute;
    top: 40px;
    left: -245px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      border-top: 1px solid $gray;

      .message {
        color: $slate;
        padding: 10px;
        float: left;
        display: block;
        background: rgba(0,0,0,0.05);
        width: 100%;
        border-left: 5px solid $green;
        border-bottom: 1px solid $gray;
        &.read {
            background: rgba(0,0,0,0.00);
            border-left: 5px solid transparent;
        }

        p {
          width: 75%;
          float: left;
          padding-left: 5px;
        }

        span.name {
          font-size: 12px;
          font-style: italic;
          display: block;
          width: 100%;
          float: left;
        }

        span.time {
          font-size: 10px;
          font-style: italic;
          display: block;
          float: left;
        }

        a.btn {
          float: right;
        }
      }
    }

    &::before {
      content: '';
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-right-width: 6px;
      border-left-width: 6px;
      border-bottom: 10px solid $off-white;
      position: absolute;
      top:-10px;
      left: 255px;
    }
  }
}
@media (max-width: 768px){
  .unread_msgs {
    position: absolute;
    top: -1px;
    right: 50px;

   .unread_msgs_thread-cont {
     top: 35px;
     left: -210px;
     &::before {
       left: 220px;
     }
   }
 }
}
