@import 'variables';

.modal{
  .panel-group {
    margin-bottom: 10px;
  }
  .panel-default{
    border-color: $gray;
  }
  .panel-heading{
    border-bottom: 1px solid $gray;
    padding: 5px 10px;
  }
  .panel-title {
    font-size: 14px;
    color: $slate;
    font-weight:200;
    letter-spacing: 1.5px;
    a{
      text-decoration: none !important;
    }
  }
  .panel-group .panel-heading+.panel-collapse .panel-body{
    border-top:0;
  }
}

.summary-panel .panel-body {
  font-size: 22px;
  letter-spacing: 1.3px;
  padding: 5px 15px;
}
.settings-panel {
  h4.panel-title {
    font-size: 14px;
    color: $slate;
    font-weight:200;
    letter-spacing: 1.5px;
    margin-top: 4px;
  }
  .panel-heading {
    border-bottom: 1px solid $gray;
  }
}
