@import 'variables';

.tab-selector {
    color: $blue;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    font-weight: 200;
    position: relative;
    padding-bottom: 5px;
    &:after {
      content:'';
      width: 0%;
      height: 3px;
      background: $blue;
      border-radius: 1.5px;
      position: absolute;
      left: 0; bottom: 0;
      transition: width .5s ease-in-out;
    }
    &:hover {
      &:after {
        width:100%;
      }
    }
}
.selected-tab, .active {
    .tab-selector {
      font-weight: 400;
      &:after{
        width: 100%;
      }
    }
}
.tab-navigation-wrapper{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.tab_area-body{
    margin-top:20px;
    margin-bottom: 20px;
}
