.bootstrap-fu {

  table.table-light {
    border: none;
  }

  table.table-light > tbody > tr,
  table.table-light > tfoot > tr {
    border-bottom: 1px solid #F5F5F5;
  }

  table.table-light > thead > tr {
    border-bottom: 1px solid #BBB;
  }

  table.table-light > tbody > tr > td,
  table.table-light > thead > tr > th {
    padding: 8px 12px !important;
    line-height: 25px;
  }

  table.table-light > thead > tr > th {
    background-color: white;
    border: none;
    color: #8D9DB0;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
  }

  table.table-light > thead > tr > th:hover {
    text-decoration: none;
  }

  table.table-light > tbody > td {
    border: none;
  }

  /* Highlighted table with light blue headers */
  table.table-highlighted {
    background-color: white;
    border-collapse: collapse;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
  }

  table.table-highlighted > thead > tr > th {
    background-color: #E9F1FC;
    border-left: none;
    border-right: none;
    border-bottom: none;
    font-weight: 400;
    text-transform: uppercase;
    color: #788190;
    text-decoration: none;
    font-size: 14px;
  }

  table.table-highlighted > thead > tr > th:hover {
    text-decoration: none;
  }

  table.table-highlighted > tbody > tr > td,
  table.table-highlighted > thead > tr > th {
    padding: 8px 12px !important;
    font-size: 14px;
  }

  table.table-highlighted > tbody > tr > td {
    border: 1px solid #E0E0E0;
    border-collapse: collapse;
  }
}

th.select-all-menu-header-cell {
  padding-left: 0px !important;
}

.select-all-menu button {
  border: 1px solid #E0E0E0 !important;
  color: #E0E0E0 !important;
  padding-left: 10px;
}

.select-all-menu input {
  margin-right: 5px;
  position: relative;
  margin-top: 0px;
  bottom: -2px;
}
