$alternate:       rgba(54, 103, 144, .10);
$blue:            #4885B1;
$white:           #FFFFFF;
$blue-gray:       #59718C;
$gray:            #cccccc;
$slate:           #292929;
$off-white:       #f1f0f0;
$red:             #C51236;
$green:           #6FAC33;
$blue-highlight:  #e9f1fc;
$dark-blue:       #1b2f54;

//Fonts//

//Interactions//
$hover: all 0.3s cubic-bezier(.25,.8,.25,1);
