<div id="advanced-search-dropdown" style="display: none">
    <div class="col-md-12">
        <div class="advanced-search" id="advanced-search"></div>
        <button id="advanced-search-button" class="pull-right btn btn-default">Search</button>
    </div>
</div>

<div class="header clearfix hidden-xs">
    <div class="col-md-2 hidden-sm hidden-xs">
        <div class="pull-left"><h2>Billing</h2></div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-10 ">
        <div class="pull-right form-inline marg-top-10">

            <div class="btn-group form-group">
                <button type="button" class="btn btn-default new-template" >New Template<i class="fa fa-user-plus" aria-hidden="true"></i></button>
                <!-- <button type="button" class="btn btn-default new-minimum" >New Minimum<i class="fa fa-plus" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-default new-invoice" >New Invoice<i class="fa fa-plus" aria-hidden="true"></i></button> -->
            </div>

            <div class="form-group">
                <div id="quick-search"></div>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu">
                    <li id="statement-settings"><a><i class="fa fa-file-text-o" aria-hidden="true"></i>Statement Settings</a></li>
                    <li id="page-dropdown-advanced-search"><a><i class="fa fa-sliders" aria-hidden="true"></i>Advanced Search</a></li>
                    <li id="page-dropdown-settings"><a><i class="fa fa-cogs" aria-hidden="true"></i>Page Settings</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="header mobile-header clearfix visible-xs-block visible-xs">
    <div id="mobile-search"></div>
</div>
<div id="mobile-list" class="visible-xs-block visible-xs"></div>

<div class="sub-header">
    <div class="col-md-12 tabs nav-tabs">
        <ul class="nav nav-tabs">
            <li class="tab active" style="width: 150px; float: left;">
                <div class="tab-selector" data-target="#statements-table" data-toggle="tab">
                    Statements <span id="total-statements"></span>
                </div>
            </li>
            <li class="tab" style="width: 150px; float: left;">
                <div class="tab-selector" data-target="#recurring-charges-table" data-toggle="tab">
                    Templates <span id="total-templates"></span>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="tab-content">
    <div id="statements-table" class="tab-pane active hidden-xs"></div>
    <div id="recurring-charges-table" class="tab-pane hidden-xs"></div>
</div>
