<div class="modal-content bootstrap-fu">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">
            Default Statement Settings
        </h4>
    </div>
    <div class="modal-body container-fluid">
        <div id="statement-settings" style="margin-top: 15px;"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default pull-left cancel" data-dismiss="modal">Cancel</button>
        <button id="save-settings" class="btn btn-primary pull-right">Save Settings</button>
    </div>
</div>