<div class="row">
    <div class="col-md-4">
        <p>
        <% if(!isDefault){ %>
        These statements settings will only apply to <em>this</em> billing template
        <% }else{ %>
        Any new billing templates created in the future will default to these settings. Existing billing statements will <em>not</em> be affected by changing these settings.
        <% } %>
        </p>
        <div id="statement-schedule"></div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-8 col-lg-6 form-group">
                <label for="statement-due-days">Statement Due After</label>
                <div class="input-group">
                    <input type="text" name="dueAfterDays" class="form-control" id="statement-due-days" value="<%-dueAfterDays%>">
                    <span class="input-group-addon">days</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="checkbox" name="financeChargeEnabled" class="checkbox" id="statement-finance-charge-enabled" data-unchecked-value="0" value="1" <% if(financeChargeEnabled){ %>checked<% } %>>
                <label for="statement-finance-charge-enabled">Enable Finance Charge</label>
            </div>
        </div>
        <div class="row finance-charge-settings">
            <div class="col-md-12">
                <label for="statement-finance-charge-amount">Finance Charge Amount</label>
                <div class="form-group">
                    <input type="text" name="financeChargeAmount" class="form-control" id="statement-finance-charge-amount" value="<%-financeChargeAmount%>" placeholder="0.00" style="width: 75px; display: inline-block;">
                    <%=_.dropdown({'percent': '(%) Percent of Total Due', 'fixed': '($) Fixed Amount'},{
                        name: 'financeChargeType',
                        id: 'statement-finance-charge-type',
                        class: 'form-control',
                        style: 'display: inline-block; width: 200px; padding-left: 5px;'
                    }, financeChargeType)%>
                </div>
            </div>
        </div>
        <div class="row finance-charge-settings">
            <div class="col-md-10 col-lg-7 form-group">
                <label for="statement-finance-charge-after-days">Apply Finance Charge</label>
                <div class="input-group">
                    <input type="text" name="financeChargeAfterDays" class="form-control" id="statement-finance-charge-after-days" value="<%-financeChargeAfterDays%>">
                    <span class="input-group-addon">days after due date</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top: 20px; margin-bottom: 5px">
                <input type="checkbox" class="checkbox" name="autopayEnabled" id="statement-enable-autopay" value="1" data-unchecked-value="0" <% if(autopayEnabled){ %>checked<% } %>>
                <label for="statement-enable-autopay">Enable Autopay</label>
            </div>
        </div>
        <div class="row autopay-settings">
            <div class="col-md-6 form-group">
                <label>Autopay After</label>
                <div class="input-group">
                    <input type="text" name="autopayAfterDays" class="form-control" id="statement-charge-days" value="<%-autopayAfterDays%>">
                    <span class="input-group-addon">days</span>
                </div>
            </div>
            <div class="col-md-6 form-group">
                <label>Autopay Attempts</label>
                <%=_.dropdown({1:'1', 2:'2', 3:'3', 4:'4', 5:'5'}, {class:'form-control autopay-settings', name: 'autopayAttempts', id: 'statement-charge-attempts', disabled: 'disabled'}, autopayAttempts) %>
            </div>
        </div>
        <div class="row autopay-settings">
            <div class="col-sm-12 form-group">
                <input type="checkbox" class="checkbox" name="autopayOverdueBalance" id="statement-autopay-overdue" value="1" data-unchecked-value="0" <% if(autopayOverdueBalance){ %>checked<% } %>>
                <label for="statement-autopay-overdue">Autopay Past Due Amount</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input type="checkbox" class="checkbox" name="includePastDue" id="statement-include-past-due" value="1" data-unchecked-value="0" <% if(includePastDue){ %>checked<% } %>>
                <label for="statement-include-past-due">Include Past Due Amount</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input type="checkbox" class="checkbox" name="includeMemberTransactions" id="statement-include-member-transactions" value="1" data-unchecked-value="0" <% if(includeMemberTransactions){ %>checked<% } %>>
                <label for="statement-include-member-transactions">Include <%-App.data.course.get('member_balance_nickname')%> transactions</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="padding-left: 45px">
                <input type="checkbox" class="checkbox" name="payMemberBalance" id="statement-pay-member-balance" value="1" data-unchecked-value="0" <% if(payMemberBalance){ %>checked<% } %>>
                <label for="statement-pay-member-balance">Pay off <%-App.data.course.get('member_balance_nickname')%></label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input type="checkbox" class="checkbox" name="includeCustomerTransactions" id="statement-include-customer-transactions" value="1" data-unchecked-value="0" <% if(includeCustomerTransactions){ %>checked<% } %>>
                <label for="statement-include-customer-transactions">Include <%-App.data.course.get('customer_credit_nickname')%> transactions</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="padding-left: 45px">
                <input type="checkbox" class="checkbox" name="payCustomerBalance" id="statement-pay-customer-balance" value="1" data-unchecked-value="0" <% if(payCustomerBalance){ %>checked<% } %>>
                <label for="statement-pay-customer-balance">Pay off <%-App.data.course.get('customer_credit_nickname')%></label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input type="checkbox" class="checkbox" name="sendEmail" id="statement-send-email" value="1" data-unchecked-value="0" <% if(sendEmail){ %>checked<% } %>>
                <label for="statement-send-email">Email statement to customer</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 form-group">
                <input type="checkbox" class="checkbox" name="sendZeroChargeStatement" id="statement-send-zero-total" value="1" data-unchecked-value="0" <% if(sendZeroChargeStatement){ %>checked<% } %>>
                <label for="statement-send-zero-total">Send Zero Charge Statements</label>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="325px" height="240px" viewBox="0 0 325 240" enable-background="new 0 0 325 240" xml:space="preserve" style="margin-bottom: 20px;">
            <g>
                <path fill="#FFFFFF" d="M321,90c0,1.657-1.343,3-3,3H184c-1.657,0-3-1.343-3-3V73c0-1.657,1.343-3,3-3h134c1.657,0,3,1.343,3,3V90z"/>
                <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M321.5,89.5c0,1.65-1.35,3-3,3h-134c-1.65,0-3-1.35-3-3v-17c0-1.65,1.35-3,3-3h134c1.65,0,3,1.35,3,3V89.5z"/>
            </g>
            <path fill="#FFFFFF" stroke="#666666" stroke-width="2" stroke-miterlimit="10" d="M169,222.493c0,7.46-4.373,14.507-11,14.507H17c-6.627,0-13-7.047-13-14.507V16.507C4,9.047,10.373,4,17,4h141c6.627,0,11,5.047,11,12.507V222.493z"/>
            <rect x="20" y="19" fill="#FFFFFF" stroke="#E6E6E6" stroke-width="2" stroke-miterlimit="10" width="21" height="21"/>
            <rect x="20" y="101" fill="#E6E6E6" width="133" height="13"/>
            <rect x="20" y="118" fill="#E6E6E6" width="133" height="13"/>
            <rect x="20" y="135" fill="#E6E6E6" width="133" height="13"/>
            <rect x="118" y="153" fill="#E6E6E6" width="35" height="13"/>
            <line fill="none" stroke="#E6E6E6" stroke-width="2" stroke-miterlimit="10" x1="20" y1="53" x2="60" y2="53"/>
            <line fill="none" stroke="#E6E6E6" stroke-width="2" stroke-miterlimit="10" x1="20" y1="59" x2="60" y2="59"/>
            <line fill="none" stroke="#E6E6E6" stroke-width="2" stroke-miterlimit="10" x1="21" y1="66" x2="40" y2="66"/>
            <line fill="none" stroke="#E6E6E6" stroke-width="2" stroke-miterlimit="10" x1="113" y1="19" x2="153" y2="19"/>
            <line fill="none" stroke="#E6E6E6" stroke-width="2" stroke-miterlimit="10" x1="113" y1="25" x2="153" y2="25"/>
            <line fill="none" stroke="#E6E6E6" stroke-width="2" stroke-miterlimit="10" x1="133" y1="31" x2="153" y2="31"/>
            <rect x="87" y="49" fill="#E6E6E6" width="66" height="19"/>
            <rect x="192" y="76" fill="none" width="177" height="25"/>
            <text transform="matrix(1 0 0 1 192 84.5918)" font-family="Arial" font-size="12">Terms &amp; Conditions</text>
            <rect x="87" y="72" fill="#FFFFFF" stroke="#C1272D" stroke-width="2" stroke-miterlimit="10" width="65" height="16"/>
            <rect x="21" y="156" fill="#FFFFFF" stroke="#C1272D" stroke-width="2" stroke-miterlimit="10" width="84" height="27"/>
            <rect x="30" y="214" fill="#FFFFFF" stroke="#C1272D" stroke-width="2" stroke-miterlimit="10" width="113" height="14"/>
            <g>
                <path fill="#FFFFFF" d="M320,177c0,1.657-1.343,3-3,3H183c-1.657,0-3-1.343-3-3v-17c0-1.657,1.343-3,3-3h134c1.657,0,3,1.343,3,3V177z"/>
                <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M320.5,176.5c0,1.65-1.35,3-3,3h-134c-1.65,0-3-1.35-3-3v-17c0-1.65,1.35-3,3-3h134c1.65,0,3,1.35,3,3V176.5z"/>
            </g>
            <rect x="191" y="163" fill="none" width="177" height="25"/>
            <text transform="matrix(1 0 0 1 191 171.5918)" font-family="Arial" font-size="12">Message</text>
            <g>
                <path fill="#FFFFFF" d="M320,229c0,1.657-1.343,3-3,3H183c-1.657,0-3-1.343-3-3v-17c0-1.657,1.343-3,3-3h134c1.657,0,3,1.343,3,3V229z"/>
                <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M320.5,228.5c0,1.65-1.35,3-3,3h-134c-1.65,0-3-1.35-3-3v-17c0-1.65,1.35-3,3-3h134c1.65,0,3,1.35,3,3V228.5z"/>
            </g>
            <rect x="191" y="215" fill="none" width="177" height="25"/>
            <text transform="matrix(1 0 0 1 191 223.5918)" font-family="Arial" font-size="12">Footer</text>
            <line fill="none" stroke="#666666" stroke-miterlimit="10" x1="152" y1="80.5" x2="180" y2="80.5"/>
            <line fill="none" stroke="#666666" stroke-miterlimit="10" x1="105" y1="167.5" x2="180" y2="167.5"/>
            <line fill="none" stroke="#666666" stroke-miterlimit="10" x1="142" y1="219.5" x2="180" y2="219.5"/>
        </svg>
        <div class="row">
            <div class="col-xs-12">
                <label>Statement Terms and Conditions</label>
                <div id="statement-terms-and-conditions" class="text-editor"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Statement Message</label>
                <div id="statement-message" class="text-editor"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Statement Footer</label>
                <div id="statement-footer" class="text-editor"></div>
            </div>
        </div>
    </div>
</div>