<div class="col-md-12 recurring-schedule-tab">
    <% if(_schedule_completion == 'not_started'){ %>
    <span class="status-icon pull-left"></span>
    <% }else if(_schedule_completion == 'in_progress'){ %>
    <span class="status-icon warning pull-left">
        <span class="fa fa-exclamation"></span>
    </span>
    <% }else if(_schedule_completion == 'complete'){ %>
    <span class="status-icon success pull-left">
        <span class="fa fa-check"></span>
    </span>
    <% } %>
    <%-item.name%>
</div>