<%console.debug('Item '+item.name+' repeatable data: ', repeated)%>
<div class="row">
    <div class="col-md-12">
        <label>Visual Diagram of Billing Schedule</label>
        <div id="repeatable-visualization"></div>
    </div>
</div>
<div class="row schedule-step" data-step="1">
    <div class="col-xs-12">
        <h3 class="form-title">
            <span class="status-icon default">1</span>
            <em><%-item.name%></em> will be charged...
        </h3>
        <fieldset id="repeatable-period-selector"></fieldset>
    </div>
</div>
<div class="row schedule-step" data-step="2">
    <div class="col-md-12">
        <hr class="separator">
        <h3 class="form-title">
            <span class="status-icon default">2</span>
            <em><%-item.name%></em> will be charged every...
        </h3>
        <fieldset id="repeatable-month-selector"></fieldset>
        <hr class="separator">
    </div>
</div>
<div class="row schedule-step" data-step="3">
    <div class="col-md-12">
        <hr class="separator">
        <h3 class="form-title">
            <span class="status-icon default">3</span>
            <em><%-item.name%></em> will be charged on...
        </h3>
        <fieldset id="repeatable-day-selector"></fieldset>
    </div>
</div>
<div class="row schedule-step" data-step="4">
    <div class="col-md-6 col-md-offset-3">
        <em><%-item.name%></em> will be charged at...
        <div class="btn-group btn-group-justified" style="margin-top: 20px">
            <div class="btn-group">
                <button class="btn btn-default repeat-time-select <% if(typeof(repeated.byhour) != 'undefined' && repeated.byhour == 0){ %>active<% } %>" data-value="start">Beginning of Day</button>
            </div>
            <div class="btn-group">
                <button class="btn btn-default repeat-time-select <% if(typeof(repeated.byhour) != 'undefined' && repeated.byhour == 23){ %>active<% } %>" data-value="end">End of Day</button>
            </div>
        </div>
    </div>
</div>