<table class="table table-highlighted">
    <thead>
    <tr>
        <th style="width: 50px">&nbsp;</th>
        <th>Fee/Item Name</th>
        <th>Schedule of Charges</th>
        <th style="width: 110px">Price</th>
        <th style="width: 85px">Qty</th>
        <th style="width: 90px">Tax Rate</th>
        <th style="width: 110px">Total</th>
        <th style="width: 50px; text-align: center">&nbsp;</th>
    </tr>
    </thead>
    <tbody id="line-items"></tbody>
    <tfoot>
        <tr>
            <td colspan="8" style="background-color: #F8F8F8">
                <div class="search-field">
                    <span class="fa fa-search input-icon" style="left: 32px;"></span>
                    <input type="text" class="form-control item-search has-input-icon" placeholder="Search and add items...">
                </div>
            </td>
        </tr>
    </tfoot>
</table>