<div class="modal-content bootstrap-fu">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">
            Billing Memberships
        </h4>
    </div>
    <div class="modal-body container-fluid">
        <div class="modal-well">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="recurring-charge-name">Membership Name</label>
                        <input type="text" name="name" class="form-control" id="recurring-charge-name">
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-primary pull-right" id="new-membership">New Membership ></button>
                </div>
            </div>
        </div>
        <div class="row recurring-charges"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-muted pull-left" data-dismiss="modal">Close</button>
    </div>
</div>