<% var days = {
    0: 'Monday',
    1: 'Tuesday',
    2: 'Wednesday',
    3: 'Thursday',
    4: 'Friday',
    5: 'Saturday',
    6: 'Sunday'
}; %>
<div class="row confirm-charges well" style="padding: 10px 0px 0px 0px">
    <div class="col-md-12">
        <h4 style="margin-bottom: 15px; color: #888; font-weight: 500; text-transform: uppercase">Summary of Charges</h4>
        <table class="table table-highlighted" style="border-bottom: 1px solid #E0E0E0; margin-bottom: 0px;">
            <thead>
                <tr>
                    <th class="fee-name">Fee or Item</th>
                    <th class="frequency">Frequency</th>
                    <th class="bill-date">Bill Date</th>
                    <th class="charge">Charge</th>
                    <th class="tax-rate">Tax Rate</th>
                    <th class="line-total">Line Total</th>
                </tr>
            </thead>
            <tbody>
                <%
                var total = 0;
                _.each(items, function(lineItem){ %>
                <tr>
                    <td class="fee-name"><%-lineItem.item.name%></td>
                    <td class="frequency">
                        <span class="fa fa-calendar text-muted" style="margin-right: 5px;"></span>
                        <%-_.capitalize(lineItem.repeated.period)%>
                    </td>
                    <td class="bill-date">
                        <%
                        if(lineItem.repeated.bymonthday){ %>

                            <% if(lineItem.repeated.bymonthday <= 28 && lineItem.repeated.bymonthday >= 0){ %>
                                <% if(lineItem.repeated.period == 'yearly'){ %>
                                <%-moment().month(lineItem.repeated.bymonth[0]).date(lineItem.repeated.bymonthday).format('MMM Mo')%>
                                <% }else{ %>
                                <%-moment().date(lineItem.repeated.bymonthday).format('Mo')%> of the month
                                <% } %>
                            <% }else{ %>
                            Last day of
                                <% if(lineItem.repeated.period == 'yearly'){ %>
                                <%-moment().month(lineItem.repeated.bymonth[0]).format('MMMM')%>
                                <% }else{ %>
                                the month
                                <% } %>
                            <% } %>

                        <% }else if(typeof(lineItem.repeated.bysetpos) != 'undefined' && lineItem.repeated.byweekday){ %>
                            <% if(lineItem.repeated.bysetpos === -1){ %>
                            Last
                            <% }else if(lineItem.repeated.bysetpos === 1){ %>
                            First
                            <% } %>
                            <% var day = lineItem.repeated.byweekday[0] %>
                            <%-days[day]%> of
                            <% if(lineItem.repeated.period == 'yearly'){ %>
                            <%-moment().month(lineItem.repeated.bymonth[0]).format('MMMM')%>
                            <% }else{ %>
                            the month
                            <% } %>
                        <% } %>
                    </td>
                    <td class="charge"><%-accounting.formatMoney(lineItem.item.subtotal)%></td>
                    <td class="tax-rate">
                        <% var total_tax_rate = _.reduce(lineItem.item.taxes, function(runningTotal, tax){
                        return runningTotal + parseFloat(tax.percent);
                        }, 0); %>
                        <%-accounting.formatNumber(total_tax_rate)%>%
                    </td>
                    <td class="line-total"><%-accounting.formatMoney(lineItem.item.total)%></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <div class="row" id="statement-payment-settings">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12" style="margin-top: 10px; margin-bottom: 5px">
                        <input type="checkbox" name="autopayEnabled" id="statement-enable-autopay" value="1" data-unchecked-value="0" <% if(recurringStatement.autopayEnabled){ %>checked<% } %>>
                        <label for="statement-enable-autopay">Enable Autopay</label>
                    </div>
                </div>
                <div class="row autopay-settings">
                    <div class="col-md-2 col-sm-12 form-group">
                        <label>Charge after</label>
                        <div class="input-group">
                            <input type="text" name="autopayAfterDays" class="form-control" id="statement-charge-days" value="<%-recurringStatement.autopayAfterDays%>">
                            <span class="input-group-addon">days</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12 form-group">
                        <label>Charge Attempts</label>
                        <%=_.dropdown({1:'1', 2:'2', 3:'3', 4:'4', 5:'5'}, {class:'form-control autopay-settings', name: 'autopayAttempts', id: 'statement-charge-attempts', disabled: 'disabled'}, recurringStatement.autopayAttempts) %>
                    </div>
                </div>
                <div class="row autopay-settings">
                    <div class="col-sm-12 form-group">
                        <input type="checkbox" name="autopayOverdueBalance" id="statement-autopay-overdue" value="1" data-unchecked-value="0" <% if(recurringStatement.autopayOverdueBalance){ %>checked<% } %>>
                        <label for="statement-autopay-overdue">Auto-pay overdue balance</label>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <table class="table table-highlighted" style="margin-top: -1px">
                    <tbody>
                    <tr style="border-top: none; border-right: none">
                        <td colspan="2" style="padding-top: 0px !important; padding-bottom: 15px !important; border-top: none; border-right: 1px solid #E0E0E0">
                            <hr style="margin-top: 0px; margin-bottom: 15px; width: 85%">
                            <input type="checkbox" name="prorate_charges" id="prorate-charges" value="1" data-unchecked-value="0" <% if(prorate_charges){ %>checked<% } %>>
                            <label for="prorate-charges">Prorate charges if added mid-cycle
                        </td>
                    </tr>
                    <tr>
                        <th style="color: black">Total</th>
                        <th style="border-right: none; color: black; text-align: right"><%-accounting.formatMoney(totalCharges)%></th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>