<div class="col-md-5 col-sm-12 repeat-dynamic-day">
    <label>On the</label>
    <div class="row">
        <div class="col-xs-5" style="padding-right: 0px;">
            <select id="repeat-charge-set-position" class="form-control">
                <option value="1" <% if(typeof(bysetpos) != 'undefined' && bysetpos != null && bysetpos === 1){ %>selected<% } %>>First</option>
                <option value="-1" <% if(typeof(bysetpos) != 'undefined' && bysetpos != null && bysetpos === -1){ %>selected<% } %>>Last</option>
            </select>
        </div>
        <div class="col-xs-7">
            <select id="repeat-charge-weekday" class="form-control">
                <%
                var weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'];
                for(var x = 0; x <= 6; x++){ %>
                <option value="<%-x%>" <% if(typeof(byweekday) != 'undefined' && byweekday != null &&  byweekday.indexOf(x) !== -1){%>selected<%}%>><%-weekdays[x]%></option>
                <% } %>
            </select>
        </div>
    </div>
</div>
<div class="col-md-2 or-separator">
    - or -
</div>
<div class="col-md-5 col-sm-12">
    <div class="repeat-day-selector">
        <% for(i = 1; i <= 28; i++){
        var checked = (typeof(bymonthday) != 'undefined' && bymonthday != null && _.indexOf(bymonthday, i) > -1);
        %>
        <button class="btn btn-default repeat-day-select <% if(checked){ print('active') } %>" data-value="<%-i%>">
            <%-i%>
        </button>
        <% } %>
        <button class="btn btn-default repeat-day-select last <% if(typeof(bymonthday) != 'undefined' && bymonthday != null && _.indexOf(bymonthday, -1) > -1){ %>active<% } %>" data-value="-1">
            Last day of month
        </button>
    </div>
</div>