<table style="
width: 100%;
margin: 0 auto;
padding: 40px 20px;
background-color: #b95252;
">
    <tr>
        <td>
            <table style="
            background-color: #fff;
table-layout: auto;
margin: 20px auto;
font-family: 'Roboto', helvetica, arial, sans-serif;
border: solid 1px #8c3636;
-webkit-box-shadow:  0 1px 8px rgba(0,0,0,.1);
-moz-box-shadow:  0 1px 8px rgba(0,0,0,.1);
box-shadow:  0 1px 8px rgba(0,0,0,.1);
max-width: 580px;
border-collapse: collapse;">
                <tr>
                    <td style="padding: 0 10px;">
                        <img style="width: 100%;" src="http://oi61.tinypic.com/k051dd.jpg">
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0 20px;">
                        <h5 style="font-size: 24px; font-weight:700; margin: 0 0 10px 0;">
                            <span id="mailer-header">
                                Enter Title Here...
                            </span>
                        </h5>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0 20px 10px 20px;">
                        <p style="margin: 0 0 10px 0; font-size: 14px;">
                            <span id="mailer-contents">
                                Enter content Here...
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; padding: 0 20px 40px 20px;">
                        -Your friends at the <span style="font-weight: 700; font-style: italic"><?= $name ?></span>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px; border-top: solid 1px #8c3636; background: #8c3636;">
                        <table style="table-layout: fixed;
            width: 100%;">
                            <tr>
                                <td width="50%">
                                    <div style="font-weight: 700; font-size: 14px; color: #fff;">
                                        <?= $name ?>
                                    </div>
                                    <div style="font-size: 12px; color: #fff;">
                                        Address<br>
                                        <?= $address ?>
                                    </div>
                                </td>
                                <td width="50%">
                                    <div style="font-size: 12px; color: #fff;">
                                        <span style="font-weight: 700;">Email:</span> <a href="mailto:<?= $support_email ?>" target="_blank" style="color: #fff; text-decoration: underline;"><?= $support_email ?></a><br>
                                        <span style="font-weight: 700;">Phone:</span> <a href="tel:<?= $phone_number; ?>" target="_blank" style="color: #fff; text-decoration: underline;"><?= $phone_number; ?></a><br>
                                        <span style="font-weight: 700;">Website:</span> <a href="<?= $website ?>" target="_blank" style="color: #fff; text-decoration: underline;"><?= $website ?></a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table style="
            table-layout: auto;
            margin: 20px auto;
            font-family: 'Roboto', helvetica, arial, sans-serif;
            ">
                <tr>
                    <td style="text-align: center;">
                        <a style="font-size: 12px; color: #fff; text-decoration: underline;" href="#">Click here to Unsubscribe</a>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>