<div class="modal-content item-details">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Item Details</h4>
	</div>
	<div class="modal-body container-fluid">
		<div class="row">
			<div class="col-md-12">
				<ul class="nav nav-pills">
					<li role="presentation" id="item-tab-general" class="active">
						<a href="#item-general-settings" aria-controls="general" role="tab" data-toggle="pill">General Details</a>
					</li>
					<% if(item_type == 'pass'){ %><li role="presentation" id="item-tab-pass">
						<a href="#item-pass-settings" aria-controls="profile" role="tab" data-toggle="pill">Pass Settings</a>
					</li><% } %>
				</ul>
			</div>
		</div>
		<form class="form-horizontal tab-content" role="form" style="margin-top: 15px">
			<div class="tab-pane active" id="item-general-settings">
				<div class="row">
					
					<!-- LEFT COLUMN -->
					<div class="col-md-6">
						<% if(item_type != 'service_fee'){ %>
						<div class="form-group">
							<label class="col-md-4 control-label" for="item-upc">UPC #</label>
							<div class="col-md-8">
								<input type="text" name="item_number" value="<%-item_number%>" class="form-control" id="item-upc">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12" id="item-upc-container"></div>
						</div>
						<% } %>
						<div class="form-group">
							<label class="col-md-4 control-label" for="item-gl-code">GL Code</label>
							<div class="col-md-8">
								<input type="text" name="gl_code" value="<%-gl_code%>" class="form-control" id="item-gl-code">
							</div>
						</div>						
						<div class="form-group">
							<label class="col-md-4 control-label" for="item-name">Name <span class="text-danger">*</span></label>
							<div class="col-md-8">
								<input type="text" name="name" value="<%-name%>" class="form-control" id="item-name"
									data-bv-notempty data-bv-notempty-message="Name is required">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label" for="item-department">Department <span class="text-danger">*</span></label>
							<div class="col-md-8">
								<input type="text" name="department" value="<%-department%>" class="form-control" id="item-department"
									data-bv-notempty data-bv-notempty-message="Department is required">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label" for="item-category">Category <span class="text-danger">*</span></label>
							<div class="col-md-8">
								<input type="text" name="category" value="<%-category%>" class="form-control" id="item-category"
									data-bv-notempty data-bv-notempty-message="Category is required">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label" for="item-subcategory">Subcategory</label>
							<div class="col-md-8">
								<input type="text" name="subcategory" value="<%-subcategory%>" class="form-control" id="item-subcategory">
							</div>
						</div>
						<% if(item_type != 'service_fee'){ %>
						<div class="form-group">
							<label class="col-md-4 control-label" for="item-supplier">Supplier</label>
							<div class="col-md-8">
								<%=_.dropdown(App.data.suppliers.get_dropdown_data(), {'name': 'supplier_id', 'class': 'form-control'}, supplier_id)%>
							</div>
						</div>
						<% } %>
						<div class="form-group">
							<label class="col-md-4 control-label" for="item-receipt-agreement">Receipt Agreement</label>
							<div class="col-md-8">
								<%=_.dropdown(App.data.item_receipt_content.get_dropdown_data(), {'name': 'receipt_content_id', 'class': 'form-control'}, receipt_content_id)%>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">Item Type</label>
							<%if(false && typeof item_id!=='undefined'){console.log(name,item_type); print(item_type) } %>
							<div class="col-md-8<%if(false && typeof item_id!=='undefined'){ print(' hidden') } %>">
								<div class="radio">
									<label>
										<input class="item-type" type="radio" name="item_type" value="item"
										<%if(typeof item_id!=='undefined'){ print(' disabled="true"') } %>
											<%if(item_type == 'item'){ print('checked') } %>>
										Item
									</label>
								</div>
								<div class="radio">
									<label>
										<input class="item-type" type="radio" name="item_type" value="giftcard"
										<%if(typeof item_id!=='undefined'){ print(' disabled="true"') } %>
											<%if(item_type == 'giftcard'){ print('checked') } %>>
										Gift Card
									</label>
								</div>
								<div class="radio">
									<label>
										<input class="item-type" type="radio" name="item_type" value="service_fee"
										<%if(typeof item_id!=='undefined'){ print(' disabled="true"') } %>
											<%if(item_type == 'service_fee'){ print('checked') } %>>
										Service Fee
									</label>
								</div>
								<div class="radio">
									<label>
										<input class="item-type" type="radio" name="item_type" value="pass"
										<%if(typeof item_id!=='undefined'){ print(' disabled="true"') } %>
											<%if(item_type == 'pass'){ print('checked') } %>>
										Member Pass
									</label>
								</div>
							</div>
						</div>
					</div>
					
					<!-- RIGHT COLUMN -->
					<div class="col-md-6">
						<% if(item_type != 'service_fee'){ %>
						<div class="form-group">
							<label class="col-md-4 control-label" for="item-inactive">Inactive</label>
							<div class="col-md-8">
								<input style="margin-top: 10px" type="checkbox" name="inactive" value="1" data-unchecked-value="0" id="item-inactive" <%if(inactive == 1){ print('checked') }%>>
							</div>
						</div>
						<% } %>					
						<% if(item_type != 'service_fee'){ %>
						<div class="form-group">
							<label class="col-md-4 control-label" for="item-price">Unit Price <span class="text-danger">*</span></label>
							<div class="col-md-4">
								<input type="text" name="unit_price" value="<%-accounting.formatMoney(unit_price, '')%>" class="form-control" id="item-price"
									data-bv-notempty data-bv-notempty-message="Unit price is required">
							</div>
						</div>
						<% } %>
						<% if(item_type == 'service_fee'){ %>
						<div class="form-group">
							<label class="col-md-4 control-label">Fee Amount <span class="text-danger">*</span></label>
							<div class="col-md-8">
								<div class="row">
									<div class="col-md-6">
										<div class="input-group">
											<span class="input-group-addon">$</span>
											<input type="text" name="unit_price" value="<%-accounting.formatMoney(unit_price, '')%>" 
												class="form-control" id="item-price" data-bv-notempty data-bv-notempty-message="Unit price is required">
										</div>	
									</div>
									<div class="col-md-6">
										<div class="input-group">
											<input type="text" name="parent_item_percent" value="<%-accounting.formatMoney(parent_item_percent, '')%>" 
												class="form-control" id="item-percent-price" data-bv-notempty data-bv-notempty-message="Percentage price is required">
											<span class="input-group-addon">%</span>
										</div>	
									</div>	
								</div>							
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 col-md-offset-5 control-label" for="item-cost" style="font-weight: normal">Whichever is</label>
							<div class="col-md-4">
								<%=_.dropdown({'more':'More', 'less':'Less'}, {'name': 'whichever_is', 'class': 'form-control'}, whichever_is)%>		
							</div>
						</div>
						<% } %>
						<% if(item_type != 'service_fee'){ %>
						<div class="form-group">
							<label class="col-md-4 control-label" for="item-cost">Unit Cost <span class="text-danger">*</span></label>
							<div class="col-md-4">
								<input type="text" name="cost_price" value="<%-accounting.formatMoney(cost_price, '')%>" class="form-control" id="item-cost"
									data-bv-notempty data-bv-notempty-message="Unit cost is required"
								<% if (!App.data.user.get('acl').can('update', 'Inventory/Cost')){ %> disabled="disabled" <% } %>
								>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-md-4 control-label" for="item-max-discount">Max Discount</label>
							<div class="col-md-4 col-xs-6">
								<div class="input-group">
		  							<input type="text" name="max_discount" value="<%-accounting.formatNumber(max_discount, 2)%>" class="form-control" id="item-max-discount" <% if (!App.data.user.get('acl').can('update', 'Inventory/MaxDiscount')){ %> disabled="disabled" <% } %>>
		  							<span class="input-group-addon">%</span>
								</div>
							</div>
							<div class="col-md-4 col-xs-4" style="padding-left: 0px">
								<div class="form-control-static"><h5 class="item-minimum-price" style="padding: 0px; margin: 0px;">= <%-accounting.formatMoney(5.00)%></h5></div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="item-include-tax">Unit Price Includes Tax</label>
							<div class="col-md-7">
								<input style="margin-top: 10px" type="checkbox" name="unit_price_includes_tax" value="1" data-unchecked-value="0" id="item-include-tax" <%if(unit_price_includes_tax == 1 || (typeof item_id=='undefined' && parseInt(App.data.course.get('unit_price_includes_tax')))){ print('checked') }%>>
							</div>
						</div>	
						<% } %>
						<div class="row">
							<div class="col-md-12" id="item-customer-groups"></div>
						</div>
						<% for(var i = 1; i <= 2; i++){ 
							var tax = {
								name: '',
								percent: ''
							};

							if(taxes[i-1] && taxes[i-1]['name']){
								tax = taxes[i-1];
							}
						%>
						<div class="form-group">
							<label class="col-md-4 control-label" for="item-tax1-name">Tax <%-i%></label>
							<div class="col-md-8">	
								<div class="row">
									<div class="col-xs-7">
										<input type="text" name="tax[<%-i-1%>][name]" placeholder="Name" value="<%-tax.name%>" class="form-control col-md-8" id="item-tax<%-i%>-name">
									</div>
									<div class="col-xs-5" style="padding-left: 0px">
										<div class="input-group">
											<input type="text" name="tax[<%-i-1%>][percent]" value="<%-accounting.formatNumber(tax.percent, 3)%>" class="form-control" id="item-tax<%-i%>-percent">
											<span class="input-group-addon">%</span>
										</div>
									</div>
								</div>
								<% if(i == 2){ %>
								<div class="row">
									<div class="col-md-12">
										<div class="checkbox">
											<label><input type="checkbox" name="tax[<%-i-1%>][cumulative]" value="1" data-unchecked-value="0" <%if(taxes && taxes[1] && taxes[1]['cumulative'] == 1){ print('checked') } %>> Cumulative</label>
										</div>
									</div>
								</div>
								<% } %>
							</div>
						</div>
						<% } %>
						<div class="form-group">
							<div class="col-md-12">
								<div class="panel panel-default" style="margin-bottom: 0px;">
									<div class="panel-heading" role="tab" id="headingOne">
										<h4 class="panel-title">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#additional-taxes" aria-expanded="true" aria-controls="collapseOne">
												Additional Taxes
											</a>
										</h4>
									</div>
								</div>
								<div id="additional-taxes" class="collapse" role="tabpanel" aria-labelledby="headingOne" style="padding-top: 10px;">
									<% for(var i = 3; i <= 6; i++){ 
										var tax = {
											name: '',
											percent: ''
										};

										if(taxes[i-1] && taxes[i-1]['name']){
											tax = taxes[i-1];
										}
									%>
									<div class="form-group">
										<label class="col-md-4 control-label" for="item-tax1-name">Tax <%-i%></label>
										<div class="col-md-8">	
											<div class="row">
												<div class="col-xs-7">
													<input type="text" name="tax[<%-i-1%>][name]" placeholder="Name" value="<%-tax.name%>" class="form-control col-md-8" id="item-tax1-name">
												</div>
												<div class="col-xs-5" style="padding-left: 0px">
													<div class="input-group">
														<input type="text" name="tax[<%-i-1%>][percent]" value="<%-accounting.formatNumber(tax.percent, 3)%>" class="form-control" id="item-tax1-percent">
														<span class="input-group-addon">%</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<% } %>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label" for="item-reorder-level">Taxable</label>
							<div class="col-md-4">
								<% if(force_tax === null){ force_tax = 'default'; } %>
								<%=_.dropdown({'default':'Default', '1':'Always Tax', '0':'Never Tax'}, {'name': 'force_tax', 'class': 'form-control'}, force_tax)%>
							</div>
						</div>
						<% if(item_type != 'service_fee'){ %>
						<div class="form-group">
							<label class="col-md-4 control-label" for="item-inventory-level">Quantity <span class="text-danger">*</span></label>
							<div class="col-md-6">
								<div class="input-group">
									<input type="text" name="inventory_level" value="<%-inventory_level%>" class="form-control" id="item-inventory-level" <% if (!App.data.user.get('acl').can('update', 'Inventory/Quantity')){ %> disabled="disabled" <% } %>
									>
									<span class="input-group-addon">
										<label><input type="checkbox" id="item-inventory-unlimited" name="inventory_unlimited" value="1" data-unchecked-value="0" <%if(inventory_unlimited == 1){ print('checked') }%> <% if (!App.data.user.get('acl').can('update', 'Inventory/Quantity')){ %> disabled="disabled" <% } %>
											> Unlimited</label>
									</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label" for="item-reorder-level">Reorder Level <span class="text-danger">*</span></label>
							<div class="col-md-4">
								<input type="text" name="reorder_level" value="<%-reorder_level%>" class="form-control" id="item-reorder-level">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label" for="item-reorder-level">E-Range Size</label>
							<div class="col-md-4">
								<%=_.dropdown({0:0,1:1, 2:2, 3:3}, {'name': 'erange_size', 'class': 'form-control'}, erange_size)%>
							</div>
						</div>
						<% } %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label class="col-md-2 control-label" for="item-price">Description</label>
							<div class="col-md-10">
								<textarea name="description" class="form-control" style="height: 100px" id="item-description"><%-description%></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" id="item-service-fees"></div>
				</div>
			</div>

			<% if(item_type == 'pass'){ %><div class="tab-pane" id="item-pass-settings">
			<!-- Pass Details Here -->
			</div><% } %>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
		<button type="button" class="btn btn-primary save">Save</button>
	</div>
</div>