<div class="panel panel-default" style="overflow: visible">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#customer-household" href="#collapse-item-service-fees">
			Service Fees
			</a>
			<span class="label label-info count">0</span>
		</h4>
	</div>
	<div id="collapse-item-service-fees" class="panel-collapse collapse">
		<div class="panel-body">
			<input class="form-control" id="service-fee-search" value="" placeholder="Search service fees">
			<ul class="customer-data"></ul>
		</div>
	</div>
</div>