<div class="modal-content pass-item-rule-details">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Pass Rule</h4>
	</div>
	<div class="modal-body container-fluid" style="padding-top: 10px">
		<form class="form form-horizontal">
			<div class="form-group">

				<label class="col-md-2 control-label" for="pass-rule-type">Type</label>
						<label class="radio-inline">
							<input class="rule-type" type="radio" name="pass-rule-type" value="teetimes"
							<%if(type == 'teetimes'){ print('checked') } %>>
							Tee Times
						</label>
						<label class="radio-inline">
							<input class="rule-type" type="radio" name="pass-rule-type" value="items"
							<%if(type == 'items'){ print('checked') } %>>
							Items
						</label>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label" for="pass-rule-name">Name</label>
				<div class="col-md-5">
					<input type="text" name="name" value="<%-name%>" class="form-control" id="pass-rule-name">
				</div>
			</div>
			<% if(type == 'teetimes'){ %>
				<div class="form-group">
					<label class="col-md-2 control-label" for="pass-rule-price">Set price to</label>
					<div class="col-md-3">
						<%=_.dropdown(App.data.course.get('price_classes'), {"name":"price_class_id", "class":"form-control"}, price_class_id)%>
					</div>
					<div class="col-md-4" style="padding-left: 0px;">
						<div class="form-control-static">if the conditions below are met</div>
					</div>
				</div>
			<% } %>

			<% if(type == 'items'){ %>
				<div id="item-search"></div>
			<% } %>

			<div class="row" style="margin-top: 25px; margin-bottom: 10px">
				<div class="col-md-8">
					<h3 style="margin: 0px;">Conditions</h3>
				</div>
			</div>
			<div class="row" id="rule-conditions">
				<!-- Rule conditions here -->
			</div>
			<div class="row">
				<div class="col-md-12 pass-rule-condition">
					<button type="button" class="btn btn-success btn-block new-rule-condition">
						<i class="fa fa-plus"></i> Add New Condition
					</button>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default pull-left cancel">Cancel</button>
		<button type="button" class="btn btn-primary save">Save Rule</button>
	</div>
</div>