<div class="col-md-12 pass-rule-condition">
	<table class="table table-compact">
		<thead>
			<tr>
				<th class="condition-header condition-table-field">Field</th>
				<% if(can_filter){ %>
				<th class="condition-header condition-table-filter">
					Filter
					<div class="dropdown dropdown-menu-right pull-right">
						<button class="btn btn-xs btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="add-value">
							+ Add Course
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<% _.each(teesheets, function(teesheet, index){ %>
							<li class="condition-value add-filter" data-field='teesheet' data-value-id="<%-index%>"><a href="#"><%-teesheet.label%></a></li>
							<% }); %>
						</ul>
					</div>
					<div class="dropdown dropdown-menu-right pull-right">
						<button class="btn btn-xs btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="add-value">
							+ Add Price Class
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<% _.each(price_classes, function(price_class, price_class_id){ %>
							<li class="condition-value add-filter" data-field='price_class' data-value-id="<%-price_class_id%>"><a href="#"><%-price_class%></a></li>
							<% }); %>
						</ul>
					</div>					
					<button class="btn btn-xs btn-success pull-right add-filter" type="button" data-field="timeframe">+ Add Date/Time</button>
				</th>
				<% } %>
				<th class="condition-header condition-table-operator">&nbsp;</th>
				<th class="condition-header condition-table-value <% if(scalar_value && can_filter){ %>scalar<% } %>">
					Value
					<% if(field == 'teesheet'){ %>
					<div class="dropdown dropdown-menu-right pull-right">
						<button class="btn btn-xs btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="add-value">
							+ Add <%-fields[field]%>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<% _.each(teesheets, function(teesheet, index){ %>
							<li class="condition-value add-value" data-field='teesheet' data-value-id="<%-index%>"><a href="#"><%-teesheet.label%></a></li>
							<% }); %>
						</ul>
					</div>
					<% }else if(field == 'timeframe'){ %>
					<button class="btn btn-xs btn-success pull-right add-value" type="button" data-field="timeframe">+ Add <%-fields[field]%></button>
					<% } %>
				</th>
				<th class="condition-header condition-table-actions">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="condition-table-parameter condition-table-field">
					<%=_.dropdown(fields, {"name":"field", "class":"form-control condition-field"}, field)%>
					<div class="arrow-notch"></div>
				</td>
				<% if(can_filter){ %>
				<td class="condition-table-parameter condition-table-filter">
					<div id="condition-filter"></div>
					<div class="arrow-notch"></div>
				</td>
				<% } %>
				<td class="condition-table-parameter condition-table-operator">
					<% if(field){ %>
					<%=_.dropdown(valid_operators, {"name":"operator", "class":"form-control condition-operator"}, operator)%>
					<div class="arrow-notch"></div>
					<% } %>
				</td>
				<td class="condition-table-parameter condition-table-value <% if(scalar_value && can_filter){ %>scalar<% } %>">
					<div id="condition-value"></div>
				</td>
				<td class="condition-table-parameter condition-table-actions">
					<button type="button" class="btn btn-danger condition-delete"><i class="fa fa-times"></i></button>
				</td>
			</tr>
		</tbody>
	</table>
</div>