<% var days = {
	1: 'Mon',
	2: 'Tue',
	3: 'Wed',
	4: 'Thu',
	5: 'Fri',
	6: 'Sat',
	7: 'Sun'
}; %>
<div class="row">
	<form class="form">
		<div class="row">
			<label class="col-xs-12" for="item-pass-expiration">Day of Week</label>
		</div>
		<div class="form-group">
			<div class="col-xs-12">
				<% for(var day = 1; day <= 7; day++){ %>
				<label class="timeframe-day <% if(day_of_week.indexOf(day) >= 0){ %>active<% } %>">
					<div class="day"><%-days[day]%></div>
					<input type="checkbox" name="day[<%-day%>]" value="1" data-unchecked-value="0" class="day-of-week" <% if(day_of_week.indexOf(day) >= 0){ %>checked<% } %>>
				</label>
				<% } %>
			</div>
		</div>
		<div class="row">
			<label class="col-xs-6" for="item-pass-expiration">Time of Day</label>
			<div class="col-xs-6" style="text-align: right">
				<span class="label label-default time-start"><%-moment(time[0], 'HHmm').format('h:mma') %></span> to
				<span class="label label-default time-end"><%-moment(time[1], 'HHmm').format('h:mma') %></span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-12">
				<div id="time-of-day-slider"></div>
			</div>
		</div>
		<div class="row">
			<label class="col-xs-12" for="item-pass-expiration">Date Range</label>
		</div>
		<div class="form-group">
			<div class="col-xs-4">
				<input type="text" name="start_date" value="<% if(date && date[0]){ print(moment(date[0], 'MM/DD/YYYY').format('MM/DD/YYYY')) } %>" class="datepicker form-control timeframe-start-date" placeholder="MM/DD/YYYY">
			</div>
			<div class="col-xs-1" style="padding-right: 0px; padding-left: 0px">
				<div class="form-control-static" style="text-align: center">to</div>
			</div>
			<div class="col-xs-4">
				<input type="text" name="end_date" value="<% if(date && date[1]){ print(moment(date[1], 'MM/DD/YYYY').format('MM/DD/YYYY')) } %>" class="datepicker form-control timeframe-start-date" placeholder="MM/DD/YYYY">
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-12">
				<button class="btn btn-primary save-timeframe">Save</button>
			</div>			
		</div>
	</form>
</div>