<div class="panel-heading">
	<span class="fa fa-sort sort-rule"></span>
	<strong><%-name%></strong> - Price Class: <%-price_class_name%>
	<button type="button" class="btn btn-sm btn-danger pull-right pass-rule-delete"><i class="fa fa-trash"></i> Delete</button>
	<button type="button" class="btn btn-sm btn-default pull-right pass-rule-edit"><i class="fa fa-edit"></i> Edit</button>
</div>
<div class="panel-body">
	<ul class="pass-rule-condition-summary">
		<% if(conditions && conditions.length > 0){ 
		_.each(conditions, function(condition){ %>
		<li>
			If
			<span class="pass-rule-field"><%-fields[condition.field]%></span> 
			<% if(condition.filter && condition.filter.length > 0){ %>
			<span class="pass-rule-filter">(
			<% _.each(condition.filter, function(f, index){ %>
				<%-f.label %> <% if(condition.filter[index + 1]){ print('AND') } %>
			<% }) %>
			)</span>
			<% } %>
			<span class="pass-rule-condition"><%-condition.operator%></span> 
			<span class="pass-rule-value">
			<% if((typeof(condition.value) == 'string' || typeof(condition.value) == 'number')){ %>
				<%-condition.value%>
			<% }else if(condition.value && condition.value.length > 0){ %>
				<% _.each(condition.value, function(cond, index){ %>
					<%-cond.label %> <% if(condition.value[index + 1]){ print('<strong>OR</strong>') } %>
				<% }) %>
			<% } %>
			</span>
		</li>
		<% }) }else{ %>
		<span class="text-muted">No conditions</span>
		<% } %>
	</ul>
</div>