<div class="modal-content print-barcodes">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Print Barcodes</h4>
	</div>
	<div class="modal-body container-fluid">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-md-4 control-label">Avery Label Size</label>
				<div class="col-md-5">
					<label class="radio-inline">
						<input type="radio" name="label_size" id="label-size-5267" value="5267" checked> 5267 (4x20)
					</label>
					<label class="radio-inline">
						<input type="radio" name="label_size" id="label-size-5160" value="5160"> 5160 (3x10)
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label">Start Printing At</label>
				<div class="col-md-5">
					<input name="label_size" value="1" id="label-start-number" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label">Top Margin</label>
				<div class="col-md-5">
					<input name="top_margin" value="" id="label-top-margin" placeholder="Optional..." class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label">Show Additional Price</label>
				<div class="col-md-3" style="padding-right: 5px;">
					<input name="additional_name" value="" id="label-additional-name" placeholder="eg. MSRP" class="form-control">
				</div>
				<div class="input-group col-md-2" style="padding-top: 0px;">
					<input type="text" class="form-control" id="label-additional-percentage" placeholder="Diff">
					<span class="input-group-addon">%</span>
				</div>
			</div>
			<h4 style="margin-top: 20px">Barcode Quantities</h4>
			<% if(items && items.length > 0){
			_.each(items.models, function(item){ %>
			<div class="form-group">
				<label class="col-md-4 control-label" style="font-weight: normal;"><%-item.get('name')%></label>
				<div class="col-md-2">
					<input data-item-id="<%-item.get('item_id')%>" name="print_quantity[]" value="1" placeholder="Qty" class="form-control">
				</div>
			</div>
			<% }); %>
			<% } %>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		<button type="button" class="btn btn-primary print">Print</button>
	</div>
</div>