h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

h3, h4, h5 {
  margin-top: 5px;
  font-weight: 600;
}