<div class="hidden-sm hidden-xs">
    <div class="col-md-12">
        <div class="panel-group">
            <div class="panel panel-default summary-panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Balance Due
                    </h4>
                </div>
                <div class="panel-body">
                    <%-accounting.formatMoney(invoice_balance)%>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel-group">
            <div class="panel panel-default summary-panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Last Invoice Date
                    </h4>
                </div>
                <div class="panel-body">
                    <% if(typeof invoices != 'undefined'){
                        print(moment(invoices[0].date, 'YYYY-MM-DD HH:mm:ss').format('M/D/YY'));
                    } else { %>
                        -
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
