<div class="hidden-sm hidden-xs">
    <div class="col-md-6">
        <div class="panel-group">
            <div class="panel panel-default summary-panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <%-member_account_label%>
                    </h4>
                </div>
                <div class="panel-body <%-member_account_balance < 0 ? 'negative-balance' : 'positive-balance'%>">
                    <%-accounting.formatMoney(member_account_balance)%>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel-group">
            <div class="panel panel-default summary-panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <%-customer_account_label%>
                    </h4>
                </div>
                <div class="panel-body <%-account_balance < 0 ? 'negative-balance' : 'positive-balance'%>">
                    <%-accounting.formatMoney(account_balance)%>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hidden-sm hidden-xs">
    <div class="col-md-6">
        <div class="panel-group">
            <div class="panel panel-default summary-panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Loyalty
                    </h4>
                </div>
                <div class="panel-body">
                    <%-accounting.formatNumber(loyalty_points)%>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel-group">
            <div class="panel panel-default summary-panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Last Visit
                    </h4>
                </div>
                <div class="panel-body">
                    <% if(typeof last_visit != 'undefined'){
                    print(moment(last_visit, 'YYYY-MM-DD HH:mm:ss').format('M/D/YY'));
                    } else { %>
                    -
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
