<div class="clearfix">
    <div class="col-md-4">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Text Messenger
                    </h4>
                </div>
                <div class="panel-body" id="messenger">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Most Recent Marketing Campaigns
                    </h4>
                </div>
                <div class="panel-body">
                    <% if(recent_campaigns && recent_campaigns.length > 0){ console.dir(recent_campaigns); %>
                    <%_.each(recent_campaigns, function(campaign){ %>
                        <div class="row campaign-row">
                            <div class="col-md-1">
                                <div class="campaign-icon"><i class="fa fa-envelope fa-lg" style="color:white;"></i></div>
                            </div>
                            <div class="col-md-11">
                                <div><%-campaign.name%></div>
                                <div>Created <%-campaign.date_created%></div>
                            </div>
                            <div class="campaign-row-bottom-border col-md-12"></div>
                        </div>
                    <% }); %>
                    <% }else{ %>
                    <div class="">
                        <div class="col-md-12">
                            <div class="col-md-12 text-muted">No Recent Campaigns</div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div> 

</div>