<div class="nd-table-container layout-box">
	<table class="table items table-responsive"></table>

</div>

<div class="nd-footer clearfix">
	<div class="row">
		<div id="paginator" class="col-md-5 col-sm-6"></div>
		<div id="state-display" class="col-md-3 hidden-sm hidden-xs"></div>
		<div class="col-md-4 col-sm-6">
		 	<div class="selectionButtons btn-group pull-right">
				<button type="button" class="btn btn-danger controls" action="bulkDelete"><i class="fa fa-trash-o" aria-hidden="true"></i><span class="hidden-sm hidden-xs">Delete</span></button>
				<button type="button" class="btn btn-primary controls merge" action="merge"><i class="fa fa-compress" aria-hidden="true"></i><span class="hidden-sm hidden-xs">Merge</span></button>
				<button type="button" class="btn btn-primary controls" action="bulkEdit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span class="hidden-sm hidden-xs">Bulk Edit</span></button>
				<!--<button type="button" class="btn btn-primary controls" action="email"><i class="fa fa-envelope-o" aria-hidden="true"></i>Email</button>-->
				<!--<button type="button" class="btn btn-primary controls" action="text"><i class="fa fa-mobile" aria-hidden="true"></i>Text</button>-->
			</div>
		</div>
</div>
