<div class="modal-content bootstrap-fu">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <i class="fa fa-question-o pull-right header-icon"></i>
        <h4 class="modal-title">
            Customer Merge
        </h4>
    </div>
    <div class="modal-body">
        <form id="merge_form" class="col-md-12">
            <div class="customer-columns">
                <div class="col-md-6 merging-customer">

                </div>

            <!-- Dividing customer merge view-->

                <div class="col-md-6 merging-customer">

                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-muted pull-left" data-dismiss="modal">Close</button>
        <button class="btn btn-primary pull-right" id="save-changes">Save Changes</button>
    </div>
</div>
