    <div class="customer-title">
        <div class="customer-title-position"><%-column%></div>
        <input class="form-control name-search" type="text" value="" id="name-search-<%-column%>" data-customer-position="1"/>
        <input type="hidden" value="<%-person_id%>" name="person_id_<%-column%>"/>
    </div>
    <% if (column == 1) { %>
    <div class="customer-merge-primary form-group selected">
        <input type="checkbox" value="<%-column%>" name="primary_customer_checkbox" id="primary-customer-checkbox-<%-column%>" class="customer-merge-checkbox" checked disabled/>
        <label for="primary-customer-checkbox-<%-column%>" class="col-md-12 control-label">Merge into this customer</label>
        <div class="clear"></div>
    </div>
    <% } else { %>
    <div class="customer-merge-primary form-group not-selected">
        <label for="primary-customer-checkbox-<%-column%>" class="col-md-12 control-label">Duplicate Customer</label>
        <div class="clear"></div>
    </div>
    <% } %>
    <div class="customer-merge-separator"></div>
    <% if(person_id) { %>
    <div class="customer-merge-personal-<%-column%>">
        <div class="customer-merge-header">
            Personal Information
        </div>
        <div class="form-group <% if (column != 1) {print('not-')} %>selected">
            <input type="checkbox" value="<%-column%>" name="name_checkbox" id="name-checkbox-<%-column%>" class="customer-merge-checkbox-radio" />
            <label for="name-checkbox-<%-column%>" class="col-md-12 control-label">Name</label>
            <div class="col-md-12 form-control-container">
                <input class="form-control" type="text" value="<%-first_name%> <%-last_name%>" disabled/>
            </div>
            <div class="clear"></div>
        </div>
        <div class="form-group <% if (column != 1) {print('not-')} %>selected">
            <input type="checkbox" value="<%-column%>" name="email_checkbox" id="email-checkbox-<%-column%>" class="customer-merge-checkbox-radio" />
            <label for="email-checkbox-<%-column%>" class="col-md-12 control-label">Email Address</label>
            <div class="col-md-12 form-control-container">
                <input class="form-control" type="text" value="<%-email%>"  disabled/>
            </div>
            <div class="clear"></div>
        </div>
        <div class="form-group <% if (column != 1) {print('not-')} %>selected">
            <input type="checkbox" value="<%-column%>" name="phone_number_checkbox" id="phone-number-checkbox-<%-column%>" class="customer-merge-checkbox-radio" />
            <label for="phone-number-checkbox-<%-column%>" class="col-md-12 control-label">Phone Number</label>
            <div class="col-md-12 form-control-container">
                <input class="form-control" type="text" value="<%-phone_number%>"  disabled/>
            </div>
            <div class="clear"></div>
        </div>
        <div class="form-group <% if (column != 1) {print('not-')} %>selected">
            <input type="checkbox" value="<%-column%>" name="cell_phone_number_checkbox" id="cell-number-checkbox-<%-column%>" class="customer-merge-checkbox-radio" />
            <label for="cell-number-checkbox-<%-column%>" class="col-md-12 control-label">Mobile Number</label>
            <div class="col-md-12 form-control-container">
                <input class="form-control" type="text" value="<%-cell_phone_number%>"  disabled/>
            </div>
            <div class="clear"></div>
        </div>
        <div class="form-group <% if (column != 1) {print('not-')} %>selected">
            <input type="checkbox" value="<%-column%>" name="comments_checkbox" id="comments-checkbox-<%-column%>" class="customer-merge-checkbox-radio" />
            <label for="comments-checkbox-<%-column%>" class="col-md-12 control-label">Comments</label>
            <div class="col-md-12 form-control-container">
                <input class="form-control" type="text" value="<%-comments%>"  disabled/>
            </div>
            <div class="clear"></div>
        </div>
        <div class="form-group <% if (column != 1) {print('not-')} %>selected">
            <input type="checkbox" value="1" id="select-all-personal-checkbox-<%-column%>" data-section="personal" class="customer-merge-checkbox-radio select-all" />
            <label for="select-all-personal-checkbox-<%-column%>" class="col-md-12 control-label">Select All</label>
            <div class="clear"></div>
        </div>
        <div class="customer-merge-separator"></div>
    </div>
    <div class="customer-merge-accounts-<%-column%>">
        <div class="customer-merge-header">
            Account Info
        </div>
        <div class="form-group <% if (column != 1) {print('not-')} %>selected">
            <input type="checkbox" value="<%-column%>" name="account_number_checkbox" id="account-number-checkbox-<%-column%>" class="customer-merge-checkbox-radio" />
            <label for="account-number-checkbox-<%-column%>" class="col-md-12 control-label">Account Number</label>
            <div class="col-md-12 form-control-container">
                <input class="form-control" type="text" value="<%-account_number%>"  disabled/>
            </div>
            <div class="clear"></div>
        </div>
        <div class="form-group <% if (column != 1) {print('not-')} %>selected">
            <input type="checkbox" value="<%-column%>" name="price_class_checkbox" id="price-class-checkbox-<%-column%>" class="customer-merge-checkbox-radio" />
            <label for="price-class-checkbox-<%-column%>" class="col-md-12 control-label">Price Class</label>
            <div class="col-md-12 form-control-container">
                <input class="form-control" type="text" value="<%-price_class%>"  disabled/>
            </div>
            <div class="clear"></div>
        </div>
        <div class="form-group <% if (column != 1) {print('not-')} %>selected">
            <input type="checkbox" value="<%-column%>" name="discount_checkbox" id="discount-checkbox-<%-column%>" class="customer-merge-checkbox-radio" />
            <label for="discount-checkbox-<%-column%>" class="col-md-12 control-label">Discount</label>
            <div class="col-md-12 form-control-container">
                <input class="form-control" type="text" value="<%-discount%>"  disabled/>
            </div>
            <div class="clear"></div>
        </div>
        <div class="form-group <% if (column != 1) {print('not-')} %>selected">
            <input type="checkbox" value="<%-column%>" name="taxable_checkbox" id="taxable-checkbox-<%-column%>" class="customer-merge-checkbox-radio" />
            <label for="taxable-checkbox-<%-column%>" class="col-md-12 control-label"><%-parseInt(taxable) ? 'Taxable' : 'Non-taxable'%></label>
            <div class="clear"></div>
        </div>
        <div class="form-group <% if (column != 1) {print('not-')} %>selected">
            <input type="checkbox" value="<%-column%>" name="member_checkbox" id="member-checkbox-<%-column%>" class="customer-merge-checkbox-radio" />
            <label for="member-checkbox-<%-column%>" class="col-md-12 control-label">Member</label>
            <div class="clear"></div>
        </div>
        <div class="form-group <% if (column != 1) {print('not-')} %>selected">
            <input type="checkbox" value="<%-column%>" name="minimums_checkbox" id="minimums-checkbox-<%-column%>" class="customer-merge-checkbox-radio" />
            <label for="minimums-checkbox-<%-column%>" class="col-md-12 control-label">Minimums</label>
            <div class="clear"></div>
        </div>
        <div class="form-group <% if (column != 1) {print('not-')} %>selected">
            <input type="checkbox" value="1" id="select-all-accounts-checkbox-<%-column%>" data-section="accounts" class="customer-merge-checkbox-radio select-all" />
            <label for="select-all-accounts-checkbox-<%-column%>" class="col-md-12 control-label">Select All</label>
            <div class="clear"></div>
        </div>
        <div class="customer-merge-separator"></div>
    </div>
    <div class="customer-merge-groups-and-passes-<%-column%>">
        <div class="customer-merge-header">
            Groups and Passes
        </div>
        <div class="form-group <% if (column != 1) {print('not-')} %>selected">
            <input type="checkbox" value="<%-column%>" name="groups_checkbox" id="groups-checkbox-<%-column%>" class="customer-merge-checkbox" <% if (column == 1) {print('checked disabled')} %>/>
            <label for="groups-checkbox-<%-column%>" class="col-md-12 control-label">Groups</label>
            <div class="clear"></div>
        </div>
        <div class="form-group <% if (column != 1) {print('not-')} %>selected">
            <input type="checkbox" value="<%-column%>" name="passes_checkbox" id="passes-checkbox-<%-column%>" class="customer-merge-checkbox" <% if (column == 1) {print('checked disabled')} %>/>
            <label for="passes-checkbox-<%-column%>" class="col-md-12 control-label">Passes</label>
            <div class="clear"></div>
        </div>
        <div class="form-group <% if (column != 1) {print('not-')} %>selected">
            <input type="checkbox" value="1" id="select-all-groups-and-passes-checkbox-<%-column%>" data-section="groups-and-passes" class="customer-merge-checkbox select-all" <% if (column == 1) {print('checked disabled')} %>/>
            <label for="select-all-groups-and-passes-checkbox-<%-column%>" class="col-md-12 control-label">Select All</label>
            <div class="clear"></div>
        </div>
        <div class="customer-merge-separator"></div>
    </div>
    <div class="customer-merge-miscellaneous-<%-column%>">
        <div class="customer-merge-header">
            Miscellaneous
        </div>
        <div class="form-group selected">
            <input type="checkbox" value="<%-column%>" name="member_balance_checkbox" id="member-balance-checkbox-<%-column%>" class="customer-merge-checkbox" checked disabled/>
            <label for="member-balance-checkbox-<%-column%>" class="col-md-12 control-label">Member Balance</label>
            <div class="col-md-12 form-control-container">
                <input class="form-control" type="text" value="$<%-member_account_balance%>"  disabled/>
            </div>
            <div class="clear"></div>
        </div>
        <div class="form-group selected">
            <input type="checkbox" value="<%-column%>" name="customer_balance_checkbox" id="customer-balance-checkbox-<%-column%>" class="customer-merge-checkbox" checked disabled/>
            <label for="customer-balance-checkbox-<%-column%>" class="col-md-12 control-label">Customer Balance</label>
            <div class="col-md-12 form-control-container">
                <input class="form-control" type="text" value="$<%-account_balance%>"  disabled/>
            </div>
            <div class="clear"></div>
        </div>
        <div class="form-group">
            <input type="checkbox" value="1" class="customer-merge-checkbox" checked disabled/>
            <label class="col-md-12 control-label">Update Old Sales</label>
            <div class="clear"></div>
        </div>
        <div class="form-group">
            <input type="checkbox" value="1" class="customer-merge-checkbox"  checked disabled/>
            <label class="col-md-12 control-label">Update Tee Times</label>
            <div class="clear"></div>
        </div>
        <div class="form-group">
            <input type="checkbox" value="1" class="customer-merge-checkbox"  checked disabled/>
            <label class="col-md-12 control-label">Transfer Gift Cards</label>
            <div class="clear"></div>
        </div>
        <div class="form-group">
            <input type="checkbox" value="1" class="customer-merge-checkbox"  checked disabled/>
            <label class="col-md-12 control-label">Transfer Punch Cards</label>
            <div class="clear"></div>
        </div>
        <div class="form-group">
            <input type="checkbox" value="1" class="customer-merge-checkbox"  checked disabled/>
            <label class="col-md-12 control-label">Transfer Credit Cards</label>
            <div class="clear"></div>
        </div>
        <div class="form-group">
            <input type="checkbox" value="1" class="customer-merge-checkbox"  checked disabled/>
            <label class="col-md-12 control-label">Transfer Invoices/Membership Packages</label>
            <div class="clear"></div>
        </div>
        <div class="form-group">
            <input type="checkbox" value="1" class="customer-merge-checkbox"  checked disabled/>
            <label class="col-md-12 control-label">Transfer Loyalty Points</label>
            <div class="clear"></div>
        </div>
        <div class="form-group">
            <input type="checkbox" value="1" class="customer-merge-checkbox"  checked disabled/>
            <label class="col-md-12 control-label">Household Members</label>
            <div class="clear"></div>
        </div>
        <div class="customer-merge-separator"></div>
    </div>
    <% } %>
