@import '../../_common/css/variables';

* {
  text-rendering: optimizeLegibility;
}

#main-nav {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.new-page {
    height: 100%;
    background-color: $white;

    .header {
        border-bottom: $gray solid 1px;
        padding: 5px;
        background: #ffffff;
        width: 100%;
        z-index: 40;

        h2 {
            font-size: 36px;
            font-family: Roboto;
            font-weight: 100;
            margin: 10px 10px 10px 0px;
            letter-spacing: 2px;
        }

        .btn {
          i {
            margin-left: 8px;
          }

          &:hover {
            color: $white;
            cursor:pointer;
            background:$blue;
          }

          &:focus {
            color: $white;
            cursor:pointer;
            background:$blue;
          }

          &.dropdown-toggle {
            position: relative;
            width: 34px;
            height: 34px;

            i{
              position: absolute;
              font-size: 22px;
              margin: 0;
              top: 6px;
              left: 14px;
            }
          }
        }

        input {
          border-color: $blue;
          color:$blue-gray;
          margin:7px 0;
          width: 235px;
          padding-left: 30px;
          position: relative;
        }

        ul.dropdown-menu {
          background: $off-white;
          border: 1px solid $gray;
          width: 220px;
          li{
            margin-top: 5px;
            margin-bottom: 5px;
          }
          li:hover {
            background: $blue-gray;
            color: $white;
            cursor:pointer;
            a{
              background: $blue-gray;
              color: $white;
              cursor: pointer;
            }
          }

          input {
            width: 25px;
            display: block;
            width: 25px;
            margin: 4px;
          }
          label{
            padding: 5px;
          }
        }

        #quick-search {
          position: relative;

          &:before {
            content: "\f002";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            color: $blue;
            font-size: 18px;
            position: absolute;
            top: 12px;
            left: 10px;
            display: block;
            z-index: 1;
          }
        }
      }

      #main-table .layout-box {
          padding:15px 15px;
          overflow-x: auto;
          height: auto;
          margin-bottom: 61px;
          display: block;
      }
      th.sortable a{
          position: relative;
          padding-right: 20px;
          &:after{
            content: '';
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            color: $blue-gray;
            font-size: 12px;
            position: absolute;
            top: -5px;
            right: 5px;
          }
        }
      th.sortable a:hover:after {
        content: '\f0dc';
      }
      th.sortable.ascending a:after {
        content: '\f0d8';
      }
      th.sortable.descending a:after {
        content: '\f0d7';
      }
      th.sortable.account_balance,
      th.sortable.member_account_balance{
        text-align: right;
        white-space: nowrap;
      }
      table {
          border:none;
      }
      table tr.selected>td {
        background: rgb(211, 235, 239) !important;
        color: $slate !important;
      }
      table td ul.dropdown-menu {
        background: $off-white;
        border: 1px solid $gray;
        top: 6px;
        left: -126px;
        li a:hover {
          background: $blue-gray;
          color: $white;
          cursor:pointer;
        }
      }
    tbody td.currency-cell {
      text-align: right;
      padding-right: 30px !important;
    }
}

.column-header {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $blue-gray;
  margin-top: 15px;
}

#advanced-search-button {
  color: #ffffff;
  background: $blue;
  margin-top:10px;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 200;
}
.nd-footer{
    padding:5px 15px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $off-white;
    border-top: 1px solid $gray;
}
.backgrid-paginator li{
    font-family: Roboto;
    font-weight: 100;
    display:inline;
    list-style:none;
    border: 1px solid $gray;
    background-color:$white;
    color:$blue;
    padding:5px 10px;
    margin: 0px;
}
.backgrid-paginator {
  margin: 8px 0;
  float: left;
   ul{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    li {
      display:inline-block;
      margin-left: -1px;
      padding: 0px;
      transition: hover;
      &:first-child:not(:last-child) {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &:last-child:not(:first-child) {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      &:hover {
        background: $blue-gray;
        a {
        color: $white;
        }
      }
      &.active {
        background-color: $blue;
        a {
          color: white;
        }
      }
      a {
        padding: 6px 12px;
        display: inline-block;
        xfont-family: 'Arial', sans-serif !important;
        text-decoration: none;
        color: $blue;
      }
    }
  }
}

#state-display {
  padding-top: 15px;
  padding-left: 10px;
  span.start,
  span.end{
    font-weight:bold;
  }
}

.selectionButtons {
  margin: 8px 0;
  float: left;
  i {
    margin-right:7px;
  }
  .btn{
    font-size: 13px;
    letter-spacing: 1.17px;
    font-weight: 200;
    color: $white;
    border: 1px solid;
    margin-left: -1px;
  }
  .btn[disabled] {
    border: 1px solid !important;
    background: $gray !important;
    color: $white !important;
  }
  .btn-primary {
    background: $blue;
  }
  .btn-danger {
    background: $red;
  }
}

table.backgrid {
    width:100%;
    border-top:none;
    thead {

        th {
          background-color:white;
          border-right:none;
          padding:10px 8px;
          border-bottom: 2px solid $gray;
          color: $blue-gray;
          font-family: Roboto;
          letter-spacing: 1.17px;
          font-weight: 200;
          }

          a, button {
            color: $blue-gray;
            font-family: Roboto;
            letter-spacing: 1.17px;
            font-weight: 200;
            border: none;
            background: transparent;
            text-transform: uppercase;
            &:hover {
              text-decoration: none !important;
              cursor: pointer;
            }

          }
          &:hover{
            text-decoration:none !important;
          }

        }
    tbody {
        tr:nth-child(even) {
            background: white;
        }
        tr:nth-child(odd) {
            background: $alternate;
        }
        td {
          font-size: 13px;
          color: $slate;
          padding: 12px 10px !important;
          button.dropdown-toggle {
            width: 21px;
            height: 21px;
            background: $off-white;
            border:1px solid $gray !important;
            padding:6px;
            display: block;
            float: none;
            margin: 0;
            top: -12px;
            left: 12px;
            position: absolute;
            .caret {
              position: absolute;
              top: 8px;
              left: 6px;
              border-top-color: $blue-gray;
            }
          }
        }
    }
}
.marg-top-25{
  margin-top: 25px;
}
.marg-top-20 {
  margin-top: 20px;
}
.marg-top-15 {
  margin-top: 15px;
}
.marg-top-10 {
  margin-top:10px;
}
.marg-top-5 {
  margin-top: 5px;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $gray;
  font-size: 13px;
  font-style: italic;
  font-family: 'Roboto'
}
@media screen and (max-width: 1200px){
  table.backgrid {
    display: block;
    width: 100vw;
    overflow-x: auto;
    white-space: nowrap;
    thead {
      th {
        white-space: nowrap;
      }
    }
  }
}
