<!--button class="btn btn-primary btn-block new testing">Log a test event</button-->
<nav id="bulk-edit-support-left-nav" class="col-sm-5 col-md-6 col-lg-4">

</nav>
<section id="bulk-edit-support-disp-area" class="col-sm-7 col-md-6 col-lg-8" style="background-color:white;"></section>