<a href="#" class="dropdown-toggle app-header-current app-header-btn" data-toggle="dropdown" role="button" aria-expanded="false">
    <div class="app-icon app-icon-header app-icon-white app-icon-<%-App.router.page%>"></div>
    <span id="current-page"><%-App.router.page%></span>
    <span class="caret"></span>
</a>
<ul class="dropdown-menu app-header-apps" role="menu">
    <%
    var hide_food_bev = false;
    var hide_sales = false;
    
    if(App.data.modules.findWhere({'module_id': 'sales_v2'}) != undefined){
        hide_sales = true;
    }
    if(App.data.modules.findWhere({'module_id': 'food_and_beverage_v2'}) != undefined){
        hide_food_bev = true;
    }

    _.each(App.data.modules.models, function(module){
    if(
        (module.get('module_id') == 'sales' && hide_sales) ||
        (module.get('module_id') == 'food_and_beverage' && hide_food_bev)
    ){
    return false;
    }

    if(!App.data.user.has_module_permission(module.get('module_id'))){

        if(module.get("is_partner_app") && App.data.user.is_admin()){
            //Allow admins access to all partner apps
        } else {
            return false;
        }
    } %>
    <li>
        <a href="<%-module.getUrl()%>" <% if(module.get("is_partner_app")){print('target="_blank"')} %>>
            <% if(LANG[module.get('name_lang_key')]){ %>
            <div class="app-icon app-icon-<%-LANG[module.get('name_lang_key')]%>"></div>
            <div class="app-content">
                <div class="app-name">
                    <%-LANG[module.get('name_lang_key')]%>
                </div>
                <div class="app-description">
                    <%-LANG[module.get('desc_lang_key')]%>
                </div>
            </div>
            <% }else{ %>
            <div class="app-icon app-icon-<%-module.get('name_lang_key')%>"></div>
            <div class="app-content">
                <div class="app-name">
                    <%-module.get('name_lang_key')%>
                </div>
                <div class="app-description">
                    <%-module.get('desc_lang_key')%>
                </div>
            </div>
            <% } %>
        </a>
    </li>
    <% }) %>
</ul>
