<a href="#" class="dropdown-toggle app-header-btn" data-toggle="dropdown" role="button" aria-expanded="false">
    <%-App.data.user.get('first_name') +' '+ App.data.user.get('last_name')%>
    <span class="caret"></span>
</a>
<ul class="dropdown-menu app-header-list" role="menu">
    <li>
        <a href="#" id="menu_timeclock">
            <div class="app-icon app-icon-time-clock"></div>
            <div class="app-content">
                <div class="app-name">
                    Timeclock
                </div>
                <div class="app-description">
                    Clock In/Clock Out
                </div>
            </div>
        </a>
    </li>
    <% if(App.data.user.has_module_permission('employees')){ %>
    <li>
        <a href="<%-SITE_URL + '/employees'%>">
            <div class="app-icon app-icon-employees"></div>
            <div class="app-content">
                <div class="app-name">
                    Employees
                </div>
                <div class="app-description">
                    Add, Update & Search
                </div>
            </div>
        </a>
    </li>
    <% } %>
    <% if(App.data.user.has_module_permission('config')){ %>
    <li>
        <a href="<%-SITE_URL + '/config'%>">
            <div class="app-icon app-icon-config"></div>
            <div class="app-content">
                <div class="app-name">
                    Settings
                </div>
                <div class="app-description">
                    & Preferences
                </div>
            </div>
        </a>
    </li>
    <% } %>
    <li>
        <a href="<%-SITE_URL + '/support'%>">
            <div class="app-icon app-icon-support"></div>
            <div class="app-content">
                <div class="app-name">
                    Support
                </div>
                <div class="app-description">
                    ForeUp help
                </div>
            </div>
        </a>
    </li>
    <li>
        <a id="chat-support" onclick="olark('api.box.expand')">
            <div class="app-icon app-icon-support"></div>
            <div class="app-content">
                <div class="app-name">Chat</div>
                <div class="app-description">Chat support</div>
            </div>
        </a>
    </li>
    <li>
        <a id="uservoice-feedback" data-uv-trigger="smartvote">

            <div class="app-icon app-icon-support"></div>
            <div class="app-content">
                <div class="app-name">Feedback</div>
                <div class="app-description">Submit feedback</div>
            </div>
        </a>
    </li>
    <!-- START JULY REFERRAL PROGRAM LINK -->

    <!--<li style="background-color:#d3ffbc;">
        <a id="menu_referral_program" target='_blank' href="http://foreupgolf.com/referrals/">
            <div class="app-icon app-icon-Customers"></div>
            <div class="app-content">
                <div class="app-name">
                    Referral Program
                </div>
                <div class="app-description">
                    Make Some Extra Cash
                </div>
            </div>
        </a>
    </li>-->
    <!-- END JULY REFERRAL PROGRAM LINK -->

    <li>
        <a id="menu_logout" href="<%-SITE_URL + '/home/logout'%>">
            <div class="app-icon app-icon-logout"></div>
            <div class="app-content">
                <div class="app-name">
                    Logout
                </div>
                <div class="app-description">
                    Sign out of ForeUp
                </div>
            </div>
        </a>
    </li>
</ul>
