<div id="loading"> </div>
<div id="chart-container" class="container-fluid" style="max-height: 400px">
    <div class="row">
        <div class="col-md-2" style="overflow:hidden; height:300px">
            <div id="legend"></div>
        </div>
        <div class="col-md-6">
            <canvas id="myChart" ></canvas>
        </div>

    </div>

</div>
