<div class="modal-content edit-customer-window">
    <div class="modal-header">
        Save Report
    </div>
    <div class="modal-body container-fluid" >
        <span><% if(typeof(saving_for_report)!== "undefined") { %> The report needs to be saved first. <% }%></span>
        <div id="r-details"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Tags</label>
            <div class="col-sm-10">
                <div id="r-tags"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary save">Yes</button>
        <button type="button" data-dismiss="modal" class="btn btn-default pull-left">No</button>
    </div>
</div>
