<div class="page-report-header container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-report-title">
                <%= title %>
            </h1>

        </div>
        <div class="date-group">
            <div id="r-date-grouping"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="r-chart-parameters"></div> 
        </div>      
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="r-default-date-filter" class="page-filter"></div>
            <div id="r-splitby" class="page-inline-input"></div>
            <div id="r-filters" class="page-filter"></div>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-xs-12">
            <button id="data-refresh" class="btn btn-primary">Refresh Data</button>
        </div>
    </div>-->
</div>

<div class="page-subnav">
    <div class="dropdown" style="float:right;">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Export
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#" id="download-excel">Excel</a></li>
            <li> <a href="#" id="download-pdf">Pdf</a></li>
            <li> <a href="#" id="download-csv">CSV</a></li>
        </ul>
    </div>
</div>

<div class="page-data">
    <div id="r-table"></div>
</div>