<div class="row page-report-header background-color-gradient">
    <div class="col-md-12">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-report-title">
                    <%= title %>
                    <span id="save">
                        <i class="fa fa-star-o"></i> Save
                    </span>
                </h1>
                <button id="toggle-chart" class="btn btn-default btn-sm" style="padding:10px; margin-left: 25px">
                    Charts 
                    <span style="font-size:8px;vertical-align: super;">Beta</span>
                </button>
                <button id="send-to-marketing" class="btn btn-default btn-sm" style="padding:10px">
                    Send to Marketing
                </button>
            </div>
            <div class="date-group">
                <div id="r-date-grouping"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <!-- <button class="btn btn-default" style="float:right; margin-right:100px;" id="chart-options"> Chart Options </button> -->
                <div id="r-widget"></div>
                <div id="r-chart-parameters"></div> 
            </div>      
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="r-default-date-filter" class="page-filter"></div>
                <div id="r-splitby" class="page-inline-input"></div>
                <div id="r-filters" class="page-filter"></div>
            </div>
        </div>
    </div>
</div>

<div class="page-subnav">
    <div id="r-columns" class="page-inline-input"></div>
    <div class="btn-group">
    </div>
    <div class="dropdown" style="float:right;">

        <select class="comparisons form-control">
            <option selected>No Comparison</option>
            <option id="last_week">Last Week</option>
            <option id="last_month">Last Month</option>
            <option id="last_year">Last Year</option>
        </select>

    </div>

    <div class="dropdown" style="float:right;">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Export
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#" id="download-excel">Excel</a></li>
            <li> <a href="#" id="download-pdf">Pdf</a></li>
            <li> <a href="#" id="download-csv">CSV</a></li>
        </ul>
    </div>



    <div id="r-table-search" class="pull-right input-container">
        <span class="fa fa-search input-icon"></span>
        <input class="search form-control" name="search" value="" placeholder="Search...">
    </div>
</div>

<div class="page-data">
    <div id="r-table"></div>
    <div id="r-chart"></div>
    <div id="r-summary"></div>
</div>