<select id="splitbyColumn"  data-bind="value:split_by" class="form-control">
    <option value="">None</option>
    <% _.each(visibleColumns,function(column,key){ %>
        <option value="<%=column.get('completeName')  %>" >
            <% print(column.get("label") || column.get("column")); %>
        </option>
    <% })%>
</select>