<div id="controls"></div>
<% if( data != null && visibleColumns != null){ %>
<table id="mini_table" class="display">
    <thead>
    <tr>
        <% _.each(visibleColumns,function(column,key){ %>
        <th><% print(column.get("label") || column.get("column")); %></th>
        <% })%>

        <th><% _.each(linkouts,function(linkout,key){ %> Links<% })%></th>
    </tr>
    </thead>
    <tbody>
    <% _.each(data,function(row,row_key){ %>
    <tr>
        <% _.each(visibleColumns,function(column,key){ %>
        <td class="clickable" data-column="<%= column.get('completeName') %>" data-value="<%= row[column.get('completeName')] %>"><% print(row[column.get("completeName")] || "&nbsp;"); %></td>
        <% })%>
        <td>
            <div class="btn-group">
            <% _.each(linkouts,function(link,key){ %>
                <button class="btn btn-default btn-sm linkout"  data-row="<%= row_key %>" data-linkout="<%= key %>"><%= link.label %></button>
            <% })%>
            </div>
        </td>
    </tr>
    <% })%>
    </tbody>
    <% if(!_.isUndefined(arguments[0].totals)){ %>
        <tfoot>
        <tr>
            <% _.each(arguments[0].totals,function(value,key){ %>
            <td  ><%= value %></td>
            <% })%>
            <td>&nbsp;</td>
        </tr>
        </tfoot>
    <% } %>
</table>
<%  } %>