@import "modules/prefix";
@import "partials/normalize";
@import "partials/base";
@import "./genomicons/style.css";
@import "partials/type";
@import "partials/header";
@import "partials/vender";


body {
  background-color: #f9f9f9;
  margin-top: 50px !important;
  
  &.hideScroll {
    overflow: hidden;
  }
}

.btn-primary {
  background-color: $color-blue-3;
  border-color: $color-blue-4;
  
  &:hover {
    background-color: $color-blue-4;
    border-color: $color-blue-5;
  }
}

.cb-header {
  height: 60px;
  background-color: #fff;
  border-bottom: solid 1px #d3d3d3;
  padding: 0 14px;
  font-size: 20px;
  overflow: hidden;
  
  .cb-header-back {
    margin: 12px 14px 0 0;
    height: 34px;
    width: 28px;
    border-radius: 4px;
    text-align: center;
    background-color: #fff;
    border: none;
    line-height: 8px;
    padding: 0;
    
    &:hover {
      background-color: #f3f3f3;
    }
  }
  
  .cb-header-title {
    margin-top: 12px;
  }
  
  .cb-header-step-name {
    margin-top: 6px;
    line-height: 1.2em;
  }
  
  .cb-header-campaign-name {
    font-size: 14px;
    color: #a3a3a3;
  }

  .create-campaign {
    margin-top: 12px;
  }
}

.cb-nav {
  float: right;
  margin: 12px 20px 0 0;
  cursor: default;
  
  .cb-circle {
    width: 36px;
    height: 36px;
    line-height: 34px;
    border-radius: 50%;
    display: inline-block;
    border: solid 1px #e3e3e3;
    text-align: center;
    color: #e3e3e3;
    position: relative;
    margin: 0 2px;
    cursor: default;
    
    
    &.isActive {
      border-color: #5089c0;
      color: #5089c0;
      
      &:before {
        content: '';
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        display: inline-block;
        height: 0;
        position: absolute;
        width: 0;
        border-bottom: 8px solid #d3d3d3;
        top: 40px;
        right: 50%;
        margin-right: -8px;
      }
    }
    
    &.isComplete {
      color: #f3f3f3;
      border-color: #4db954;

      &:after {
        font-family: 'Genomicons';
        content: '\e60f';
        font-size: 40px;
        color: #4db954;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -16px 0 0 -12px;
      }

    }
    
    &.isAvailable {
      color: orange;
      border-color: orange;
    }
  }
}

.cb-nav-control {
  margin: 12px 0 0 0;
}

.cb-header-save {
  margin: 16px 30px 0 0;
  
  .save {
    line-height: 8px;
    color: #a3a3a3;
    border-radius: 3px;
    padding: 4px 10px;
    font-size: 12px;
    cursor: pointer;
    background-color: transparent;
    -webkit-transition: background-color 300ms ease, color 300ms ease;
    -moz-transition: background-color 300ms ease, color 300ms ease;
    -ms-transition: background-color 300ms ease, color 300ms ease;
    -o-transition: background-color 300ms ease, color 300ms ease;
    transition: background-color 300ms ease, color 300ms ease;
    
    &:hover {
      color: $color-grey-5;
      background-color: #f3f3f3;
    }
  }  
}

.container.container-padding {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cb-container {
  margin: 20px;
}

.cb-preview {
  background-color: #f3f3f3;
  overflow: auto;
  position: fixed;
  top: 110px;
  right: 0;
  bottom: 0;
  left: 240px;
  -webkit-transition: left 200ms ease;
  -moz-transition: left 200ms ease;
  -ms-transition: left 200ms ease;
  -o-transition: left 200ms ease;
  transition: left 200ms ease;
  
  @media (min-width: 1200px) {
    left: 340px;
  }
}

.loading-screen {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  
  img {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
  }
}

.cb-control {
  width: 240px;
  border-right: solid 1px #d3d3d3;
  background-color: #fff;
  overflow: auto;
  padding: 20px 0;
  float: left;
  position: relative;
  -webkit-transition: width 200ms ease;
  -moz-transition: width 200ms ease;
  -ms-transition: width 200ms ease;
  -o-transition: width 200ms ease;
  transition: width 200ms ease;
  
  .cb-default-container {
    width: 210px;
    margin: 0 auto;
  }
  
  .cb-default-component {
    height: 75px;
    width: 60px;
    border-radius: 6px;
    text-align: center;
    font-weight: 300;
    background-color: #fff;
    color: $color-blue-3;
    border: solid 1px transparent;
    display: inline-block;
    margin: 0 5px 10px 5px;
    font-size: 14px;
    
    &:hover {
      border-color: $color-blue-3;
    }

    .cb-sv-helper-img {
      width: 40px;
      height: 35px;
      margin: 10px auto 0 auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 40px 35px;
      padding: 10px 0 0 0;
    }
  }
  
  @media (min-width: 1200px) {
    width: 340px;

    .cb-default-container {
      width: 270px;
    }
    
    .cb-default-component {
      width: 80px;
      height: 95px;
      font-size: 16px;
      
      .cb-sv-helper-img {
        margin-bottom: 2px;
        width: 50px;
        height: 44px;
        background-size: 50px 44px;

      }
    }
  }
}

.grab {
  &:hover {
    cursor: -webkit-grab !important;
    cursor: -moz-grab !important;
  }

  &:active {
    cursor: -webkit-grabbing !important;
    cursor: -moz-grabbing !important;
  }
}

.cb-divider {
  display: block;
  margin: 10px 0;
  background: rgba(135, 182, 175, .3);
  height: 2px;
}

.cb-spacer-handle {
  position: absolute;
  bottom: -10px;
  height: 25px;
  border: solid 1px #5089c0;
  width: 100px;
  color: #5089c0;
  left: 50%;
  font-size: 12px;
  line-height: 20px;
  margin-left: -45px;
  border-radius: 0 0 4px 4px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: ns-resize;
  z-index: 10;
  display: none;
  background-color: #fff;
}

.cb-element-controls {
  position: absolute;
  top: -26px;
  right: 50px;
  display: none;

  .cb-element-controls-item {
    height: 34px;
    width: 34px;
    background-color: #fff;
    text-align: center;
    padding: 6px 0;
    color: #5089c0;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    margin-left: -1px;
    border: solid 1px #5089c0;
    position: relative;
    z-index: 10;
    
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}


.cb-section {
  position: relative;
  
  .cb-section-controls {
    position: absolute;
    top: 50%;
    right: -23px;
    margin-top: -24px;
    opacity: 0;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
  }

  .cb-section-controls-item {
    height: 24px;
    width: 24px;
    background-color: #fff;
    text-align: center;
    line-height: 22px;
    color: #a3a3a3;
    font-size: 16px;
    cursor: pointer;
    border: solid 1px #a3a3a3;
    padding-top: 1px;
    
     &:first-child {
       border-radius: 0 4px 0 0;
     }
    
    &:last-child {
      border-radius: 0 0 4px 0;
      margin-top: -1px;
    }
    
    &:hover {
      border-color: #5089c0;
      color: #5089c0;
      background-color: #fff;
    }
  }
  
  &:hover {
    .cb-section-controls {
      opacity: 1;
    }
  }
}

.image {
  
  .image-icon {
    color: #5089c0;
    margin-bottom: 4px;
    
    .gi {
      font-size: 30px !important;
    }
  }
  
  .image-text {
    color: #5089c0;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 8px;
    line-height: 1.4em;
  }
  
  &.image-dropzone {
    border: dashed 1px #5089c0;
    border-radius: 2px;
    padding: 10px;
    
    .btn {
      margin-bottom: 10px;
    }
  }
}

.border-leg {
  position: absolute;
  background-color: #d3d3d3;
  display: none;
  
  &.border-leg-top {
    height: 10px;
    top: -10px;
    left: 40px;
    right: 40px;
    background-color: transparent;
    border-top: solid 1px #d3d3d3;
    
    &.border-leg-image {
      left: -10px;
      right: -10px;
    }
  }
  
  &.border-leg-right {
    width: 1px;
    top: -10px;
    bottom: 14px;
    right: 40px;
    
    &.border-leg-image {
      right: -10px;
    }
  }

  &.border-leg-bottom {
    bottom: 14px;
    left: 40px;
    right: 40px;
    height: 1px;
    
    &.border-leg-image {
      left: -10px;
      right: -10px;
    }
  }

  &.border-leg-left {
    width: 1px;
    top: -10px;
    bottom: 14px;
    left: 40px;

    &.border-leg-image {
      left: -10px;
      right: -10px;
    }

  }
}

.column.first {
  .border-leg-top {
    right: 15px;
  }
  .border-leg-right {
    right: 15px;
  }
  .border-leg-bottom {
    right: 15px;
  }
}

.column.second {
  .border-leg-top {
    left: 15px;
  }
  .border-leg-left {
    left: 15px;
  }
  .border-leg-bottom {
    left: 15px;
  }
}


.cb-sv-helper {
  height: 75px;
  width: 60px;
  border: solid 1px #3d6a98;
  background-color: #5089c0;
  border-radius: 6px;
  color: #fff;
  text-align: center;
  font-weight: 300;
  -webkit-box-shadow: -2px 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: -2px 4px 6px rgba(0, 0, 0, .3);
  box-shadow: -2px 4px 6px rgba(0, 0, 0, .3);
}

.cb-element {
  position: relative;
  
  &:hover {
    
    .cb-element-controls {
      display: block;
    }
    
    .border-leg {
      display: block;
    }
    
    .cb-spacer-handle {
      display: block;
    }
  }
  
  &.isActive {
    border-color: #5089c0;
    
    .cb-element-controls {
      display: block;
    }
  }
}

.noHover {
  border: none;
}


.cb-sv-placeholder {
  margin: 4px 0;
  height: 2px;
  background-color: #5089c0;
  position: relative;
  
  .cbp-left {
    width:10px;
    height: 10px;
    background: #5089c0;
    border-radius: 10px;
    position: absolute;
    top: -4px;
    left: -9px;
  }

  .cbp-right {
    width:10px;
    height: 10px;
    background: #5089c0;
    border-radius: 10px;
    position: absolute;
    top: -4px;
    right: -9px;
  }
}

.cb-text-edit {
  margin: 10px 0;
  font-size: 14px;
  color: #404040;

  .angular-medium-editor:focus {
    outline: none;
  }
}

.cb-edit-panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-index-2;
  background-color: #fff;
}

ul.nav.nav-tabs {
  background-color: #f9f9f9;
  border-bottom: solid 1px  #ddd;
  padding: 0 5px;
  margin-bottom: 10px;
  
  a {
    font-size: 12px;
  }
}

.tab-set-top {
  padding: 10px 0;
  background-color: #f9f9f9;
  font-weight: 700;
  color: #404040;
}

.image-thumbnail {
  border-radius: 3px;
  margin: 0 10px;
}

.img-gallery {
  margin: 0 10px 10px 10px;
  max-width: 60px;
  max-height: 60px;
  display: block;
  float: left;
}

.cb-placeholder-container {
  position: relative;

  .cb-section-placeholder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
    color: #5089c0;
    
    .cb-section-placeholder-contents {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin-top: -23px;
    }

    img {
      margin: 0 auto 4px auto;
      display: block;
    }
    
    .cb-section-placeholder:first-child {
      border-right: solid 1px #d0d8df;
    }
  }
}

.col1 {
  .cb-element {
    margin-right: 15px;
  }
}

.col2 {
  .cb-element {
    margin-left: 15px;
  }
}

.add-layout-container {
  position: relative;
  width: 602px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif !important;
  
  .al-outer {
    margin-top: 16px;
    width: 50px;
    height: 50px;
    background-image: url("/frontend/campaign-builder/resources/img/lines.png");
    border-radius: 50%;
    position: relative;
    border: solid 1px #d3d3d3;
    cursor: pointer;

    .al-inner {
      top: -1px;
      left: -1px;
      position: absolute;
      width: 50px;
      height: 50px;
      line-height: 48px;
      font-size: 30px;
      font-weight: 700;
      color: #808080;
      background-color: #fff;
      border: solid 1px #d3d3d3;
      border-radius: 50%;
      -webkit-transform: perspective(1px) scale(.8,.8);
      -ms-transform: scale(.8,.8);
      transform: perspective(1px) scale(.8,.8);
      -webkit-transition: -webkit-transform 400ms ease, background-color 400ms ease, border-color 400ms ease, color 400ms ease;
      -moz-transition: transform 400ms ease, background-color 400ms ease, border-color 400ms ease, color 400ms ease;
      -ms-transition: -ms-transform 400ms ease, background-color 400ms ease, border-color 400ms ease, color 400ms ease;
      -o-transition: -webkit-transform 400ms ease, background-color 400ms ease, border-color 400ms ease, color 400ms ease;
      transition: transform 400ms ease, background-color 400ms ease, border-color 400ms ease, color 400ms ease;
    }

    &:hover {
      .al-inner {
        background-color: #5089c0;
        border-color: #425f74;
        color: #fff;
        -webkit-transform: perspective(1px) scale(1,1);
        -ms-transform: perspective(1px) scale(1,1);
        transform: perspective(1px) scale(1,1);
      }
    }
    &.isActive {
      .al-inner {
        background-color: #5089c0;
        border-color: #425f74;
        color: #fff;
        -webkit-transform: perspective(1px) scale(1,1);
        -ms-transform: perspective(1px) scale(1,1);
        transform: perspective(1px) scale(1,1);
      }
    }
  }

  .al-title {
    font-weight: 700;
    font-size: 16px;
    color: #808080;
    margin-top: 8px;
    cursor: default;
  }
  
  .al-float {
    position: absolute;
    top: 62px;
    background-color: #404040;
    border-radius: 6px;
    width: 602px;
    padding: 5px;
    height: 110px;
    z-index: 100;
    opacity: 0;
    display: none;
    -webkit-transform: translate(0,40px);
    -ms-transform: translate(0,40px);
    transform: translate(0,40px);
    -webkit-transition: opacity 400ms ease, -webkit-transform 400ms ease;
    -moz-transition: opacity 400ms ease, transform 400ms ease;
    -ms-transition: opacity 400ms ease, -ms-transform 400ms ease;
    -o-transition: opacity 400ms ease, -webkit-transform 400ms ease;
    transition: opacity 400ms ease, transform 400ms ease;
    
    .choose-layout {
      width: 138px;
      height: 90px;
      background-color: #686868;
      margin: 5px;
      float: left;
      border-radius: 4px;
      position: relative;
      
      &:hover {
        &:after {
          content: '';
          cursor: pointer;
          background-color: rgba(80, 137, 192, .3);
          border: solid 5px #5089c0;
          width: 138px;
          height: 90px;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 3px;
        }
      }
    }
    
    &:before {
      content: '';
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      display: inline-block;
      height: 0;
      position: absolute;
      top: -8px;
      left: 50%;
      width: 0;
      margin-left: -8px;
      border-bottom: 8px solid #404040;
    }
  }
}

.cb-box-title {
  font-size: 18px;
  margin: 0 0 10px 10px;
  color: $color-grey-5;
}

.clear-btn {
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  vertical-align: baseline;
  height: 32px;
  color: #a3a3a3;
  background-color: transparent;
  overflow: hidden;
  -webkit-transition: background-color 300ms ease, color 300ms ease;
  -moz-transition: background-color 300ms ease, color 300ms ease;
  -ms-transition: background-color 300ms ease, color 300ms ease;
  -o-transition: background-color 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, color 300ms ease;
  
  &:hover {
    background-color: $color-white-2;
    color: $color-grey-5;
  }
}


table.db-table {
  width: 100%;
  
  td {
    padding: 10px 0 10px 10px;
    
  }
  
  thead td {
    border-bottom: solid 1px #d3d3d3;
    font-weight: 300;
    font-size: 12px;
  }
  
  tbody {
    tr {
      &:hover {
        
        .clear-btn {
          opacity: 1;
        }
      }

      td {
        border-top: solid 1px #e9e9e9;
      }
    }
  }
  
}

.check-mark {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background-color: $color-green-3;
  display: inline-block;
}

.ct-tabs {
  text-align: center;
  margin-top: 20px;
  
  .ct-tab {
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding-top: 6px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 400;
    opacity: .4;
    background-color: transparent;
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -ms-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    
    .img {
      width: 32px;
      height: 32px;
      margin: 0 auto;
      
      img {
        display: inline-block;
      }
    }
    
    &:hover {
      opacity: 1;
    }
    
    &.isActive {
      background-color: rgba(255, 255, 255, 0.2);
      opacity: 1;
    }
  }
}

.chosen-container-multi {
  width: 100% !important;

  .chosen-choices {
    padding: 2px !important;
    min-height: 34px !important;
    border-radius: 4px;
    width: 100% !important;
    border-color: #ccc !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    background-image: none !important;

    .search-field {
      padding: 4px 0 !important;
    }

    li.search-field {

      input[type=text] {
        height: 17px !important;
      }
    }
  }
}


.template-container {
  overflow: hidden;
  max-width: 300px;
  border-radius: 6px;
  border: solid 2px rgba(163, 163, 163, 0.3);
  float: left;
  margin: 0 0 10px 0;
  position: relative;
  
  .template-img {
    width: 100%;
  }
  
  .template-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -ms-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    text-align: center;
    
    .template-wrapper-title {
      text-align: center;
      font-size: 28px;
      font-weight: 700;
      color: #fff;
      margin-top: 65px;
      cursor: default;
    }
    
    .template-wrapper-button {
      margin-top: 10px;
    }
  }
  
  &:hover {
    
    .template-wrapper {
      opacity: 1;
    }
  }
  
  &.isActive {
    border-color: $color-blue-3;
  }
  
  @media (min-width: $break-tablet) {
    max-width: none;
    width: 172px;
    margin-right: 10px;
    
    .template-wrapper {
      .template-wrapper-title {
        margin-top: 24px;
        font-size: 16px;
      }
    }
  }
  
  @media (min-width: $break-computer) {
    width: 227px;
    .template-wrapper {
      .template-wrapper-title {
        font-size: 20px;
        margin-top: 44px;
      }
    }
  }
  
  
  &.template-container-blank {

    .template-wrapper {
      opacity: 1;
      background: none;
      cursor: pointer;
      
      .template-wrapper-click {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 90px;
        bottom: auto;
        right: 0;
        left: 0;
      }
      
      .template-wrapper-title {
        text-shadow: 0 2px 1px rgba(0,0,0,.7);
        margin-top: 2px;
        cursor: pointer;
        margin-bottom: 5px;
      }
      
      button {
        margin-top: 2px;
      }
    }
    
    .tbp {
      display: none;
    }

    @media (min-width: $break-tablet) {
      .template-wrapper .template-wrapper-click {
        top: 50px;
        bottom: 50px;
      }
    }

    @media (min-width: $break-computer) {
      .template-wrapper .template-wrapper-click {
        top: 68px;
        bottom: 68px;
      }
    }
    
    &:hover {
      border-color: #a3a3a3;
    }

  }
}

.ct-section {
  max-width: 300px;
  margin: 0 auto;
  
  .ct-section-title {
    font-size: 24px;
    color: #808080;
    margin-bottom: 10px;
  }
  
  @media (min-width: $break-tablet) {
    max-width: none;
    width: 100%;

    .template-container-parent {
      .template-container:nth-child(4n) {
        margin-right: 0;
      }
    }
    
  }
  
  @media (min-width: $break-computer-wide) {
    width: 940px;
  }
  
}

.pe-container {
  position: fixed;
  
  
}

.preview-template-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #404040;
  z-index: 100;
  display: none;
  
  .pt-navigate {
    width: 50px;
    padding: 15px 0;
    border-radius: 100%;
    background-color: $color-grey-3;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 400px;
    margin-top: -25px;
    cursor: pointer;
    
    &.pt-navigate-next {
      right: 20px;
    }

    &.pt-navigate-back {
      left: 20px;
    }
    
    &:hover {
      background-color: $color-blue-3;
    }
  }
  
  .pt-close {
    z-index: 10;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px;
    border-radius: 3px;
    width: 30px;
    text-align: center;
    color: #f3f3f3;
    cursor: pointer;
    
    &:hover {
      background-color: #808080;
    }
  }
  
  .pt-loader {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 300px;
    margin-left: -30px;
  }

  .pt-name {
    font-size: 22px;
    color: #fff;
    height: 50px;
    text-align: center;
    padding-top: 20px;
  }

  .pt-web {
    width: 700px;
    margin: 0 0 0 -350px;
    background: transparent;
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 50%;
    min-height: 200px;
    display: none;


    .pt-web-header {
      border-radius: 5px 5px 0 0;
      background-color: #e3e3e3;
      padding: 6px 12px;
      height: 32px;
      border-bottom: solid 1px #d3d3d3;
      
      .pt-web-circle {
        width: 8px;
        height: 8px;
        background-color: #a3a3a3;
        display: inline-block;
        margin: 0 2px;
        border-radius: 100%;
      }
      
    }
    
    .pt-web-content {
      position: absolute;
      top: 32px;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
      text-align: center;
      overflow-x: hidden;
    }
  }
  
  .pt-mobile {
    width: 320px;
    border-radius: 14px;
    background-color: #a3a3a3;
    height: 540px;
    padding: 40px 0;
    margin: 0 auto;
    display: none;
    
    .pt-mobile-screen {
      -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .4);
      -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, .4);
      box-shadow: inset 0 0 4px rgba(0, 0, 0, .4);
      width: 320px;
      background-color: #fff;
      height: 460px;
      margin: 0 auto;
      overflow-x: hidden;
      text-align: center;
      overflow-y: auto;
    }
  }
}

.form-group {
  position: relative;
  
  .input-loader {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  .group-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
  }
}


.to-list {
  border-radius: 6px;
  background-color: #fff;
  overflow: hidden;
  border: solid 1px #f3f3f3;
  
  div {
    padding: 5px 10px;
    border-bottom: solid 1px #f3f3f3;
    position: relative;
    
    input {
      margin-right: 7px;
    }
    
    &:last-child {
      border: none;
    }
  }
  
  &.to-list-small {
    width: 300px;
    margin: 0 auto;
  }
  
  .to-list-remove {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    border: none;
    text-align: center;
    position: absolute;
    right:4px;
    background: none;
    
    i {
      font-size: 16px;
    }
    
    &:hover {
      background-color: $color-blue-3;
      color: #fff;
    }
  }
}
.center-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -35px;
  width: 70px;
  height: 70px;
  padding: 10px;
  background-color: #fff;
  border-radius: 100%;
  border: solid 1px rgba(68, 215, 232, 0.40);
}

.ep-container {
  border: solid 1px #d3d3d3;
  border-radius: 6px;
  background-color: #fff;
  margin: 0 0 40px 0;
  
  .ep-header {
    padding: 14px;
    
    .ep-img {
      float: left;
      width: 40px;
      height: 40px;
      margin-right: 14px;
    }
    
    .ep-header-content {
      
      .ep-title {
        width: 46px;
        display: inline-block;
        font-style: italic;
        color: #a3a3a3;
      }
    }
  }
  
  .ep-subject {
    border-top: solid 1px #d3d3d3;
    padding: 14px;
    font-size: 16px;
    color: #808080;
    font-weight: 700;
  }
}

.pick-a-date {
  
  .lead {
    margin-top: 20px;
    font-weight: 700;
  }
}

.pick-a-time {
  
  .lead {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
  }
}

.wrapper-light {
  
  .logo {
    .image-dropzone {
      border-color: rgba(255,255,255,.6);
    }

    .image-text, .image-icon {
      color: #fff;
    }
  }
  
  .al-title {
    color: #fff;
  }
  
  .al-outer {
    
  }
}


/*-------------------------------------
  campaign scheduler
-------------------------------------*/
ul.cs-container {
  list-style: none;
  padding: 0;
  margin: 6px 0 30px 0;
  
  li {
    border: solid 1px #d3d3d3;
    background-color: #fff;
    vertical-align: middle;
    position: relative;
    margin-top: -1px;
    cursor: pointer;
    
    &:first-child {
      border-radius: 4px 4px 0 0;
    }
    
    &:last-child {
      border-radius: 0 0 4px 4px;
      border-bottom: solid 1px #d3d3d3;
    }
    
    label {
      margin: 0;
      vertical-align: middle;
      padding: 8px 14px;
      font-weight: 400;
      font-size: 16px;
      display: block;
      cursor: pointer;
      
      input {
        margin-right: 6px;
        cursor: pointer;
      }
    }
    
    &.isActive {
      z-index: $z-index-4;
      border-color: $color-blue-1;
      background-color: #f5f8ff;
      
      label {
        color: $color-blue-5;
      }
      

      &:before {
        content: ' ';
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        display: inline-block;
        height: 0;
        position: absolute;
        top: 11px;
        right: -9px;
        width: 0;
        border-left: 8px solid $color-blue-1; 
      }

      &:after {
        @extend .isActive:before;
        border-left-color: #f5f8ff;
        top: 11px;
        right: -8px;
      }

    }
  }
}

hr {
  margin-top: 8px;
  margin-bottom: 8px;
}

.cb-stats {
  margin-bottom: 50px;
  text-align: center;
  
  .cb-stats-number {
    font-weight: 400;
    font-size: 32px;
    color: $color-blue-3;
  }
  
  .cb-stats-title {
    color: #808080;
  }
}
.cb-listofemails {

  max-height:200px;
  overflow: auto;
}

.blue-bold {
  color: $color-blue-3;
  font-weight: 700;
  font-size: 16px;
}
.campaign-type {
  height: 30px;
  width: 30px;
  border-radius: 100px;
  background: #4885B1;
  line-height: 30px;
  text-align: center;
  padding: 7px;
  margin: 0 10px 0 0;
  display: inline-block;

  i {
    color: #fff;
  }

  &.multi-line {
    float: left;
    margin: 3px 10px 3px 0;
  }
}

.row-stat {
  height: 16px;
  border-bottom: dotted 1px #d3d3d3;
  font-size: 16px;
  margin-bottom: 14px;

  div {
    background-color: #f9f9f9;
  }

  .title {
    float: left;
    padding-right: 6px;
  }

  .stat {
    float: right;
    padding-left: 6px;
  }
}



































