/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@import url(./genomicons/style.css);
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  width: auto;
  height: auto;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px; }

body {
  background: #fff;
  color: #404040; }

a {
  color: #4885B1;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    text-decoration: underline;
    color: #2475a3; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

.box-sizing-content {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important; }

.grab:hover {
  cursor: -webkit-grab !important;
  cursor: -moz-grab !important; }

.grab:active {
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important; }

.no-grab {
  webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-drag: none; }

.is-hidden {
  display: none !important; }

.is-invisible {
  visibility: none !important; }

.block {
  display: block !important; }

.inline {
  display: inline !important; }

.inline-block {
  display: inline-block !important; }

.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.mr-small {
  margin-right: 5px !important; }

.mr-medium {
  margin-right: 10px !important; }

.mr-large {
  margin-right: 20px !important; }

.ml-small {
  margin-left: 5px !important; }

.ml-medium {
  margin-left: 10px !important; }

.ml-large {
  margin-left: 20px !important; }

.mt-small {
  margin-top: 5px !important; }

.mt-medium {
  margin-top: 10px !important; }

.mt-large {
  margin-top: 20px !important; }

.mb-small {
  margin-bottom: 5px !important; }

.mb-medium {
  margin-bottom: 10px !important; }

.mb-large {
  margin-bottom: 20px !important; }

.pr-small {
  padding-right: 5px !important; }

.pr-medium {
  padding-right: 10px !important; }

.pr-large {
  padding-right: 20px !important; }

.pl-small {
  padding-left: 5px !important; }

.pl-medium {
  padding-left: 10px !important; }

.pl-large {
  padding-left: 20px !important; }

.pt-small {
  padding-top: 5px !important; }

.pt-medium {
  padding-top: 10px !important; }

.pt-large {
  padding-top: 20px !important; }

.pb-small {
  padding-bottom: 5px !important; }

.pb-medium {
  padding-bottom: 10px !important; }

.pb-large {
  padding-bottom: 20px !important; }

h1 {
  font-size: 2.4em; }

h2 {
  font-size: 2.1em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.2em; }

h1, h2, h3,
h4, h5, h6 {
  color: #404040;
  font-weight: 400;
  margin: 5px 0 10px 0; }
  h1 span.sub, h2 span.sub, h3 span.sub,
  h4 span.sub, h5 span.sub, h6 span.sub {
    color: #808080;
    font-size: .7em;
    font-weight: 300; }

p {
  font-size: 14px; }

.page-header {
  border-bottom: solid 1px #c3c3c3; }
  .page-header span {
    font-size: .8em;
    color: #808080; }

.lead {
  font-weight: 300;
  font-size: 1.3em; }

.ti {
  vertical-align: middle; }

.gi {
  font-size: 20px; }
  .gi.left {
    margin-right: 6px; }
  .gi.right {
    margin-left: 6px; }
  .gi.gi-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg); } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg); } }

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg); }
  100% {
    -o-transform: rotate(359deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.app-header {
  background-color: #4885B1;
  border-radius: 0;
  border: none;
  z-index: 50;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }
  .app-header a {
    color: #fff; }
  .app-header .app-header-logo {
    height: 32px;
    padding-top: 7px; }
    .app-header .app-header-logo img {
      height: 32px; }
  .app-header .app-header-btn {
    background-color: #4885B1 !important; }
    .app-header .app-header-btn:focus, .app-header .app-header-btn:hover {
      background-color: #2475a3 !important; }
  .app-header .app-header-toggle {
    border: none; }
    .app-header .app-header-toggle .icon-bar {
      background-color: #fff; }
    .app-header .app-header-toggle:link, .app-header .app-header-toggle :visited {
      background-color: #4885B1 !important; }
    .app-header .app-header-toggle:hover, .app-header .app-header-toggle :active, .app-header .app-header-toggle :focus {
      background-color: #2475a3 !important;
      border: none; }
      .app-header .app-header-toggle:hover .icon-bar, .app-header .app-header-toggle :active .icon-bar, .app-header .app-header-toggle :focus .icon-bar {
        background-color: #fff; }
  .app-header .btn-default:hover, .app-header .btn-default:focus, .app-header .btn-default.focus, .app-header .btn-default:active, .app-header .btn-default.active, .app-header .open > .dropdown-toggle.btn-default {
    background-color: #4885B1; }
  .app-header .app-header-list {
    font-size: 18px; }
    .app-header .app-header-list li {
      min-width: 200px; }
      .app-header .app-header-list li a {
        padding: 14px 16px !important;
        color: #fff; }
        .app-header .app-header-list li a:hover, .app-header .app-header-list li a:focus {
          background-color: #2475a3 !important; }
    .app-header .app-header-list span {
      font-size: 12px;
      color: #fff;
      display: block; }
  .app-header ul.app-header-apps li {
    width: 100%;
    display: block;
    float: left;
    overflow: hidden; }
    .app-header ul.app-header-apps li a {
      padding: 14px 16px !important;
      font-size: 18px;
      color: #fff; }
      .app-header ul.app-header-apps li a:hover, .app-header ul.app-header-apps li a:focus {
        background-color: #2475a3 !important; }
      .app-header ul.app-header-apps li a span {
        font-size: 12px;
        color: #fff;
        display: block; }
  @media (min-width: 768px) {
    .app-header .app-header-current {
      font-size: 20px;
      padding-top: 13px !important; }
    .app-header ul.app-header-apps {
      width: 402px; }
      .app-header ul.app-header-apps li {
        width: 200px;
        display: block;
        float: left;
        overflow: hidden; }
        .app-header ul.app-header-apps li a {
          padding: 10px 20px !important;
          font-size: 18px;
          color: #404040; }
          .app-header ul.app-header-apps li a:hover, .app-header ul.app-header-apps li a:focus {
            background-color: #f5f5f5 !important; }
          .app-header ul.app-header-apps li a span {
            font-size: 12px;
            color: #808080;
            display: block; }
    .app-header .app-header-list {
      font-size: 18px; }
      .app-header .app-header-list li {
        min-width: 200px; }
        .app-header .app-header-list li a {
          padding: 10px 20px !important;
          color: #404040; }
          .app-header .app-header-list li a:hover, .app-header .app-header-list li a:focus {
            background-color: #f5f5f5 !important; }
      .app-header .app-header-list span {
        font-size: 12px;
        color: #808080;
        display: block; } }

.tt-theme {
  border-radius: 3px;
  border: none;
  background: #404040;
  color: #fff; }

.tt-theme .tooltipster-content {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  padding: 8px 10px; }

.medium-toolbar-arrow-under:after {
  top: 40px;
  border-color: #428bca transparent transparent transparent; }

.medium-toolbar-arrow-over:before {
  border-color: transparent transparent #428bca transparent; }

.medium-editor-toolbar {
  border: 1px solid #357ebd;
  background-color: #428bca;
  border-radius: 4px;
  -webkit-transition: top 0.075s ease-out, left 0.075s ease-out;
  transition: top 0.075s ease-out, left 0.075s ease-out; }

.medium-editor-toolbar li button {
  width: 40px;
  height: 40px;
  border: none;
  line-height: 12px;
  border-right: 1px solid #357ebd;
  background-color: transparent;
  color: #fff;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  transition: background-color 0.2s ease-in, color 0.2s ease-in; }

.medium-editor-toolbar li button:hover {
  background-color: #3276b1;
  color: #fff; }

.medium-editor-toolbar li .medium-editor-button-first {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.medium-editor-toolbar li .medium-editor-button-last {
  border-right: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.medium-editor-toolbar li .medium-editor-button-active {
  background-color: #3276b1;
  color: #fff; }

.medium-editor-toolbar-form-anchor {
  background: #428bca;
  color: #fff;
  border-radius: 4px; }

.medium-editor-toolbar-form-anchor input {
  height: 40px;
  background: #428bca;
  color: #fff; }

.medium-editor-toolbar-form-anchor input::-webkit-input-placeholder {
  color: #fff;
  color: rgba(255, 255, 255, 0.8); }

.medium-editor-toolbar-form-anchor input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  color: rgba(255, 255, 255, 0.8); }

.medium-editor-toolbar-form-anchor input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  color: rgba(255, 255, 255, 0.8); }

.medium-editor-toolbar-form-anchor input:-ms-input-placeholder {
  color: #fff;
  color: rgba(255, 255, 255, 0.8); }

.medium-editor-toolbar-form-anchor a {
  color: #fff; }

.medium-editor-toolbar-anchor-preview {
  background: #428bca;
  color: #fff;
  border-radius: 4px; }

.medium-editor-placeholder:after {
  color: #d3d3d3;
  width: 110px; }

.modal-backdrop {
  bottom: 0; }

body {
  background-color: #f9f9f9;
  margin-top: 50px !important; }
  body.hideScroll {
    overflow: hidden; }

.btn-primary {
  background-color: #4885B1;
  border-color: #2475a3; }
  .btn-primary:hover {
    background-color: #2475a3;
    border-color: #1c5b80; }

.cb-header {
  height: 60px;
  background-color: #fff;
  border-bottom: solid 1px #d3d3d3;
  padding: 0 14px;
  font-size: 20px;
  overflow: hidden; }
  .cb-header .cb-header-back {
    margin: 12px 14px 0 0;
    height: 34px;
    width: 28px;
    border-radius: 4px;
    text-align: center;
    background-color: #fff;
    border: none;
    line-height: 8px;
    padding: 0; }
    .cb-header .cb-header-back:hover {
      background-color: #f3f3f3; }
  .cb-header .cb-header-title {
    margin-top: 12px; }
  .cb-header .cb-header-step-name {
    margin-top: 6px;
    line-height: 1.2em; }
  .cb-header .cb-header-campaign-name {
    font-size: 14px;
    color: #a3a3a3; }
  .cb-header .create-campaign {
    margin-top: 12px; }

.cb-nav {
  float: right;
  margin: 12px 20px 0 0;
  cursor: default; }
  .cb-nav .cb-circle {
    width: 36px;
    height: 36px;
    line-height: 34px;
    border-radius: 50%;
    display: inline-block;
    border: solid 1px #e3e3e3;
    text-align: center;
    color: #e3e3e3;
    position: relative;
    margin: 0 2px;
    cursor: default; }
    .cb-nav .cb-circle.isActive {
      border-color: #5089c0;
      color: #5089c0; }
      .cb-nav .cb-circle.isActive:before, .cb-nav ul.cs-container li.cb-circle.isActive:after, ul.cs-container .cb-nav li.cb-circle.isActive:after {
        content: '';
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        display: inline-block;
        height: 0;
        position: absolute;
        width: 0;
        border-bottom: 8px solid #d3d3d3;
        top: 40px;
        right: 50%;
        margin-right: -8px; }
    .cb-nav .cb-circle.isComplete {
      color: #f3f3f3;
      border-color: #4db954; }
      .cb-nav .cb-circle.isComplete:after {
        font-family: 'Genomicons';
        content: '\e60f';
        font-size: 40px;
        color: #4db954;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -16px 0 0 -12px; }
    .cb-nav .cb-circle.isAvailable {
      color: orange;
      border-color: orange; }

.cb-nav-control {
  margin: 12px 0 0 0; }

.cb-header-save {
  margin: 16px 30px 0 0; }
  .cb-header-save .save {
    line-height: 8px;
    color: #a3a3a3;
    border-radius: 3px;
    padding: 4px 10px;
    font-size: 12px;
    cursor: pointer;
    background-color: transparent;
    -webkit-transition: background-color 300ms ease, color 300ms ease;
    -moz-transition: background-color 300ms ease, color 300ms ease;
    -ms-transition: background-color 300ms ease, color 300ms ease;
    -o-transition: background-color 300ms ease, color 300ms ease;
    transition: background-color 300ms ease, color 300ms ease; }
    .cb-header-save .save:hover {
      color: #404040;
      background-color: #f3f3f3; }

.container.container-padding {
  margin-top: 20px;
  margin-bottom: 20px; }

.cb-container {
  margin: 20px; }

.cb-preview {
  background-color: #f3f3f3;
  overflow: auto;
  position: fixed;
  top: 110px;
  right: 0;
  bottom: 0;
  left: 240px;
  -webkit-transition: left 200ms ease;
  -moz-transition: left 200ms ease;
  -ms-transition: left 200ms ease;
  -o-transition: left 200ms ease;
  transition: left 200ms ease; }
  @media (min-width: 1200px) {
    .cb-preview {
      left: 340px; } }

.loading-screen {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff; }
  .loading-screen img {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px; }

.cb-control {
  width: 240px;
  border-right: solid 1px #d3d3d3;
  background-color: #fff;
  overflow: auto;
  padding: 20px 0;
  float: left;
  position: relative;
  -webkit-transition: width 200ms ease;
  -moz-transition: width 200ms ease;
  -ms-transition: width 200ms ease;
  -o-transition: width 200ms ease;
  transition: width 200ms ease; }
  .cb-control .cb-default-container {
    width: 210px;
    margin: 0 auto; }
  .cb-control .cb-default-component {
    height: 75px;
    width: 60px;
    border-radius: 6px;
    text-align: center;
    font-weight: 300;
    background-color: #fff;
    color: #4885B1;
    border: solid 1px transparent;
    display: inline-block;
    margin: 0 5px 10px 5px;
    font-size: 14px; }
    .cb-control .cb-default-component:hover {
      border-color: #4885B1; }
    .cb-control .cb-default-component .cb-sv-helper-img {
      width: 40px;
      height: 35px;
      margin: 10px auto 0 auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 40px 35px;
      padding: 10px 0 0 0; }
  @media (min-width: 1200px) {
    .cb-control {
      width: 340px; }
      .cb-control .cb-default-container {
        width: 270px; }
      .cb-control .cb-default-component {
        width: 80px;
        height: 95px;
        font-size: 16px; }
        .cb-control .cb-default-component .cb-sv-helper-img {
          margin-bottom: 2px;
          width: 50px;
          height: 44px;
          background-size: 50px 44px; } }

.grab:hover {
  cursor: -webkit-grab !important;
  cursor: -moz-grab !important; }

.grab:active {
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important; }

.cb-divider {
  display: block;
  margin: 10px 0;
  background: rgba(135, 182, 175, 0.3);
  height: 2px; }

.cb-spacer-handle {
  position: absolute;
  bottom: -10px;
  height: 25px;
  border: solid 1px #5089c0;
  width: 100px;
  color: #5089c0;
  left: 50%;
  font-size: 12px;
  line-height: 20px;
  margin-left: -45px;
  border-radius: 0 0 4px 4px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: ns-resize;
  z-index: 10;
  display: none;
  background-color: #fff; }

.cb-element-controls {
  position: absolute;
  top: -26px;
  right: 50px;
  display: none; }
  .cb-element-controls .cb-element-controls-item {
    height: 34px;
    width: 34px;
    background-color: #fff;
    text-align: center;
    padding: 6px 0;
    color: #5089c0;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    margin-left: -1px;
    border: solid 1px #5089c0;
    position: relative;
    z-index: 10; }
    .cb-element-controls .cb-element-controls-item:first-child {
      border-radius: 4px 0 0 4px; }
    .cb-element-controls .cb-element-controls-item:last-child {
      border-radius: 0 4px 4px 0; }

.cb-section {
  position: relative; }
  .cb-section .cb-section-controls {
    position: absolute;
    top: 50%;
    right: -23px;
    margin-top: -24px;
    opacity: 0;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease; }
  .cb-section .cb-section-controls-item {
    height: 24px;
    width: 24px;
    background-color: #fff;
    text-align: center;
    line-height: 22px;
    color: #a3a3a3;
    font-size: 16px;
    cursor: pointer;
    border: solid 1px #a3a3a3;
    padding-top: 1px; }
    .cb-section .cb-section-controls-item:first-child {
      border-radius: 0 4px 0 0; }
    .cb-section .cb-section-controls-item:last-child {
      border-radius: 0 0 4px 0;
      margin-top: -1px; }
    .cb-section .cb-section-controls-item:hover {
      border-color: #5089c0;
      color: #5089c0;
      background-color: #fff; }
  .cb-section:hover .cb-section-controls {
    opacity: 1; }

.image .image-icon {
  color: #5089c0;
  margin-bottom: 4px; }
  .image .image-icon .gi {
    font-size: 30px !important; }

.image .image-text {
  color: #5089c0;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 8px;
  line-height: 1.4em; }

.image.image-dropzone {
  border: dashed 1px #5089c0;
  border-radius: 2px;
  padding: 10px; }
  .image.image-dropzone .btn {
    margin-bottom: 10px; }

.border-leg {
  position: absolute;
  background-color: #d3d3d3;
  display: none; }
  .border-leg.border-leg-top {
    height: 10px;
    top: -10px;
    left: 40px;
    right: 40px;
    background-color: transparent;
    border-top: solid 1px #d3d3d3; }
    .border-leg.border-leg-top.border-leg-image {
      left: -10px;
      right: -10px; }
  .border-leg.border-leg-right {
    width: 1px;
    top: -10px;
    bottom: 14px;
    right: 40px; }
    .border-leg.border-leg-right.border-leg-image {
      right: -10px; }
  .border-leg.border-leg-bottom {
    bottom: 14px;
    left: 40px;
    right: 40px;
    height: 1px; }
    .border-leg.border-leg-bottom.border-leg-image {
      left: -10px;
      right: -10px; }
  .border-leg.border-leg-left {
    width: 1px;
    top: -10px;
    bottom: 14px;
    left: 40px; }
    .border-leg.border-leg-left.border-leg-image {
      left: -10px;
      right: -10px; }

.column.first .border-leg-top {
  right: 15px; }

.column.first .border-leg-right {
  right: 15px; }

.column.first .border-leg-bottom {
  right: 15px; }

.column.second .border-leg-top {
  left: 15px; }

.column.second .border-leg-left {
  left: 15px; }

.column.second .border-leg-bottom {
  left: 15px; }

.cb-sv-helper {
  height: 75px;
  width: 60px;
  border: solid 1px #3d6a98;
  background-color: #5089c0;
  border-radius: 6px;
  color: #fff;
  text-align: center;
  font-weight: 300;
  -webkit-box-shadow: -2px 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -2px 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: -2px 4px 6px rgba(0, 0, 0, 0.3); }

.cb-element {
  position: relative; }
  .cb-element:hover .cb-element-controls {
    display: block; }
  .cb-element:hover .border-leg {
    display: block; }
  .cb-element:hover .cb-spacer-handle {
    display: block; }
  .cb-element.isActive {
    border-color: #5089c0; }
    .cb-element.isActive .cb-element-controls {
      display: block; }

.noHover {
  border: none; }

.cb-sv-placeholder {
  margin: 4px 0;
  height: 2px;
  background-color: #5089c0;
  position: relative; }
  .cb-sv-placeholder .cbp-left {
    width: 10px;
    height: 10px;
    background: #5089c0;
    border-radius: 10px;
    position: absolute;
    top: -4px;
    left: -9px; }
  .cb-sv-placeholder .cbp-right {
    width: 10px;
    height: 10px;
    background: #5089c0;
    border-radius: 10px;
    position: absolute;
    top: -4px;
    right: -9px; }

.cb-text-edit {
  margin: 10px 0;
  font-size: 14px;
  color: #404040; }
  .cb-text-edit .angular-medium-editor:focus {
    outline: none; }

.cb-edit-panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background-color: #fff; }

ul.nav.nav-tabs {
  background-color: #f9f9f9;
  border-bottom: solid 1px  #ddd;
  padding: 0 5px;
  margin-bottom: 10px; }
  ul.nav.nav-tabs a {
    font-size: 12px; }

.tab-set-top {
  padding: 10px 0;
  background-color: #f9f9f9;
  font-weight: 700;
  color: #404040; }

.image-thumbnail {
  border-radius: 3px;
  margin: 0 10px; }

.img-gallery {
  margin: 0 10px 10px 10px;
  max-width: 60px;
  max-height: 60px;
  display: block;
  float: left; }

.cb-placeholder-container {
  position: relative; }
  .cb-placeholder-container .cb-section-placeholder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
    color: #5089c0; }
    .cb-placeholder-container .cb-section-placeholder .cb-section-placeholder-contents {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin-top: -23px; }
    .cb-placeholder-container .cb-section-placeholder img {
      margin: 0 auto 4px auto;
      display: block; }
    .cb-placeholder-container .cb-section-placeholder .cb-section-placeholder:first-child {
      border-right: solid 1px #d0d8df; }

.col1 .cb-element {
  margin-right: 15px; }

.col2 .cb-element {
  margin-left: 15px; }

.add-layout-container {
  position: relative;
  width: 602px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif !important; }
  .add-layout-container .al-outer {
    margin-top: 16px;
    width: 50px;
    height: 50px;
    background-image: url("/frontend/campaign-builder/resources/img/lines.png");
    border-radius: 50%;
    position: relative;
    border: solid 1px #d3d3d3;
    cursor: pointer; }
    .add-layout-container .al-outer .al-inner {
      top: -1px;
      left: -1px;
      position: absolute;
      width: 50px;
      height: 50px;
      line-height: 48px;
      font-size: 30px;
      font-weight: 700;
      color: #808080;
      background-color: #fff;
      border: solid 1px #d3d3d3;
      border-radius: 50%;
      -webkit-transform: perspective(1px) scale(0.8, 0.8);
      -ms-transform: scale(0.8, 0.8);
      transform: perspective(1px) scale(0.8, 0.8);
      -webkit-transition: -webkit-transform 400ms ease, background-color 400ms ease, border-color 400ms ease, color 400ms ease;
      -moz-transition: transform 400ms ease, background-color 400ms ease, border-color 400ms ease, color 400ms ease;
      -ms-transition: -ms-transform 400ms ease, background-color 400ms ease, border-color 400ms ease, color 400ms ease;
      -o-transition: -webkit-transform 400ms ease, background-color 400ms ease, border-color 400ms ease, color 400ms ease;
      transition: transform 400ms ease, background-color 400ms ease, border-color 400ms ease, color 400ms ease; }
    .add-layout-container .al-outer:hover .al-inner {
      background-color: #5089c0;
      border-color: #425f74;
      color: #fff;
      -webkit-transform: perspective(1px) scale(1, 1);
      -ms-transform: perspective(1px) scale(1, 1);
      transform: perspective(1px) scale(1, 1); }
    .add-layout-container .al-outer.isActive .al-inner {
      background-color: #5089c0;
      border-color: #425f74;
      color: #fff;
      -webkit-transform: perspective(1px) scale(1, 1);
      -ms-transform: perspective(1px) scale(1, 1);
      transform: perspective(1px) scale(1, 1); }
  .add-layout-container .al-title {
    font-weight: 700;
    font-size: 16px;
    color: #808080;
    margin-top: 8px;
    cursor: default; }
  .add-layout-container .al-float {
    position: absolute;
    top: 62px;
    background-color: #404040;
    border-radius: 6px;
    width: 602px;
    padding: 5px;
    height: 110px;
    z-index: 100;
    opacity: 0;
    display: none;
    -webkit-transform: translate(0, 40px);
    -ms-transform: translate(0, 40px);
    transform: translate(0, 40px);
    -webkit-transition: opacity 400ms ease, -webkit-transform 400ms ease;
    -moz-transition: opacity 400ms ease, transform 400ms ease;
    -ms-transition: opacity 400ms ease, -ms-transform 400ms ease;
    -o-transition: opacity 400ms ease, -webkit-transform 400ms ease;
    transition: opacity 400ms ease, transform 400ms ease; }
    .add-layout-container .al-float .choose-layout {
      width: 138px;
      height: 90px;
      background-color: #686868;
      margin: 5px;
      float: left;
      border-radius: 4px;
      position: relative; }
      .add-layout-container .al-float .choose-layout:hover:after {
        content: '';
        cursor: pointer;
        background-color: rgba(80, 137, 192, 0.3);
        border: solid 5px #5089c0;
        width: 138px;
        height: 90px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 3px; }
    .add-layout-container .al-float:before {
      content: '';
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      display: inline-block;
      height: 0;
      position: absolute;
      top: -8px;
      left: 50%;
      width: 0;
      margin-left: -8px;
      border-bottom: 8px solid #404040; }

.cb-box-title {
  font-size: 18px;
  margin: 0 0 10px 10px;
  color: #404040; }

.clear-btn {
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  vertical-align: baseline;
  height: 32px;
  color: #a3a3a3;
  background-color: transparent;
  overflow: hidden;
  -webkit-transition: background-color 300ms ease, color 300ms ease;
  -moz-transition: background-color 300ms ease, color 300ms ease;
  -ms-transition: background-color 300ms ease, color 300ms ease;
  -o-transition: background-color 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, color 300ms ease; }
  .clear-btn:hover {
    background-color: #f3f3f3;
    color: #404040; }

table.db-table {
  width: 100%; }
  table.db-table td {
    padding: 10px 0 10px 10px; }
  table.db-table thead td {
    border-bottom: solid 1px #d3d3d3;
    font-weight: 300;
    font-size: 12px; }
  table.db-table tbody tr:hover .clear-btn {
    opacity: 1; }
  table.db-table tbody tr td {
    border-top: solid 1px #e9e9e9; }

.check-mark {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background-color: #4D974D;
  display: inline-block; }

.ct-tabs {
  text-align: center;
  margin-top: 20px; }
  .ct-tabs .ct-tab {
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding-top: 6px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 400;
    opacity: .4;
    background-color: transparent;
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -ms-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease; }
    .ct-tabs .ct-tab .img {
      width: 32px;
      height: 32px;
      margin: 0 auto; }
      .ct-tabs .ct-tab .img img {
        display: inline-block; }
    .ct-tabs .ct-tab:hover {
      opacity: 1; }
    .ct-tabs .ct-tab.isActive {
      background-color: rgba(255, 255, 255, 0.2);
      opacity: 1; }

.chosen-container-multi {
  width: 100% !important; }
  .chosen-container-multi .chosen-choices {
    padding: 2px !important;
    min-height: 34px !important;
    border-radius: 4px;
    width: 100% !important;
    border-color: #ccc !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    background-image: none !important; }
    .chosen-container-multi .chosen-choices .search-field {
      padding: 4px 0 !important; }
    .chosen-container-multi .chosen-choices li.search-field input[type=text] {
      height: 17px !important; }

.template-container {
  overflow: hidden;
  max-width: 300px;
  border-radius: 6px;
  border: solid 2px rgba(163, 163, 163, 0.3);
  float: left;
  margin: 0 0 10px 0;
  position: relative; }
  .template-container .template-img {
    width: 100%; }
  .template-container .template-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -ms-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    text-align: center; }
    .template-container .template-wrapper .template-wrapper-title {
      text-align: center;
      font-size: 28px;
      font-weight: 700;
      color: #fff;
      margin-top: 65px;
      cursor: default; }
    .template-container .template-wrapper .template-wrapper-button {
      margin-top: 10px; }
  .template-container:hover .template-wrapper {
    opacity: 1; }
  .template-container.isActive {
    border-color: #4885B1; }
  @media (min-width: 768px) {
    .template-container {
      max-width: none;
      width: 172px;
      margin-right: 10px; }
      .template-container .template-wrapper .template-wrapper-title {
        margin-top: 24px;
        font-size: 16px; } }
  @media (min-width: 992px) {
    .template-container {
      width: 227px; }
      .template-container .template-wrapper .template-wrapper-title {
        font-size: 20px;
        margin-top: 44px; } }
  .template-container.template-container-blank .template-wrapper {
    opacity: 1;
    background: none;
    cursor: pointer; }
    .template-container.template-container-blank .template-wrapper .template-wrapper-click {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 90px;
      bottom: auto;
      right: 0;
      left: 0; }
    .template-container.template-container-blank .template-wrapper .template-wrapper-title {
      text-shadow: 0 2px 1px rgba(0, 0, 0, 0.7);
      margin-top: 2px;
      cursor: pointer;
      margin-bottom: 5px; }
    .template-container.template-container-blank .template-wrapper button {
      margin-top: 2px; }
  .template-container.template-container-blank .tbp {
    display: none; }
  @media (min-width: 768px) {
    .template-container.template-container-blank .template-wrapper .template-wrapper-click {
      top: 50px;
      bottom: 50px; } }
  @media (min-width: 992px) {
    .template-container.template-container-blank .template-wrapper .template-wrapper-click {
      top: 68px;
      bottom: 68px; } }
  .template-container.template-container-blank:hover {
    border-color: #a3a3a3; }

.ct-section {
  max-width: 300px;
  margin: 0 auto; }
  .ct-section .ct-section-title {
    font-size: 24px;
    color: #808080;
    margin-bottom: 10px; }
  @media (min-width: 768px) {
    .ct-section {
      max-width: none;
      width: 100%; }
      .ct-section .template-container-parent .template-container:nth-child(4n) {
        margin-right: 0; } }
  @media (min-width: 1200px) {
    .ct-section {
      width: 940px; } }

.pe-container {
  position: fixed; }

.preview-template-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #404040;
  z-index: 100;
  display: none; }
  .preview-template-container .pt-navigate {
    width: 50px;
    padding: 15px 0;
    border-radius: 100%;
    background-color: #808080;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 400px;
    margin-top: -25px;
    cursor: pointer; }
    .preview-template-container .pt-navigate.pt-navigate-next {
      right: 20px; }
    .preview-template-container .pt-navigate.pt-navigate-back {
      left: 20px; }
    .preview-template-container .pt-navigate:hover {
      background-color: #4885B1; }
  .preview-template-container .pt-close {
    z-index: 10;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px;
    border-radius: 3px;
    width: 30px;
    text-align: center;
    color: #f3f3f3;
    cursor: pointer; }
    .preview-template-container .pt-close:hover {
      background-color: #808080; }
  .preview-template-container .pt-loader {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 300px;
    margin-left: -30px; }
  .preview-template-container .pt-name {
    font-size: 22px;
    color: #fff;
    height: 50px;
    text-align: center;
    padding-top: 20px; }
  .preview-template-container .pt-web {
    width: 700px;
    margin: 0 0 0 -350px;
    background: transparent;
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 50%;
    min-height: 200px;
    display: none; }
    .preview-template-container .pt-web .pt-web-header {
      border-radius: 5px 5px 0 0;
      background-color: #e3e3e3;
      padding: 6px 12px;
      height: 32px;
      border-bottom: solid 1px #d3d3d3; }
      .preview-template-container .pt-web .pt-web-header .pt-web-circle {
        width: 8px;
        height: 8px;
        background-color: #a3a3a3;
        display: inline-block;
        margin: 0 2px;
        border-radius: 100%; }
    .preview-template-container .pt-web .pt-web-content {
      position: absolute;
      top: 32px;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
      text-align: center;
      overflow-x: hidden; }
  .preview-template-container .pt-mobile {
    width: 320px;
    border-radius: 14px;
    background-color: #a3a3a3;
    height: 540px;
    padding: 40px 0;
    margin: 0 auto;
    display: none; }
    .preview-template-container .pt-mobile .pt-mobile-screen {
      -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
      box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
      width: 320px;
      background-color: #fff;
      height: 460px;
      margin: 0 auto;
      overflow-x: hidden;
      text-align: center;
      overflow-y: auto; }

.form-group {
  position: relative; }
  .form-group .input-loader {
    position: absolute;
    bottom: 10px;
    right: 10px; }
  .form-group .group-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 16px; }

.to-list {
  border-radius: 6px;
  background-color: #fff;
  overflow: hidden;
  border: solid 1px #f3f3f3; }
  .to-list div {
    padding: 5px 10px;
    border-bottom: solid 1px #f3f3f3;
    position: relative; }
    .to-list div input {
      margin-right: 7px; }
    .to-list div:last-child {
      border: none; }
  .to-list.to-list-small {
    width: 300px;
    margin: 0 auto; }
  .to-list .to-list-remove {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    border: none;
    text-align: center;
    position: absolute;
    right: 4px;
    background: none; }
    .to-list .to-list-remove i {
      font-size: 16px; }
    .to-list .to-list-remove:hover {
      background-color: #4885B1;
      color: #fff; }

.center-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -35px;
  width: 70px;
  height: 70px;
  padding: 10px;
  background-color: #fff;
  border-radius: 100%;
  border: solid 1px rgba(68, 215, 232, 0.4); }

.ep-container {
  border: solid 1px #d3d3d3;
  border-radius: 6px;
  background-color: #fff;
  margin: 0 0 40px 0; }
  .ep-container .ep-header {
    padding: 14px; }
    .ep-container .ep-header .ep-img {
      float: left;
      width: 40px;
      height: 40px;
      margin-right: 14px; }
    .ep-container .ep-header .ep-header-content .ep-title {
      width: 46px;
      display: inline-block;
      font-style: italic;
      color: #a3a3a3; }
  .ep-container .ep-subject {
    border-top: solid 1px #d3d3d3;
    padding: 14px;
    font-size: 16px;
    color: #808080;
    font-weight: 700; }

.pick-a-date .lead {
  margin-top: 20px;
  font-weight: 700; }

.pick-a-time .lead {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 700; }

.wrapper-light .logo .image-dropzone {
  border-color: rgba(255, 255, 255, 0.6); }

.wrapper-light .logo .image-text, .wrapper-light .logo .image-icon {
  color: #fff; }

.wrapper-light .al-title {
  color: #fff; }

/*-------------------------------------
  campaign scheduler
-------------------------------------*/
ul.cs-container {
  list-style: none;
  padding: 0;
  margin: 6px 0 30px 0; }
  ul.cs-container li {
    border: solid 1px #d3d3d3;
    background-color: #fff;
    vertical-align: middle;
    position: relative;
    margin-top: -1px;
    cursor: pointer; }
    ul.cs-container li:first-child {
      border-radius: 4px 4px 0 0; }
    ul.cs-container li:last-child {
      border-radius: 0 0 4px 4px;
      border-bottom: solid 1px #d3d3d3; }
    ul.cs-container li label {
      margin: 0;
      vertical-align: middle;
      padding: 8px 14px;
      font-weight: 400;
      font-size: 16px;
      display: block;
      cursor: pointer; }
      ul.cs-container li label input {
        margin-right: 6px;
        cursor: pointer; }
    ul.cs-container li.isActive {
      z-index: 40;
      border-color: #66c7ff;
      background-color: #f5f8ff; }
      ul.cs-container li.isActive label {
        color: #1c5b80; }
      ul.cs-container li.isActive:before, ul.cs-container li.isActive:after {
        content: ' ';
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        display: inline-block;
        height: 0;
        position: absolute;
        top: 11px;
        right: -9px;
        width: 0;
        border-left: 8px solid #66c7ff; }
      ul.cs-container li.isActive:after {
        border-left-color: #f5f8ff;
        top: 11px;
        right: -8px; }

hr {
  margin-top: 8px;
  margin-bottom: 8px; }

.cb-stats {
  margin-bottom: 50px;
  text-align: center; }
  .cb-stats .cb-stats-number {
    font-weight: 400;
    font-size: 32px;
    color: #4885B1; }
  .cb-stats .cb-stats-title {
    color: #808080; }

.cb-listofemails {
  max-height: 200px;
  overflow: auto; }

.blue-bold {
  color: #4885B1;
  font-weight: 700;
  font-size: 16px; }

.campaign-type {
  height: 30px;
  width: 30px;
  border-radius: 100px;
  background: #4885B1;
  line-height: 30px;
  text-align: center;
  padding: 7px;
  margin: 0 10px 0 0;
  display: inline-block; }
  .campaign-type i {
    color: #fff; }
  .campaign-type.multi-line {
    float: left;
    margin: 3px 10px 3px 0; }

.row-stat {
  height: 16px;
  border-bottom: dotted 1px #d3d3d3;
  font-size: 16px;
  margin-bottom: 14px; }
  .row-stat div {
    background-color: #f9f9f9; }
  .row-stat .title {
    float: left;
    padding-right: 6px; }
  .row-stat .stat {
    float: right;
    padding-left: 6px; }
