<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Email Content</h4>
    </div>
    <div class="modal-body">
        <form>
            <p>
                Looks like you already have content in your email.
            </p>
            <div class="form-group">
                <div>
                    <label>
                        <input type="radio" name="choice" value="keep" ng-model="choice"/>
                        Keep my content
                    </label>
                </div>
                <div>
                    <label>
                        <input name="choice" type="radio" value="delete"  ng-model="choice"/>
                        Override Existing Content with dummy data
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="save()">Continue</button>
    </div>
</div>