<div class="container container-padding">
    <div class="row">
        <div class="col-lg-12">
            <div class="ct-tabs">
                <div class="ct-tab" ng-class="{'isActive':chosenList == 'default'}" ng-click="chosenList = 'default'; chosenCategory = 'golf'">
                    <div class="img">
                        <img src="/frontend/campaign-builder/resources/img/template-user.png" alt="">
                    </div>
                    Gallery
                </div>
                <div class="ct-tab" ng-class="{'isActive':chosenList == 'saved'}"  ng-click="chosenList = 'saved'; chosenCategory = 'saved'">
                    <div class="img">
                        <img src="/frontend/campaign-builder/resources/img/template-saved.png" alt="">
                    </div>
                    Saved
                </div>
            </div>
        </div>
    </div>

    <div class="ct-section row" ng-show="!loading">
        <div class="col-sm-3 pull-right" style="padding-right: 3px;" ng-show="chosenList == 'default'">
            <select ng-model="chosenCategory" class="form-control">
                <option value="golf" selected>Golf</option>
                <option value="Tournament">Tournament</option>
                <option value="christmas">Christmas</option>
                <option value="blank">Blank</option>
            </select>
        </div>
        <div class="ct-section-title"  ng-show="chosenList == 'default'">{{chosenCategory | capFirstLetter}}</div>
        <div class="lead" ng-if="chosenCategory=='blank'">Start your email on an empty canvas.</div>
        <div class="template-container-parent">
            <div class="template-container" ng-repeat="template in templates[chosenList] | filter:{category:chosenCategory}" ng-class="{'template-container-blank': chosenCategory=='blank'}">
                <img placeholder ng-src="{{template.thumbnail}}" class="template-img">
                <div class="template-wrapper" ng-if="chosenCategory!='blank'">
                    <div class="template-wrapper-title">{{template.name | capFirstLetter}}</div>
                    <button class="template-wrapper-button btn btn-default tbp"
                            ng-click="previewTemplate(template.name)"
                            ng-show="chosenList != 'saved'">
                        Preview
                    </button>

                    <button class="template-wrapper-button btn btn-default tbp"
                            ng-click="deleteTemplate(template)"
                            ng-show="chosenList == 'saved'">
                        Delete
                    </button>
                    <button class="template-wrapper-button btn btn-default tbp"
                            ng-click="selectTemplate(template)">
                        Select
                    </button>
                </div>
                <div class="template-wrapper"
                     ng-if="chosenCategory=='blank'"
                     ng-click="selectTemplate(template)">
                    <div class="template-wrapper-click">
                        <div class="template-wrapper-title">{{template.name | capFirstLetter}} {{template.category | capFirstLetter}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="loading" class="center-loader">
        <img src="/frontend/campaign-builder/resources/img/loader2.gif" alt="Loading">
    </div>

    <preview-template></preview-template>

</div>