<span class="course-filter col-xs-3">Course Filter: <input class="course-filter" type="text" name="course-filter"></span>
<!--span class="course-filter col-xs-3">Show Deleted: <input class="show-deleted" type="checkbox" value="true" name="show-deleted"><span-->