/*facebook messages on the teesheet page*/
.facebook_messages, #teetime_search_box, #teetime_standby_box{
	border: 1px solid black;
	background-image: url('/images/facebook/facebook_post.png');
	background:rgba(0,0,0,0.2);
	width:188px;
	margin-top:10px;
	box-shadow: 0px 2px -1px 0px rgba(255,255,255,0.2);
	text-align:center;
	color: rgb(85, 85, 85);
	font-family: Quicksand, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#teetime_search_box, #teetime_standby_box{
	margin-bottom:10px;
}
#facebook_title, #teetime_search_title, #teetime_standby_title {
	font-size: 16px;
	padding: 4px 0px 8px 12px;
	font-weight: lighter;
	color:white;
	text-align:left;
	line-height: 1.5;
}
/*.facebook_messages input:not(.post){
	top: 4px;
	position: absolute;
	right: 13px;
}*/

.facebook_messages textarea{
	background-color: white;
	border: none;
	width: 90%;
	color: black;
	padding: 5px;
}
.facebook_messages .post{
	background-image: url('../images/facebook/post.jpg');
	width: 41px;
	height: 24px;
	border: none;
}

/*.facebook_messages.logged_out input:not(.login), .facebook_messages.logged_out #selected_page{
	display: none;
}
.facebook_messages.logged_out .login{
	display: inherit;
}
.facebook_messages.logged_out textarea, .facebook_messages.logged_out #selectable{
	display: none;
}*/
.facebook_messages #selectable{
	overflow: auto;
	padding-top: 0px;
}
.facebook_messages #selectable li {
		background: #349ac5; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#349ac5', endColorstr='#4173b3'); /* for IE */
	background: -webkit-linear-gradient(top, #349AC5, #4173B3);
	background: -moz-linear-gradient(top,  #349AC5,  #4173B3); /* for firefox 3.6+ */
	border-radius:4px;
}
#selectable .ui-selecting { 
	background: #359; 
}
#selectable .ui-selected { 
	background: #369; 
	color: white; 
}
#selectable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}
#selectable li { 
	margin: 3px; 
	padding: 0.4em; 	
	height: 18px;
}
.facebook_messages #selected_page{
	position: relative;
	top: 160px;
	text-align: left;
	font-size: 13px;
	color: white;
	font-weight: bold;
	margin-left: 10px;
}
.facebook_messages #selected_page span{
	font-size: 15px;
	opacity: .7;
	margin: 3px;
}
/*http://stackoverflow.com/questions/895888/truncate-text-with-jquery-based-on-pixel-width*/
.facebook_messages #selected_page.truncated { 	
	overflow:hidden; 
	text-overflow:ellipsis; 
	white-space:nowrap; 
}
.facebook_messages #selected_page:hover, #selectable li:hover{
	cursor: pointer;
	font-weight: bolder;
	/*font-size: 1.1em;*/
}
.facebook_messages textarea {
	background-color: white;
	border: none;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	width: 90%;
	color: black;
	padding: 5px;
}