<div class="modal-content bootstrap-fu">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <i class="fa fa-question-o pull-right header-icon"></i>
        <h4 class="modal-title">
            Edit Player Type
        </h4>
    </div>
    <div class="modal-body container-fluid">
        <div class="modal-content">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name" class="col-md-12 control-label">Player Type Name</label>
                    <div class="col-md-12">
                        <input class="form-control" type="text" value="<%-name%>" name="name" id="name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="color" class="col-md-12 control-label">Color Identifier</label>
                    <div class="col-md-6">
                        <div id="colorPicker" class="input-group colorpicker-component">
                            <input class="form-control" type="text" value="<%-color%>" name="color"  id="color" />
                            <span class="input-group-addon"><i></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox-control-container col-md-12">
                        <input type="checkbox" value="1" data-unchecked-value="0" id="cart" name="cart" style="margin-top: 5px;" <%-cart?'checked':''%>/>
                        <label for="cart" class="control-label">Player Can Rent Carts</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="greenGlCode" class="col-md-3 control-label">Green GL Code</label>
                    <label for="cartGlCode" class="col-md-3 control-label">Cart GL Code</label>
                    <label class="col-md-6 control-label">&nbsp</label>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <input class="form-control" type="text" value="<%-greenGlCode%>" name="greenGlCode" id="greenGlCode" />
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" value="<%-cartGlCode%>" name="cartGlCode" id="cartGlCode" />
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-muted pull-left" data-dismiss="modal">Close</button>
        <button class="btn btn-primary pull-right" id="save-changes">Save Changes</button>
    </div>
</div>