<form>
    <div class="clearfix">
        <div class="col-md-6 settings-header">
            <div class="settings-title">Player Types</div>
        </div>
        <div class="col-md-6 settings-header">
            <div class="pull-right form-inline marg-top-3">
                <div class="btn-group form-group">
                    <button type='button' class="btn btn-primary new add-price-class settings-corner-button">Add New</button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12">
                <table class="player-type-table">
                    <thead>
                    <tr>
                        <th>Player Type Name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody class="player-type-list">
                        <tr>
                            <td colspan="2" class="no-tee-sheets-message">
                                The are currently no player types created.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>