<form>
    <div class="clearfix">
        <div class="col-md-12 settings-header">
            <div class="settings-title">Taxes and Receipts</div>
        </div>
        <div class="col-md-12">
            <div class="panel-group col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Taxes
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-md-6">
                            <label for="to-date" class="control-label">Green Fee Department</label>
                            <div>
                                <input class="form-control" type="text" value="" name="to_date" id="to-date" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="to-date" class="control-label">Tax Rate</label>
                            <div>
                                <input class="form-control" type="text" value="" name="to_date" id="to-date" />
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="checkbox-control-container">
                                <input type="checkbox" value="1" data-unchecked-value="0" id="include_cash_logs" name="include_cash_logs" style="margin-top: 5px;" />
                                <label for="include_cash_logs" class="control-label">Green Fee Tax Included</label>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="to-date" class="control-label">Cart Department</label>
                            <div>
                                <input class="form-control" type="text" value="" name="to_date" id="to-date" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="to-date" class="control-label">Tax Rate</label>
                            <div>
                                <input class="form-control" type="text" value="" name="to_date" id="to-date" />
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="checkbox-control-container">
                                <input type="checkbox" value="1" data-unchecked-value="0" id="include_cash_logs" name="include_cash_logs" style="margin-top: 5px;" />
                                <label for="include_cash_logs" class="control-label">Cart Fee Tax Included</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Receipt Agreements
                            <div class="pull-right form-inline marg-top-10">
                                <div class="btn-group form-group">
                                    <button type="button" class="btn manage_receipt_agreements btn-primary new">Manage</button>
                                </div>
                            </div>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="to-date" class="col-md-12 control-label">Green Fee Agreement</label>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <%=_.dropdown(App.data.item_receipt_content.get_dropdown_data(), {"name":"country", "id":"country", "class":"form-control"}, country)%>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="to-date" class="col-md-12 control-label">Green Fee Agreement</label>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <%=_.dropdown(App.data.item_receipt_content.get_dropdown_data(), {"name":"country", "id":"country", "class":"form-control"}, country)%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>