<form>
    <div class="clearfix settings-header">
        <div class="col-md-6">
            <div class="settings-title">Tee Sheets</div>
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                <div class="btn-group form-group">
                    <button type='button' class="btn btn-primary add-tee-sheet marg-top-10">Add New</button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="panel-group terminal-printer-panel">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                General Settings
                            </h4>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="checkbox-control-container">
                                    <input type="checkbox" value="1" data-unchecked-value="0" id="hideTaxable" name="hideTaxable" style="margin-top: 5px;" <%-false?'checked':''%>/>
                                    <label for="hideTaxable" class="control-label">Hide Back 9</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox-control-container">
                                    <input type="checkbox" value="1" data-unchecked-value="0" id="hideTaxable" name="hideTaxable" style="margin-top: 5px;" <%-false?'checked':''%>/>
                                    <label for="hideTaxable" class="control-label">Default Fees With Customers to Player 1</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox-control-container">
                                    <input type="checkbox" value="1" data-unchecked-value="0" id="hideTaxable" name="hideTaxable" style="margin-top: 5px;" <%-false?'checked':''%>/>
                                    <label for="hideTaxable" class="control-label">Limit gree/cart fee dropdown to fees customer is allowed to use</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox-control-container">
                                    <input type="checkbox" value="1" data-unchecked-value="0" id="hideTaxable" name="hideTaxable" style="margin-top: 5px;" <%-false?'checked':''%>/>
                                    <label for="hideTaxable" class="control-label">Auto Check Split Tee Times</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox-control-container">
                                    <input type="checkbox" value="1" data-unchecked-value="0" id="hideTaxable" name="hideTaxable" style="margin-top: 5px;" <%-false?'checked':''%>/>
                                    <label for="hideTaxable" class="control-label">Stack Tee Sheets</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox-control-container">
                                    <input type="checkbox" value="1" data-unchecked-value="0" id="hideTaxable" name="hideTaxable" style="margin-top: 5px;" <%-false?'checked':''%>/>
                                    <label for="hideTaxable" class="control-label">Stack Horizontally</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 control-label">Tee'd Off Color</label>
                                <div class="col-md-6">
                                    <div class="colorPicker input-group colorpicker-component">
                                        <input class="form-control color" type="text" value="<%-teedOffColor%>" name="teedOffColor"  />
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 control-label">Completed Color</label>
                                <div class="col-md-6">
                                    <div class="colorPicker input-group colorpicker-component">
                                        <input class="form-control color" type="text" value="<%-teeTimeCompletedColor%>" name="teeTimeCompletedColor"  />
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <table class="tee-sheet-table">
                    <thead>
                        <tr>
                            <th>Tee Sheet Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="tee-sheet-list">
                        <% if (false) { %>

                        <% } else { %>
                            <tr>
                                <td colspan="2" class="no-tee-sheets-message">
                                    The are currently no tee sheets created.
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
