

// headers
h1 {font-size: 2.4em}
h2 {font-size: 2.1em}
h3 {font-size: 1.8em}
h4 {font-size: 1.5em}
h5 {font-size: 1.2em}

h1, h2, h3,
h4, h5, h6 {
  color: $color-grey-5;
  font-weight: 400;
  margin: 5px 0 10px 0;
  
  span.sub {
    color: $color-grey-3;
    font-size: .7em;
    font-weight: $font-weight-light;
  }
}

p {
  font-size: 14px;
}

// Page Header
.page-header {
  border-bottom: solid 1px $color-white-5;
  
  span {
    font-size: .8em;
    color: $color-grey-3;
  }
}

.lead {
  font-weight: $font-weight-light;
  font-size: 1.3em;
}

// Inline text next to icon
.ti {
  vertical-align: middle;
}


.gi {
  font-size: 20px;
  
  &.left {
    margin-right: 6px;
  }
  
  &.right {
    margin-left: 6px;
  }
  
  &.gi-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
  }
  @-moz-keyframes spin {
    0% {
      -moz-transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(359deg);
    }
  }
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
    }
  }
  @-o-keyframes spin {
    0% {
      -o-transform: rotate(0deg);
    }
    100% {
      -o-transform: rotate(359deg);
    }
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }

}