@font-face {
	font-family: 'genomicons';
	src:url('fonts/genomicons.eot?-fsgjpu');
	src:url('fonts/genomicons.eot?#iefix-fsgjpu') format('embedded-opentype'),
		url('fonts/genomicons.woff?-fsgjpu') format('woff'),
		url('fonts/genomicons.ttf?-fsgjpu') format('truetype'),
		url('fonts/genomicons.svg?-fsgjpu#genomicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="gi-"], [class*=" gi-"] {
	font-family: 'genomicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.gi-file-copy:before {
	content: "\e67e";
}

.gi-monitor:before {
	content: "\e67d";
}

.gi-sort-alpha:before {
	content: "\e67c";
}

.gi-info:before {
	content: "\e633";
}

.gi-times-circle:before {
	content: "\e67b";
}

.gi-cancel:before {
	content: "\e60a";
}

.gi-check-circle:before {
	content: "\e673";
}

.gi-warning-circle:before {
	content: "\e67a";
}

.gi-arrow-down-circle:before {
	content: "\e675";
}

.gi-arrow-left-circle:before {
	content: "\e676";
}

.gi-arrow-right-circle:before {
	content: "\e677";
}

.gi-arrow-up-circle:before {
	content: "\e678";
}

.gi-options:before {
	content: "\e679";
}

.gi-clock:before {
	content: "\e674";
}

.gi-check:before {
	content: "\e60f";
}

.gi-arrow-down-alt:before {
	content: "\e66f";
}

.gi-arrow-left-alt:before {
	content: "\e670";
}

.gi-arrow-right-alt:before {
	content: "\e671";
}

.gi-arrow-up-alt:before {
	content: "\e672";
}

.gi-table:before {
	content: "\e66e";
}

.gi-list:before {
	content: "\e66d";
}

.gi-paragraph:before {
	content: "\e66c";
}

.gi-user:before {
	content: "\e66b";
}

.gi-arrow-down:before {
	content: "\e600";
}

.gi-arrow-left:before {
	content: "\e601";
}

.gi-arrow-right:before {
	content: "\e602";
}

.gi-arrow-up:before {
	content: "\e603";
}

.gi-atom:before {
	content: "\e604";
}

.gi-book-open:before {
	content: "\e605";
}

.gi-briefcase:before {
	content: "\e606";
}

.gi-briefcase-fill:before {
	content: "\e607";
}

.gi-bucket:before {
	content: "\e608";
}

.gi-buildings:before {
	content: "\e609";
}

.gi-caret-down:before {
	content: "\e60b";
}

.gi-caret-left:before {
	content: "\e60c";
}

.gi-caret-right:before {
	content: "\e60d";
}

.gi-caret-up:before {
	content: "\e60e";
}

.gi-chevron-down:before {
	content: "\e610";
}

.gi-chevron-left:before {
	content: "\e611";
}

.gi-chevron-right:before {
	content: "\e612";
}

.gi-chevron-up:before {
	content: "\e613";
}

.gi-drag:before {
	content: "\e614";
}

.gi-envelope:before {
	content: "\e615";
}

.gi-expand:before {
	content: "\e616";
}

.gi-eye:before {
	content: "\e617";
}

.gi-eye-alt:before {
	content: "\e618";
}

.gi-eye-alt-fill:before {
	content: "\e619";
}

.gi-eye-fill:before {
	content: "\e61a";
}

.gi-file:before {
	content: "\e61b";
}

.gi-file-fill:before {
	content: "\e61c";
}

.gi-file-refresh:before {
	content: "\e61d";
}

.gi-file-text:before {
	content: "\e61e";
}

.gi-file-text-fill:before {
	content: "\e61f";
}

.gi-file-view:before {
	content: "\e620";
}

.gi-filter:before {
	content: "\e621";
}

.gi-filter-fill:before {
	content: "\e622";
}

.gi-first-aid:before {
	content: "\e623";
}

.gi-first-aid-fill:before {
	content: "\e624";
}

.gi-flask-empty:before {
	content: "\e625";
}

.gi-flask-fill:before {
	content: "\e626";
}

.gi-flask-full:before {
	content: "\e627";
}

.gi-flask-plus:before {
	content: "\e628";
}

.gi-flask-plus-fill:before {
	content: "\e629";
}

.gi-flasks:before {
	content: "\e62a";
}

.gi-gear:before {
	content: "\e62b";
}

.gi-gear-fill:before {
	content: "\e62c";
}

.gi-helix:before {
	content: "\e62d";
}

.gi-home:before {
	content: "\e62e";
}

.gi-home-fill:before {
	content: "\e62f";
}

.gi-hospital:before {
	content: "\e630";
}

.gi-hospital-fill:before {
	content: "\e631";
}

.gi-image:before {
	content: "\e632";
}

.gi-key:before {
	content: "\e634";
}

.gi-key-fill:before {
	content: "\e635";
}

.gi-lock:before {
	content: "\e636";
}

.gi-lock-alt:before {
	content: "\e637";
}

.gi-lock-alt-fill:before {
	content: "\e638";
}

.gi-lock-fill:before {
	content: "\e639";
}

.gi-logout:before {
	content: "\e63a";
}

.gi-map:before {
	content: "\e63b";
}

.gi-map-fill:before {
	content: "\e63c";
}

.gi-menu:before {
	content: "\e63d";
}

.gi-menu-alt:before {
	content: "\e63e";
}

.gi-menu-alt-fill:before {
	content: "\e63f";
}

.gi-menu-alt-half:before {
	content: "\e640";
}

.gi-menu-fill:before {
	content: "\e641";
}

.gi-minus-circle:before {
	content: "\e642";
}

.gi-pencil:before {
	content: "\e643";
}

.gi-pencil-fill:before {
	content: "\e644";
}

.gi-planet:before {
	content: "\e645";
}

.gi-plus:before {
	content: "\e646";
}

.gi-plus-circle:before {
	content: "\e647";
}

.gi-print:before {
	content: "\e648";
}

.gi-pulse:before {
	content: "\e649";
}

.gi-pulse-heart:before {
	content: "\e64a";
}

.gi-push-pin:before {
	content: "\e64b";
}

.gi-push-pin-alt:before {
	content: "\e64c";
}

.gi-push-pin-alt-fill:before {
	content: "\e64d";
}

.gi-push-pin-fill:before {
	content: "\e64e";
}

.gi-question-mark:before {
	content: "\e64f";
}

.gi-question-mark-fill:before {
	content: "\e650";
}

.gi-refresh:before {
	content: "\e651";
}

.gi-refresh-alt:before {
	content: "\e652";
}

.gi-save:before {
	content: "\e653";
}

.gi-save-fill:before {
	content: "\e654";
}

.gi-search:before {
	content: "\e655";
}

.gi-search-fill:before {
	content: "\e656";
}

.gi-search-minus:before {
	content: "\e657";
}

.gi-search-minus-fill:before {
	content: "\e658";
}

.gi-search-plus:before {
	content: "\e659";
}

.gi-search-plus-fill:before {
	content: "\e65a";
}

.gi-share:before {
	content: "\e65b";
}

.gi-sort:before {
	content: "\e65c";
}

.gi-star:before {
	content: "\e65d";
}

.gi-times:before {
	content: "\e65e";
}

.gi-trash:before {
	content: "\e65f";
}

.gi-trash-fill:before {
	content: "\e660";
}

.gi-unlock:before {
	content: "\e661";
}

.gi-unlock-alt:before {
	content: "\e662";
}

.gi-unlock-alt-fill:before {
	content: "\e663";
}

.gi-unlock-fill:before {
	content: "\e664";
}

.gi-upgrade:before {
	content: "\e665";
}

.gi-upload:before {
	content: "\e666";
}

.gi-warning:before {
	content: "\e667";
}

.gi-warning-fill:before {
	content: "\e668";
}

.gi-white-label:before {
	content: "\e669";
}

.gi-white-label-fill:before {
	content: "\e66a";
}

