/* Feedback Button */
#feedback_button
{
	width:30px;
	height:120px;
	position:fixed;
	right:0;
	top:40%;
	overflow:hidden;
}
#feedback_button a
{
	width:30px;
	height:120px;
	overflow:hidden;
	background:#336699 url(../images/footer/feedback_tab_white.png) no-repeat 5px 5px;
	display:inline-block;
	padding:3px;
}
/*Support Button*/
#support_button
{
/*	width:39px;
	height:38px;
	position:absolute;
	/*right:0;
	top:14px;
	overflow:hidden;*/
}
#support_button
{
	height:30px;
	display:inline-block;
	padding:3px;
}
#support_button img {
	vertical-align: middle;
}
/* Home Page */
#home_module_list {
	width: 960px;
	margin-top: 20px;
	min-height: 550px;
	clear: both;
}

#home_module_list .module_item {
	padding: 0px;
	width: 270px;
	margin: 10px;
	float: left;
}

#home_module_list .module_item a {
	width: 250px;
	height: 50px;
	font-size: 18px;
	font-weight: normal;
	color: #535353;
	display: block;
}

#home_module_list .module_item a img {
	float: left;
}

#home_module_list .module_item a span {
	line-height: 48px;
	margin-left: 10px;
}

#home_module_list .module_item > span {
	font-size: 11px;
	font-weight: normal;
	color:#535353;
}
.clear {
    clear:both;
}
button {
    background: url("../images/pieces/btnUpdate.png") no-repeat top left transparent;
    color: #FFFFFF;
    display: block;
    height: 24px;
	border: 0px;
	width: 70px;
	margin-top: 5px;
    text-align: center;
}

div#dbBackup {
	text-align: right;
	height: 42px;
}

div#dbBackup a.dbBackup {
	background: #FFFFFF url("../images/pieces/dbBackup.png") top left no-repeat;
	padding: 5px 0px 5px 42px;
	line-height: 42px;
	font-size: 20px;
	color: #1E5A96;
}

/* FieldSets - Config Page & Pop-ups */
.group_checkboxes .field_row label, .pass_checkboxes  .field_row label {
	width:20px;
}
fieldset {
	border: none;
}

fieldset > legend {
	padding: 5px;
	/*margin-left: 10px;*/
	font-size:16px;
	font-weight:bold;
}

fieldset div#required_fields_message {
	color: #FF0000;
	font-size: 12px;
}

fieldset div.field_row {
	/*margin: 10px;*/
	font-size: 17px;
	padding-bottom: 5px;
	/*border-bottom: 1px solid #DDDDDD;*/
}

fieldset div.field_row label {
	width: 175px;
	padding: 5px;
	float: left;
}
#barcodes_form fieldset div.field_row label {
	width:280px;
}
fieldset div.field_row div.form_field input {
	padding: 5px;
	line-height: 20px;
	border: 1px solid #CCCCCC;
}

fieldset div.field_row div.form_field input[type='checkbox'] {
	margin-top: 10px;
	border: 1px solid #CCCCCC;
}

fieldset div.field_row div.form_field select {
	padding: 5px;
	line-height: 20px;
	border: 1px solid #CCCCCC;
}

fieldset div.field_row div.form_field textarea {
	padding: 5px;
	border: 1px solid #CCCCCC;
}

fieldset input[type='submit'], .submit_button, #colorbox input.submit_button, #colorbox button#back, #colorbox button#back2, #colorbox button#back3, #sales_delete_form input#submit, #colorbox button.login_button {
		background: #349ac5; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#349ac5', endColorstr='#4173b3'); /* for IE */
	background: -webkit-linear-gradient(top, #349AC5, #4173B3);
	background: -moz-linear-gradient(top,  #349AC5,  #4173B3); /* for firefox 3.6+ */
	color: white;
	display: block;
	font-size: 14px;
	font-weight: normal;
	height: 30px;
	line-height:0px;
	padding: 0px 20px 0 20px;
	text-align: center;
	text-shadow: 0px -1px 0px black;
	border-radius: 4px;
	margin-bottom: 10px;
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.5), 0px 3px 1px -2px rgba(255, 255, 255, .2);
	border: 1px solid #232323;
	margin:0px auto 10px;
	display:inline;
	margin:20px 44% 0px;

}
#colorbox button.login_button {
	margin:10px auto 10px;
}
#sales #colorbox input.submit_button, #teesheets #colorbox input.submit_button, #reservations #colorbox input.submit_button, #customers #colorbox input.submit_button, #employees #colorbox input.submit_button {
	margin:10px 44% 10px;
}
.submit_button {
	height:40px;
	line-height:18px;
}
.column
{
    float: left;
    margin: 5px;
}

.column li
{
 	padding-bottom: 5px;
}

.cleared
{
  clear: left;
}

#content_area_wrapper {
    /*background: #1E5A96 url("../images/customer/customer_r2_c1.png") -10px 0  no-repeat;*/
	height: auto;
    margin: auto;
	padding: 0px 0px 0px 0px;
	min-height: 600px;

}

#content_area {

	margin: 0 auto;
	padding: 20px 10px 10px 10px;
}
label.required, .red, span.red {
	color:red;
}
.black, span.black {
	color:black;
}

#feedback_bar{
	display: none;
    font-weight: bold;
    left: 50%;
    padding: 10px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 700px;
    margin-left:-350px;
    opacity:.9;
    z-index:99999;
}
#teetime_info_bar{
	display: none;
    /*font-weight: bold;*/
    left: 5px;
    background:#369;
    padding: 10px;
    position: fixed;
    /*text-align: center;*/
    top: 5px;
    width: 300px;
    /*margin-left:-350px;*/
    opacity:.9;
    border-radius:3px;
    box-shadow:3px 3px 3px #333;
    -moz-border-radius:3px;
    z-index:999999;
    color:white;
}
#teetime_info_bar .teetime_info_headers th {
	background:#147;
}
#teetime_info_bar .teetime_info_header {
 	font-size:16px;
 }
#teetime_info_bar .teetime_info_content, #teetime_info_bar #receipt_items {
 	font-size:11px;
 }
.warning_message,
.error_message,
.success_message {
	line-height: 30px;
	padding: 10px;
}


.warning_message
{
    background-color: #FBEA6E;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
}

.error_message
{
    background-color: #f68383;
    border: 1px solid #da3232;
}
.message_close_box {
	background:transparent url(../css/ui-lightness/images/ui-icons_ffffff_256x240.png) no-repeat -97px -129px;
	width:15px;
	height:15px;
	display:block;
	position:absolute;
	right:2px;
	top:2px;
	cursor:pointer;
}
.success_message
{
    background-color: #E1FFDD;
    border: 1px solid #2CA71C;
}

#pagination{
    height: 20px;
    padding: 5px;
    text-align: center;
}
#pagination a{
color:#ccc;
}
#pagination strong{
color:#000;
background:#ccc;
padding:0px 2px;
}

fieldset tr.field_row {
	margin: 10px;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
}
#days_options {
    width:100%;
}
.clearfix:after
{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix { display: inline-block; }
html[xmlns] .clearfix {	display: block; }
* html .clearfix { height: 1%; }

#pagination {
    padding : 3px;
	height : 24px;
	background-image : url("../images/pieces/table_body.png");
    background-position : 0px -590px;
}

/* IE7 Pagination */
#pagination{
    *padding: 3px;
	*height: 24px;
	*background-image: url("../images/pieces/table_body.png");
    *background-position: 0px -590px;
}

/* IE7 Suspend & Cancel */
#suspend_cancel {
	*padding-top: 0px;
	*margin-top: 10px;
	*margin-bottom: 10px;
}

#suspend_cancel > #suspend{
	*float: left;
}

#suspend_cancel > #cancel{
	*float: left;
	width: 40px;
}

/* IE7 Tables */
#register_items_container #reg_item_search form #new_item_button_register {
	*margin-top: -30px;
}

#over_all_sale_container #overall_sale {
	*margin-left: 5px;
}

#show_suspended_sales_button {
    background: url("../images/pieces/view_suspended.png") no-repeat scroll right center transparent;
    font-size: 0.8em;
    height: 49px;
    line-height: 0;
    text-align: center;
    width: 230px;
}

#show_suspended_sales_button a div {
	font-size: 73%;
    padding-top: 5px;
}

/* IE8 Pagination */
#pagination {
    padding /*\**/: 3px\9;
	height /*\**/: 24px\9;
	background-image /*\**/: url("../images/pieces/table_body.png")\9;
    background-position /*\**/: 0px -590px\9;
}

/* Safary Webkit based browsers hacks */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#pagination{
		padding: 3px;
		height: 24px;
		background-image: url("../images/pieces/table_body.png");
		background-position: 0px -590px;
	}
}

#pagination {
    padding : 3px \0/;
	height : 24px \0/;
	background-image : url("../images/pieces/table_body.png") \0/;
    background-position : 0px -590px \0/;
}

/* IE9 Pagination */
#pagination {
    padding : 3px\9;
	height : 24px\9;
	background-image : url("../images/pieces/table_body.png");
    background-position : 0px -590px\9;
}

.cumulative_label
{
	font-size:11px;
}

.underline
{
	text-decoration: underline;
}

.ui-autocomplete
{
	max-height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px;
}

* html .ui-autocomplete {
	height: 250px;
}
.mini_module_icons {
    display:block;
    background:url('../images/header/header_half_size.png');
    height:20px;
    width:20px;
    margin:auto;
    text-indent:-10000px;
    overflow:hidden;
}
.status1 {
    background:url('../images/courses/icon_colours.png');
    background-position: 0px 0px;
    width:17px;
    height:17px;
}
.status0 {
    background:url('../images/courses/icon_colours.png');
    background-position: -51px 0px;
    width:17px;
    height:17px;
}
.course_teesheets {
    background-position: -1112px -12px;
}
.course_sales {
    background-position: -945px -12px;
}
.course_items {
    background-position: -745px -12px;
}
.course_item_kits {
    background-position: -785px -12px;
}
.course_employees {
    background-position: -986px -12px;
}
.course_customers {
    background-position: -705px -12px;
}
.course_reports {
    background-position: -864px -12px;
}
.course_suppliers {
    background-position: -825px -12px;
}
.course_receivings {
    background-position: -905px -12px;
}
.course_config {
    background-position: -1066px -12px;
}
.course_giftcards {
    background-position: -1025px -12px;
}
.form_field div.ui-buttonset label.ui-button {
    width:auto;
}
.customStyleSelectBox {
/* Styles For Your Select Box */
    font-size: 1em;
    color: #555555;
    text-indent:0;
/*    border: 1px solid #BBBBBB;*/
    /*-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px 5px;*/
}
#cart_contents select {
	margin-top:7px;
	font-size:24px;
}
.even .customStyleSelectBox {
    background-position: left bottom;
}
tr#reg_item_top.even .customStyleSelectBox{
    background-position: left bottom;
}
.customStyleSelectBox.changed {
/* You can use this if you want a different style after user has made a selection */
}

/* on the next line we add a down arrow on the right to indicate that it is a select box */
.customStyleSelectBoxInner {
    background:url(../images/canvas-list-nav-item-arrow-.png) no-repeat center right;
    width:220px;
    font-size:1em;
}
#ajax_message {
    background: none repeat scroll 0 0 #FFCCCC;
    border-bottom: 1px solid #CC4444;
    border-top: 1px solid #CC4444;
    color: #880000;
    padding: 5px;
}
.ui-expandable-title {
	font-size:14px;
	color:black;
	font-family:"Lucida Grande", Arial;
	padding:2px 12px;
	cursor:pointer;
	background:#e4e4e4;
}
.ui-expandable-icon {
	float:right;
	margin:2px;
}
.powered-by{color:#6C8CCE;font-weight: bold;font-size:14px;}
.foreup-logo{vertical-align: middle;}

#tournament_basic_info table label, .tournament_inventory_items label{
	width: auto;
	float: none;
}

#tournament_basic_info .tax_table{
	width: 340px;
}

.tournament_inventory_items{
	width: 520px;
}

#tournament_inventory_items td label{
	font-size: 14px;
	font-weight: bold;
}

.tax_table td{
	width: 124px;
	text-align: center;
}

.tournament_inventory_items td{
	text-align: center;
}

.tournament_inventory_items .item_name_column{
	text-align: left;
}

.tax_table label{
/*	width: 60px !important;*/

}

.tournament_inventory_items input, #tournament_basic_info input{
	padding: 5px;
	line-height: 20px;
	border: 1px solid #CCCCCC;
}

#tournament_winners td{
	text-align: center;
}

/* Edit image box for items,people,emails */
#image-info {
	display: block;
	width: 260px;
	overflow: hidden;
	background-color: white;
	border: 1px solid #E0E0E0;
	height: 107px;
}

#image-info img {
	float: left;
	margin: 5px;
	margin-right: 15px;
}

#image-info a {
	width: 90px;
	display: block;
	float: left;
	font-size: 14px;
	margin-top: 5px;
}

#remove-image {
	color: #AA0000;
}
