<%
var startDate = '';
if(typeof(dtstart) != 'undefined' && dtstart){
    startDate = moment(dtstart).format('MM/DD/YYYY');
}
var endDate = '';
if(typeof(until) != 'undefined' && until){
    endDate = moment(until).format('MM/DD/YYYY');
}
%>
<div class="col-md-4 form-group">
    <label for="repeat-start">Effective on</label>
    <input type="text" name="dtstart" class="form-control" id="repeat-start" value="<%-startDate%>" placeholder="MM/DD/YYYY">
</div>
<div class="col-md-8 form-group">
    <label for="repeat-start" style="display: block">Effective until</label>
    <div class="checkbox" style="padding: 0px; width: 80px; float: left; line-height: 35px; height: 35px; margin: 0px;">
        <label>
            <input type="radio" class="repeat-until-select" name="until_select" id="until-forever" value="forever" <% if(endDate == ''){ %>checked<%} %>> Forever
        </label>
    </div>
    <div class="input-group">
        <span class="input-group-addon"><input type="radio" name="until_select" id="until-date" value="forever" <% if(endDate != ''){ %>checked<%} %>></span>
        <input type="text" name="until" class="form-control repeat-until-select" value="<%-endDate%>" id="repeat-until" style="width: 110px;" placeholder="MM/DD/YYYY">
    </div>
</div>