<div class="row">
    <div class="col-md-12">
        <div class="row repeat-every-container">
            <div class="col-md-5 form-group" style="margin-top: 30px;">
                <label for="repeat-interval">Every</label>
                <div class="input-group">
                    <input type="text" name="interval" class="form-control" id="repeat-interval" value="<% if(typeof(interval) != 'undefined' && interval){ print(interval) }%>">
                    <span class="input-group-addon">months</span>
                </div>
            </div>
            <div class="col-md-1" style="padding-left: 0px; padding-right: 0px; position: relative; height: 125px;">
                <div style="text-align: center; background-color: white; position: absolute; top: 50%; width: 100%; padding: 5px; margin-top: -10px; z-index: 1; border: 1px solid #E0E0E0">OR</div>
                <div style="position: absolute; top: 5px; bottom: 5px; background-color: #E0E0E0; width: 1px; left: 50%;"></div>
            </div>
            <div class="col-md-6 form-group">
                <label>On Specific Months</label>
                <div class="repeat-month-selector">
                    <% for(var x = 1; x <= 12; x++){
                    var isActive = (typeof(bymonth) != 'undefined' && bymonth != null && bymonth.indexOf(x) !== -1);
                    %>
                    <button class="btn btn-default repeat-month <% if(isActive){ %>active<% } %>" data-value="<%-x%>"><%-moment().month(x - 1).format('MMM')%></button>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="effective-dates"></div>
<div class="row">
    <div class="col-md-12 form-group">
        <label>On Day of the Month</label>
        <div class="repeat-day-selector">
            <% for(i = 1; i <= 28; i++){
            var checked = (typeof(bymonthday) != 'undefined' && bymonthday != null && _.indexOf(bymonthday, i) > -1);
            %>
            <button class="btn btn-default repeat-day-select <% if(checked){ print('active') } %>" data-value="<%-i%>">
                <%-i%>
            </button>
            <% } %>
            <button class="btn btn-default repeat-day-select last <% if(typeof(bymonthday) != 'undefined' && bymonthday != null && _.indexOf(bymonthday, -1) > -1){ %>active<% } %>" data-value="-1">
                Last day of month
            </button>
        </div>
    </div>
</div>