<%
var MONTH_WIDTH_MULTIPLIER = 4;
var period_repeatable = false;
var period_rules = false;
var period_period = false;
var num_periods = 60;

if(period){
    period_repeatable = period.rrule.options;
    period_rules = period.rules;
    period_period = period.period;
    num_periods = period.rules.length;
}

var end_date = moment().add(3, 'years');
var start_date = moment().startOf('month');
var continued = true;
var margin = 2;

var num_days = 0;
var day_rule_indexes = {};

var end_at_next_period = false;
var total_days = days.length;

%>

<div class="scroll-left">
    <span class="fa fa-chevron-left"></span>
</div>

<div class="repeatable-visualization">

    <!-- Months -->
    <div class="repeatable-visualization-row">
    <%
    var date = start_date.clone();
    while(date.isBefore(end_date)){
        var month_width = (date.daysInMonth() * MONTH_WIDTH_MULTIPLIER); %>
        <div class="repeatable-period" style="width: <%-month_width%>px"><%-date.format('MMM \'YY')%></div>
        <% date.add(1, 'month');
    }
    if(continued){ %>
        <div class="repeatable-period" style="width: 115px; margin-left: 15px; position: relative; padding-left: 15px; top: 10px; font-size: 16px; background: white; z-index: 2; box-shadow: 0px 0px 5px 10px white;">Continued...</div>
    <% } %>
    </div>

    <!-- Spanning period -->
    <div class="repeatable-visualization-row">
    <%
    if(period){

        var date = start_date.clone();
        var rule_index = 0;

        for(var x = 0; x < num_periods; x++){

            var rule_date = moment(period_rules[rule_index]).second(0).minute(0).hour(0);
            var next_rule_date = false;

            if(period_rules[rule_index + 1]){
                next_rule_date = moment(period_rules[rule_index + 1]).second(0).minute(0).hour(0);
            }else{
                continue;
            }
            var days_in_period = Math.ceil(next_rule_date.diff(rule_date, 'days', true));
            var period_width = (days_in_period * MONTH_WIDTH_MULTIPLIER) - margin;

            var start_offset = 0;
            if(rule_index == 0){
                var days_from_start = Math.ceil(rule_date.diff(start_date, 'days', true));
                start_offset = (days_from_start * MONTH_WIDTH_MULTIPLIER) + margin;
            }
            %>
            <div class="repeatable-period billing-period" style="width: <%-period_width%>px; <% if(rule_index == 0){ %>margin-left: <%-start_offset%>px; <% } %>"></div>
            <% rule_index++;
        }
    }
    %>
    </div>

    <!-- Days -->
    <% if(days && days.length > 0){

        for(var day_num = 0; day_num < total_days; day_num++){ %>

            <div class="repeatable-visualization-row" style="height: 17px;">
                <%
                var rules = days[day_num].rules;
                var isActive = days[day_num]._active;
                var line_number = day_num + 1;

                for(var i = 0; i < rules.length; i++){
                    var rule_date = moment(rules[i]).second(0).minute(0).hour(0);
                    var days_from_start = Math.ceil( rule_date.diff(start_date, 'days', true) );
                    var position = (days_from_start * MONTH_WIDTH_MULTIPLIER); %>

                <div class="billing-day day-<%-line_number%> <% if(isActive){ %>active<% } %>" style="left: <%-position%>px; z-index: <%-rules.length - i%>"><%-line_number%></div>
                <% } %>
            </div>
        <% } %>
    <% } %>
</div>

<div class="scroll-right">
    <span class="fa fa-chevron-right"></span>
</div>