<%
var startDate = '';
if(typeof(dtstart) != 'undefined' && dtstart){
startDate = moment(dtstart).format('MM/DD/YYYY');
}
%>
<div class="row">
    <div class="col-md-6 form-group">
        <label for="repeat-interval">Every</label>
        <div class="input-group">
            <input type="text" name="interval" class="form-control" id="repeat-interval" value="<% if(typeof(interval) != 'undefined' && interval){ print(interval) }%>">
            <span class="input-group-addon">weeks</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 form-group">
        <label>On Day of the Week</label>
        <div class="btn-group btn-group-justified">
            <div class="btn-group">
                <button class="btn btn-default repeat-day <% if(byweekday && byweekday.indexOf(0) > -1){ %>active<% } %>" data-value="0">Mo</button>
            </div>
            <div class="btn-group">
                <button class="btn btn-default repeat-day <% if(byweekday && byweekday.indexOf(1) > -1){ %>active<% } %>" data-value="1">Tu</button>
            </div>
            <div class="btn-group">
                <button class="btn btn-default repeat-day <% if(byweekday && byweekday.indexOf(2) > -1){ %>active<% } %>" data-value="2">We</button>
            </div>
            <div class="btn-group">
                <button class="btn btn-default repeat-day <% if(byweekday && byweekday.indexOf(3) > -1){ %>active<% } %>" data-value="3">Th</button>
            </div>
            <div class="btn-group">
                <button class="btn btn-default repeat-day <% if(byweekday && byweekday.indexOf(4) > -1){ %>active<% } %>" data-value="4">Fr</button>
            </div>
            <div class="btn-group">
                <button class="btn btn-default repeat-day <% if(byweekday && byweekday.indexOf(5) > -1){ %>active<% } %>" data-value="5">Sa</button>
            </div>
            <div class="btn-group">
                <button class="btn btn-default repeat-day <% if(byweekday && byweekday.indexOf(6) > -1){ %>active<% } %>" data-value="6">Su</button>
            </div>
        </div>
    </div>
</div>
<div class="row" id="effective-dates"></div>