<%
var startDate = '';
if(typeof(dtstart) != 'undefined' && dtstart){
startDate = moment(dtstart).format('MM/DD/YYYY');
}
%>
<div class="row">
    <div class="col-md-6 form-group">
        <label for="repeat-interval">Every</label>
        <div class="input-group">
            <input type="text" name="interval" class="form-control" id="repeat-interval" value="<% if(typeof(interval) != 'undefined' && interval){ print(interval) }%>">
            <span class="input-group-addon">years</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 form-group">
        <label>On Month</label>
        <div class="repeat-month-selector">
            <% for(var x = 1; x <= 12; x++){
            var isActive = (typeof(bymonth) != 'undefined' && bymonth != null && bymonth.indexOf(x) !== -1);
            %>
            <button style="width: 16.6%" class="btn btn-default repeat-month <% if(isActive){ %>active<% } %>" data-value="<%-x%>"><%-moment().month(x - 1).format('MMM')%></button>
            <% } %>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 form-group">
        <label>On Day of the Month</label>
        <div class="repeat-day-selector">
            <% for(i = 1; i <= 28; i++){
            var checked = (typeof(bymonthday) != 'undefined' && bymonthday != null && _.indexOf(bymonthday, i) > -1);
            %>
            <button class="btn btn-default repeat-day-select <% if(checked){ print('active') } %>" data-value="<%-i%>">
                <%-i%>
            </button>
            <% } %>
            <button class="btn btn-default repeat-day-select last <% if(typeof(bymonthday) != 'undefined' && bymonthday != null && _.indexOf(bymonthday, -1) > -1){ %>active<% } %>" data-value="-1">
                Last day of month
            </button>
        </div>
    </div>
</div>
<div class="row" id="effective-dates"></div>