
<div class="row player">
    <div class="text-center col-xs-2">
        <div class="teed-off <% if(paid){ %> teed-off-check <% } %>">
            <i class="fa fa-check" aria-hidden="true"></i>
        </div>
    </div>
    <div class="col-xs-6">
        <h2><%-name %><% if(name==""){ %>No Name<% } %></h2>
        <p><%-priceClass %></p>
    </div>
    <div class="col-xs-4 text-right">
        <div class="row player-paid-status">
            <div class="<% if(paid){ %>player-paid<% } %> player-dot" ></div>

            <div class="text-left" style="padding: 0px">
                <% if(paid){ %>
                Paid
                <% } else { %>
                Unpaid
                <% } %>
            </div>
        </div>
    </div>
</div>
<div class="player-border"></div>