<div class="col-xs-12">
    <span id="message"></span>
    <div class="<% if(paid){ %>player-paid<% } %> player-dot">

    </div>
    <p>
        <%=name%>
    </p>
    <span id="message"></span>
</div>
