<div id="customer_message_list">

</div>
<% if(!App.data.user.has_module_permission("marketing_campaigns")){ %>
Give us a call to set up text messaging today.   (800)675-0422
<% } else { %>
<input id="customer_new_message" /><a id="customer_new_message_btn" class="btn btn-default">Send</a>
<% } %>
