$font-family-base: 'Open Sans', Helvetica, Ariel, sans-serif;
$brand-primary: #4885B1;
.navbar {
  border: none;
  background-color: $brand-primary !important;
  background-image: none;
  border-radius: 0;
  z-index: $z-index-5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .navbar-brand {
    padding-top: 7px;

    img {
      height: 32px;
    }
  }

  .navbar-collapse {
    background-color: #fff;
  }

  .navbar-nav {
    > li > a {
      color: $color-grey-900;


      &:hover,  &:focus {
        color: $color-grey-900;
        background-color: #f3f3f3;
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $color-grey-900;
        background-color: #f3f3f3;
      }
    }
    > .open {
      > a, > a:hover, > a:focus {
        color: $color-grey-900;
        background-color: #f3f3f3;
      }
    }
  }

  .navbar-toggle {
    background-color: transparent;
    border-color: transparent;
    padding: 7px;
    margin-top: 10px;

    .icon-bar {
      background-color: #fff;
      width: 17px;
    }

    &:hover, &:focus {
      background-color: #fff;

      .icon-bar {
        background-color: $brand-primary;
      }
    }
  }

  .app-header-current {
    font-size: 1.3em;
  }

  .app-header-apps {
    width: 470px;

    li {
      width: 50%;
      float: left;
      overflow: hidden;
      display: block;

      a {
        text-align: left;
        padding: 14px;
        line-height: 1.4em;
        display: block;
        float: none;
        cursor: pointer;
      }
    }
  }

  .app-header-btn {
    padding: 0 15px;
    line-height: 48px;
    display: inline-block;
    vertical-align: middle;

    img {
      border-radius: 3px;
      margin-right: 10px;
      height: 30px;
    }
  }

  .app-header-apps, .app-header-list {

    a {
      cursor: pointer;
    }

    // TODO: add icons?
    .app-icon {}

    .app-content {
      margin-left: 40px;
      .app-name {
        font-size: 18px;
        font-weight: 400;
        color: #404040;
      }

      .app-description {
        font-size: 12px;
        color: #a3a3a3;
        font-weight: 300;
      }
    }

  }

  .app-header-list {
    @extend .app-header-apps;
    width: 200px !important;
    li {
      width: auto;
      float: none;
    }
  }


  .app-icon {
    width: 30px;
    height: 30px;
    float: left;
    background-image: url('/images/icon-sprites-blue.png?v=1.0');
    background-repeat: no-repeat;
    margin-top: 1px;

    &.app-icon-header {
      margin: 8px 12px 0 0;
    }

    &.app-icon-white {
      background-image: url('/images/icon-sprites-white.png?v=1.0');
    }

    &.app-icon-teesheets, &.app-icon-Tee {
      background-position: 0 0;
    }
    &.app-icon-sales, &.app-icon-Sales {
      background-position: 0 -30px;
    }
    &.app-icon-food_and_beverage, &.app-icon-Food {
      background-position: 0 -60px;
    }
    &.app-icon-items, &.app-icon-Inventory {
      background-position: 0 -90px;
    }
    &.app-icon-item_kits, &.app-icon-Item {
      background-position: 0 -120px;
    }
    &.app-icon-employees, &.app-icon-Employees {
      background-position: 0 -150px;
    }
    &.app-icon-customers, &.app-icon-Customers {
      background-position: 0 -180px;
    }
    &.app-icon-reports, &.app-icon-Reports {
      background-position: 0 -210px;
    }
    &.app-icon-suppliers, &.app-icon-Suppliers {
      background-position: 0 -240px;
    }
    &.app-icon-receivings, &.app-icon-Receivings {
      background-position: 0 -270px;
    }
    &.app-icon-giftcards, &.app-icon-Gift {
      background-position: 0 -300px;
    }
    &.app-icon-promotions, &.app-icon-Promotions {
      background-position: 0 -330px;
    }
    &.app-icon-config, &.app-icon-Settings {
      background-position: 0 -360px;
    }
    &.app-icon-invoices, &.app-icon-Invoices {
      background-position: 0 -390px;
    }
    &.app-icon-marketing_campaigns, &.app-icon-Marketing {
      background-position: 0 -420px;
    }
    &.app-icon-tournaments, &.app-icon-Tournaments {
      background-position: 0 -450px;
    }
    &.app-icon-dashboards, &.app-icon-Dashboards {
      background-position: 0 -480px;
    }
    &.app-icon-support {
      background-position: 0 -510px;
    }
    &.app-icon-time-clock {
      background-position: 0 -540px;
    }
    &.app-icon-logout {
      background-position: 0 -570px;
    }
    &.app-icon-Auto {
      background-position: 0 -600px;
    }
    &.app-icon-Events {
      background-position: 0 -630px;
    }
  }


  @media (min-width: 768px) {
    height: 48px !important;

    .navbar-collapse {
      background-color: transparent;
    }

    .navbar-nav {
      > li > a {
        color: #fff;
        &:hover,  &:focus {
          color: #fff;
          background-color: darken($brand-primary, 5%);
        }
      }
      > .active {
        > a, > a:hover, > a:focus {
          color: #fff;
          background-color: darken($brand-primary, 5%);
        }
      }
      > .open {
        > a, > a:hover, > a:focus {
          color: #fff;
          background-color: darken($brand-primary, 5%);
        }
      }
    }

  }

}