.nr-tabs-container {
  overflow: auto;
  width: 100%;
  min-height: 1px;
  clear: both;
}

.nr-tabs {
  border-radius: 4px 4px 0 0;
  margin-right: 5px;
  background-color: #d3d3d3;
  color: #a3a3a3;
  float: left;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 12px;
  box-shadow: inset 0 -13px 16px -10px;

  &:hover {
    background-color: #c3c3c3;
    color: #808080;

    .nr-tabs-close {
      color: #808080;
    }
  }

  &.isActive {
    cursor: default;
    color: #fff;
    background-color: $color-primary-600;
    box-shadow: none;

    .nr-tabs-close {
      cursor: pointer;
      color: #fff;
    }
  }

}

.nr-tabs-close {
  display: inline-block;
  margin-left: 2px;
  height: 20px;
  width: 20px;
  font-size: 10px;
  border: none;
  color: #a3a3a3;
  background: none;
  cursor: pointer;
  border-radius: 100px;
  padding: 0;

  &:hover {
    background-color: #d07d7f;
    text-align: center;
    color: #fff;
  }
}


.nr-tab-float {
  height: 24px;
  width: 24px;
  border: none;
  border-radius: 4px;
  background-color: $color-primary-500;
  color: #fff;
  float: left;
  margin-left: 5px;
  margin-bottom: 8px;

  &:after {
    content: '+';
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }

  &:hover {
    background-color: $color-primary-600;
  }
}