<td class="delete"><a class="delete-item text-danger">&times;</a></td>
<td class="select"><input type="checkbox" class="select-item" name="basket" value="1" <% if(typeof selected!=='undefined' && selected){ print('checked'); } %> /></td>
<td class="name <% if(item_type == 'green_fee' || item_type == 'cart_fee'){ %>fee<% } %>">
<% if(item_type == 'green_fee' || item_type == 'cart_fee'){ 
	var season_dropdown_params = {"class": "seasons form-control pull-left", "style": "width: 50%;"};
	var fee_dropdown_params = {"class": "fees form-control pull-left", "style": "width: 50%"};

	if(!App.data.user.get('acl').can('update', 'Pos/FeeDropdown')){
		season_dropdown_params.disabled = 'disabled';
		fee_dropdown_params.disabled = 'disabled';
	}
%>
	<%=_.dropdown(season_dropdown, season_dropdown_params, selected_season)%>
	<%=_.dropdown(fee_dropdown, fee_dropdown_params, selected_fee)%>

	<%if(customer_initials){ %>
	<span class="customer-initials" style="background-color: <%-customer_color%>"><%-customer_initials%></span>
	<% } %>
<% }else if(item_type == 'giftcard' || item_type == 'punch_card' || item_type == 'invoice' || item_type == 'statement' || item_type == 'pass' || item_type == 'item_kit' || food_and_beverage == 1){ %>
    <a title="Edit details" href="" class="edit-details">
    	<%-name%>
    </a>
<% }else if(item_type == 'customer_account' || item_type == 'member_account' || item_type == 'invoice_account'){ %>
    <%-name%> - <%-params.customer.first_name%> <%-params.customer.last_name%>
<% }else{ %>
	<%-name%>
	<%if(typeof customer_initials !== 'undefined' && customer_initials){ %>
	<span class="customer-initials" style="background-color: <%-customer_color%>"><%-customer_initials%></span>
	<% } %>
<% } %>
	<% if(typeof service_fees !== 'undefined' && service_fees && service_fees.length > 0){ %>
	<% _.each(service_fees.models, function(fee){ %>
	<div>
		<span class="name">(<%-fee.get('name') %>): </span>
		<span class="value"><%-accounting.formatMoney(fee.get('subtotal')) %></span>
	</div>
	<% }); %>
	<% } %>
	<%if(typeof modifiers !== 'undefined' && modifiers && modifiers.length > 0){ %>
	<% _.each(modifiers.models, function(modifier){ %>
	<div>
		<span class="name"><%-modifier.get('name') %> : <%-modifier.get('selected_option') %> </span>
		<span class="value"><%-accounting.formatMoney(modifier.get('selected_price')) %></span>
	</div>
	<% });%>
	<%}%>
</td>

<% if(item_type == 'tournament' || item_type == 'giftcard' || item_type == 'item_kit'){ %>
<td class="price">
	<p class="form-control-static"><%-accounting.formatMoney(unit_price,'')%></p>
</td>	
<% }else{ %>
<td class="price">
	<input name="price" type="number" novalidate step="any" class="item-price form-control auto-highlight" value="<%-accounting.formatNumber(unit_price, 2, '')%>" />
</td>	
<% } %>

<% if(erange_size > 0 || item_type == 'giftcard' || item_type == 'statement'){ %>
<td class="qty">
	<p class="form-control-static"><%-quantity%></p>
</td>
<td class="discount">
	<input name="discount" type="number" class="item-discount form-control auto-highlight" value="<%-accounting.formatNumber(discount_percent, 2)%>" />
</td>
<% }else if(item_type == 'pass'){ %>
<td class="qty">
	<p class="form-control-static"><%-quantity%></p>
</td>
<td class="discount">
	<input name="discount" type="number" class="item-discount form-control auto-highlight" value="<%-accounting.formatNumber(discount_percent, 2)%>" />
</td>
<% }else if(item_type == 'punch_card' ||
	item_type == 'invoice' ||
	item_type == 'member_account' || 
	item_type == 'customer_account' || 
	item_type == 'invoice_account' || 
	item_type == 'tournament'){ %>
<td class="qty">
	<p class="form-control-static"><%-quantity%></p>
</td>
<td class="discount">
	<p class="form-control-static"><%-accounting.formatNumber(discount_percent, 2)%></p>
</td>
<% }else{ %>
<td class="qty">
	<input name="quantity" type="number" class="item-quantity form-control auto-highlight" value="<%-quantity%>" />
</td>
<td class="discount">
	<input name="discount" type="number" class="item-discount form-control auto-highlight" value="<%-accounting.formatNumber(discount_percent, 2)%>" />
</td>
<% } %>

<% if(food_and_beverage == 1){ %>
<td class="total"><%-accounting.formatMoney(subtotal + sides_subtotal)%></td>
<% }else{ %>
<td class="total"><%-accounting.formatMoney(subtotal)%></td>	
<% } %>