<div class="item-count pull-left">
	<h4><%-num_items %> Items</h4>
    <% if (!hide_taxable) { %>
	<div class="checkbox">
		<label>
			<input type="checkbox" name="taxable" id="taxable-checkbox" value="1" <% if(taxable){ %>checked<% } %> 
			<% if(!App.data.user.get('acl').can('update', 'Pos/Taxable')){ %>disabled<% }  %> />
			Taxable
		</label>
	</div>
    <% } %>
</div>
<div class="totals pull-right">
	<ul class="charges">
		<li>
			<span class="amount"><%-accounting.formatMoney(subtotal - service_fees_subtotal) %></span>
			<span class="name">Subtotal</span>	
		</li>
		<% if(service_fees_subtotal > 0){ %>
		<li>
			<span class="amount"><%-accounting.formatMoney(service_fees_subtotal) %></span>
			<span class="name">Service Fees</span>
		</li>
		<% }
		if(credit_card_fees > 0){ %>
		<li>
			<span class="amount"><%-accounting.formatMoney(credit_card_fees) %></span>
			<span class="name">Credit Card Fee</span>
		</li>
		<% } %>
		
		<%
		if(taxes.length > 0 && total > subtotal) {
		_.each(taxes, function(tax){
		  if(!tax.amount)return;
		%>
		<li>
			<span class="amount"><%-accounting.formatMoney(tax.amount) %></span>
			<span class="name"><%-tax.name%> - <%-accounting.formatNumber(tax.percent, 3)%>%</span>	
		</li>	
		<% }); } %>
	</ul>
	<h4 class="total">
		<span class="amount"><%-accounting.formatMoney(total) %></span>
		<label>Total</label> 
	</h4>
</div>