<div class="modal-content select-cash-drawer">
	<div class="modal-header">
		<h4 class="modal-title" style="text-align: center">Select Cash Drawer</h4>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<ul class="list-group cash-drawers">
					  	<li class="list-group-item cash-drawer <% if((drawer_1 && !closing) || (!drawer_1 && closing)){ %>disabled<% } %>" data-number="1">
					  		Drawer 1
					  		<% if(drawer_1){ %>
					  		<span class="label label-warning">IN USE</span>
					  		<span class="text-align-right pull-right"><%-drawer_1.employee.get('first_name')%> <%-drawer_1.employee.get('last_name')%></span>
					  		<% } %>
					  	</li>
					  	<li class="list-group-item cash-drawer <% if((drawer_2 && !closing) || (!drawer_2 && closing)){ %>disabled<% } %>" data-number="2">
					  		Drawer 2
					  		<% if(drawer_2){ %>
					  		<span class="label label-warning">IN USE</span>
					  		<span class="text-align-right pull-right"><%-drawer_2.employee.get('first_name')%> <%-drawer_2.employee.get('last_name')%></span>
					  		<% } %>
					  	</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>