<% 
var btn_class = 'btn-default';
var btn_text = 'Apply';

if(is_applied){
	btn_class = 'btn-primary applied';
	btn_text = 'Applied';
} %>						
<button class="btn btn-sm apply-pass-rule <%-btn_class%>" <% if(!is_valid){ %>style="visibility: hidden"<% } %>>
	<%-btn_text%>
</button>

<% if(is_valid){ %>
<span class="fa fa-check-circle text-success"></span>
<% }else{ %>
<span class="fa fa-times-circle text-danger"></span>
<% } %>
<%-name%>
<% 
if(App.data.course.get('price_classes') && App.data.course.get('price_classes')[price_class_id]){
	print(' - ' + App.data.course.get('price_classes')[price_class_id]);
} %>
<% if(typeof times_used != 'undefined' ){ %>
- Used <%-times_used%> time<% if(times_used != 1){%>s<%}%>
<% } %>

<!--  -->
<% if(typeof accurate != 'undefined' && !accurate){ %>
<a href="#" class="tooltiplink" title="These are the uses since Jan 24, 2017"> &#42;</span></a>

<% } %>