<% 
var btn_class = 'btn-default';
var btn_text = 'Apply';

if(is_applied){
	btn_class = 'btn-primary applied';
	btn_text = 'Applied';
} %>					
<button class="btn btn-sm apply-pass <%-btn_class%>" <% if(!is_valid){ %>style="visibility: hidden"<% } %>>
	<%-btn_text%>
</button>					
<div class="pass-details">
	<span class="restrictions-valid">
	<% if(is_valid){ %>
		<span class="fa fa-check-circle text-success"></span>
	<% }else{ %>
		<span class="fa fa-times-circle text-danger"></span>
	<% } %>
	</span>
	<span class="pass-name">
		<strong>
			<% if(multi_customer == 1 && customer){ %>
			<%-customer.first_name+' '+customer.last_name%> - 
			<% } %>
			<%-name%>
		</strong> 
		<% if(rules && rules.length > 0){ %><a href="" class="show-pass-details">Show Details</a><% } %>
         - Used <%-times_used%> time<% if(times_used != 1){%>s<%}%>
	</span>
	<% 
	if(end_date && end_date != '0000-00-00 00:00:00'){ 
	var expiration = moment(end_date,'YYYY-MM-DD HH:mm:ss'); %>
	<% if(expiration){ %>
	<span class="pull-right">
		Expires 
		<span class="expiration <%if(expiration.isBefore()){ print('text-danger expired') } %>">
			<%-expiration.format('M/D/YY') %>
		</span>
	</span>
	<% } } %>
</div>
<div class="pass-restrictions-container" <% if(!show_rules){ %>style="display: none"<% } %>></div>