<div class="modal-content item-kit-details">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Item Kit Pricing</h4>
	</div>
	<div class="modal-body container-fluid">
		<div class="row">
			<div class="col-md-12">
				<table class="table item-kit-items">
					<thead>
						<th style="width: 50%">Item</th>
						<th>Price</th>
						<th>Qty</th>
						<th>Total</th>
					</thead>
					<tbody>
					<% if(items && items.length > 0){ 
					_.each(items.models, function(item, index){ %>
					<tr>
						<td>
							<%-item.get('name')%>
						</td>
						<td>
							<input style="width: 100px" type="text" data-index="<%-index%>" name="items[<%-item.get('item_id')%>][unit_price]" value="<%-accounting.formatMoney(item.get('unit_price'), '')%>" placeholder="0.00" class="form-control item-price">
						</td>						
						<td>
							<%-accounting.formatNumber(item.get('base_quantity'))%>
						</td>
						<td>
							<%
							var subtotal = new Decimal(item.get('non_discount_subtotal')).dividedBy(quantity).toDP(2).toNumber(2);
							%>
							<strong><%-accounting.formatMoney(subtotal)%></strong>
						</td>
					</tr>					
					<% }) }else{ %>
					<tr>
						<td colspan="6">
							<h4 style='text-align: center' class="text-muted">No Items Attached</h4>
						</td>
					</tr>
					<% } %>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="3" style="text-align: right">
							Item Kit Price
							</td>
							<th>
								<strong><%-accounting.formatMoney(unit_price)%></strong>
							</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>												
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
		<button type="button" class="btn btn-primary save">Save</button>
	</div>
</div>