<div class="modal-content partial-refund-window">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Partial Return - Sale #<%-number%></h4>
	</div>
    <div class="modal-body container-fluid">
        <div class="row">
            <label for="refund-reason" class="col-md-3 control-label">Reason</label>
            <div class="col-md-8">
                <select class="form-control" name="reason" id="refund-reason">
                    <% for (var i in refund_reasons.attributes) { %>
                    <option value="<%-i%>"><%-refund_reasons.attributes[i]%></option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="row">
            <label for="refund-comment" class="col-md-3 control-label">Comment</label>
            <div class="col-md-8">
                <textarea class="form-control" value="" name="comment" id="refund-comment" />
            </div>
        </div>
    </div>
	<div class="well" style="display: block; border: none; border-bottom: 1px solid #E0E0E0; border-radius: 0px;">
		<div class="row">
			<div class="col-sm-6">
				<div class="row">
					<div class="col-xs-6"><strong>Sale Total</strong></div> 
					<div class="col-xs-6"><%-accounting.formatMoney(total) %></div>
				</div>
				<div class="row">
					<div class="col-xs-6"><strong>Refunded</strong></div>
					<div class="col-xs-6"><%-accounting.formatMoney(refunded) %></div>
				</div>
				<div class="row">
					<div class="col-xs-6"><strong>Leftover</strong></div>
					<div class="col-xs-6"><%-accounting.formatMoney(leftover) %></div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row">
					<label for="customer-email" class="col-md-4 control-label">Amount</label>
					<div class="col-md-6">
						<input type="number" class="form-control amount" placeholder="0.00" value="<%-accounting.formatMoney(leftover, '')%>">
					</div>
				</div>
			</div>			
		</div>
	</div>	
	<div class="modal-body container-fluid">
		<div class="row refund-types">
			<div class="col-sm-4">
				<button class="btn btn-default cash">Cash</button>
				<button class="btn btn-default credit-card">Credit Card</button>
			</div>
			<div class="col-sm-4">
				<% if(!customer){ var disabled = ' disabled'; }else{ var disabled = ''; } %>
				<button class="btn btn-default member-account<%-disabled%>">Member Account</button>
				<button class="btn btn-default customer-account<%-disabled%>">Customer Credit</button>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn btn-default pull-left">Cancel</button>
	</div>
</div>
