<a href="" class="delete text-danger">&times;</a>
<span class="desc"><%-description%></span>
<span class="amount">
	<% if(type != 'credit_card_save'){ %>
	<%-accounting.formatMoney(amount)%>
	<% }else{ %>
	<i class="glyphicon glyphicon-check"></i>
	Saved
	<% } %>
</span>