<div class="row">
	<div class="col-md-12">
		<h3>Swipe Card...</h3>
	</div>	
</div>
<div class="row">
	<div class="col-md-4">
		<input name="card_data" id="credit-card-data" type="password" autocomplete="off" value="" class="form-control">
		<input name="amount" id="payment_amount" class="amount" type="hidden" autocomplete="off" value="<%-amount%>">
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<% if(show_manual_entry){ %>
		<button class="btn btn-default manual-entry" style="margin-top: 10px;">Manual Entry</button>
		<% } %>
		<button class="btn btn-primary submit-payment" style="margin-top: 10px;">Submit Payment</button>
	</div>
</div>
