<div class="header-stat">
    <div class="stat-value"><%-accounting.formatMoney(total_sales) %></div>
    <div class="stat-label">Total</div>
</div>
<div class="header-stat">
    <div class="stat-value"><%-accounting.formatMoney(average_sale) %></div>
    <div class="stat-label">Average Sale</div>
</div>