<% var btn_class = 'btn-primary';
if(color && color != ''){ 
	btn_class = 'btn-'+color;
} %>
<% if(items && items.models && items.models.length > 1){ %>
<div class="dropdown">
	<button class="btn <%-btn_class%> btn-block quick-button" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
		<%-display_name%>
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu quick-button-sub-menu" role="menu">
		<% _.each(items.models, function(item){ %>
		<% if(!item){ return true } %>
		<li role="presentation">
			<button class="btn btn-default btn-block quick-button-item" role="menuitem" tabindex="-1" href="#" data-item-id="<%-item.cid%>"><%-item.get('name')%></button>
		</li>
		<% }) %>
	</ul>
</div>
<% }else if(items.models.length == 1){ %>
<button class="btn btn-block <%-btn_class%> quick-button-item" data-item-id="<%-items.at(0).cid%>"><%-display_name%></button>
<% } %>
