<div id="context-<%-sale_id%>" class="context-menu" style="position: absolute; z-index: 100;">
	<ul class="dropdown-menu" role="menu">
		<li><a tabindex="-1" href="" class="print">Print Receipt</a></li>
		<li><a tabindex="-1" href="" class="email">Email Receipt</a></li>
		<li><a tabindex="-1" href="" class="tip">Add Tip</a></li>
	</ul>
</div>
<div class="container clearfix">
	<div class="header clearfix">
		<span class="time"><%-moment(sale_time).format('h:mma')%></span>
		<span class="sale-num edit">
			<% if(total < 0){ var color = "text-danger"; }else{ var color = ''; } %>
			<a href="" class="<%-color%>">
				#<% if(number != null){ %><%-number%><% }else{ %><%-sale_id%><% } %>
			</a>
		</span>
	</div>
	<div class="details clearfix">
		<span class="customer">
			<% if(customer && customer.person_id){ %>
				<%-customer.last_name%>
			<% }else{ %>
				<span class="unknown">No Customer</span>
			<% } %>
		</span>
		<span class="amount"><%-accounting.formatMoney(total) %></span>
	</div>
</div>
