<div class="panel-heading">
	<h3 class="panel-title">
		Recent Transactions 
		<span class="glyphicon glyphicon-plus-sign pull-right hidden-lg"></span>
		<span class="glyphicon glyphicon-minus-sign pull-right visible-lg hidden-xs hidden-sm hidden-md"></span>
	</h3>
</div>
<div class="panel-body minimize-sm" style="overflow-y: scroll; max-height: 300px">
	<ul class="transactions"></ul>
	<button class="btn btn-default btn-block btn-sm more">Load More</button>
</div>