<div id="sales-quick-buttons" class="col-md-3 col-lg-2"></div>
<div id="sales-cart" class="col-md-9 col-lg-8">
	<div class="row">
		<div class="col-lg-12" id="cart-list"></div>	
	</div>
	<div class="row">
		<div class="col-lg-12" id="cart-totals"></div>
	</div>
	<div class="row">
		<div class="col-lg-12" id="sale-customers"></div>
	</div>
	<div class="row">
		<div class="col-lg-12" id="sale-payments"></div>
	</div>
</div>
<div id="sales-recent" class="col-md-12 col-lg-2">
	<div class="row">
		<div id="recent-transactions" class="col-md-6 col-lg-12"></div>
		<div id="suspended-sales" class="col-md-6 col-lg-12"></div>
	</div>
</div>