<div class="modal-content invoice">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Statement Details</h4>
	</div>
	<div class="modal-body container-fluid">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-md-2 control-label">
					Total
				</label>
				<div class="col-md-10">
					<p class="form-control-static"><%-accounting.formatMoney(params.total)%></p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">
					Paid
				</label>
				<div class="col-md-10">
					<p class="form-control-static"><%-accounting.formatMoney(params.total_paid)%></p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label" for="statement-price">Amount</label>
				<div class="col-md-3">
					<input type="text" name="unit_price" value="<%-accounting.formatMoney(unit_price, '')%>" class="form-control price" id="statement-price">
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-2">
					Total Receivable
				</div>
				<div class="col-md-3">
					<p class="form-control-static"><%-accounting.formatMoney(params.customer.invoice_balance)%></p>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		<button type="button" class="btn btn-primary save">Save</button>
	</div>
</div>
