<div class="header-stat">
    <div class="stat-value"><%-Bookings %></div>
    <div class="stat-label">Bookings</div>
</div>
<div class="header-stat">
    <div class="stat-value"><%-Occupancy %></div>
    <div class="stat-label">Occupancy</div>
</div>
<div class="header-stat">
    <div class="stat-value"><%-Player_No_Shows %></div>
    <div class="stat-label">No Shows</div>
</div>
<div class="header-stat">
    <div class="stat-value"><%-Players_Checked_in %></div>
    <div class="stat-label">Checked-in</div>
</div>
<div class="header-stat">
    <div class="stat-value"><%-Revenue %></div>
    <div class="stat-label">Revenue</div>
</div>
