
<button class="page-filter-button" data-toggle="dropdown">
    <span class="filter-label" data-bind="text:filterLabel"></span>
    <a class='delete-filter' title="Remove filter">&times;</a>
</button>
<div class="dropdown-menu dropdown-filter" role="menu">
    <div class="dropdown-filter-content">
        <div id="r-filter" class="nr-filter-container form-inline"></div>
    </div>
    <div class="dropdown-filter-close">
        <a class="nr-filter-delete" id="r-remove-filter">Remove Filter</i></a>
    </div>
</div>