<div id="filters">

</div>
<div class="dropdown page-filter">
    <button class="page-filter-add" id="add-filter"  data-toggle="dropdown">
        + Add Filter
        <span class="caret"></span>
    </button>
    <div class="dropdown-menu dropdown-filter" role="menu">
        <div class="dropdown-filter-content" id="new-filter">

        </div>
    </div>
</div>