<form>
    <div class="clearfix">
        <div class="settings-header row">
          <div class="col-md-12">
            <div class="settings-title">Business Details</div>
            <div class="settings-subtitle">These details are used to help us better serve you in generating invoices, receipts, and business communications.</div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4 left-column">
            <div class="form-group">
                <label for="name" class="col-md-12 control-label">Business Name</label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="<%-name%>" name="name" id="name" />
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="col-md-12 control-label">Business Address</label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="<%-address%>" name="address" id="address" />
                </div>
            </div>
            <!--div class="form-group">
                <label for="business-address-2" class="col-md-12 control-label">Address Line 2</label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="" name="address_2" id="business-address-2" />
                </div>
            </div-->
            <div class="form-group">
                <label for="country" class="col-md-12 control-label">Country</label>
                <div class="col-md-12">
                    <%=_.dropdown(SettingsRestModelDropdownOptions.countries, {"name":"country", "id":"country", "class":"form-control"}, country)%>
                </div>
            </div>
            <div class="form-group">
                <label for="city" class="col-md-12 control-label">City</label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="<%-city%>" name="city" id="city" />
                </div>
            </div>
            <div class="form-group">
                <label for="state" class="col-md-6 control-label">State</label>
                <label for="postal" class="col-md-6 control-label">Postal/Zip Code</label>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <%=_.dropdown(SettingsRestModelDropdownOptions.states[country], {"name":"state", "id":"state", "class":"form-control"}, state)%>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" value="<%-postal%>" name="postal" id="postal" />
                </div>
            </div>
            <div class="form-group">
                <label for="timezone" class="col-md-12 control-label">Timezone</label>
                <div class="col-md-12">
                    <%=_.dropdown(SettingsRestModelDropdownOptions.timezones, {"name":"timezone", "id":"timezone", "class":"form-control"}, timezone)%>
                </div>
            </div>
            <div class="form-group">
                <label for="timeFormat" class="col-md-12 control-label">Time Format</label>
                <div class="col-md-12">
                    <%=_.dropdown(SettingsRestModelDropdownOptions.timeFormats, {"name":"timeFormat", "id":"timeFormat", "class":"form-control"}, timeFormat)%>
                </div>
            </div>
            <div class="form-group">
                <label for="dateFormat" class="col-md-12 control-label">Date Format</label>
                <div class="col-md-12">
                    <%=_.dropdown(SettingsRestModelDropdownOptions.dateFormats, {"name":"date_format", "id":"date-format", "class":"form-control"}, dateFormat)%>
                </div>
            </div>

        </div>
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label for="phone" class="col-md-12 control-label">Phone Number</label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="<%-phone%>" name="phone" id="phone" />
                </div>
            </div>
            <div class="form-group">
                <label for="fax" class="col-md-12 control-label">Fax Number</label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="<%-fax%>" name="fax" id="fax" />
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-md-12 control-label">Business Email Address</label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="<%-email%>" name="email" id="email" />
                </div>
            </div>
            <!--div class="checkbox-control-container">
                <input type="checkbox" value="1" data-unchecked-value="0" id="invoiceEmailSame" name="invoiceEmailSame" />
                <label for="invoiceEmailSame" class="control-label">Invoice Email is the same as Business Email</label>
            </div-->
            <div class="form-group">
                <label for="billingEmail" class="col-md-12 control-label">Invoice Email Address</label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="<%-billingEmail%>" name="billingEmail" id="billingEmail" />
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <label for="website" class="col-md-12 control-label">Website URL</label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="<%-website%>" name="website" id="website" />
                </div>
            </div>
            <!--div class="form-group">
                <label for="business-address-1" class="col-md-12 control-label">Facebook</label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="" name="address_1" id="business-address-1" />
                </div>
            </div>
            <div class="form-group">
                <label for="business-address-1" class="col-md-12 control-label">Twitter</label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="" name="address_1" id="business-address-1" />
                </div>
            </div>
            <div class="form-group">
                <label for="business-address-1" class="col-md-12 control-label">LinkedIn</label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="" name="address_1" id="business-address-1" />
                </div>
            </div-->
        </div>
          <div class="col-md-4 col-lg-4">
            <span><i>business logo input should go here</i></span>
          </div>
    </div>
</form>
