@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
$break-small: 500px;
$break-large: 1200px;

.page{
  height:100%;
}

.person-message-icon{
  display:inline-block;
}

div.starter-booking {
  margin-top:-15px;
  background-color:white;
  font-family: Roboto;
  font-size:14px;
  min-height:100%;
  div.booking-date {
    background-color:rgb(74,73,74);
    height: 50px;
    padding: 5px;
    text-align: center;
    i{
      position: absolute;
      font-size: 36px;
      top: 55px;
      color:#ffffff;
      &#prevDay {
        left: 9px;
      }
      &#nextDay {
        right:9px;
      }
    }
    span {
      font-size: 20px;
      font-weight: 300;
      color: #ffffff;
      text-align: center;
      display: block;
      margin:5px auto 0;
    }
  }

  div.booking-front-back {
    background-color: rgb(237, 237, 237);
    border-bottom: solid 1px #808080;
    padding: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.25);
    .input-group {
      text-align: center;
    }
  }

  div.booking-front-back button.teesheet-side{
    font-family:Roboto;
    font-size:14px;
    border-radius: 4px;
    background-color:white;
    color:rgb(30,116,179);
    border: 2px solid rgb(30,116,179);
    padding: 6px 30px;
  }
  div.booking-front-back button.active{
    color:white;
    background-color:rgb(30,116,179);
    font-weight: 500;
  }

  div.booking-item{
    display:flex;
    padding: 0 10px 0 15px;
    .select-booking{
      margin-left:auto;
      margin-right:10px;
    }
  }

  div.bookings-collection{
    padding-left:20px;
    padding-right:20px;



    div.booking {
      border-radius: 4px;
      background: rgb(248,248,248);
      padding: 5px;

      margin: 2px 0px 2px 0px;
      border: 2px solid rgb(216,216,216);
      position:relative;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.08);
      -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.08);
      -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.08);

      div.booking-time {
        font-color:rgb(128,128,128);
        font-size:18px;
        white-space: nowrap;
        overflow:auto;
      }

      div#players-region{
        padding:0px;

        display:flex;
        align-items: center;
        p{
          display: inline-block;
          vertical-align: middle;
          float: none;
          margin: 1px 0 0 0;
        }
        div.player-dot{
          display: inline-block;
          vertical-align: middle;
          float: none;
        }
      }

      div.select-booking{
        text-align:right;
        font-weight:bolder;
        white-space:nowrap;
        img{
          height:25px;
        }
      }

    }

    div.teedoff{
      background-color:rgb(166,200,225);
    }
  }
}


.player-dot{
  border-radius:15px;
  height:15px;
  width:15px;
  display:inline-block;
  background-color:rgb(247,182,27);
  margin:5px;
}
.player-paid{
  background-color:rgb(137,196,87);
}


div.edit-booking{
  .booking-header{
    text-align: center;
    background-color: rgb(41,128,184);
    font-weight: 400;
    color:white;
    height:100px;

    p{
      overflow: hidden;
      margin: 0px;
      padding: 0px;
      font-size: 14px;
    }
    .back-navigation{
      font-size: 22px;
      @include vertical-align();
    }
  }
  h1{
    font-weight: 400;
    margin-bottom: 0px;
  }
  h2{
    font-size: 18px;
    background-color: rgb(237,237,237);
    padding: 10px 0px 3px 5%;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    display: block;
    margin:0px;

    button{
      font-family: Roboto;
      font-weight: 300;
      font-size: 18px;
      border-radius: 4px;
      background-color: #1e74b3;
      color: white;
      border: 2px solid #1e74b3;
      padding: 10px;
    }
  }
  p{
    margin: 0px;
    padding: 10px 0px 10px 5%;
    font-size: 18px;
  }
}



div#edit-players-region{
  background-color: white;
  padding: 0 0 15px 0;
  h2{
    font-size: 18px;
    background-color: white;
    padding: 0px;
    border:none;
    margin:0px;


  }
  p{
    padding:0px;
    color:gray;
    font-size:14px;
  }
  .player-dot{
  }
  .player{
    height: 50px;
    padding: 10px 0 0 0;

    h2{

      white-space:nowrap;
      overflow:hidden;
    }
    p{

      white-space:nowrap;
      overflow:hidden;
    }

  }
  .player-border{
    border-bottom: solid rgb(204,204,204) 1px;
    position: absolute;
    left: 20%;
    width: 80%;
  }
  .player-paid-status{
    height:100%;
    display:flex;
    align-items: center;
  }
  .player-paid-status .div{
    margin:0px;
  }
  .teed-off{
    color:white;
    border-radius: 35px;
    width: 35px;
    height: 35px;
    border: solid rgb(204,204,204) 1px;
    margin-left: auto;
    margin-right:-5px;
  }
  .teed-off-check{

    background-color: #89c457;
    color: white;
    display: flex;
    align-items: center;

    i{
      color:white;
      margin:auto;
      font-size: 25px;
    }
  }
}

.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;

  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);

  @media screen and (max-width: $break-large) {
    width: 500px;
    float: none;
  }
  @media screen and (max-width: $break-small) {
    width: 100%;
    float: none;
  }
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 0px;
}
/*Right*/
.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}