<table width="100%" cellpadding="0"
       style="background: #fff;
width: 100%;
padding: 0;
border-collapse: collapse;
font-family: 'Roboto', helvetica, arial, sans-serif;
">
    <tr>
        <td style="background-color: #fff; padding: 10px;">

            <table style="
            max-width: 580px;
            margin: 0 auto;
            width: 100%;
            ">
                <tr>
                    <td width="50%" style="width: 50%; text-align: left; padding-left: 10px;">
                        <img style="max-height: 80px; max-width: 120px;" src="http://s16.postimg.org/cs24n9z5h/golf_logo.png" alt="">
                    </td>
                    <td width="50%" style="width: 50%; text-align: right; color: #404040; padding-right: 10px;">
                        <div style="font-size: 12px;">
                            <a href="<?= $website ?>" target="_blank" style="text-decoration: underline; color: #000;"><?= $website ?></a>
                        </div>
                        <div style="font-size: 12px;">
                            555-555-5555
                        </div>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td style="background-color: #c4dda6; padding: 20px; border-top: solid 1px #89a378; border-bottom: solid 1px #89a378;">
            <table style="max-width: 580px; margin: 0 auto; width: 100%; border-collapse: collapse;">
                <tr>
                    <td width="120" style=" padding: 10px 0; text-align: right;">
                        <img src="http://oi58.tinypic.com/qreuzq.jpg" alt="">
                    </td>
                    <td style="text-align: left; font-weight: 700; font-size: 24px; padding: 20px; color: #3a5c3c">
                        Cambridge Golf Course Presents the
                        Golfing Tournament
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>

            <table style="max-width: 580px; margin: 0 auto">
                <tr>
                    <td>
                        <img src="" alt="">
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: 400; font-size: 16px; text-align: left; padding: 20px;">
                        Bacon ipsum dolor amet venison salami kevin tongue, hamburger filet mignon beef porchetta jowl pancetta tri-tip. Tri-tip leberkas landjaeger meatloaf pork loin kielbasa rump capicola chuck ribeye bresaola shankle prosciutto turducken hamburger. T-bone sirloin bresaola jerky leberkas tri-tip landjaeger ground round tail tongue venison pancetta shankle. Bresaola ham t-bone, strip steak drumstick pig frankfurter tenderloin swine. Ball tip bacon kielbasa, tongue jerky short loin tri-tip leberkas beef cow biltong flank turkey beef ribs pastrami. Pork jerky meatball, sirloin jowl pig pork loin chicken pork belly short loin prosciutto hamburger. Tail brisket ball tip bacon frankfurter.

                        <div style="text-align: right; padding-top: 20px; font-size: 14px; font-style: italic;">
                            - your friends at <?= $name ?>
                        </div>
                    </td>

                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td style="padding: 20px;">
            <table style="table-layout: fixed;
            border-top: solid 1px #d3d3d3;
            max-width: 580px;
            width: 100%;
            margin: 0 auto;
            ">
                <tr>
                    <td width="50%" style="padding: 20px 0 0 20px;">
                        <div style="font-weight: 700; font-size: 14px;">
                            <?= $name ?>
                        </div>
                        <div style="font-size: 12px;">
                            <?= $address ?>
                        </div>
                    </td>
                    <td width="50%" style="padding: 20px 20px 0 0;">
                        <div style="font-size: 12px;">
                            <span style="font-weight: 700;">Email:</span> <a href="mailto:<?= $support_email ?>" target="_blank" style="text-decoration: underline;"><?= $support_email ?></a><br>
                            <span style="font-weight: 700;">Phone:</span> <a href="tel:<?= $phone_number; ?>" target="_blank" style="text-decoration: underline;"><?= $phone_number; ?></a><br>
                            <span style="font-weight: 700;">Website:</span> <a href="<?= $website ?>" target="_blank" style="text-decoration: underline;"><?= $website ?></a>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align: center; padding-top: 40px;">
            <a style="font-size: 12px; text-decoration: underline;" href="#">Click here to Unsubscribe</a>
        </td>
    </tr>
</table>

<img src="" alt="">