<div class="modal-content close-register-log">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" style="text-align: center">
			Close Register
			<% if(multiCashDrawers){ %>
			(Drawer <%-drawer_number%>)
			<% }%>
		</h4>
	</div>
	<div class="modal-body close-register-log">
		<form class="form-horizontal" role="form">
		<div class="container-fluid">
			<% if(blind_close == '0'){ %>
			<div class="row">
				<div class="col-sm-12">
					<p style="text-align: center; padding-bottom: 10px;">
						You should have <strong><%-accounting.formatMoney(parseFloat(open_amount) + parseFloat(cash_sales_amount))%></strong> 
						in the register
					</p>
				</div>
			</div>
			<% } %>
			<div class="row">
				<div class="col-md-5 col-md-offset-1">
					<div class="form-group">
						<label class="col-sm-6 control-label" for="register_close_pennies">Pennies</label>
						<div class="col-sm-6">
							<input type="number" id="register_close_pennies" value="0" class="form-control input-lg change" data-amount="0.01" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-6 control-label" for="register_close_nickels">Nickels</label>
						<div class="col-sm-6">
							<input type="number" id="register_close_nickels" value="0" class="form-control input-lg change" data-amount="0.05" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-6 control-label" for="register_close_dimes">Dimes</label>
						<div class="col-sm-6">
							<input type="number" id="register_close_dimes" value="0" class="form-control input-lg change" data-amount="0.10" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-6 control-label" for="register_close_quarters">Quarters</label>
						<div class="col-sm-6">
							<input type="number" id="register_close_quarters" value="0" class="form-control input-lg change" data-amount="0.25" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-6 control-label" for="register_close_ones">Ones</label>
						<div class="col-sm-6">
							<input type="number" id="register_close_ones" value="0" class="form-control input-lg change" data-amount="1.00" />
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="form-group">
						<label class="col-sm-6 control-label" for="register_close_fives">Fives</label>
						<div class="col-sm-6">
							<input type="number" id="register_close_fives" value="0" class="form-control input-lg change" data-amount="5.00" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-6 control-label" for="register_close_tens">Tens</label>
						<div class="col-sm-6">
							<input type="number" id="register_close_tens" value="0" class="form-control input-lg change" data-amount="10.00" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-6 control-label" for="register_close_twenties">Twenties</label>
						<div class="col-sm-6">
							<input type="number" id="register_close_twenties" value="0" class="form-control input-lg change" data-amount="20.00" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-6 control-label" for="register_close_fifties">Fifties</label>
						<div class="col-sm-6">
							<input type="number" id="register_close_fifties" value="0" class="form-control input-lg change" data-amount="50.00" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-6 control-label" for="register_close_hundreds">Hundreds</label>
						<div class="col-sm-6">
							<input type="number" id="register_close_hundreds" value="0" class="form-control input-lg change" data-amount="100.00" />
						</div>
					</div>
				</div>
			</div>
			<hr style="border-color: #D0D0D0" />
			<div class="row totals">
				<div class="col-md-5 col-md-offset-1">
					<div class="form-group">
						<label class="col-sm-6 control-label" for="register_close_check_amount" style="padding-right: 5px">Total Checks</label>
						<div class="col-sm-6">
							<input type="number" id="register_close_check_amount" value="<%-accounting.formatMoney(close_check_amount, '')%>" class="form-control input-lg" style="padding-right: 5px;" />
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="form-group">
						<label class="col-sm-6 control-label" for="register_close_amount">Total Cash</label>
						<div class="col-sm-6">
							<input type="number" id="register_close_amount" value="<%-accounting.formatMoney(close_amount, '')%>" class="form-control input-lg" style="padding-right: 5px;" />
						</div>
					</div>
				</div>
			</div>
		</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary btn-lg close-register">Close Register</button>
	</div>
</div>
