<div class="modal-content comp-window">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Comp</h4>
	</div>
	<div class="modal-body">
		<form role="form" class="form-horizontal">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">			
					<h1 class="comp-subtotal" style="text-align: center;"><%-accounting.formatMoney(subtotal)%></h1>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label input-lg">Amount</label>
				<div class="col-sm-3">
					<div class="input-group">	
						<input class="form-control input-lg amount" name="amount" value="<%-accounting.formatMoney(comp.amount, '')%>" type="text" style="padding-right: 5px; padding-left: 10px;" />
						<span class="input-group-addon">%</span>
					</div>
				</div>
			</div>
			<div class="row reasons">
				<div class="col-sm-6">
				<% _.each(reasons, function(reason, index){ 
					if(index >= 5){ return true } %>
					<div class="row">
						<div class="col-xs-12">
							<button class="btn btn-default btn-lg btn-block reason<% if(comp.description && reason == comp.description){ print(' active') } %>"><%-reason%></button>
						</div>
					</div>
				<% }) %>
				</div>
				<div class="col-sm-6">
				<% _.each(reasons, function(reason, index){ 
					if(index < 5){ return true } %>
					<div class="row">
						<div class="col-xs-12">
							<button class="btn btn-default btn-lg btn-block reason<% if(comp.description && reason == comp.description){ print(' active') } %>"><%-reason%></button>
						</div>
					</div>
				<% }) %>
				</div>				
			</div>
			<div class="row">
				<div class="col-xs-12">
					<hr style="border-top: 1px solid #E0E0E0;" />
					<h1 class="comp-total" style="text-align: center"><%-accounting.formatMoney(subtotal)%></h1>
				</div>
			</div>
		</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger btn-lg no-comp pull-left">No Comp</button>
		<button class="btn btn-primary btn-lg save pull-right">Save</button>
	</div>
</div>
