<div id="fb-cart" class="col-md-4">
	<div class="inner-content" style="padding-top: 0px;">
		<div class="row cart-buttons">
			<% 
			var col_class = 'col-sm-4 col-md-4';
			if(use_course_firing == 1){ 
				col_class = 'col-sm-3 col-md-3';
			} %>
			<div class="<%-col_class%>">
				<button id="send_order" class="btn btn-primary fb-button btn-block">Send to Kitchen</button>
			</div>
			<% if(use_course_firing == 1){ %>
			<div class="<%-col_class%>">
				<button id="fire_items" class="btn btn-primary fb-button btn-block">Fire</button>
			</div>
			<% } %>		
			<div class="<%-col_class%>">
				<button id="pay_now" class="btn btn-primary fb-button btn-block">Pay Now</button>
			</div>
			<div class="<%-col_class%>">
				<button id="open_cash_drawer" class="btn btn-primary fb-button btn-block">Cash Drawer</button>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					<button class="btn btn-xs btn-primary select-all">Select All</button>
				</div>
				<div class="panel-body cart-items" id="fb-cart-items"></div>
				<div class="panel-body" id="fb-cart-totals"></div>
				<div class="panel-heading" style="overflow: hidden; padding: 3px 5px;">
					<h3 class="panel-title pull-left" style="line-height: 30px;"><button class="btn btn-sm btn-primary toggle-customers">Customers</button></h3>
					<div id="guest_count" class="pull-right"></div>
				</div>
				<div class="panel-body customer-viewer">
					<div class="row" style="margin-bottom: 15px;">
						<div class="col-xs-7">
							<input class="form-control input-lg" name="customer" id="table-customer-search" type="text" placeholder="Search customers..." />
						</div>
						<div class="col-xs-5">
							<input class="form-control input-lg" name="table-name" id="table-name" type="text" placeholder="Table name" />
						</div>
					</div>
					<div class="row" id="fb-customers"></div>
				</div>								
			</div>
		</div>
	</div>
</div>

<div id="items" class="col-md-8">
	<div class="inner-content" style="padding-top: 0px;">
		<div class="row">
			<div class="col-md-2"><!-- Spacer --></div>
			<div class="col-md-10">
				<div class="row" id="fb-controls">
					<div class="col-md-2">
						<button id="select_table" class="btn btn-success fb-button btn-block">Select Table</button>
					</div>
					<div class="col-md-2">
						<button id="merge_table" class="btn btn-success fb-button btn-block">Merge Table</button>
					</div>
					<div class="col-md-2">
						<button id="close_register" class="btn btn-success fb-button btn-block">Close Register</button>
					</div>
					<div class="col-md-2">
						<button id="logout" class="btn btn-success fb-button btn-block">Logout</button>	
					</div>
					<div class="col-md-2">
						<button id="recent_transactions" class="btn btn-success fb-button btn-block">Recent Trans.</button>
					</div>
					<div class="col-md-2">
						<button id="cancel_sale" class="btn btn-danger fb-button btn-block">Cancel Sale</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2" id="fb-categories"></div>
			<div class="col-md-10" id="fb-items"></div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<button class="btn btn-link pull-right edit-button-order" id="edit_button_order" style="color: white;">Edit Button Order</button>
			</div>
		</div>
	</div>
</div>
