<% if(title){ %>
<h3><%=title %></h3>
<% } %>

<div class="container-fluid modifiers-pane">
<% if(modifiers){
var count = 0;
_.each(modifiers.models, function(modifier){
	
	if(category_id != null && modifier.get('category_id') != category_id){
		return true;
	}
	var options = modifier.get('options');
	var selected_option = modifier.get('selected_option')?modifier.get('selected_option'):modifier.get('default');
	var selected_price = modifier.get('selected_price');
	%>
	<div class="row modifier">
		<div class="col-md-3 col-xs-5">
			<h4><%-modifier.get('name') %></h4>
		</div>
		<div class="col-md-2 col-xs-7 modifier-price">
			<h4>$<span class="value"><%-accounting.formatMoney(selected_price, '')%></span></h4>
		</div>
		<div class="col-md-7 col-xs-12 options">
			<div class="btn-group btn-group-lg">
				<% _.each(modifier.get('options'), function(option){
					if(
						selected_option && (
						(typeof(selected_option) == 'object' && _.indexOf(selected_option, option.label) > -1) ||
						(typeof(selected_option) != 'object' && selected_option.toLowerCase() == (option.label?option.label.toLowerCase():'something went wrong here obviously...')))
					){
					var btnClass = ' active';
				}else{
					var btnClass = '';
				} %>
				<button data-modifier-id="<%= modifier.get('modifier_id') %>" data-price="<%-accounting.toFixed(option.price, 2) %>" class="btn btn-primary modifier-option<%= btnClass %>" data-value="<%= option.label %>">
					<%-_.capitalize(option.label)%>
				</button>
				<% }); %>
			</div>
		</div>
	</div>
<% count++; }); %>
<% }else{ %>
<div class="row">
	<div class="col-md-12">No modifiers avaialable</div>
</div>
<% } %>
</div>
<% if(count > 5){ %>
<div class="row scroll-buttons" style="margin-top: 5px;">
	<div class="col-md-4">
		<div class="btn-group btn-group-lg btn-group-justified">
			<div class="btn-group">
				<button class="btn btn-default btn-lg scroll-up">&#x25B2;</button>
			</div>
			<div class="btn-group">
				<button class="btn btn-default btn-lg scroll-down">&#x25BC;</button>
			</div>
		</div>
	</div>
</div>
<% } %>
<% if(title){ %>
<button class="btn btn-default btn-lg back">&lt; Back</button>
<% } %>
