<%
if(sides.length > number_sides){
	number_sides = sides.length;
}

for(var position = 1; position < number_sides + 1; position++){

var extraText = '';
if(position > number_sides){
	extraText = '(Extra)';
}

var selectedSide = false;
if(sides.length > 0 && sides.get(position)){
	var selectedSide = sides.get(position);
}

var showModifierButton = false;
if(selectedSide && selectedSide.get('modifiers').length > 0){
	var showModifierButton = true;
}
%>
<div class="row side">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<h3 class="pull-left">Side #<%-position %> <%-extraText%></h3>
				<button class="btn btn-default btn-lg side_modifiers pull-right" style="<%if(!showModifierButton){ print('display: none !important'); }%>" data-position="<%-position%>">Modifiers</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
			<% _.each(App.data.food_bev_sides.models, function(side){
				if(side.get('category') == 'Soups' || side.get('category') == 'Salads'){ return true; }
				if(hidden_sides && hidden_sides[side.get('item_id')] == 1){ return true; }

				var selected = '';
				if(selectedSide && selectedSide.get('item_id') == side.get('item_id')){
					selected = ' active';
				} %>
				<button class="btn btn-primary btn-lg side <%-selected%>" href="#" data-type="side" data-position="<%-position%>" data-side-id="<%-side.get('item_id')%>">
					<%-_.capitalize(side.get('name'))%>
				</button>
			<% }); %>	
			</div>
		</div>
	</div>
</div>
<% } %>
