<div class="modal-content open-register-log">
	<div class="modal-header">
		<% if(closable){ %>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<% } %>
		<h4 class="modal-title" style="text-align: center">
			Open Register
			<% if(multiCashDrawers == 1 && drawer_number != 0){ %>
			(Drawer <%-drawer_number%>)
			<% }%>
		</h4>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<input type="hidden" name="drawer_number" id="cash-drawer-number" value="<%-drawer_number%>">
			<% if(shift_start == "0000-00-00 00:00:00"){ %>
			<div class="row">
				<div class="col-xs-12">
					<p>Enter the starting amount for your register</p>
				</div>
			</div>
			<div class="form-group">
				<label for="register_open_amount">Amount</label>
				<input type="number" id="register_open_amount" value="<%-accounting.formatMoney(open_amount, '')%>" class="form-control input-lg" />
			</div>
			<% }else{ %>
			<div class="row">
				<div class="col-xs-12">
					<p style='text-align: center'>On <strong><%-moment(shift_start).format('MM/DD/YYYY [at] hh:mma')%></strong> the register 
					was opened with <strong><%-accounting.formatMoney(open_amount)%></strong></p>
				</div>
			</div>
			<% } %>
		</div>
	</div>
	<div class="modal-footer">
	<% if(shift_start == "0000-00-00 00:00:00"){ %>
		<button class="btn btn-default btn-lg pull-left skip">Skip</button>
		<button class="btn btn-primary btn-lg pull-right save">Open</button>
	<% }else{ %>
		<button class="btn btn-primary pull-left" id="reopen_log">Close & Re-open</button>
		<button class="btn btn-primary pull-right" id="continue_log">Continue Log</button>		
	<% } %>
	</div>
</div>
