<h3 style="margin: 8px 0px 0px 0px; padding: 0px; display: block; width: auto; text-align: center; color: white;">
	<% if(terminal){ %><%-terminal.get('label')%><% }%> 
	<% if(table_num != null){%>
	#<%-table_num%>
	<span class="table-wait">- Seated <%-moment(sale_time, 'YYYY-MM-DD HH:mm:ss').fromNow()%></span>
	<% } %>
</h3>