<a href="" class="delete text-danger">&times;</a>
<span class="desc"><%-type%></span>
<span class="amount">
    <% if(tran_type != 'PreAuth'){ %>
	<%-accounting.formatMoney(amount)%>
	<% }else{ %>
	<i class="glyphicon glyphicon-check"></i>
	Saved
	<% } %>
</span>
