<div class="modal-content item-sub-category">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Pay Now</h4>
	</div>
	<div class="modal-body" style="background-color: #F0F0F0; padding: 0px;">
		<div class="container-fluid receipt-window-container">
			<div class="row receipt-nav<%if(admin_auth){ print(' admin') }%>">
				<div class="col-md-2 hidden-sm hidden-xs">
					<button class="btn btn-default btn-block left"><</button>
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="admin-buttons col-xs-12">
							<div class="row">
								<div class="col-sm-3">
									<div class="btn-group btn-group-justified mode" data-mode="comp">
										<div class="btn-group">
											<button class="btn btn-danger comp active" data-value="comp">Comp</button>
										</div>
										<div class="btn-group">
											<button class="btn btn-danger edit" data-value="edit">Edit</button>
										</div>
									</div>	
								</div>
								<div class="col-sm-3">
									<button class="btn btn-danger btn-block admin-exit">Exit Admin</button>
								</div>
							</div>
						</div>
						<div class="standard-buttons col-xs-12">
							<div class="row">
								<div class="col-sm-3">
									<button class="btn btn-primary btn-block new-receipt">+ New Receipt</button>
								</div>
								<div class="col-sm-3">
									<div class="btn-group btn-group-justified mode" data-mode="move">
										<div class="btn-group">
											<button class="btn btn-primary btn-block move active" data-value="move">Move</button>
										</div>
										<div class="btn-group">
											<button class="btn btn-primary btn-block split" data-value="split">Split</button>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<button class="btn btn-primary btn-block remove-items">Remove Items</button>		
								</div>
								<div class="col-sm-3">
									<button class="btn btn-primary btn-block admin-override">Admin Override</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2 hidden-sm hidden-xs">
					<button class="btn btn-default btn-block right">></button>
				</div>
			</div>
			<div class="row receipts">
				<!-- Receipts will be inserted here -->
			</div>
		</div>
	</div>
</div>
