<div class="modal-content restaurant-reservations">
	<div class="modal-header" style="overflow: hidden; padding: 10px; width:100%; display:flex;">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title pull-left" style="line-height: 35px;">Reservations</h4>
		<input type="text" id="reservations-date" class="btn btn-lg btn-default pull-left" 
			value="<%-moment(date, 'M/D/YYYY').format('M/D/YY')%>" style="margin-left: 15px">
		<div class="pull-left" style="flex:1;">
			<div class="pull-left" style="margin: 0px 15px">
				Total <span class="label label-info" id="total-reservations"><%-total%></span>
			</div>
			<div class="pull-left" style="margin: 0px 15px">
				Guests <span class="label label-info" id="total-guests"><%-guests%></span>
			</div>
			<div class="pull-right" style="margin: 0px 15px">
				<button class="btn btn-primary pull-right new-reservation" style="margin-right: 35px;">Add New</button>
			</div>
		</div>
	</div>
	<div class="modal-body" style="padding: 0px; min-height: 400px;"></div>
</div>
