<td>
	<button class="btn btn-default check-in">
	<% if(checked_in == 0){ %>
		<span class="fa fa-square-o"></span>
	<% }else{ %>
		<span class="fa fa-check-square-o"></span>
	<% } %>
	</button>
</td>
<td><%-moment(time, 'hh:mm:ss').format('h:mma')%></td>
<td><%-name%></td>
<td><%-guest_count%></td>
<td class="comments"><%-comments%></td>
<td class="details">
	<small class="text-muted">By <%-employee_name%><br><%-moment(date_created).fromNow()%></small>
</td>
<td>
	<button class="btn btn-danger pull-right delete">X</button>
	<button class="btn btn-default pull-right edit-reservation" style="margin-right: 5px;">Edit</button>	
</td>
