<div class="modal-content new-table-layout">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" style="text-align: center">Table Layout</h4>
	</div>
	<div class="modal-body">
		<form role="form" class="form-horizontal">
			<div class="form-group">
				<label class="col-md-3">Layout Name</label>
				<div class="col-md-6">
					<input name="name" class="form-control" type="text" value="<%-name%>" />
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary btn-lg save">Save</button>
	</div>
</div>
