<div class="modal-content table-layout">
	<div class="modal-header">
		<% if(closable){ %>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<% } %>
		<div class="container-fluid">
			<div class="row">	
				<div class="col-md-offset-2 col-md-2">
					<button id="tables_recent_transactions" class="btn btn-success fb-button btn-block">Recent Trans.</button>
				</div>					
				<div class="col-md-2">
					<button id="tables_close_register" class="btn btn-success fb-button btn-block">Close Register</button>
				</div>
				<div class="col-md-2">
					<button id="reservations" class="btn btn-info fb-button btn-block">Reservations</button>	
				</div>				
				<div class="col-md-2">
					<button id="tables_logout" class="btn btn-danger fb-button btn-block">Logout</button>	
				</div>
			</div>
		</div>
	</div>
	<div class="modal-body" style="padding: 0px; position: relative;">
		<button id="edit_layouts" class="btn btn-link" style="top: 5px; right: 10px; position: absolute;">Edit Layouts</button>
		
		<div class="layout-tabs"></div>
		<div class="layouts"></div>
		<div class="zoom-buttons">
			<button class="btn btn-md zoom-in">+</button>
			<button class="btn btn-md zoom-out">-</button>
		</div>
		<div class="object-palette">
			<div class="object drag" data-type="diamond">
				<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 width="100%" height="100%" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
					<rect x="27" y="0" width="60" height="60" stroke="black" fill="white" stroke-width="2" transform="rotate(45, 30, 30)"/>
				</svg>
			</div>
			<div class="object drag" data-type="triangle">
				<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 width="100%" height="100%" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
  					<polygon x="0" y="0" points="50,95 95,25 5,25" stroke="black" fill="white" stroke-width="2" />
				</svg>
			</div>
			<div class="object drag" data-type="circle">
				<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 width="100%" height="100%" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
  					<circle cx="50" cy="50" r="40" stroke="black" stroke-width="2" fill="white" style="background: white;"/>
				</svg>
			</div>			
			<div class="object drag" data-type="ellipse">
				<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 width="100%" height="100%" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
  					<ellipse cx="50" cy="50" rx="45" ry="25" stroke="black" stroke-width="2" translate="scale(1,2)" fill="white" style="background: white;"/>
				</svg>
			</div>
			<div class="object drag" data-type="box">
				<div class="box"></div>
			</div>			
		</div>
	</div>
</div>
