<div class="context-menu">
	<ul class="dropdown-menu" role="menu">
		<li><a tabindex="-1" href="" class="btn btn-link switch-employee<% if(!employee_id){ print(' disabled') } %>">Switch Employee</a></li>
	</ul>
</div>
<button class="btn btn-sm btn-danger delete-table">&times;</button>
<% if(type == 'box'){ %>
<div class="box"></div>

<% }else if(type == 'diamond'){ %>
<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="100%" height="100%" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
	<rect x="27" y="0" width="60" height="60" stroke="black" stroke-width="2" style="fill: white;" class='shape' transform="rotate(45, 30, 30)"/>
</svg>

<% }else if(type == 'triangle'){ %>
<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="100%" height="100%" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
  	<polygon x="0" y="0" points="50,95 95,25 5,25" stroke="black" fill="white" stroke-width="2" class="shape" />
</svg>

<% }else if(type == 'circle'){ %>
<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="100%" height="100%" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
		<circle cx="50" cy="50" r="40" stroke="black" stroke-width="2" class='shape' />
</svg>

<% }else if(type == 'ellipse'){ %>
<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="100%" height="100%" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
	<ellipse cx="50" cy="50" rx="45" ry="25" stroke="black" stroke-width="2" class='shape' translate="scale(1,2)"/>
</svg>
<% } %>	
<span class="name"><%-table_name%></span>
<span class="label"><%-label%></span>
<span class="employee"><%-employee_last_name%></span>
