<div class="row">

    <div class="col-md-4">
        <div class=" selected_graph btn-group-vertical">

            <button data-value="line" class="btn btn-default">Line</button>
            <button data-value="bar" class="btn btn-default" >Bar</button>
            <button data-value="pie" class="btn btn-default" >Pie Chart</button>
            <!--<button data-value="map" class="btn btn-default" >Map</button>-->
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                <h3 id="x-axis-label">X Axis</h3>
                <select id="x-axis" data-bind="value:xAxis">
                    <%  _.each(possibleXColumns,function(value,key){ %>
                    <option value="<%= value.completeName %>"><%= value.label || value.completeName %></option>
                    <% }) %>
                </select>

                <div class="date_modifiers">
                    <label>
                        Visual Width
                    </label>
                    <select data-bind="value:visualWidth" >
                        <option value="day">Day</option>
                        <option value="week">Week</option>
                        <option value="month">Month</option>
                        <option value="year">Year</option>
                        <option value="range">Range</option>
                    </select>
                </div>

                <div class="date_modifiers">
                    <label>
                        Visual Grouping
                    </label>
                    <select data-bind="value:visualGrouping,options:possibleGroupings" >
                    </select>
                </div>
            </div>
            <div class="col-md-6">

                <div class="y_axis">

                    <h3 id="y-axis-label">Y Axis</h3>
                    <select id="y-axis" data-bind="value:yAxis">
                        <% _.each(possibleYColumns,function(value,key){ %>
                        <option value="<%= value.completeName %>"><%= value.label || value.completeName %></option>
                        <% }) %>
                    </select>

                    <div class="split_by">
                        <label>
                            Split By
                        </label>
                        <select id="y-axis" data-bind="value:splitBy">
                            <option value="">None</option>
                            <% _.each(possibleXColumns,function(value,key){ %>
                            <option value="<%= value.completeName %>"><%= value.label || value.completeName %></option>
                            <% }) %>
                        </select>
                    </div>

                </div>
            </div>
        </div>

    </div>


</div>