<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#d4cdc8" style="background:#d4cdc8; padding:0px; margin:0px;">
  <tbody>
    <tr>
      <td>
        <!--Start Main Table -->
        <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
          <tbody>
                <tr>
                  <td align="left" valign="top" bgcolor="#ffffff">
                    <!--Start Banner-->
                    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td height="5" style="padding:0px;">
                            <img src="<?= $tpl; ?>/images/header.png" alt="" width="600" height="98" border="0" style="display:block;">
                          </td>
                        </tr>
                        <tr>
                          <td height="5" style="padding:0px;">
                            <img src="images/line.jpg" alt="" width="600" height="5" border="0" style="display:block;">
                          </td>
                        </tr>
                          <tr>
                            <td align="left" valign="top" style="padding:0px;">
                              <img src="<?= $tpl; ?>/images/main.png" alt="" width="600" height="248" border="0" style="display:block;">
                            </td>
                          </tr>
                            <tr>
                              <td height="5" style="padding:0px;">
                                <img src="images/line.jpg" alt="" width="600" height="5" border="0" style="display:block;">
                              </td>
                            </tr>
                              <tr>
                                <td id='mailer-header' align="left" valign="top" style=" display:block; padding:20px 20px 5px 20px; font-size:20px; font-family:Helvetica, Arial, sans-serif; color:#000;">
                                	<?= $title ?>
                                </td>
                              </tr>
                              <tr>
                                <td id="mailer-contents" align="left" valign="top" style="padding:5px 20px 20px 20px; font-size:12px; line-height:18px; font-family:Helvetica, Arial, sans-serif; color:#777;">
                                	<?= $contents ?>
                              </td>
                            </tr>
                            <tr>
                              <td height="5">
                                <img src="images/line.jpg" alt="" width="600" height="5" border="0" style="display:block;">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                          <!--End Banner-->
                        </td>
                      </tr>
                      <tr>
                        <td align="left" valign="top" bgcolor="#c8c1bd" style="padding:10px 11px 0px 11px;">
                                      <table width="578" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                          <tr>
                                            <td width="166" align="left" valign="top" bgcolor="#ece9e7" style="padding:10px;">
                                              <table width="166" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                  <tr>
                                                    <td>
                                                      <a href="#">
                                                        <img src="<?= $tpl; ?>/images/landscape1.png" alt="" width="166" height="130" border="0" style="display:block;">
                                                      </a>
                                                    </td>
                                                  </tr>
                                                    <tr>
                                                      <td align="left" valign="top">
                                                        <a href="#" style="display:block; padding-top:10px; text-decoration:none; font-size:18px; font-family:Helvetica, Arial, sans-serif; color:#a42503;">MeadowCreek <br/>Golf Resort </a>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td align="left" valign="top" style="font-size:11px; font-family:Helvetica, Arial, sans-serif; color:#92847c;"><a href='http://meadowcreekgolfresort.com' style='text-decoration:none; color:#92847c;'>www.meadowcreekgolfresort.com</a></td>
                                                    </tr>
                                                    <tr>
                                                      <td align="left" valign="top" style="padding-bottom:10px; font-size:12px; line-height:18px; font-family:Helvetica, Arial, sans-serif; color:#2c1308;">Located in the Meadows Valley at the 45th Parallel halfway between the Equator and the North Pole. 2 miles north of New Meadows on Hwy 95, 13 miles west and north of McCall - 120 miles from Boise and 150 miles from Lewiston</td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                                <td width="10">&nbsp;</td>
                                                <td width="166" align="left" valign="top" bgcolor="#ece9e7" style="padding:10px;">
                                                  <table width="166" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                      <tr>
                                                        <td>
                                                          <a href="#">
                                                            <img src="<?= $tpl; ?>/images/landscape2.png" alt="" width="166" height="130" border="0" style="display:block;">
                                                          </a>
                                                        </td>
                                                      </tr>
                                                        <tr>
                                                          <td align="left" valign="top">
                                                            <a href="#" style="display:block; padding-top:10px; text-decoration:none; font-size:18px; font-family:Helvetica, Arial, sans-serif; color:#a42503;"></a>
                                                          </td>
                                                        </tr>
                                                        <tr>
                                                          <td align="left" valign="top" style="font-size:11px; font-family:Helvetica, Arial, sans-serif; color:#92847c;"></td>
                                                        </tr>
                                                        <tr>
                                                          <td align="left" valign="top" style="padding:5px 0px 5px 0px; font-size:18px; font-family:Helvetica, Arial, sans-serif; color:#2c1308;"></td>
                                                        </tr>
                                                        <tr>
                                                          <td align="left" valign="top" style="padding-bottom:10px; font-size:12px; line-height:18px; font-family:Helvetica, Arial, sans-serif; color:#2c1308;"></td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                    <td width="10">&nbsp;</td>
                                                    <td width="166" align="left" valign="top" bgcolor="#ece9e7" style="padding:10px;">
                                                      <table width="166" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                          <tr>
                                                            <td>
                                                              <a href="#">
                                                                <img src="<?= $tpl; ?>/images/landscape3.png" alt="" width="166" height="130" border="0" style="display:block;">
                                                              </a>
                                                            </td>
                                                          </tr>
                                                            <tr>
                                                              <td align="left" valign="top">
                                                                <a href="#" style="display:block; padding-top:10px; text-decoration:none; font-size:16px; font-family:Helvetica, Arial, sans-serif; color:#a42503;">For further information</a>
                                                              </td>
                                                            </tr>
                                                            <tr>
                                                              <td align="left" valign="top" style="font-size:11px; font-family:Helvetica, Arial, sans-serif; color:#92847c;">Contact our Pro Shop</td>
                                                            </tr>
                                                            <tr>
                                                              <td align="left" valign="top" style="padding:5px 0px 5px 0px; font-size:16px; font-family:Helvetica, Arial, sans-serif; color:#2c1308;">Aaron Ingle - Golf Pro</td>
                                                            </tr>
                                                            <tr>
                                                              <td align="left" valign="top" style="padding-bottom:10px; font-size:10px; line-height:18px; font-family:Helvetica, Arial, sans-serif; color:#2c1308;">phone: <span style='color:#92847C'>208-347-2555</span><br/>email: <a href='mailto:golfpro@meadowcreekgolfresort.com' style='text-decoration:none; color:#92847C;'>golfpro@meadowcreekgolfresort.com</a></td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                      <tr>
                                                        <td height="10" colspan="5" align="left" valign="top">
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                                  <!-- End Three column Listing -->
                                                </td>
                                              </tr>
                                              <tr>
                                                <td>
                                                  <!--Start Footer-->
                                                  <table width="600" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                      <tr>
                                                        <td bgcolor="#ECE9E7" align="left" valign="top" style="padding:15px 20px 10px 20px; font-size:12px; line-height:20px; font-family:Helvetica, Arial, sans-serif; color:#2c1308;">
                                                          <table width="560" border="0" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                              <tr>
                                                                <td align="left" width='560' valign="top" style='text-align:center'>
                                                                  <span style="color:#a42503; font-style:italic; display:block;">"it's not all about golf..."</span>
                                                                  </td>
                                                                  </tr>
                                                                  <tr>
                                                                  	<td style='text-align:center'>
                                                                  		<div style='font-size:12px; margin:10px 0px;'>In addition to our Championship 18-hole golf course, weaving between majestic trees and lush meadows, MeadowCreek Golf Resort offers a driving range, short-game practice and putting areas, as well as a heated swimming pool and spa, tennis court, and access to mountain bike trails.</div>
                                                                  	</td>
                                                                  </tr>
                                                                  <tr>
                                                                  <td style='text-align:center; padding-bottom:30px;'>
                                                                  <a href="#" style="text-decoration:none; font-style:italic; color:#2c1308;">There's something for the entire family to enjoy at MeadowCreek Golf Resort</a>
                                                                </td>
                                                                <!--td width="220" align="right" valign="top">
                                                                  <span style="color:#a42503; text-transform:uppercase; display:block; margin-bottom:10px;">GET SOCIAL WITH US</span>
                                                                  <a href="#">
                                                                    <img src="images/facebook.png" alt="Facebook" width="21" height="21" border="0" style="margin-left:3px;">
                                                                  </a>
                                                                    <a href="#">
                                                                      <img src="images/twitter.png" alt="Twitter" width="21" height="21" border="0" style="margin-left:3px;">
                                                                    </a>
                                                                      <a href="#">
                                                                        <img src="images/google_plus.png" alt="Google Plus" width="21" height="20" border="0" style="margin-left:3px;">
                                                                      </a>
                                                                        <a href="#">
                                                                          <img src="images/linkedin.png" alt="Linkedin" width="20" height="20" border="0" style="margin-left:3px;">
                                                                        </a>
                                                                          <a href="#">
                                                                            <img src="images/youtube.png" alt="Youtube" width="20" height="21" border="0" style="margin-left:3px;">
                                                                          </a>
                                                                            <a href="#">
                                                                              <img src="images/skype.png" alt="Skype" width="20" height="20" border="0" style="margin-left:3px;">
                                                                            </a>
                                                                          </td>
                                                                        </tr>
                                                                      </tbody>
                                                                    </table>
                                                                  </td-->
                                                                </tr>
                                                                  <!--tr>
                                                                    <td height="10" align="left" valign="top">
                                                                      <img src="images/btm_bg.gif" alt="" width="560" height="10" style="display:block;">
                                                                    </td>
                                                                  </tr-->
                                                                    <!--tr>
                                                                      <td align="center" valign="top" style="padding:15px 20px 15px 20px; font-size:12px; font-family:Helvetica, Arial, sans-serif; color:#2c1308;">
                                                                      Copyright &copy; 2012 <a href="#" style="font-weight:bold; text-decoration:none; color:#a42503;">RealEstate.com</a>
                                                                    </td>
                                                                  </tr-->
                                                                </tbody>
                                                              </table>
                                                              <!--End Footer-->
                                                            </td>
                                                          </tr>
                                                        </tbody>
                                                      </table>
                                                      <!--End Main Table -->
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
