<div class="modal-content payments-window fb-payments-window">
	<div class="modal-header">
		<% if(closable){ %>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<% } %>
		<h4 class="modal-title" style="text-align: center"><% if(action){ %><%-action%><%}else{%>Enter PIN<%}%></h4>
	</div>
	<div class="modal-body">
		<div class="container-fluid keypad">
			<div class="row" style="margin-bottom: 10px;">
				<div class="col-xs-12 col-sm-6 col-sm-offset-3">
					<form>
						<input type="password" name="pin" autocomplete="multi-user-pin" class="form-control input-lg pin" />
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-sm-offset-3">
					<div class="btn-group btn-group-justified">
						<div class="btn-group">
							<button data-char="1" class="btn btn-default">1</button>
						</div>
						<div class="btn-group">
							<button data-char="2" class="btn btn-default">2</button>
						</div>
						<div class="btn-group">
							<button data-char="3" class="btn btn-default">3</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-sm-offset-3">
					<div class="btn-group btn-group-justified">
						<div class="btn-group">
							<button data-char="4" class="btn btn-default">4</button>
						</div>
						<div class="btn-group">
							<button data-char="5" class="btn btn-default">5</button>
						</div>
						<div class="btn-group">
							<button data-char="6" class="btn btn-default">6</button>
						</div>
					</div>
				</div>			
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-sm-offset-3">
					<div class="btn-group btn-group-justified">
						<div class="btn-group">
							<button data-char="7" class="btn btn-default">7</button>
						</div>
						<div class="btn-group">
							<button data-char="8" class="btn btn-default">8</button>
						</div>
						<div class="btn-group">
							<button data-char="9" class="btn btn-default">9</button>
						</div>
					</div>
				</div>			
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-sm-offset-3">
					<div class="btn-group btn-group-justified">
						<div class="btn-group">
							<button data-char="enter" class="btn btn-default">Enter</button>
						</div>
						<div class="btn-group">
							<button data-char="0" class="btn btn-default">0</button>
						</div>
						<div class="btn-group">
							<button data-char="del" class="btn btn-default">Del</button>
						</div>
					</div>
				</div>			
			</div>
		</div>
	</div>
</div>
