<div class="modal-content card-balance-details">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" style="text-align: center">Card Lookup</h4>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<% if(type == 'ets-giftcard'){ %>
			<div class="row">
				<div class="col-md-3">
					<strong>Value</strong>
				</div>
				<div class="col-md-6">
					<%-accounting.formatMoney(amount)%>
				</div>							
			</div>	
				
			<% }else if(type == 'giftcard'){ %>
			<div class="row">
				<div class="col-md-3">
					<strong>Number</strong>
				</div>
				<div class="col-md-6">
					<%-giftcard_number%>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<strong>Value</strong>
				</div>
				<div class="col-md-6">
					<%-accounting.formatMoney(value)%>
				</div>							
			</div>
			<div class="row">
				<div class="col-md-3">
					<strong>Customer</strong>
				</div>
				<div class="col-md-6">
					<%if(customer_first_name != null){ %>
					<%-customer_first_name +' '+customer_last_name%>
					<% }else{ %>
					<span class="text-muted">No Customer</span>
					<% }%>
				</div>								
			</div>
			<div class="row">
				<div class="col-md-3">
					<strong>Expiration</strong>
				</div>
				<div class="col-md-6">
					<% if(expiration_date){ %>
					<%-moment(expiration_date).format('MM/DD/YYYY')%>
					<% }else{ %>
					<span class="text-muted">No Expiration</span>
					<% } %>
				</div>				
			</div>
			<div class="row">
				<div class="col-md-3">
					<strong>Department</strong>
				</div>	
				<div class="col-md-6">
					<%-department%>
				</div>								
			</div>	
			<div class="row">
				<div class="col-md-3">
					<strong>Category</strong>
				</div>
				<div class="col-md-6">
					<%-category%>
				</div>								
			</div>
			<div class="row">
				<div class="col-md-3">
					<strong>Notes</strong>
				</div>
				<div class="col-md-6">
					<%-details%>
				</div>				
			</div>	
			
			<% }else{ %>
			<div class="row">
				<div class="col-md-3">
					<strong>Number</strong>
				</div>
				<div class="col-md-6">
					<%-punch_card_number%>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<strong>Punches Left</strong>
				</div>
				<div class="col-md-6">
					<ul class="punch-card-items">
						<%_.each(items, function(item){ %>
							<li>(<%-parseInt(item.punches - item.used)%>) <%-item.name%></li>
						<% }); %>
					</ul>
				</div>							
			</div>
			<div class="row">
				<div class="col-md-3">
					<strong>Customer</strong>
				</div>
				<div class="col-md-6">
					<%if(customer_first_name != null){ %>
					<%-customer_first_name +' '+customer_last_name%>
					<% }else{ %>
					<span class="text-muted">No Customer</span>
					<% }%>
				</div>								
			</div>
			<div class="row">
				<div class="col-md-3">
					<strong>Expiration</strong>
				</div>
				<div class="col-md-6">
					<% if(expiration_date && expiration_date != '0000-00-00'){ %>
					<%-moment(expiration_date).format('MM/DD/YYYY')%>
					<% }else{ %>
					<span class="text-muted">No Expiration</span>
					<% } %>
				</div>				
			</div>
			<div class="row">
				<div class="col-md-3">
					<strong>Notes</strong>
				</div>
				<div class="col-md-6">
					<%-details%>
				</div>				
			</div>					
			<% } %>			
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
</div>
