<div class="modal-content extension-prompt">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">foreUP Printing Extension</h4>
    </div>
    <div class="modal-body container-fluid">
        <div>
            foreUP has created a new tool for your Star WebPRNT printers!
            It is required for your printers to work and is just a click away.
            Simply install the chrome extension for more security and better performance.
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary add_to_chrome">Add to Chrome</button>
    </div>
</div>
