<% 
var subText = false;
if(item_type == 'green_fee' || item_type == 'cart_fee'){ 
	subText = teesheet_name;

	if(season_id == 0){
		subText += ' - Special';
	}else{
		subText += ' - '+season_name;
	}
}
%>
<div>
	<div><%-name%></div>
	<% if(subText){ %><div class="text-muted"><%-subText%></div><% } %>
</div>