<div style="padding: 5px 10px 10px 10px; width: 100%">
	<div class="pull-left"><h4 class="tt-placeholder">No Results Found</h4></div>
	<button class="btn btn-primary pull-right new-item">Add New Item</button>
</div>