<div class="modal-content logout-option">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" style="text-align: center">Logout</h4>
	</div>
	<div class="modal-body container-fluid">
		<% if(register_log_open){ %>
		<div class="row">
			<div class="col-xs-12" id="logout_close">
				<h4>Close Cash Log</h4>
				<span>Close cash log & sign out</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12" id="logout_switch_user">
				<h4>Switch User</h4>
				<span>Keep cash log & switch user</span>					
			</div>				
		</div>
		<% if(can_bypass_register_log){ %><div class="row">
			<div class="col-xs-12" id="logout_bypass">
				<h4>Bypass Cash Log</h4>
				<span>Bypass cash log & sign out</span>					
			</div>				
		</div>
		<% } %>
		<% }else{ %>
		<div class="row">
			<div class="col-xs-12" id="logout_close">
				<h4>Logout</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12" id="logout_switch_user">
				<h4>Switch User</h4>					
			</div>				
		</div>
		<% } %>
	</div>
</div>