<div>
	<%-first_name%> <%-last_name%>
	<% if(phone_number && phone_number != ''){ %>
	<br><small class="details">H: <%-_.formatPhoneNumber(phone_number)%></small>
	<% } %>
	<% if(cell_phone_number && cell_phone_number != ''){ %>
	<br><small class="details">C: <%-_.formatPhoneNumber(cell_phone_number)%></small>
	<% } %>
	<% if(email && email != ''){ %>
	<br><small class="details"><%-email%></small>
	<% } %>
</div>