<%-label%>
<% if(active_register_log){ %>
<% if(active_register_log_employee){ %>
<div style="font-size: 14px; padding-top: 5px">
	<span class="label label-info" style="font-weight: normal">Drawer <%-active_register_log.get('drawer_number')%> IN USE</span> by <%-active_register_log_employee.get('first_name')%> <%-active_register_log_employee.get('last_name')%>
	<%-moment(active_register_log.get('shift_start')).format('M/D/YY [at] h:mma')%>
</div>
<% } %>
<% } %>