<div class="col-md-12">
	<h5 class="pull-left"><%-first_name%> <%-last_name%></h5>
	<button title="Remove customer from pass" class="btn btn-default btn-sm remove pull-right">
		<span class="fa fa-unlink"></span>
	</button>
</div>