<div id="pass-actions" class="col-md-12">
	<div class="row" style="margin-bottom: 15px;">
		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1 page-action">
			<button class="btn btn-success table-action btn-block new-pass">
				<span class="fa fa-plus table-action-icon"></span>
				New Pass
			</button>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row" id="pass-table"></div>
		</div>
	</div>
</div>