<% if(date_added != ''){
	date_added = moment(date_added, 'YYYY-MM-DD').format('MM/DD/YYYY');
} %>
<td style="padding-left: 0px !important">
	<strong><%-accounting.formatMoney(minimum_amount)%></strong> - <%-name%>
</td>
<td style="padding-left: 0px !important; padding-right: 0px !important">
	<input type="text" class="form-control start-date" style="padding: 4px 6px; height: 30px" placeholder="mm/dd/yyyy" value="<%-date_added%>">
</td>
<td style="padding-right: 0px !important">
	<button class="btn btn-default btn-sm delete pull-right" type="button">
		<i class="glyphicon glyphicon-trash"></i>
	</button>
</td>