<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#customer-groups" href="#collapse-groups">
			Groups
			</a>
			<span class="label label-info count">0</span>
		</h4>
	</div>
	<div id="collapse-groups" class="panel-collapse collapse in">
		<div class="panel-body">
			<div class="form-group">
				<label class="control-label">Add Customer to Existing Group</label>
				<select name="new_group" id="customer-new-group" class="form-control">
					<option value="0">- Add New Group -</option>
					<% _.each(App.data.course.get('groups').models, function(group){ %>
					<option value="<%-group.get('group_id')%>"><%-group.get('label')%></option>
					<% }) %>
				</select>
		</div>
			<ul class="customer-data"></ul>
		</div>
	</div>
</div>
