<h5 class="name">
	<% if(multi_customer && customer){ %>
	<%-customer.first_name+' '+customer.last_name%> - 
	<% } %>
	<%-name%>
</h5>
<% if(start_date != ''){
	start_date = moment(start_date).format('M/D/YY');
}
if(end_date != ''){
	end_date = moment(end_date).format('M/D/YY');
} %>
<div style="color: #888">
	<%-start_date%> to <%-end_date%>
	<% if(!is_valid){ %>
	<label class="label label-danger">Not Valid</label>
	<% }else{ %>
	<label class="label label-success">Valid</label>
	<% } %>
	<% if(customer_profile.person_id != customer.person_id){ %>
	<button style="margin-top: -10px" title="Disconnect pass from this customer" type="button" class="btn btn-default btn-sm pull-right disconnect">
		<span class="fa fa-unlink"></span>
	</button>
	<% } %>
</div>