<div class="panel panel-default" style="overflow: visible">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#customer-minimum-charges" href="#collapse-minimum-charges">
				Minimum Charges
			</a>
			<span class="label label-info count">0</span>
		</h4>
	</div>
	<div id="collapse-minimum-charges" class="panel-collapse collapse">
		<div class="panel-body">
			<%=_.dropdown(App.data.minimum_charges.get_dropdown_data(), {'class': 'form-control', 'id': 'customer-minimum-charge-select'})%>
			<table class="table">
				<thead>
					<tr>
						<th style="width: 60%">Charge</th>
						<th style="width: 28%">Start Date</th>
						<th style="width: 12%">&nbsp;</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>