<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title text-center">
		Webcam Photo
	</h4>
</div>
<div class="modal-body container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-push-2">
			<div class="webcam-instructions">
				<i class="fa fa-exclamation-triangle text-warning text-center" style="font-size: 120px"></i>
				<h2 class="text-center">Please "allow" access to<br />your webcam above</h2>
			</div>
			<div id="webcam-photo"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-push-2">
			<div class="row webcam-buttons">
				<div class="col-md-12 webcam-take">
					<button type="button" class="btn btn-lg btn-primary snap-photo btn-block" disabled>Take Photo</button>
				</div>
				<div class="col-md-6 webcam-approve">
					<button type="button" class="btn btn-lg btn-default btn-block webcam-retry"><i class="fa fa-undo"></i> Retry</button>
				</div>
				<div class="col-md-6 webcam-approve">
					<button type="button" class="btn btn-lg btn-success btn-block webcam-accept"><i class="fa fa-check-circle"></i> Accept</button>
				</div>
			</div>
		</div>
	</div>
</div>