<td>
    <input class='form-control customPaymentType' type="text" value="<%-label%>" name="customPaymentType[]"/>
</td>
<td class="text-center">
    <i class="fa fa-trash-o removeCustomPayment" aria-hidden="true"></i>
</td>
