<td>
    <div class="form-group">
        <label class="control-label">Group Name</label>
        <input class="form-control printerGroup" type="text" value="<%-label%>" name="printerGroup[]" />
    </div>
</td>
<td>
    <div class="form-group col-md-12">
        <label class="control-label">Choose Default Printer</label>
        <%=_.dropdown(App.data.course.get('receipt_printers').getDropdownOptions(), {"name":"default_printer_id", "class":"form-control receiptPrinterDropdown"}, defaultPrinterId)%>
    </div>
</td>
<td class="text-center">
    <div class="btn btn-destroy marg-top-25">
      <i class="fa fa-trash-o removePrinterGroup" aria-hidden="true"></i>
    </div>
</td>
