<% var course_obj = App.data.course; %>
<% var printerOptions = course_obj.get('receipt_printers').getDropdownOptions(); %>
<div class="modal-content bootstrap-fu">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <i class="fa fa-question-o pull-right header-icon"></i>
        <h4 class="modal-title">
            Manage Printers
        </h4>
    </div>
    <div class="modal-body container-fluid">
        <div class="modal-content">
          <br/>
          <div class="col-md-12">
            <div class="col-md-6">
                <h4 class="panel-title pull-left" style="margin-bottom: 10px;">Printers</h4>
                <div class="form-inline marg-top-3 pull-right">
                    <div class="btn-group form-group">
                        <button type="button" class="btn add-printer btn-primary new btn-sm" style="margin-top: -10px">Add</button>
                    </div>
                </div>

                <table class="printer-list">

                </table>
            </div>

            <div class="col-md-6">
                <div class="printer-row row">
                  <div class="form-group col-md-6">
                    <label class="control-label">Group Name</label>
                    <input class="form-control" type="text" value="Barcode Label Printer" name="" disabled/>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="control-label">Choose Default Printer </label>
                    <%=_.dropdown(printerOptions, {"name":"barcodeLabelPrinter", "class":"form-control receiptPrinterDropdown"}, course_obj.get('webprnt_label_ip'))%>
                  </div>
                </div>

                <div class="printer-row row">
                    <div class="form-group col-md-6">
                        <label class="control-label">Group Name</label>
                        <input class="form-control" type="text" value="Default Sales Printer" name="" disabled/>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Choose Default Printer </label>
                        <div>
                            <%=_.dropdown(printerOptions, {"name":"defaultSalesPrinter", "class":"form-control receiptPrinterDropdown"}, course_obj.get('webprnt_ip'))%>
                        </div>
                    </div>
                </div>

                <div class="printer-row row">
                    <div class="form-group col-md-6">
                        <label class="control-label">Group Name</label>
                        <input class="form-control"s type="text" value="Default Kitchen Printer" name="" disabled/>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Choose Default Printer </label>
                        <%=_.dropdown(printerOptions, {"name":"defaultKitchenPrinter", "class":"form-control receiptPrinterDropdown"}, course_obj.get('default_kitchen_printer'))%>
                    </div>
                </div>
                <hr />
                <h4 class="panel-title pull-left" style="margin-bottom:10px;">Printer Groups</h4>
                <div class="form-inline marg-top-3">
                    <div class="btn-group form-group pull-right">
                        <button type="button" class="btn add-printer-group btn-primary btn-sm" style="margin-top: -10px">Add</button>
                    </div>
                </div>
                <table class="printer-group-list">

                </table>
            </div>
        </div>
    </div>
    <div class="customer-info clearfix"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-muted pull-left" data-dismiss="modal">Close</button>
    <button class="btn btn-primary pull-right" id="save-changes">Save Changes</button>
</div>
</div>
