<form>
    <div class="clearfix">
        <div class="settings-header row">
            <div class="col-md-12">
              <div class="settings-title">Point of Sale</div>
              <div class="settings-subtitle">These settings are used in the Point of Sale application, and are all the settings that pertain to sales with this module.</div>
            </div>
        </div>
      </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="defaultRegisterLogOpen" class="col-md-12 control-label">Default Register Open Amount</label>
                <div class="col-md-12">
                  <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input class="form-control" type="text" value="<%-defaultRegisterLogOpen%>" name="defaultRegisterLogOpen" id="defaultRegisterLogOpen" />
                  </div>
                </div>
            </div>
            <div class="form-group">
                <label for="afterSaleLoad" class="col-md-12 control-label">After Sale Load</label>
                <div class="col-md-12">
                    <%=_.dropdown({"0":"Tee Sheet","1":"Sales"}, {"name":"afterSaleLoad", "id":"afterSaleLoad", "class":"form-control"}, afterSaleLoad)%>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="hideTaxable" name="hideTaxable" style="margin-top: 5px;" <%-hideTaxable?'checked':''%>/>
                    <label for="hideTaxable" class="control-label">Hide Taxable Option</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="trackCash" name="trackCash" style="margin-top: 5px;" <%-trackCash?'checked':''%>/>
                    <label for="trackCash" class="control-label">Track Cash In Register</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="allowEmployeeRegisterLogBypass" name="allowEmployeeRegisterLogBypass" style="margin-top: 5px;" <%-allowEmployeeRegisterLogBypass?'checked':''%>/>
                    <label for="allowEmployeeRegisterLogBypass" class="control-label">Allow Employees to Bypass Register Log Closing</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="blindClose" name="blindClose" style="margin-top: 5px;" <%-blindClose?'checked':''%>/>
                    <label for="blindClose" class="control-label">Blind Register Close</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="requireEmployeePin" name="requireEmployeePin" style="margin-top: 5px;" <%-requireEmployeePin?'checked':''%>/>
                    <label for="requireEmployeePin" class="control-label">Require Employee Pin Every Sale</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="useTerminals" name="useTerminals" style="margin-top: 5px;" <%-useTerminals?'checked':''%>/>
                    <label for="useTerminals" class="control-label">Use Terminals</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="requireCustomerOnSale" name="requireCustomerOnSale" style="margin-top: 5px;" <%-requireCustomerOnSale?'checked':''%>/>
                    <label for="requireCustomerOnSale" class="control-label">Require Customer on All Sales</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="useEtsGiftcards" name="useEtsGiftcards" style="margin-top: 5px;" <%-useEtsGiftcards?'checked':''%>/>
                    <label for="useEtsGiftcards" class="control-label">Use ETS Gift Cards</label>
                </div>
            </div>
            <div class="form-group">
                <label for="creditCardFee" class="col-md-12 control-label">Credit Card Fee</label>
                <div class="col-md-12">
                  <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input class="form-control" type="text" value="<%-creditCardFee%>" name="creditCardFee" id="creditCardFee" />
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="memberBalanceNickname" class="col-md-12 control-label">Member Balance Label</label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="<%-memberBalanceNickname%>" name="memberBalanceNickname" id="memberBalanceNickname" />
                </div>
            </div>
            <div class="form-group">
                <label for="customerCreditNickname" class="col-md-12 control-label">Customer Credit Label</label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="<%-customerCreditNickname%>" name="customerCreditNickname" id="customerCreditNickname" />
                </div>
            </div>
            <div class="form-group">
                <label for="quickbooks-terminal" class="col-md-12 control-label">Credit Department</label>
                <div class="col-md-12">
                    <%=_.dropdown({"0":"N/A","1":"Red","2":"Yellow","3":"Green"}, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, creditDepartmentName)%>
                </div>
            </div>
            <div class="form-group">
                <label for="quickbooks-terminal" class="col-md-12 control-label">Credit Category</label>
                <div class="col-md-12">
                    <%=_.dropdown({"0":"N/A","1":"Red","2":"Yellow","3":"Green"}, {"name":"terminal_id", "id":"quickbooks-terminal", "class":"form-control"}, creditDepartmentName)%>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="requireSignatureMemberPayments" name="requireSignatureMemberPayments" style="margin-top: 5px;" <%-requireSignatureMemberPayments?'checked':''%>/>
                    <label for="requireSignatureMemberPayments" class="control-label">Require on-screen signature for member payments</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="creditLimitToSubtotal" name="creditLimitToSubtotal" style="margin-top: 5px;" <%-creditLimitToSubtotal?'checked':''%>/>
                    <label for="creditLimitToSubtotal" class="control-label">Limit Customer Credit to Subtotal Only</label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel-group settings-panel custom-payments-panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title pull-left">
                            Custom Payment Types
                        </h4>
                        <div class="pull-right form-inline marg-top-3">
                            <div class="btn-group form-group">
                                <button type="button" class="btn add_custom_payment_type btn-primary btn-sm panel-button">Add</button>
                            </div>
                        </div>

                        <div class="clear"></div>

                    </div>
                    <div class="panel-body">
                        <table class="custom-payment-type-table">
                            <thead>
                                <tr>
                                    <th>PAYMENT TYPE NAME</th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody class="custom-payment-type-list">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
