<form>
    <div class="clearfix">
        <div class="row settings-header">
            <div class="col-md-12">
              <div class="settings-title">Taxes and Returns</div>
              <div class="settings-subtitle">These settings are used in the Point of Sale application, and are all the settings that pertain to taxes and returns.</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="to-date" class="col-md-12 control-label">Tax Rate 1 Name</label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="" name="to_date" id="to-date" />
                </div>
            </div>
            <div class="form-group">
                <label for="to-date" class="col-md-12 control-label">Tax Rate 2 Name</label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="" name="to_date" id="to-date" />
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox-control-container">
                    <input type="checkbox" value="1" data-unchecked-value="0" id="include_cash_logs" name="include_cash_logs" style="margin-top: 5px;" />
                    <label for="include_cash_logs" class="control-label">Unit Price Includes Tax</label>
                </div>
            </div>
            <div class="form-group">
                <label for="to-date" class="col-md-12 control-label">Return Policy</label>
                <div class="col-md-12">
                    <textarea class="form-control" type="text" value="" name="to_date" id="to-date"></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel-group col-md-12 return-reasons-panel-group">
                <div class="panel settings-panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title pull-left">
                            Return Reasons
                        </h4>
                        <div class="pull-right form-inline marg-top-3">
                            <div class="btn-group form-group">
                                <button type="button" class="btn add_return_reason btn-primary btn-sm">Add</button>
                            </div>
                        </div>

                        <div class="clear"></div>

                    </div>
                    <div class="panel-body">
                        <table class="return-reason-table">
                            <thead>
                            <tr>
                                <th>RETURN REASON</th>
                                <th class="text-center"></th>
                            </tr>
                            </thead>
                            <tbody class="return-reason-list">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
