<div class="header clearfix hidden-xs">
    <div class="header-contents">
        <div class="col-md-2 hidden-sm hidden-xs">
            <div class="pull-left"><h2>Settings</h2></div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-10 ">
            <div class="pull-right form-inline marg-top-10">
                <div class="btn-group form-group">
                    <button type="button" class="btn save-settings btn-primary new"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Save Settings</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header mobile-header clearfix visible-xs-block visible-xs">
	<div id="mobile-search"></div>
	<button type="button" class="btn new_cust btn- new"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add New Customer</button>
</div>
<div id="mobile-list" class="visible-xs-block visible-xs"></div>
<div id="main-container" class="hidden-xs">
    <div id="sections-container" class="col-md-2 col-lg-2">
        <ul class="nav nav-pills nav-stacked">

        </ul>
    </div>
    <div id="sub-sections-container" class="col-md-2 col-lg-2">
        <ul class="nav nav-pills nav-stacked">

        </ul>
    </div>
    <div id="settings-container" class="col-md-8 col-lg-8">

    </div>
</div>
