<form>
    <div class="clearfix">
        <div class="col-md-12 settings-header">
            <div class="settings-title">Customer Loyalty</div>
            <div class="settings-subtitle">
                Use these settings to create and adjust customer loyalty benefits.
            </div>
        </div>
        <div class="col-md-12">
            <div class="checkbox-control-container">
                <input type="checkbox" value="1" data-unchecked-value="0" id="useLoyalty" name="useLoyalty" <%- useLoyalty ? 'checked' : '' %> />
                <label for="useLoyalty" class="control-label">Track Loyalty Points</label>
            </div>
            <div class="checkbox-control-container">
                <input type="checkbox" value="1" data-unchecked-value="0" id="loyaltyAutoEnroll" name="loyaltyAutoEnroll" <%- loyaltyAutoEnroll ? 'checked' : '' %> />
                <label for="loyaltyAutoEnroll" class="control-label">Auto Enroll Loyalty</label>
            </div>
            <table class="loyalty-rate-table">
                <thead>
                    <tr>
                        <th>
                            <div class="col-md-12">Loyalty Name</div>
                        </th>
                        <th>
                            <div class="col-md-12">Department or Item</div>
                        </th>
                        <th>
                            <div class="col-md-12">Points Awarded per Dollar</div>
                        </th>
                        <th>
                            <div class="col-md-12">Dollars Redeemable per 100 Points</div>
                        </th>
                        <th>
                            <div class="col-md-12">Effective Rate</div>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="loyalty-rate-list">

                </tbody>
            </table>
            <hr />
            <div class="form-group">
                <div class="btn-group form-group col-md-12">
                    <button type="button" class="btn add-loyalty-rate btn-primary form-control">Add Loyalty Rate</button>
                </div>
            </div>
        </div>
    </div>
</form>
