<td>
    <div class="form-group">
        <div class="col-md-12">
            <input class="form-control rateLabel" type="text" value="<%-label%>" name="label"/>
        </div>
    </div>
</td>
<td>
    <div class="form-group">
        <div class="col-md-12">
            <input  class="form-control valueLabel" type="text" value="<%-valueLabel%>" name="valueLabel"/>
        </div>
    </div>
</td>
<td>
    <div class="form-group">
        <div class="col-md-12">
            <input  class="form-control pointsPerDollar" type="text" value="<%-pointsPerDollar%>" name="pointsPerDollar"/>
        </div>
    </div>
</td>
<td>
    <div class="form-group">
        <div class="col-md-12">
            <input  class="form-control dollarsPerPoint" type="text" value="<%-dollarsPerPoint%>" name="dollarsPerPoint"/>
        </div>
    </div>
</td>
<td>
    <div class="form-group">
        <div class="col-md-12 effectiveRate">
            <%-dollarsPerPoint*pointsPerDollar%>%
        </div>
    </div>
</td>
<td class="text-center">
    <div class="btn btn-destroy btn-sm">
      <i class="fa fa-trash-o removeRate" aria-hidden="true"></i>
    </div>
</td>
