<div style="text-align: center">
    <span class="fa fa-warning text-danger" style="font-size: 72px"></span>
</div>
<h2 class="text-danger" style="margin-bottom: 10px">Something went wrong</h2>
<% if(error){ %>
<div class="row">
    <div class="col-md-12">
        <h4 class="text-danger" style="text-align: center"><%-error%></h4>
    </div>
</div>
<% } %>
<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <button class="btn btn-lg btn-default btn-block back" style="margin-top: 10px;">
            Try Again
            <span class="fa fa-refresh"></span>
        </button>
    </div>
</div>