<div class="row">
    <div class="col-md-12" style="text-align: center;">
        <a href="https://s3-us-west-2.amazonaws.com/foreup.application.data-import/foreup_customer_import_template.csv">Download customers CSV template</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="data-import-upload">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-muted">File Type Accepted</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-5 col-md-2">
                    <span class="fa fa-file-text-o" style="display: block; font-size: 36px"></span>
                    <h6>CSV<br />(.csv, .txt)</h6>
                </div>
            </div>
            <div class="data-import-upload-file-area">
                <h2>Drag File Here</h2>
                <h6>Or</h6>
                <button class="btn btn-primary select-file">Browse for File</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="data-import-settings">
            <h4>Settings</h4>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" id="first-row-headers" checked>
                        First row contains column headers
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<input id="fileupload" class="form-control" type="file" name="file" style="display: none">