<div class="row">
    <div class="col-md-6" style="padding-top: 5px">
        Showing <em><%-(offset + 1) %> - <%-Math.min(offset + limit, total_records)%></em>
        of <strong><%-accounting.formatNumber(total_records)%> records</strong>
    </div>
    <div class="col-md-6" style="padding-bottom: 5px">
        <button class="btn btn-default btn-sm pull-right next-results">Next <span class="fa fa-arrow-right"></span></button>
        <button class="btn btn-default btn-sm pull-right prev-results"><span class="fa fa-arrow-left"></span> Prev</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive" style="overflow-x: scroll">
            <table class="table table-striped" style="padding-bottom: 0px">
                <thead>
                    <tr>
                        <th>#</th>
                        <% _.each(settings.column_map, function(col_index, foreup_key){ %>
                        <th><%-fields[type][foreup_key]['name']%></th>
                        <% }); %>
                    </tr>
                </thead>
                <tbody>
                    <% for(var x = offset; x < (offset + limit); x++){
                    if(!data.data[x]){ continue; }
                    var row = data.data[x];
                    %>
                    <tr>
                        <td><%-x%></td>
                        <% _.each(settings.column_map, function(col_index, foreup_key){
                        var value = row[col_index];
                        %>
                        <td><%-value%></td>
                        <% }) %>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="padding-top: 20px;">
        <button class="btn btn-lg btn-default back">
            <span class="fa fa-arrow-left"></span>
            Back
        </button>
        <button class="btn btn-lg btn-primary continue">
            Next
            <span class="fa fa-arrow-right"></span>
        </button>
    </div>
</div>