<% _.each(editableArray,function(value,key){{
%>
        <div class="nr-filter-container form-inline">
                <a class="btn btn-default nr-filter-delete" id="removeItem"><i class="fa fa-times"></i></a>
                <input class="form-control nr-filter-value" data-index="<% print(key) %>" value="<% print(value) %>"/>
        </div>
<% }}) %>

        <button id="addItem">Add</button>
