
<table id="column-table" class="table" style="background-color: white;">
    <thead>
        <tr>
            <td>id</td>
            <td>Report Id</td>
            <td>Label</td>
            <td>Column</td>
            <td>Aggregate</td>
            <td>Filterable</td>
            <td>Visible</td>
            <td>Selectable</td>
            <td>Sortable</td>
            <td>Locked</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
        <td colspan="10"><button id="addColumn" class="btn">Create</button></td>
    </tfoot>
</table>