<div style="background-color: white">
    <div class="row text-center">
        <button id="saveReport" class="button">SAVEME!</button>
    </div>
    <form class="form-horizontal">
        <div id="r-report"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Grouping</label>
            <div class="col-sm-10">

                <div id="r-grouping"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Ordering</label>
            <div class="col-sm-10">
                <div id="r-ordering"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Tags</label>
            <div class="col-sm-10">
                <div id="r-tags"></div>
            </div>
        </div>
    </form>
    <div class="row">
        <label class="control-label col-sm-2 text-right">Dates</label>
        <div class="col-sm-10" id="r-date-grouping"></div>
    </div>
    <div class="row">
        <label class="col-sm-2 control-label text-right">Filters</label>
        <div class="col-sm-10" id="r-filters"></div>
    </div>
</div>

<div id="r-columns">

</div>