<td><%= title %></td>
<td><%= description %></td>
<td>
    <a href="#/report_edit/<% print(id) %>" class="btn btn-default" >Edit</a>
    <a id="deleteReport" class="btn btn-default" >Delete</a>
</td>
