<table class="table" style="background-color: white">
    <thead>
        <tr><td>Title</td><td>Description</td><td>&nbsp;</td></tr>
    </thead>
    <tbody id="reports">

    </tbody>
    <tr><td colspan="3"><button class="btn" id="createNewReport">Create</button></td></tr>
</table>