
<nav class="navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed btn-default app-header-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand app-header-logo">
                <!--img src="/images/logo-white-small.png"-->
                <img src="/images/foreUP-Holiday-2-small.png">
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle app-header-current app-header-btn" data-toggle="dropdown" role="button" aria-expanded="false">
                        <div class="app-icon app-icon-header app-icon-white app-icon-{{app}}"></div>
                        {{app}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu app-header-apps" role="menu">
                        <li ng-repeat="module in modules">
                            <a ng-href="/index.php/{{module.module_id}}" ng-if="module.name.indexOf('v1') == -1 ">
                                <div class="app-icon app-icon-{{module.name}}"></div>
                                <div class="app-content">
                                    <div class="app-name">
                                        {{module.name}}
                                    </div>
                                    <div class="app-description">
                                        {{module.description}}
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- todo: add user's name
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle app-header-btn" data-toggle="dropdown" role="button" aria-expanded="false">
                        Lee Trevino <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu app-header-list" role="menu">
                        <li><a href="/index.php/employees">
                            Employees
                            <span>Add, Update & Search</span>
                        </a></li>
                        <li><a href="/index.php/config">
                            Settings
                            <span>&amp; Preferences</span>
                        </a></li>
                        <li><a href="/index.php/support">
                            Support
                            <span>ForeUp Help</span>
                        </a></li>
                        <li class="divider"></li>
                        <li><a href="/index.php/home/logout">
                            Logout
                            <span>Sign out of ForeUp</span>
                        </a></li>
                    </ul>
                </li>
            </ul> -->
        </div>
    </div>
</nav>