
body {
  margin: 0;
  mso-line-height-rule: exactly;
  padding: 0;
  min-width: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  padding: 0;
  vertical-align: top;
}
.cb-no-images {
  width: 100%;
  text-align: right;
}
.spacer,
.border {
  font-size: 1px;
  line-height: 1px;
}
.spacer {
  width: 100%;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.image {
  font-size: 0;
  Margin-bottom: 24px;
}
.image img {
  display: block;
}
.logo {
  mso-line-height-rule: at-least;
}
.logo img {
  display: block;
}
strong {
  font-weight: bold;
}
h1,
h2,
h3,
p,
ol,
ul,
li {
  Margin-top: 0;
}
ol,
ul,
li {
  padding-left: 0;
}
blockquote {
  Margin-top: 0;
  Margin-right: 0;
  Margin-bottom: 0;
  padding-right: 0;
}
.column-top {
  font-size: 50px;
  line-height: 50px;
}
.column-bottom {
  font-size: 26px;
  line-height: 26px;
}
.column {
  text-align: left;
}
.contents {
  width: 100%;
}
.padded {
  padding-left: 50px;
  padding-right: 50px;
}
.wrapper {
  display: table;
  table-layout: fixed;
  width: 100%;
  min-width: 620px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
table.wrapper {
  table-layout: fixed;
}
.one-col,
.two-col,
.three-col {
  Margin-left: auto;
  Margin-right: auto;
  width: 600px;
}
.centered {
  Margin-left: auto;
  Margin-right: auto;
}
.two-col .image {
  Margin-bottom: 21px;
}
.two-col .column-bottom {
  font-size: 29px;
  line-height: 29px;
}
.two-col .column {
  width: 300px;
}
.two-col .first .padded {
  padding-left: 50px;
  padding-right: 25px;
}
.two-col .second .padded {
  padding-left: 25px;
  padding-right: 50px;
}
.three-col .image {
  Margin-bottom: 18px;
}
.three-col .column-bottom {
  font-size: 32px;
  line-height: 32px;
}
.three-col .column {
  width: 200px;
}
.three-col .first .padded {
  padding-left: 50px;
  padding-right: 10px;
}
.three-col .second .padded {
  padding-left: 30px;
  padding-right: 30px;
}
.three-col .third .padded {
  padding-left: 10px;
  padding-right: 50px;
}
.wider {
  width: 400px;
}
.narrower {
  width: 200px;
}
h4 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 5px 0 10px 0;
}
@media only screen and (min-width: 0) {
  .wrapper {
    text-rendering: optimizeLegibility;
  }
}
@media only screen and (max-width: 620px) {
  [class=wrapper] {
    min-width: 320px !important;
    width: 100% !important;
  }
  [class=wrapper] .one-col,
  [class=wrapper] .two-col,
  [class=wrapper] .three-col {
    width: 320px !important;
  }
  [class=wrapper] .column,
  [class=wrapper] .gutter {
    display: block;
    float: left;
    width: 320px !important;
  }
  [class=wrapper] .padded {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  [class=wrapper] .block {
    display: block !important;
  }
  [class=wrapper] .hide {
    display: none !important;
  }
  [class=wrapper] .image {
    margin-bottom: 24px !important;
  }
  [class=wrapper] .image img {
    height: auto !important;
  }
}
.wrapper h1 {
  font-weight: 400;
}
.wrapper h2 {
  font-weight: 700;
}
.wrapper h3 {
  font-weight: 400;
}
.wrapper blockquote p,
.wrapper blockquote ol,
.wrapper blockquote ul {
  font-style: italic;
}
td.border {
  width: 1px;
}
tr.border {
  background-color: #e3e3e3;
  height: 1px;
}
tr.border td {
  line-height: 1px;
}
.sidebar {
  width: 600px;
}
.first.wider .padded {
  padding-left: 50px;
  padding-right: 30px;
}
.second.wider .padded {
  padding-left: 30px;
  padding-right: 50px;
}
.first.narrower .padded {
  padding-left: 50px;
  padding-right: 10px;
}
.second.narrower .padded {
  padding-left: 10px;
  padding-right: 50px;
}
.divider {
  Margin-bottom: 24px;
}
.wrapper h1 {
  font-size: 40px;
  Margin-bottom: 20px;
}
.wrapper h2 {
  font-size: 24px;
  Margin-bottom: 16px;
}
.wrapper h3 {
  font-size: 18px;
  Margin-bottom: 12px;
}
.wrapper a {
  text-decoration: none;
}
.wrapper a:hover {
  border-bottom: 0;
  text-decoration: none;
}
.wrapper h1 a,
.wrapper h2 a,
.wrapper h3 a {
  border: none;
}
.wrapper p,
.wrapper ol,
.wrapper ul {
  font-size: 15px;
}
.wrapper ol,
.wrapper ul {
  Margin-left: 20px;
}
.wrapper li {
  padding-left: 2px;
}
.wrapper blockquote {
  Margin: 0;
  padding-left: 18px;
}
.button {
  Margin-bottom: 27px;
  cursor: pointer;
}
.button a {
  border: 0;
  border-radius: 4px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  padding: 9px 22px 8px 22px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.button a:hover {
  Position: relative;
  top: 3px;
}
.one-col,
.two-col,
.three-col,
.sidebar {
  background-color: #ffffff;
}
.one-col .column table:nth-last-child(2) td h1:last-child,
.one-col .column table:nth-last-child(2) td h2:last-child,
.one-col .column table:nth-last-child(2) td h3:last-child,
.one-col .column table:nth-last-child(2) td p:last-child,
.one-col .column table:nth-last-child(2) td ol:last-child,
.one-col .column table:nth-last-child(2) td ul:last-child {
  Margin-bottom: 24px;
}
.wrapper .two-col .column table:nth-last-child(2) td h1:last-child,
.wrapper .wider .column table:nth-last-child(2) td h1:last-child,
.wrapper .two-col .column table:nth-last-child(2) td h2:last-child,
.wrapper .wider .column table:nth-last-child(2) td h2:last-child,
.wrapper .two-col .column table:nth-last-child(2) td h3:last-child,
.wrapper .wider .column table:nth-last-child(2) td h3:last-child,
.wrapper .two-col .column table:nth-last-child(2) td p:last-child,
.wrapper .wider .column table:nth-last-child(2) td p:last-child,
.wrapper .two-col .column table:nth-last-child(2) td ol:last-child,
.wrapper .wider .column table:nth-last-child(2) td ol:last-child,
.wrapper .two-col .column table:nth-last-child(2) td ul:last-child,
.wrapper .wider .column table:nth-last-child(2) td ul:last-child {
  Margin-bottom: 21px;
}
.wrapper .two-col h1,
.wrapper .wider h1 {
  font-size: 28px;
  Margin-bottom: 18px;
}
.wrapper .two-col h2,
.wrapper .wider h2 {
  font-size: 20px;
  Margin-bottom: 14px;
}
.wrapper .two-col h3,
.wrapper .wider h3 {
  font-size: 17px;
  Margin-bottom: 10px;
}
.wrapper .two-col p,
.wrapper .wider p,
.wrapper .two-col ol,
.wrapper .wider ol,
.wrapper .two-col ul,
.wrapper .wider ul {
  font-size: 13px;
}
.wrapper .two-col blockquote,
.wrapper .wider blockquote {
  padding-left: 16px;
}
.wrapper .two-col .divider,
.wrapper .wider .divider {
  Margin-bottom: 21px;
}
.wrapper .two-col .button,
.wrapper .wider .button {
  Margin-bottom: 24px;
}
.wrapper .two-col .button a,
.wrapper .wider .button a {
  font-size: 12px;
  line-height: 19px;
  padding: 6px 17px 6px 17px;
}
.wrapper .three-col .column table:nth-last-child(2) td h1:last-child,
.wrapper .narrower .column table:nth-last-child(2) td h1:last-child,
.wrapper .three-col .column table:nth-last-child(2) td h2:last-child,
.wrapper .narrower .column table:nth-last-child(2) td h2:last-child,
.wrapper .three-col .column table:nth-last-child(2) td h3:last-child,
.wrapper .narrower .column table:nth-last-child(2) td h3:last-child,
.wrapper .three-col .column table:nth-last-child(2) td p:last-child,
.wrapper .narrower .column table:nth-last-child(2) td p:last-child,
.wrapper .three-col .column table:nth-last-child(2) td ol:last-child,
.wrapper .narrower .column table:nth-last-child(2) td ol:last-child,
.wrapper .three-col .column table:nth-last-child(2) td ul:last-child,
.wrapper .narrower .column table:nth-last-child(2) td ul:last-child {
  Margin-bottom: 18px;
}
.wrapper .three-col h1,
.wrapper .narrower h1 {
  font-size: 24px;
  Margin-bottom: 16px;
}
.wrapper .three-col h2,
.wrapper .narrower h2 {
  font-size: 18px;
  Margin-bottom: 12px;
}
.wrapper .three-col h3,
.wrapper .narrower h3 {
  font-size: 15px;
  Margin-bottom: 8px;
}
.wrapper .three-col p,
.wrapper .narrower p,
.wrapper .three-col ol,
.wrapper .narrower ol,
.wrapper .three-col ul,
.wrapper .narrower ul {
  font-size: 12px;
}
.wrapper .three-col ol,
.wrapper .narrower ol,
.wrapper .three-col ul,
.wrapper .narrower ul {
  Margin-left: 14px;
}
.wrapper .three-col li,
.wrapper .narrower li {
  padding-left: 1px;
}
.wrapper .three-col blockquote,
.wrapper .narrower blockquote {
  padding-left: 12px;
}
.wrapper .three-col .divider,
.wrapper .narrower .divider {
  Margin-bottom: 18px;
}
.wrapper .three-col .button,
.wrapper .narrower .button {
  Margin-bottom: 21px;
}
.wrapper .three-col .button a,
.wrapper .narrower .button a {
  font-size: 10px;
  line-height: 16px;
  padding: 5px 17px 5px 17px;
}
.wrapper .wider .column-bottom {
  font-size: 29px;
  line-height: 29px;
}
.wrapper .wider .image {
  Margin-bottom: 21px;
}
.wrapper .narrower .column-bottom {
  font-size: 32px;
  line-height: 32px;
}
.wrapper .narrower .image {
  Margin-bottom: 18px;
}
.header {
  Margin-left: auto;
  Margin-right: auto;
  width: 600px;
}
.header .logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  padding-bottom: 40px;
  padding-top: 0;
  text-align: left;
  width: 280px;
}
.header .logo a {
  text-decoration: none;
}
.header .logo .logo-center {
  text-align: center;
}
.header .logo .logo-center img {
  Margin-left: auto;
  Margin-right: auto;
}
.cb-no-images {
  width: 100%;
  text-align: right;
}

.header .preheader {
  padding-bottom: 30px;
  padding-top: 20px;
  
}

@media only screen and (max-width: 620px) {
  .cb-no-images {
    text-align: center;
  }
}

.preheader,
.footer {
  letter-spacing: 0.01em;
  font-style: normal;
  line-height: 17px;
  font-weight: 400;
}
.preheader a,
.footer a {
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: 700;
}
.preheader,
.footer,
.footer .social a {
  font-size: 11px;
}
.footer {
  Margin-right: auto;
  Margin-left: auto;
  padding-top: 50px;
  padding-bottom: 40px;
  width: 602px;
}
.footer table {
  Margin-left: auto;
  Margin-right: auto;
}
.footer .social {
  text-transform: uppercase;
}
.footer .social span {
  mso-text-raise: 4px;
}
.footer .social td {
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.footer .social a {
  display: block;
  transition: opacity 0.2s;
}
.footer .social a:hover {
  opacity: 0.75;
}
.footer .address {
  Margin-bottom: 19px;
}
.footer .permission {
  Margin-bottom: 10px;
}
@media only screen and (max-width: 620px) {
  [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td h1:last-child,
  [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td h1:last-child,
  [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td h1:last-child,
  [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td h2:last-child,
  [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td h2:last-child,
  [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td h2:last-child,
  [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td h3:last-child,
  [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td h3:last-child,
  [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td h3:last-child,
  [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td p:last-child,
  [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td p:last-child,
  [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td p:last-child,
  [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td ol:last-child,
  [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td ol:last-child,
  [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td ol:last-child,
  [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td ul:last-child,
  [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td ul:last-child,
  [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td ul:last-child {
    Margin-bottom: 24px !important;
  }
  [class=wrapper] .header,
  [class=wrapper] .preheader,
  [class=wrapper] .logo,
  [class=wrapper] .footer,
  [class=wrapper] .sidebar {
    width: 320px !important;
  }
  [class=wrapper] .header .logo {
    padding-bottom: 32px !important;
    padding-top: 12px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  [class=wrapper] .header .logo img {
    max-width: 280px !important;
    height: auto !important;
  }
  [class=wrapper] .header .preheader {
    padding-top: 3px !important;
    padding-bottom: 22px !important;
  }
  [class=wrapper] .header .title {
    display: none !important;
  }
  [class=wrapper] .header .web {
    text-align: center !important;
  }
  [class=wrapper] .footer .address,
  [class=wrapper] .footer .permission {
    width: 280px !important;
  }
  [class=wrapper] h1 {
    font-size: 40px !important;
    Margin-bottom: 20px !important;
  }
  [class=wrapper] h2 {
    font-size: 24px !important;
    Margin-bottom: 16px !important;
  }
  [class=wrapper] h3 {
    font-size: 18px !important;
    Margin-bottom: 12px !important;
  }
  [class=wrapper] .column p,
  [class=wrapper] .column ol,
  [class=wrapper] .column ul {
    font-size: 15px !important;
  }
  [class=wrapper] ol,
  [class=wrapper] ul {
    Margin-left: 20px !important;
  }
  [class=wrapper] li {
    padding-left: 2px !important;
  }
  [class=wrapper] blockquote {
    border-left-width: 4px !important;
    padding-left: 18px !important;
  }
  [class=wrapper] .button,
  [class=wrapper] .two-col .button,
  [class=wrapper] .three-col .button,
  [class=wrapper] .narrower .button,
  [class=wrapper] .wider .button {
    Margin-bottom: 27px !important;
  }
  [class=wrapper] .button a,
  [class=wrapper] .two-col .button a,
  [class=wrapper] .three-col .button a,
  [class=wrapper] .narrower .button a,
  [class=wrapper] .wider .button a {
    display: block !important;
    font-size: 14px !important;
    letter-spacing: 0.04em !important;
    line-height: 21px !important;
    padding: 9px 22px 8px 22px !important;
  }
  [class=wrapper] table.border {
    width: 320px !important;
  }
  [class=wrapper] .divider {
    margin-bottom: 24px !important;
  }
  [class=wrapper] .column-bottom {
    font-size: 26px !important;
    line-height: 26px !important;
  }
  [class=wrapper] .first .column-bottom,
  [class=wrapper] .second .column-top,
  [class=wrapper] .three-col .second .column-bottom,
  [class=wrapper] .third .column-top {
    display: none;
  }
  [class=wrapper] .social td {
    display: block !important;
    text-align: center !important;
  }
}
@media only screen and (max-width: 320px) {
  td[class=border] {
    display: none;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .one-col ul {
    border-left: 30px solid #ffffff;
  }
}

@media (max-width: 320px) {
  [class=wrapper] .header, [class=wrapper] .preheader, [class=wrapper] .logo, [class=wrapper] .footer, [class=wrapper] .sidebar {
    width: 320px !important;
  }
}

.cb-logo {
  display: block;
  width: 100%;

  .image {
    padding-bottom: 0;

    img {
      display: inline-block;
    }
  }

  .logo {
    display: block;
    width: 100%;
  }

  .logo {
    padding: 0 !important;
  }


  &.cb-logo-left {
    .image {
      text-align: left;
      @media (max-width: 620px) {
        text-align: center !important;
      }
    }
  }

  &.cb-logo-center {
    .image {
      text-align: center;
    }
  }

  &.cb-logo-right {
    .image {
      text-align: right;
      @media (max-width: 620px) {
        text-align: center !important;
      }
    }
  }
  
}
