@import "email";

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.wrapper,{
  background-color: #f1bbb7;
  font-family: 'Montserrat', 'Arial', sans-serif;
}
.border {
  background-color: #e68d87;
}
tr.border {
  background-color: #e68d87;
}
h1 {
  color:#3b3e42
}
.wrapper h1 {

}
.divider .border {
  height: 4px;
  width: 50px;
  margin: 0 auto;
  display: block;
  background-color: #b6625c;
}

.wrapper h1 {
  font-family:sans-serif
}
@media only screen and (min-width: 0) {
  .wrapper h1 {
    font-family: 'Montserrat', 'Arial', sans-serif;
  }
}
.wrapper h1, .wrapper h2,.wrapper h3,
.wrapper h4, .wrapper h5, .wrapper h6 {
  font-family: 'Montserrat', 'Arial', sans-serif;
}
h1 {}
.one-col h1 {
  line-height:46px
}
.two-col h1, .wider h1 {
  line-height:36px
}
.three-col h1,
.narrower h1 {
  line-height:30px
}
@media only screen and (max-width: 620px) {
  h1 {
    line-height:46px !important
  }
}
h2 {
  color:#3b3e42
}
.wrapper h2 {}
.wrapper h2 {
  font-family:sans-serif
}
@media only screen and (min-width: 0) {
  .wrapper h2 {
    font-family: 'Montserrat', 'Arial', sans-serif;
  }
}
h2 {}
.one-col h2 {
  line-height:30px }
.two-col h2, .wider h2 {
  line-height:26px
}
.three-col h2, .narrower h2 {
  line-height:24px
}
@media only screen and (max-width: 620px) {
  h2 {
    line-height:30px !important
  }
}
h3 {
  color:#a3a3a3;
}
.wrapper h3 {}
.wrapper h3 {
  font-family:sans-serif
}
@media only screen and (min-width: 0){
  .wrapper h3 {
    font-family: 'Montserrat', 'Arial', sans-serif;
  }
}
h3 {}
.one-col h3 {
  line-height:26px
}
.two-col h3, .wider h3 {
  line-height:23px
}
.three-col h3, .narrower h3 {
  line-height:21px
}
@media only screen and (max-width: 620px) {
  h3 {
    line-height:26px !important
  }
}
h4 {
  font-weight: 700;
  color: #b6625c;
}
p,ol,ul {
  font-family: 'Montserrat', 'Arial', sans-serif;
  color:#60666d
}
.wrapper p, .wrapper ol,.wrapper ul {}
.wrapper p,.wrapper ol,.wrapper ul {
  font-family: 'Montserrat', 'Arial', sans-serif;
}
p,ol,ul {}
.one-col p,.one-col ol,.one-col ul {
  line-height:24px;
  Margin-bottom:24px
}
.two-col p,.two-col ol,.two-col ul,
.wider p,.wider ol,.wider ul {
  line-height:21px;
  Margin-bottom:21px
}
.three-col p,.three-col ol,.three-col ul,
.narrower p,.narrower ol,.narrower ul {
  line-height:18px;
  Margin-bottom:18px
}
@media only screen and (max-width: 620px) {
  p,ol,ul {
    line-height:24px !important;
    Margin-bottom:24px !important
  }
}
.wrapper a {
  color:#b6625c
}
.wrapper a:hover {
  color: #984f4c !important
}
.wrapper .button a {
  color:#fff;
  background-color:#b6625c;
  box-shadow:0 3px 0 #904848
}
.wrapper .button a {
  font-family:sans-serif
}
.wrapper .button a:hover {
  box-shadow:inset 0 1px 2px #804040 !important;
  color:#fff !important
}
.wrapper p a,.wrapper ol a,.wrapper ul a {
  border-bottom:1px dotted #454545
}
.wrapper blockquote {
  border-left:4px solid #ecf5f3
}
.wrapper .three-col blockquote,
.wrapper .narrower blockquote {
  border-left:2px solid #ecf5f3
}
.logo {}
.wrapper .logo {}
.wrapper .logo {
  font-family:sans-serif
}
@media only screen and (min-width: 0) {
  .wrapper .logo {
    font-family: 'Montserrat', 'Arial', sans-serif;
  }
}
.wrapper .logo {
  color:#555
}
.wrapper .logo a {
  color:#555
}
.wrapper .logo a:hover {
  color:#555 !important
}
.preheader,.footer {
  color: #fff0e6
}
.preheader,.footer {
  font-family:sans-serif
}
@media only screen and (min-width: 0) {
  .preheader,.footer {
    font-family: 'Montserrat', 'Arial', sans-serif;
  }
}
.wrapper .preheader a,.wrapper .footer a {
  color:#fff0e6
}
.wrapper .preheader a:hover,
.wrapper .footer a:hover {
  color: #ffdcdc !important
}
.footer .social a {}
.wrapper .footer .social a {}
.wrapper .footer .social a {
  font-family:sans-serif
}
@media only screen and (min-width: 0) {
  .wrapper .footer .social a {
    font-family: 'Montserrat', 'Arial', sans-serif;
  }
}
.footer .social a {}
.footer .social a{
  font-weight:600
}
