<div class="modal-header">
    <h4 class="modal-title">Save as New Template</h4>
</div>

<div class="modal-body">
    <div class="form-group input-group-lg" ng-class=
            "{true: 'has-error'}[nameDialog.username.$dirty && nameDialog.username.$invalid]">
        <label class="control-label" for="name">Name:</label>
        <input type="text" class=
            "form-control" name="name" id="name" ng-model="template.name" ng-keyup=
                                                                              "hitEnter($event)" required="" />
        <span class="help-block"></span>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click=
            "cancel()">Cancel</button><button type="button" class="btn btn-primary" ng-click=
        "save()" ng-disabled=
                                                      "(nameDialog.$dirty && nameDialog.$invalid) || nameDialog.$pristine">Save</button>
</div>