<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="robots" content="noindex,nofollow">
    <meta property="og:title" content="{{campaign.name}}">
    <link rel="stylesheet" href="/frontend/campaign-builder/resources/styles/templates/classy.css">
    
</head>
<body class="template template-classy">
<center class="wrapper">
    <table class="header centered">
        <tbody>
        <tr>
            <td>
                <!--no images-->
                <table align="right">
                    <tbody>
                    <tr>
                        <td class="preheader">
                            <div class="spacer">&nbsp;</div>
                            <div class="web">
                                No Images?
                                <a href="#">Click Here</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table align="left">
                    <tbody>
                    <tr>
                        <td class="logo">
                            <img src="/frontend/campaign-builder/resources/img/classy_logo.png" width="100" height="">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="border" width="602">
        <tbody><tr><td>​&#8203;</td></tr></tbody>
    </table>
    <table class="centered">
        <tbody>
        <tr>
            <td class="border">&#8203;</td>
            <td>
                <table class="one-col">
                    <tbody>
                    <tr>
                        <td class="column">
                            
                            <!-- this is where you add the ng-repeat-->
                            <!-- image -->
                            <table class="contents">
                                <tbody>
                                <tr>
                                    <td class="">
                                        <div class="image" align="center">
                                            <img src="/frontend/campaign-builder/resources/img/classy_banner.png" alt="" width="600" height="">
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <!-- text -->
                            <table class="contents" style="border-collapse: collapse;border-spacing: 0;width: 100%">
                                <tbody><tr>
                                    <td class="padded">
                                        <h2>Work on your Game!</h2>
                                        <h3>Gain the skills you need at Golfing Co.</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel blandit augue. Duis libero nulla, tincidunt in commodo ut, pharetra sed libero.
                                        </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            

                            

                            <div class="column-bottom">&nbsp;</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td class="border">​</td>
        </tr>
        </tbody>
    </table>
    
    <table class="border" width="602">
        <tbody><tr><td>&nbsp;</td></tr></tbody>
    </table>
    <!-- two columns -->
    <table class="centered">
        <tbody>
        <tr>
            <td class="border">​</td>
            <td>
                <table class="two-col">
                    <tbody>
                    <tr>
                        <td class="column first">
                            <div>
                                <div class="column-top">
                                    &nbsp;
                                </div>
                            </div>
                            <table class="contents">
                                <tbody>
                                <tr>
                                    <td class="padded">
                                        <div class="button">
                                            <a href="http://walapaloo.createsend1.com/t/t-l-jikkkjl-l-y/" target="_blank">Button</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="column-bottom">&nbsp;</div>
                        </td>
                        <td class="column second">
                            <div>
                                <div class="column-top">
                                    &nbsp;
                                </div>
                            </div>
                            <table class="contents">
                                <tbody>
                                <tr>
                                    <td class="padded">
                                        <p>asd fsadf qwef wef&nbsp;</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="column-bottom">&nbsp;</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td class="border">​</td>
        </tr>
        </tbody>
    </table>

    <table class="border" width="602">
        <tbody><tr><td>&nbsp;</td></tr></tbody>
    </table>


    <table class="centered">
        <tbody><tr>
            <td class="footer">
                <center>
                    <table class="social">
                        <tbody><tr>
                            <td>
                                <a href="http://walapaloo.createsend1.com/t/t-tw-jikkkjl-l-j/" target="_blank"><img style="border: 0;-ms-interpolation-mode: bicubic" src="https://i4.createsend1.com/static/eb/master/03-fresh/images/twitter-dark.png" width="21" height="16" align="top"><span style="mso-text-raise: 4px">Tweet</span></a>
                            </td>
                            <td>
                                <a href="/t/t-fb-jikkkjl-l-t/?act=wv" rel="cs_facebox" cs_likeurl="/t/t-fb-jikkkjl-l-t/?act=like" target="_blank"><img style="border: 0;-ms-interpolation-mode: bicubic" src="https://i5.createsend1.com/static/eb/master/03-fresh/images/facebook-dark.png" width="13" height="16" align="top"><span style="mso-text-raise: 4px">Like</span></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="address">This is my company name<br>
                        and this is the company address
                    </div>
                    <div>
                        <span class="block"> </span>
                        <span class="block">
                            <a href="http://walapaloo.createsend1.com/t/t-u-jikkkjl-l-o/" target="_blank">
                                Unsubscribe
                            </a>
                        </span>
                    </div>
                </center>
            </td>
        </tr>
        </tbody>
    </table>
</center>
</body>
</html>











<!-- divider -->
<table class="contents">
    <tbody><tr>
        <td class="padded">
            <div class="divider">
                <div class="border">&nbsp;</div>
            </div>
        </td>
    </tr>
    </tbody>
</table>


<!-- spacer -->
<table class="contents">
    <tbody>
    <tr>
        <td class="padded">
            <div style="height:30px">&nbsp;</div>
        </td>
    </tr>
    </tbody>
</table>

<!--button-->
<table class="contents">
    <tbody>
    <tr>
        <td class="padded">
            <div class="button">
                <a href="http://walapaloo.createsend1.com/t/t-l-jikkkjl-l-r/" target="_blank">Button</a>
            </div>
        </td>
    </tr>
    </tbody>
</table>

