<table id="audit-inventory-list" style="width:100%;">
    <thead>
    <tr>
        <th>UPC/ITEM #</th>
        <th>ITEM NAME</th>
        <th>SYSTEM COUNT</th>
        <th>MANUAL COUNT</th>
        <th>DIFFERENCE</th>
        <th>REV. DIFF.</th>
        <th>COST DIFF.</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>