<div class="modal-content item-details">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Inventory Audit</h4>
    </div>
    <div class="modal-body container-fluid">
        <div class="row">
            <div class="col-md-12 centered">
                <div class="btn-group">
                    <button class="btn btn-primary audit-option" id="new_audit_button">New Audit</button>
                    <button class="btn btn-primary audit-option" id="past_audits_button">Past Audits</button>
                </div>
            </div>
            <div class="col-md-12 centered audit-menu">
            </div>
        </div>
        <form class="form-horizontal tab-content" role="form" style="margin-top: 15px" id="inventory-audit-form">
            <div class="">

            </div>
            <div id="inventory-list-container" class="inventory-list-container">

            </div>
        </form>
    </div>
    <div class="modal-footer inventory-audit-buttons">

    </div>
</div>