<td class="item">
    <%-item_number%><%-item_id%>
</td>
<td class="price">
    <%-name%>
</td>
<td class="audit-item-buttons">
    <input type="hidden" value="<%-item_id%>" name="item_id[]">
    <div class="btn-group">
        <button class="btn btn-primary btn-sm subtract-one audit-option" data-value="subtract-one">-</button>
        <input class="quantity" value="0" name="inventory_level[]">
        <button class="btn btn-primary btn-sm add-one audit-option" data-value="add-one">+</button>
    </div>
</td>
