<thead>
    <tr>
        <th style="width: 60%;">Name</th>
        <th style="width: 15%;">Separate Receipt</th>
        <th style="width: 15%;">Signature Line</th>
        <th></th>
    </tr>
</thead>
<tbody></tbody>