<td>
    <%-name%>
</td>
<td>
    <% if(!separate_receipt){ %>
    <span class="fa fa-circle-o"></span>
    <% }else{ %>
    <span class="fa fa-check-circle"></span>
    <% } %>
</td>
<td>
    <% if(!signature_line){ %>
    <span class="fa fa-circle-o"></span>
    <% }else{ %>
    <span class="fa fa-check-circle"></span>
    <% } %>
</td>
<td>
    <button class="btn btn-default btn-sm edit">Edit</button>
</td>