<div class="column-drag-handle handle"><i class="fa fa-bars" aria-hidden="true"></i></div>
<%-label %>
<div class="column-displayed">
      <input id="col-toggle-<%-name%>" type="checkbox" class="toggle-switch display-column-toggle" <% if(displayed) print("checked");%> />
      <label for="col-toggle-<%-name%>"></label>
</div>