<div class="form-group">
    <label class="control-label">Table Items to show</label>
    <div class="btn-group page_size_holder">
        <button data-value="25" type="button" class="page_size btn btn-default model-controls <% if(page_size == 25) print('active')%>" >25</button>
        <button data-value="50" type="button" class="page_size btn btn-default model-controls <% if(page_size == 50) print('active')%>" >50</button>
        <button data-value="100" type="button" class="page_size btn btn-default model-controls <% if(page_size == 100) print('active')%>" >100</button>
    </div>
</div>