<div class="modal-header">
    <a href="#" class="close">×</a>
    <h3>Delete ?</h3>
</div>
<div class="modal-body">
    <p>You are about to delete something..</p>
    <p>Do you want to proceed?</p>
</div>
<div class="modal-footer">
    <a class="btn yes danger">Yes</a>
    <a class="btn no secondary">No</a>
</div>