<div class="row">
  <div class="col-md-12" style="border-bottom: 1px solid #cccccc;margin-bottom: 10px; padding: 5px">
    <span class="advanced-title" style="text-transform: uppercase; font-size: 14px;letter-spacing: 1px;">Advanced Search</span> <a class="pull-right" id="clear-filters" style="font-size: 11px; font-style:italic; text-decoration:underline; cursor: pointer;">Clear Filters</a>
  </div>
</div>
