<form class="row" style="padding-top:5px;padding-bottom: 5px; border-bottom: 1px solid #cccccc;" >
  <div class="col-md-2">
    <select id="field" class="form-control">
        <% _.forEach(allowed_fields,function(allowed_field){ %>
            <option
                    value="<%-allowed_field.name%>"
                    <% if(allowed_field.name == field ){ print("selected") } %>
                >
                <%-allowed_field.label %>
            </option>
        <% }); %>
    </select>
  </div>
  <div class="col-md-2">
    <select id="comp" class="form-control variable">
        <% if(type == "text"){ %>
            <option value="eq" <% if(comparison=="eq") print("selected") %>>Equals</option>
            <option value="neq" <% if(comparison=="neq") print("selected") %>>Not Equal</option>
            <option value="like" <% if(comparison=="like") print("selected") %>>Contains</option>
            <option value="starts" <% if(comparison=="starts") print("selected") %>>Starts With</option>
            <option value="ends" <% if(comparison=="ends") print("selected") %>>Ends With</option>
        <% } else if(type == "number"){ %>
            <option value="eq" <% if(comparison=="eq") print("selected") %>>Equals</option>
            <option value="neq" <% if(comparison=="neq") print("selected") %>>Not Equal</option>
            <option value="lt" <% if(comparison=="lt") print("selected") %>>Less Than</option>
            <option value="lte" <% if(comparison=="lte") print("selected") %>>Less Than or Equal</option>
            <option value="gt" <% if(comparison=="gt") print("selected") %>>Greater Than</option>
            <option value="gte" <% if(comparison=="gte") print("selected") %>>Greater Than Or Equal</option>
        <% } else if(type == "date"){ %>
            <option value="eq" <% if(comparison=="eq") print("selected") %>>Equal</option>
            <option value="neq" <% if(comparison=="neq") print("selected") %>>Not Equal</option>
            <option value="lt" <% if(comparison=="lt") print("selected") %>>Before</option>
            <option value="lte" <% if(comparison=="lte") print("selected") %>>On or Before</option>
            <option value="gt" <% if(comparison=="gt") print("selected") %>>After</option>
            <option value="gte" <% if(comparison=="gte") print("selected") %>>On or After</option>
        <% } else if(type == "bool"){ %>
            <option value="eq" selected>Equals</option>
        <% } else if(type == "dropdown"){ %>
            <option value="eq" selected>Equals</option>
        <% } %>

    </select>
  </div>
  <div class="col-md-2">
    <% if(type == "text"){ %>
        <input type="input" id="value" class="form-control" value="<%-value %>"/>
    <% } else if(type == "number"){ %>
        <input type="number" id="value" class="form-control" value="<%-value %>"/>
    <% } else if(type == "date"){ %>
        <input type="datetime" id="value" class="form-control" value="<%-value %>"/>
    <% } else if(type == "bool"){ %>
        <select id="value" class="form-control">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
    <% } else if(type == "dropdown"){ %>
        <select id="value" class="form-control">
            <option value=""></option> 
            <% _.forEach(possibleValues,function(possibleValue){ %>
            <option
                    value="<%-possibleValue%>">
            <% if(value == possibleValue ){ print("selected") } %>
            <%-possibleValue%>
            </option>
            <% }); %>
        </select>
    <% } %>
  </div>
  <div class="col-md-2 pull-right">
    <button id="delete" class="btn-search pull-right"><i class="fa fa-minus" aria-hidden="true"></i></button>
    <button id="add" class="btn-search pull-right"><i class="fa fa-plus" aria-hidden="true"></i></button>
  </div>
</form>
