div.edit-customer-window label.control-label {
	text-align: left !important;
}

div.edit-customer-window form.pass div.form-group {
	margin: 0px;
}

ul.customer-data {
	padding: 0px;
	margin: 10px 0px 0px 0px;
}

ul.customer-data li {
	list-style-type: none;
	display: block;
	overflow: hidden;
	margin: 5px 0px 5px 0px;
	position: relative;
	min-height: 35px;
}

ul.customer-data li h5.name {
	display: block;
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-weight:bold;
}

ul.customer-data li.group h5.name {
	height: 35px;
	line-height: 35px;
}

ul.customer-data li label {
	font-weight: normal;
	padding-right: 5px;
	width: 100px;
}

ul.customer-data li button.delete {
	width: 35px;
	height: 35px;
	text-align: center;
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
}

ul.customer-data li.pass button.delete {
	float: none;
	top: 50%;
	margin-top: -8px;
	right: 0px;
}

ul.customer-data li input.form-control {
	width: 175px !important;
	margin: 0px;
}

div.photo-container {
	display: block;
	padding: 0px;
	margin: 0px;
}

div.upload-photo h1 {
	text-align: center;
	color: #999;
	margin: 50px 0px 25px 0px;
}

div.upload-photo {
	min-height: 250px;
}

#webcam-photo {
	display: block;
	overflow: hidden;
	margin: 0px auto;
}

#webcam-photo.snapped {
	-moz-animation-duration: 0.05s;
	-webkit-animation-duration: 0.05s;
}

#customer-photo {
	max-width: 100%;
	max-height: 100%;
	margin: 0px auto;
	display: block;
}

.webcam-instructions {
	text-align: center;
	display: block;
	height: 5px;
	overflow: visible;
}

button.snap-photo {
	display: block;
}

button.delete-photo {
	position: absolute;
	left: 15px;
	top: 0px;
	width: 25px;
	height: 25px;
	border-radius: 0px;
	text-align: center;
	padding: 0px;
	line-height: 25px;
	font-size: 18px;
}

div.webcam-buttons {
	padding-left: 100px;
	padding-right: 100px;
}

div.webcam-buttons > div {
	margin-top: 10px;
}

div.webcam-approve {
	display: none;
}
