@import 'bootstrap/variables';

@keyframes fadeOut {
  	from {opacity: 1;}
  	to {opacity: 0;}
}

.fadeOut {
  	animation-name: fadeOut;
}

html {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	display: block;
	position: relative;
	height: 100%;
	min-height: 100%;
  	font-family: 'Roboto', sans-serif;
  	background: url(../../images/backgrounds/bg.png);
}

#page {
	min-height: 100%;
	height: 100%;
	padding-top: 50px; /* Main navbar height */
}

#main-nav {
	text-align: center;
	position: absolute;
}

.page {
	padding-top: 15px;
	min-height: 100%;
}

#main-nav li {
	text-align: left;
}

#main-nav .header-stats {
	min-width: 300px;
	float: left;
	display: block;
	margin-left: 10px;
}

/* For old pages we display in an iframe to utilize new backbone code */
body.iframe #main-nav {
	display: none;
}

iframe.page-iframe {
	width:100%;
	height:100%;
	border:none;
	padding:0px;
}

#page-iframe-container {
	position:fixed;
	right: 0;
	bottom: 0;
	left: 0;
	top: 0;
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
}

#page-iframe-container::-webkit-scrollbar {
	width: 0 !important;
}
/* END Iframe code */

@media (min-width: 768px){
	
	.page-action {
		padding-right: 5px;
		padding-left: 5px;
	}

	.page-action:first-child {
		padding-right: 5px !important;
		padding-left: 15px !important;
	}

	.page-action:last-child {
		padding-right: 15px;
		padding-left: 5px;
	}
}

.input-icon {
	display: inline-block;
	line-height: 32px !important;
	left: 8px;
	position: absolute;
	font-size: 16px !important;
	color: #888;
	z-index: 2;
}

.input-icon + input.form-control,
input.has-input-icon {
	padding-left: 32px;
}

.input-container {
	position: relative;
}

.header-stat {
	float: left;
	width: 100px;
	overflow: hidden;
	padding-top: 5px;
	color: rgba(17, 62, 105, 0.8);
}

.header-stat .stat-label {
	font-size: 12px;
	text-align: center;
}

.header-stat .stat-value {
	font-size: 18px;
	text-align: center;
}

#page-header-content {
	color: #444;
	display: block;
	width: auto;
	top: 0px;
	float: right;
	overflow: hidden;
	text-align: center;
	margin: 5px 0px;
}

@media (max-width: 768px){
	#main-nav button.dropdown-toggle {
		background: none;
		border: none;
		padding-left: 15px;
		display: block;
		border-radius: 0px;
	}

	#main-nav .header-stats {
		display: none !important;
	}
}

div.logout-option div.row h4 {
	margin: 0px;
	padding: 0px;
}

div.logout-option div.row {
	margin: 0px;
	padding: 10px 0px 10px 0px;
}

div.logout-option div.row:hover {
	color: #5F85B0;
	cursor: pointer;
}

#main-menu-button {
	padding: 0.75em 1.5em;
	font-size: 1.15em;
	font-weight: bold;
}

#main-menu span.name, #user-menu span.name {
	font-size: 1.3em;
	color: #222;
	display: block;
}

#main-menu span.desc, #user-menu span.desc  {
	font-size: 1em;
	color: #999;
	display: block;
}

@media (min-width: 768px){
	/*
	#main-menu {
		width: 482px;
		overflow: hidden;
		padding: 0px;
	}
	
	#user-menu {
		width: 240px;
		overflow: hidden;	
		padding: 0px;
	}	

	#main-menu > li, #user-menu > li {
		display: block;
		overflow: hidden;
		float: left;
		width: 240px;
	}

	#main-menu > li > a, #user-menu > li > a {
		padding: 10px 16px;
	}*/
}

.inner-content {
	padding: 1em;
}

div.timeclock table thead {
	background: #F0F0F0;
}

/* Twitter typeahead styling */
.input-group span.twitter-typeahead {
	width: 100%;
	top: 2px;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
	color: #999
}

.tt-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 100;
	padding: 5px 0;
	margin: -1px 0px 0px 0px;
	font-size: 14px;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 0px 0px 3px 3px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	color: #444;
	max-height: 25vh;
	overflow-y: auto;
	width: 100%;
}

.tt-suggestion {
	padding: 3px 20px;
	font-size: 1em;
	line-height: 1.4em;
}

.tt-suggestion .details {
	color: #666;
	line-height: 0.8em;
	font-size: 0.8em;
}

.tt-suggestion:hover .details {
	color: white;
}

.tt-suggestion.tt-cursor, .tt-suggestion:hover{
	color: #fff;
	background-color: #0097cf;
	cursor: pointer;
}

.tt-suggestion.tt-cursor .details {
	color: #fff;
}

.tt-suggestion p {
	margin: 0;
}

.tt-dataset .tt-placeholder {
	margin-top: 8px;
	margin-left: 24px;
	font-weight: 400;
	font-size: 16px;
}

span.twitter-typeahead {
	display: inline-block !important;
	width: 100%;
}

.modal form label.control-label {
	text-align: left;
}

div.bootstrap-datetimepicker-widget {
	z-index: 10000;
}

div.keypad button {
	height: 50px;
	font-size: 1.2em;
	font-weight: bold;
	color: #666;
}

div.keypad div.row .btn-group {
	padding: 0px;
}

@media (min-width: 1150px){
	.modal-dialog.modal-xlg {
		width: 1100px;
	}	
}

@media (min-width: 992px) and (max-width: 1150px) {
	.modal-dialog.modal-xlg {
		width: 900px;
	}	
}

/* Effects */
@-webkit-keyframes highlight {
 	0% {
 		background: #d2efd9;
 	}
 	100% {
 		background: none;
 	}
}

.highlight-success {
	-webkit-animation: highlight 2s;
}
div#legend li span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
div#legend li{
    list-style-type:none;
    color:white;
}

.input-group-addon > label {
	margin-bottom: 0px;
}

/* noui slider */
.noUi-connect {
	background: #3276B1;
}

#refund-reason {
    margin-bottom:5px;
}

/* Tabs */
.nav-tabs-vertical {
	list-style-type: none;
	display: block;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

.nav-tab-vertical {
	padding: 0px;
	display: block;
	overflow: hidden;
	margin: 0px;
	padding-left: 3px;
}

.nav-tab-vertical > a {
	color: #666;
}

li.nav-tab-vertical:hover {
	background-color: #F5F5F5;
}

li.nav-tab-vertical:hover > a {
	background-color: transparent;
}

.nav-tab-vertical.active, .nav-tab-vertical:active {
	border-left: 3px solid #009DC5;
	padding-left: 0px;
	background-color: #fff;
}

li.nav-tab-vertical.active > a, 
li.nav-tab-vertical > a:focus {
	color: #222;
	background-color: transparent;
}

/** NEW Form Styles **/
.bootstrap-fu {

	.btn {
		border-radius: 2px;
		letter-spacing: 1px;
		font-size: 13px;
		position: relative;
	}

	.btn.btn-sm {
		padding: 3px 8px;
		font-size: 0.9em;
	}

	.btn.wide {
		padding-left: 2em;
		padding-right: 2em;
	}

	.btn-primary {
		background-color: $primary;
	}

	.btn-muted {
		background-color: $light-gray;
		color: $primary;
		border: 1px solid #DDD;
	}

	.btn span.fa.align-right {
		line-height: 1.5em;
		position: relative;
		right: -15px;
	}

	.btn.active {
		background-color: #4577B6;
		color: white;
		border: 1px solid #335987;
	}

	.disabled {
		opacity: 0.5;
	}

	/* Form Styles */
	label {
		font-size: 14px;
		font-weight: 400;
		color: #59718C;
		margin-bottom: 2px;
	}

	.form-control {
		border-radius: 3px;
		box-shadow: none;
		border: 1px solid #CCCCCC;
		height: 34px;
	}

	.form-control:focus {
		border: 1px solid $primary;
	}

	.fa.input-loading {
		position: absolute;
		right: 16px;
		line-height: 2em;
		font-size: 16px;
		z-index: 2;
	}

	fieldset {
		margin-left: 40px;
	}

	@media (max-width: 768px){
		fieldset {
			margin-left: 0px;
		}
	}

	h3.form-title {
		line-height: 30px;
		font-size: 14px;
		color: #444;
	}

	h3 .status-icon {
		float: left;
		font-size: 16px;
		text-shadow: none;
		font-weight: 400;
	}

	.separator {
		height: 1px;
		display: block;
		margin-top: 20px;
		margin-bottom: 0px;
		background-color: rgba(0,0,0,0.1);
		border: none;
	}

	/* START - Styled Checkbox */
	/* Base for label styling */
	input.checkbox[type="checkbox"]:not(:checked),
	input.checkbox[type="checkbox"]:checked {
		position: absolute;
		left: -9999px;
        padding-left: 0px;
	}
	input.checkbox[type="checkbox"]:not(:checked) + label,
	input.checkbox[type="checkbox"]:checked + label {
		position: relative;
		padding-left: 30px;
		cursor: pointer;
	}

	/* checkbox aspect */
	input.checkbox[type="checkbox"]:not(:checked) + label:before,
	input.checkbox[type="checkbox"]:checked + label:before {
		content: '';
		position: absolute;
		left:0; top: 2px;
		width: 18px;
        height: 18px;
		border: 1px solid #aaa;
		background: #fff;
		border-radius: 2px;
        margin-top: -2px;
	}
	/* checked mark aspect */
	input.checkbox[type="checkbox"]:not(:checked) + label:after,
	input.checkbox[type="checkbox"]:checked + label:after {
		font-family: FontAwesome;
		content: '\f00c';
		position: absolute;
		top: 5px;
		left: 2px;
		font-size: 14px;
		line-height: 0.8;
		color: $primary;
        margin-top: -2px;
	}
	/* checked mark aspect changes */
	input.checkbox[type="checkbox"]:not(:checked) + label:after {
		opacity: 0;
	}
	input.checkbox[type="checkbox"]:checked + label:after {
		opacity: 1;
	}
	/* disabled checkbox */
	input.checkbox[type="checkbox"]:disabled:not(:checked) + label:before,
	input.checkbox[type="checkbox"]:disabled:checked + label:before {
		box-shadow: none;
		border-color: #bbb;
		background-color: #ddd;
	}
	input.checkbox[type="checkbox"]:disabled:checked + label:after {
		color: #999;
	}
	input.checkbox[type="checkbox"]:disabled + label {
		color: #aaa;
	}
	/* accessibility */
	input.checkbox[type="checkbox"]:checked:focus + label:before,
	input.checkbox[type="checkbox"]:not(:checked):focus + label:before {
		border: 1px dotted blue;
	}

	/* hover style just for information */
	label:hover:before {
		border: 1px solid #4778d9!important;
	}
	/* END - Styled Checkbox */

	/* Typography */
	.text-header {
		text-transform: uppercase;
		color: $primary;
		font-size: 0.9em;
		letter-spacing: 1px;
	}

	.dropdown-menu {
		background: $light-gray;
	}

	.dropdown-menu >li > a {
		padding: 3px 12px;
		color: #59718C;
	}

	.dropdown-menu >li > a span.fa {
		padding-right: 5px;
	}
}

.status-icon {
	width: 30px;
	height: 30px;
	display: block;
	border: 1px solid #D0D0D0;
	background-color: none;
	border-radius: 15px;
	padding: 0px;
	text-align: center;
	line-height: 30px;
	margin: 0px;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.1);
	font-size: 20px;
	font-weight: 900;
	margin-right: 10px;
}

.status-icon.warning {
	background-color: #FAB347;
	color: white;
	border: 1px solid #FAB347;
}

.status-icon.success {
	background-color: #7CBD49;
	color: white;
	border: 1px solid #7CBD49;
}

.status-icon.default {
	background-color: #AEB9CF;
	border: 1px solid #AEB9CF;
	color: white;
}

.no_permission_background{
	position:relative;
	x-index:1;
	height: 100vh;
	margin: 0 -15px;
}

.no_permission_background:before{
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	content:"";
	opacity: 0.5;
	background: url(/images/golf-stock.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	margin: 0 -15px;
}

.no_permission_background div{
	position: relative;
	width: 50%;
	margin: auto;
	top: 10%;
	background-color: #4885b1;
	color: #fff;
	bordeR: solid 1px;
	font-family: roboto;
	font-size: 30px;
	padding: 25px;
	text-align: center;
}

.no_permission_background p{
	margin-top:15px;
	font-family: roboto;
	font-weight: 100;
	font-size: 12px;
}

