<td><input type="checkbox" data-contact-form-id="<%=id%>"></td>
<td class="name"><%= name %></td>
<td>
  <a href="#" class="edit">Edit</a>&nbsp;|&nbsp;
  <a href="#" class="code">Generate Code</a>&nbsp;|&nbsp;
  <a href="#" class="replies">Replies</a>&nbsp;|&nbsp;
  <a href="#" class="text-danger delete">Delete</a>
</td>
