<div id="contact-form-actions" class="col-md-3 col-lg-2">
	<div class="row">
		<div class="col-xs-12" style="padding-bottom: 15px">
			<button class="btn btn-primary btn-block add">Add New Contact Form</button>
			<button class="btn btn-danger btn-block delete">Delete Contact Forms</button>
		</div>
	</div>
</div>
<div class="col-md-9 col-lg-10">
	<div class="row" id="contact-form-table"></div>
</div>
