<div class="modal-content contact-form-details">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Contact Form Details</h4>
  </div>
  <div class="modal-body container-fluid">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-md-3 control-label" for="contact-form-name">Contact Form Name</label>
        <div class="col-md-5">
          <input type="text" name="name" value="<%-name%>" class="form-control" id="contact-form-name"
            data-bv-notempty data-bv-notempty-message="Contact form name is required">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label" for="contact-form-name">Preset</label>
        <div class="col-md-5">
          <select class="form-control" id="form_presets">
            <option value="">--</option>
            <option value="birthday">Birthday</option>
            <option value="marketing">Marketing</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label" for="customer-group-select">Customer Group</label>
        <div class="col-md-5">
          <select class="form-control" id="customer-group-select">
            <% _.each(customer_groups, function (group) { %>
              <option <% if(customer_group_id == group.id) print("selected"); %> value="<%=group.id%>"><%=group.get('label')%></option>
            <% }); %>
          </select>
        </div>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Field</th>
            <th>Show</th>
            <th>Required</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>First Name</td>
            <td><input type="checkbox" name="has_first_name" <%-has_first_name ? 'checked' : ''%>></td>
            <td><input type="checkbox" name="req_first_name" <%-req_first_name ? 'checked' : ''%>></td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td><input type="checkbox" name="has_last_name" <%-has_last_name ? 'checked' : ''%>></td>
            <td><input type="checkbox" name="req_last_name" <%-req_last_name ? 'checked' : ''%>></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><input type="checkbox" name="has_email" <%-has_email ? 'checked' : ''%>></td>
            <td><input type="checkbox" name="req_email" <%-req_email ? 'checked' : ''%>></td>
          </tr>
          <tr>
            <td>Phone Number</td>
            <td><input type="checkbox" name="has_phone_number" <%-has_phone_number ? 'checked' : ''%>></td>
            <td><input type="checkbox" name="req_phone_number" <%-req_phone_number ? 'checked' : ''%>></td>
          </tr>
          <tr>
            <td>Birth Date</td>
            <td><input type="checkbox" name="has_birthday" <%-has_birthday ? 'checked' : ''%>></td>
            <td><input type="checkbox" name="req_birthday" <%-req_birthday ? 'checked' : ''%>></td>
          </tr>
          <tr>
            <td>Address</td>
            <td><input type="checkbox" name="has_address" <%-has_address ? 'checked' : ''%>></td>
            <td><input type="checkbox" name="req_address" <%-req_address ? 'checked' : ''%>></td>
          </tr>
          <tr>
            <td>City</td>
            <td><input type="checkbox" name="has_city" <%-has_city ? 'checked' : ''%>></td>
            <td><input type="checkbox" name="req_city" <%-req_city ? 'checked' : ''%>></td>
          </tr>
          <tr>
            <td>State</td>
            <td><input type="checkbox" name="has_state" <%-has_state ? 'checked' : ''%>></td>
            <td><input type="checkbox" name="req_state" <%-req_state ? 'checked' : ''%>></td>
          </tr>
          <tr>
            <td>Zip Code</td>
            <td><input type="checkbox" name="has_zip" <%-has_zip ? 'checked' : ''%>></td>
            <td><input type="checkbox" name="req_zip" <%-req_zip ? 'checked' : ''%>></td>
          </tr>
          <tr>
            <td>Message</td>
            <td><input type="checkbox" name="has_message" <%-has_message ? 'checked' : ''%>></td>
            <td><input type="checkbox" name="req_message" <%-req_message ? 'checked' : ''%>></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-primary save">Save</button>
  </div>
</div>
