<style>

    .rrule-recurring-select {
        padding: 10px;
        display: inline-block;
        width: auto;
        border-radius: 8px;
        box-shadow: 0 1px 10px;
        width: 100%;

        font-family: Helvetica;
        color: black; }
    .rrule-recurring-select ul {
        list-style-type: none;
        padding: 0; }
    .rrule-recurring-select .frequency-type, .rrule-recurring-select .interval {
        margin: 8px 0; }
    .rrule-recurring-select .weekly ul li {
        width:14%;
        display: inline-block;
        background-color: #ffffff;
        cursor: pointer;
        padding: 5px;
        font-weight: bold;
        text-align: center;
        border: 1px solid #BBBDBF; }
    .rrule-recurring-select .weekly ul li.selected {
        background-color: #929497; }
    .rrule-recurring-select .monthly.day_of_month {
        height: 198px; }
    .rrule-recurring-select .monthly.day_of_week {
        height: 165px; }
    .rrule-recurring-select .monthly ul.month-days li {
        display: inline-block;
        background-color: #ffffff;
        cursor: pointer;
        width:14%;
        padding: 5px;
        font-weight: bold;
        text-align: center;
        border: 1px solid #BBBDBF;
        float: left; }
    .rrule-recurring-select .monthly ul.month-days li:last-child {
        width: 56% }
    .rrule-recurring-select .monthly ul.month-days li.selected {
        background-color: #929497; }
    .rrule-recurring-select .monthly ul.month-week-days {
        width: 259px; }
    .rrule-recurring-select .monthly ul.month-week-days li .week-days li {
        float: left;
        width: 20px;
        height: 20px;
        display: inline-block;
        background-color: #ffffff;
        cursor: pointer;
        padding: 5px;
        font-weight: bold;
        text-align: center;
        border: 1px solid #BBBDBF; }
    .rrule-recurring-select .monthly ul.month-week-days li .week-days li.week-index-title {
        width: 24px;
        background-color: #f6f6f6;
        border: none;
        font-weight: normal; }
    .rrule-recurring-select .monthly ul.month-week-days li .week-days li.selected {
        background-color: #929497; }
    .rrule-recurring-select .yearly ul.year-months li {
        display: inline-block;
        background-color: #ffffff;
        cursor: pointer;
        width:25%;
        padding: 5px;
        font-weight: bold;
        text-align: center;
        border: 1px solid #BBBDBF;
        float: left; }
    .rrule-recurring-select .yearly ul.year-months li.selected {
        background-color: #929497; }


    .rrule-recurring-select .yearly ul.year-month-days li.selected {
        background-color: #929497; }
    .rrule-recurring-select .yearly ul.year-month-days li:last-child  {
        width: 56%
    }
    .rrule-recurring-select .yearly ul.year-month-days li {
        display: inline-block;
        background-color: #ffffff;
        cursor: pointer;
        width:14%;
        padding: 5px;
        font-weight: bold;
        text-align: center;
        border: 1px solid #BBBDBF;
        float: left; }
    .rrule-recurring-select .actions .button {
        text-align: center;
        float: left;
        margin-right: 10px;
        padding: 10px;
        border: 1px solid #BBBDBF;
        width: 37%; }
    .rrule-recurring-select .actions .summary {
        clear: both;
        padding: 10px; }
</style>
<div class="rrule-recurring-select">
    <div class="actions">

        <div class="summary">
            <div class="description">
                Repeat {{ recurrenceRule.toText() }}
            </div>
        </div>
    </div>

    <hr />
    <div class="dates">

        <div class="row">
            <div class="col-xs-6">
                Start
                <datetimepicker
                    ng-model="dates.start" show-meridian="true"
                    date-format="dd-MMM-yyyy"
                    datepicker-append-to-body="false"
                    name="datetimepicker"
                    show-spinners="true"
                ></datetimepicker>
            </div>
            <div class="col-xs-6">
                End
                <datetimepicker
                        ng-model="dates.end" show-meridian="true"
                        date-format="dd-MMM-yyyy"
                        datepicker-append-to-body="false"
                        name="datetimepicker2"
                        show-spinners="true"
                ></datetimepicker>
            </div>
        </div>
    </div>
    <div class="frequency-type">
        Frequency:
        <select ng-model="selectedFrequency" ng-change="calculateRRule()" ng-options="frequency as frequency.name for frequency in frequencies" ng-change="resetData()" required>
        </select>
    </div>

    <div class="interval">
        Repeat every <input type="text" ng-model="interval" ng-change="calculateRRule()" /> {{selectedFrequency.type}}<span ng-show="interval > 1">s</span>:
    </div>

    <div class="weekly" ng-if="selectedFrequency.type == 'week'">
        <ul>
            <li ng-repeat="day in weekDays" ng-click="toggleSelected(day)" ng-class="{ selected: day.selected }">
                {{day.name}}
            </li>
        </ul>
    </div>

    <div class="monthly {{selectedMonthFrequency}}" ng-if="selectedFrequency.type == 'month'">
        <input type="radio" ng-model="selectedMonthFrequency" ng-click="selectMonthFrequency('day_of_month')" value="day_of_month"/>Day of month
        <!-- update 1/16/2016 from Matt DuBois: the Monthly - Day of Week rule is broken and sets the recurrence to Monthly- Day of Month on the 15th <input type="radio" ng-model="selectedMonthFrequency" ng-click="selectMonthFrequency('day_of_week')" value="day_of_week"/>Day of week -->

        <ul class="month-days">
            <li ng-repeat="day in monthDays" ng-click="toggleSelected(day)" ng-class="{ selected: day.selected }" ng-if="selectedMonthFrequency == 'day_of_month'">
                {{day.day}}
            </li>
        </ul>

        <ul class="month-week-days">
            <li ng-repeat="week in monthWeeklyDays" ng-if="selectedMonthFrequency == 'day_of_week'">
                <ul class="week-days">
                    <li class="week-index-title">{{$index + 1}}{{weekOrdinals[$index]}}</li>
                    <li ng-repeat="day in week" ng-click="toggleSelected(day)" ng-class="{ selected: day.selected }">
                        {{ day.name }}
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="yearly" ng-if="selectedFrequency.type == 'year'">
        <label for="yearMonth">Months: </label>
        <ul class='year-months'>
            <li ng-repeat="yearMonth in yearMonths" class="year-month" ng-click="toggleSelected(yearMonth)" ng-class="{ selected: yearMonth.selected }">
                {{ yearMonth.name }}
            </li>
        </ul>
        <!-- <select name="yearMonth" ng-model="selectedYearMonth" ng-options="yearMonth as yearMonth.name for yearMonth in yearMonths track by yearMonth.value" ng-change="calculateRRule()" required></select> -->
        <br />
        <label for="yearMonthDay">Day of Month: </label>
        <ul class='year-month-days'>
            <li ng-repeat="monthDay in yearMonthDays"  ng-click="toggleSelected(monthDay)" ng-class="{ selected: monthDay.selected }">
                {{ monthDay.day }}
            </li>
        </ul>
    </div>


</div>