<div class="container container-padding" ng-show="campaign.status == 'draft'">
    
    <!-- loader -->
    <div ng-show="loading" class="text-center">
        <img class="input-loader"
             ng-show="loadingLocations"
             src="//cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/loading.gif" alt="">
    </div>

    <h3 style="margin-bottom: 30px;">When do you want to send this Campaign?</h3>

    <div class="row">
        <div class="col-sm-5">
            <ul class="cs-container">
                <li ng-class="{isActive: whenToSend=='now'}">
                    <label>
                        <input type="radio" ng-model="whenToSend" value="now">
                        Send Now
                    </label>
                </li>
                <li ng-class="{isActive: whenToSend=='later'}">
                    <label>
                        <input type="radio" ng-model="whenToSend" value="later">
                        Schedule Time
                    </label>
                </li>
                <li ng-class="{isActive: whenToSend=='reminder'}">
                    <label>
                        <input type="radio" ng-model="whenToSend" value="reminder">
                        Save as Reminder
                    </label>
                </li>
                <li ng-class="{isActive: whenToSend=='recurring'}">
                    <label>
                        <input type="radio" ng-model="whenToSend" value="recurring">
                        Save as Recurring Email
                    </label>
                </li>
            </ul>
            
            <!--<strong>Recurring Events</strong>
            <ul class="cs-container">
                <li ng-class="{isActive: whenToSend=='trigger1'}">
                    <label>
                        <input type="radio" ng-model="whenToSend" value="trigger1">
                        Birthday
                    </label>
                </li>
                <li ng-class="{isActive: whenToSend=='trigger2'}">
                    <label>
                        <input type="radio" ng-model="whenToSend" value="trigger2">
                        "Thank You"
                    </label>
                </li>
                <li ng-class="{isActive: whenToSend=='trigger3'}">
                    <label>
                        <input type="radio" ng-model="whenToSend" value="trigger3">
                        "Haven't seen you in awhile"
                    </label>
                </li>
            </ul>-->
        </div>
        <div class="col-sm-7">
            
            <!---------------------------------------------
            Send Now
            ---------------------------------------------->
            <div ng-show="whenToSend =='now'">
                <h4>Send Now</h4>
                <hr/>
                <p class="lead">
                    Campaign will be sent immediately.
                </p>
            </div>

            <!---------------------------------------------
            Send Later
            ---------------------------------------------->
            <div ng-show="whenToSend =='later'">
                <h4>Schedule Time</h4>
                <hr/>
                <p class="lead">
                    Campaign will send at designated time.
                </p>
                <div class="pick-a-date">
                    <div class="lead">Pick a Date</div>
                    <datepicker
                            ng-model="sendInfo.date"
                            min-date="minDate"
                            show-weeks="true"
                            class="datepicker"
                            ></datepicker>
                </div>
                <div class="pick-a-time">
                    <div class="lead">Pick a Time</div>
                    <timepicker
                            ng-model="sendInfo.date"
                            minute-step="15"
                            show-meridian="true"
                            class="timepicker"></timepicker>
                </div>
            </div>



            <div ng-show="whenToSend =='reminder'">
                <h4>Save as Reminder</h4>
                <hr/>
                <p class="lead">
                    Configure to remind customers about specific events
                </p>
                <div class="pick-a-date">
                    <div >

                        Send reminder <br/>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="number" placeholder="1" class="form-control" ng-model="campaign.timebefore"/>
                            </div>
                            <div class="col-md-6">
                                <select class="form-control" ng-model="campaign.timebefore_unit"  >
                                    <option value="day" ng-selected="campaign.timebefore_unit == 'day'">Day</option>
                                    <option value="minute" ng-selected="campaign.timebefore_unit == 'minute'">Minute</option>
                                </select>
                            </div>
                        </div>
                        before scheduled teetime.
                    </div>
                </div>
            </div>



            <div ng-show="whenToSend =='recurring'">
                <h4>Save as Recurring Email</h4>
                <hr/>
                <p class="lead">
                    Configure the recurring rules.  If an email is sent too often your customers may become frustrated.
                </p>

                <rrule-recurring-select rule="rrule" rule-object="rruleObject"></rrule-recurring-select>
            </div>

            <!---------------------------------------------
            trigger birthday
            ---------------------------------------------->
            <div ng-show="whenToSend=='trigger1'">
                <h4>
                    Birthday&nbsp;
                    <small>Recurring</small>
                </h4>
                <hr/>
                <p class="lead">
                    Send on the <span class="label label-default">1st</span> of the month for all customers with birth months included in that month.
                </p>
                <div class="form-group" style="margin-top: 30px;">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="group-title">Include Groups</p>
                            <group-selection placeholder="Included"> </group-selection>
                        </div>
                        <div class="col-sm-6">
                            <p class="group-title">Exclude Groups</p>
                            <group-selection placeholder="Excluded"> </group-selection>
                        </div>
                    </div>
                </div>
            </div>

            <!---------------------------------------------
            trigger thank you
            ---------------------------------------------->
            <div ng-show="whenToSend=='trigger2'">
                <h4>
                    "Thank You"&nbsp;
                    <small>Recurring</small>
                </h4>
                <hr/>
                <p class="lead">
                    Send to Anyone that has a tee time purchase (not just on the tee sheet) recorded in sales.
                </p>
                <div class="form-group">
                    <label>Send:</label>
                    <select class="form-control">
                        <option>Same Day (at night)</option>
                        <option>1 day later</option>
                        <option>2 days later</option>
                        <option>3 days later</option>
                    </select>
                </div>
                <div class="form-group" style="margin-top: 30px;">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="group-title">Include Groups</p>
                            <group-selection placeholder="Included"> </group-selection>
                        </div>
                        <div class="col-sm-6">
                            <p class="group-title">Exclude Groups</p>
                            <group-selection placeholder="Excluded"> </group-selection>
                        </div>
                    </div>
                </div>
            </div>

            <!---------------------------------------------
            trigger haven't seen ya
            ---------------------------------------------->
            <div ng-show="whenToSend=='trigger3'">
                <h4>
                    "Haven't seen you in awhile"&nbsp;
                    <small>Recurring</small>
                </h4>
                <hr/>
                <p class="lead" style="margin-bottom: 8px;">
                    Send an email to anyone in the customer database that:
                </p>
                <ul style="padding: 0 20px;">
                    <li>
                        has had a sale within
                        <select>
                            <option>30</option>
                            <option>60</option>
                            <option>90</option>
                        </select>
                        days.
                    </li>
                    <li>
                        anyone who hasn't had a sale in over
                        <select>
                            <option>30</option>
                            <option>60</option>
                            <option>90</option>
                        </select>
                        days.
                    </li>
                </ul>
                <div class="form-group" style="margin-top: 30px;">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="group-title">Include Groups</p>
                            <group-selection placeholder="Included"> </group-selection>
                        </div>
                        <div class="col-sm-6">
                            <p class="group-title">Exclude Groups</p>
                            <group-selection placeholder="Excluded"> </group-selection>
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>

    
    <!-- campaign preview
    <div class="ep-container">
        <div class="ep-header">
            <img class="ep-img" src="/frontend/campaign-builder/resources/img/avatar.png" alt="">
            <div class="ep-header-content">
                <div class="ep-from">
                    <span class="ep-title">From</span>
                    {{campaign.from_email}}
                </div>
                <div class="ep-to">
                    <span class="ep-title">To</span>
                            <span ng-if="campaign.recipients_pretty.length > 1 || campaign.recipients_pretty.length < 1">
                                {{campaign.recipients_pretty.length}} Groups/Recipients
                            </span>
                            <span ng-if="campaign.recipients_pretty.length == 1">
                                {{campaign.recipients_pretty.label}} Groups/Recipients
                            </span>
                </div>
            </div>
        </div>
        <div class="ep-subject">
            {{campaign.subject}}
        </div>
    </div>
    -->

</div>


<div class="container container-padding text-center" ng-show="campaign.status != 'draft'" class="ng-hide">
    <h2>Campaign Complete!</h2>
    <button class="btn btn-primary btn-lg" style="margin-top: 14px;" ui-sref="app.dashboard">Back to Dashboard</button>
</div>
